{% extends "groupes/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="right">
<h3>Informations générales</h3>
<ul>
   <li><b>Nom :</b> {{ groupe.nom }}</li>
   <li><b>Contact :</b> {{ groupe.contact }}</li>
   <li><b>Responsable :</b> {{ groupe.responsable.prenom }} {{ groupe.responsable.nom }}</li>
</ul>

<h3>Actions</h3>
<ul>
<li><a href="/groupes/edit/{{ groupe.id }}">Editer ces informations</a></li>
<li><a href="/groupes/join/{{ groupe.id }}">Rejoindre le groupe</a></li>
</ul>
</div>

<h3>{{ groupe.nom }}</h3>
{{ groupe.description }}<br/>

<h4>Liste des membres</h4>
<ul>
{% for membre in groupe.membre_set.all %}
    <li><a href="/annuaire/{{ membre.membre.id }}/">{{ membre.membre.prenom }} {{ membre.membre.nom }}</a></li>
{% endfor %}
</ul>
<h4>Présentation du groupe</h4>
{{ groupe.page_web }}
</div>
{% endblock %}
