{% extends "base.html" %}
{% load i18n %}

{% block barre %}
	<li><a href="/" accesskey="r">Accueil</a></li>
	<li><a href="/annuaire/" accesskey="a">Annuaire</a></li>
	<li><a href="#" accesskey="m">Manifestations</a></li>
	<li class="active">Groupes de travail</li>
	<li><a href="#" accesskey="i">L'international</a></li>
	<li><a href="#" accesskey="f">Forums</a></li>
	<li><a href="#" accesskey="p">Planet</a></li>
{% endblock %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">
<h3>{{ groupe.nom }}</h3>
{{ groupe.description }}</br>
<p><a href="/groupes/edit/{{ groupe.id }}/">Editer ces informations</a></p>
<ul>
   <li>Nom : {{ groupe.nom }}</li>
   <li>Contact : {{ groupe.contact }}</li>
   <li>Responsable : {{ groupe.responsable.prenom }} {{ groupe.responsable.nom }}</li>
{% for membre in groupe.membre_set.all %}
    <li>{{ membre.prenom }} {{ membre.nom }}</li>
{% endfor %}

{{ groupe.page_web }}

{% endblock %}
