{% extends "groupes/base.html" %}
{% load i18n %}

{% block stylesheet %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/site_media/js/calendar/calendar-win2k-cold-2.css" />
{% endblock %}

{% block javascript %}{{ block.super }}
<!-- calendar -->
<script type="text/javascript" src="/site_media/js/calendar/calendar.js"></script>
<!-- this is translation file - choose your language here -->
<script type="text/javascript" src="/site_media/js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/site_media/js/calendar/calendar-setup.js"></script>
<!-- /calendar -->
<script src="/site_media/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="/site_media/js/textareas.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

<h3>{{ group.name }}</h3>

<form action="." method="post">
    <table class="form">
        {{ form }}
    </table>
<p><input type="submit" class="button" value="{% trans "Save changes" %}" /></p>
</form>

</div>

<div class="right">
   <h3>{% trans "General informations" %}</h3>
   <div class="right_articles">
    <ul>
      <li><b>{% trans "name" %} :</b> {{ group.name }}</li>
      <li><b>{% trans "Contact" %} :</b> {{ group.contact|default_if_none:"" }}</li>
      <li><b>{% trans "Coordinator" %} :</b> {% for membership in group.memberships.all %}{% if membership.is_administrator %} {{ membership.member }}{% endif %}{% endfor %}</li>
    </ul>
   </div>

   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
   <ul>
      <li><a href="/groupes/edit/{{ group.id }}/">{% trans "Edit these data." %}</a></li>
   </ul>
   </div>

    <h3>{% trans "Card Informations"%}</h3>
   <div class="right_articles">
     <ul>
       <li>{% trans "Creation date" %}: {{ group.creation_date|date:"l j F Y H:i" }}</li>
       <li>{% trans "Modification date" %}: {{ group.modification_date|date:"l j F Y H:i" }}</li>
     </ul>
   </div>


</div>

{% endblock %}
