{% extends "base.html" %}
{% load i18n %}

{% block barre %}
	<li><a href="/" accesskey="r">Accueil</a></li>
	<li><a href="/annuaire/" accesskey="a">Annuaire</a></li>
	<li><a href="#" accesskey="m">Manifestations</a></li>
	<li class="active">Groupes de travail</li>
	<li><a href="#" accesskey="i">L'international</a></li>
	<li><a href="/forums/" accesskey="f">Forums</a></li>
	<li><a href="/planet/" accesskey="p">Planet</a></li>
{% endblock %}

{% block stylesheet %}{% endblock %}
{% block javascript %}
<script src="/site_media/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="/site_media/js/textareas.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

<form action="." method="post">
    <table class="form">
        {{ form }}
    </table>
<p><input type="submit" value="Sauvegarder les modifications" /></p>
</form>

{% endblock %}
