{% extends "base.html" %}
{% load i18n %}

{% block barre %}
	<li><a href="/" accesskey="r">Accueil</a></li>
	<li><a href="/annuaire/" accesskey="a">Annuaire</a></li>
	<li><a href="#" accesskey="m">Manifestations</a></li>
	<li class="active">Groupes de travail</li>
	<li><a href="#" accesskey="i">L'international</a></li>
	<li><a href="#" accesskey="f">Forums</a></li>
	<li><a href="/planet/" accesskey="p">Planet</a></li>
{% endblock %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">
<h2>Liste de votre recherche</h2>
{% if liste_groupes %}
    <ul>
    {% for groupe in liste_groupes %}
        <li><a href="/groupes/{{ groupe.id }}/">{{ groupe.nom }}</a></li>
    {% endfor %}
     </ul>
{% else %}
    <p>Aucun groupe dans l'application.</p>
{% endif %}
</div>
{% endblock %}
