{% extends "news/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="left">
	<h3>{{ news_item.title }}</h3>

	<p>
          {% if news_item.image %}
            <img src="{{ news_item.get_image_url }}" alt="Image" title="Image" class="image" width="60" />
          {% endif %}
          {{ news_item.description }}
        </p>
	<p>{% trans "posted : " %} {{ news_item.creation_date|date:"l j F Y H:i" }}</p>
	<p>{% trans "modified : " %} {{ news_item.modification_date|date:"l j F Y H:i" }}</p>

</div>

<div class="right">

	<h3>{% trans "Actions" %}</h3>
	<div class="right_block">
		<ul>
			<li><a href="/actualites/{{ news_item.id }}/edit/">{% trans "Edit this news" %}</a></li>
		</ul>
	</div>
</div>

</div>

{% endblock %}
