{% extends "news/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">
	<h3>{{ news_item.title }}</h3>

<form method="post" action="." enctype="multipart/form-data">

<table>
{{ form }}
</table>

<div style="text-align: center">
<a href="/actualites/{{ news_item.id }}/image/delete/" class="deletelink">
{% trans "Delete the image for this news item." %}</a><br />
<input type="submit" class="button" value="{% trans "Register" %}" />
</div>

</form>

</div>

<div class="right">


</div>

</div>

{% endblock %}
