{% extends "news/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="left">
	<h3>{{ news_item.title }}</h3>

<form method="post" action=".">
<table>
{{ form }}
</table>
<div align="center">
<input type="submit" class="button" value="{% trans "Register" %}" />
</div>
</form>

<p>
<b>{% filter capfirst %}{% trans "image" %}{% endfilter %}</b>&nbsp;:
    {% if news_item.image %}
        <img src="{{ news_item.get_image_url }}" height="100" 
             alt="{% trans "image" %}" />
    {% else %}
        {% trans "No image" %}
    {% endif %}
    <a href="/actualites/{{ news_item.id }}/image/edit/" class="changelink">
        {% trans "Modify" %}</a>
</p>

</div>

<div class="right">


</div>

</div>

{% endblock %}
