{% extends "news/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="left">
	<h3>{% trans "Write a news" %}</h3>

<form method="post" action=".">
<table>
{{ form }}
</table>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans "Validate" %}" />
</div>
</form>

<p>{% trans "To associate an image to this news, modify it after its creation." %}</p>

</div>

<div class="right">

</div>

</div>

{% endblock %}
