{% extends "manage/base.html" %}

{% load i18n %}

{% block javascript %}<script src="/site_media/js/scriptaculous/scriptaculous.js?load=effects,controls?version={{ scriptaculous_version }}" type="text/javascript"></script>{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

<form action="." method="post">
<div align="center">
	<table class="form">
		{{ form }}
	</table>
	<input class="button" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% if persons %}

{% ifnotequal persons|length 0 %}

<h2>{% trans "Results list"%}</h2>

<table width="100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/manage/contributions/?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/manage/contributions/?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/manage/contributions/?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/manage/contributions/?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<table width="100%">
    {% for contribution in contributions %}
        <tr><td><a href="/manage/users/{{ contribution.user.id }}/">{{ contribution.user }}</a></td><td>{{ contribution.key }}</td><td></td></tr>
    {% endfor %}
</table>
{% else %}
    <p>{% trans "No contribution matched your criteria." %}</p>
{% endifnotequal %}

{% endif %}

</div>

<div class="right">

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/admin/users/">{% trans "Manage users" %}</a></li>
    <li><a href="/admin/groups/">{% trans "Manage groups" %}</a></li>
    <li><a href="/admin/permissions/">{% trans "Manage permissions" %}</a></li>
    <li><a href="/admin/companies/">{% trans "Manage companies" %}</a></li>
    <li><a href="/admin/contributions/">{% trans "See contributions" %}</a></li>
</ul>
</div>

</div>

</div>

{% endblock %}
