{% extends "manage/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<form action="." method="post">
<table class="form">
    {{ form }}
</table>
<div style="text-align: center">
   <input class="button" type="submit" value="{% trans "Search" %}" />
</form>
</div>

{% if persons %}

{% ifnotequal persons|length 0 %}

<h2>{% trans "Results list"%}</h2>

<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/manage/contributions/?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/manage/contributions/?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/manage/contributions/?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/manage/contributions/?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<table style="width: 100%">
    {% for contribution in contributions %}
        <tr><td><a href="/manage/users/{{ contribution.user.id }}/">{{ contribution.user }}</a></td><td>{{ contribution.key }}</td><td></td></tr>
    {% endfor %}
</table>
{% else %}
    <p>{% trans "No contribution matched your criteria." %}</p>
{% endifnotequal %}

{% endif %}

</div>

<div class="right">

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
    <li><a href="/manage/roles/">{% trans "Manage roles" %}</a></li>
    <li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
    <li><a href="/manage/contributions/">{% trans "See contributions" %}</a></li>
</ul>
</div>

</div>

</div>

{% endblock %}
