{% extends "manage/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

{% if notifications %}
<div class="left_box">
  {% for notification in notifications %}
    <h3 class="notif">{{ notification.title }}</h3>

    {% if notification.organization_proposal %}

      <a href="/annuaire/{{ notification.organization_proposal.author.user.id }}/">{{ notification.organization_proposal.author }}</a> 
      {% ifequal notification.organization_proposal.action 0 %}
        {% trans "proposed the creation of the organization" %}
        <em>{{ notification.organization_proposal.modified }}</em>. 
        {% trans "Please visit" %} 
        <a href="/manage/organizations/proposals/register/{{ notification.organization_proposal.id }}/">{% trans "this page" %}</a> 
        {% trans "to check for correctness and possibly confirm." %}
      {% endifequal %}

      {% ifequal notification.organization_proposal.action 1 %}
        {% trans "proposed the modification of the organization" %}
        <em>{{ notification.organization_proposal.original }}</em>. 
        {% trans "Please visit" %} 
        <a href="/manage/organizations/proposals/edit/{{ notification.organization_proposal.id }}/">{% trans "this page" %}</a> 
        {% trans "to check for correctness and possibly confirm." %}
      {% endifequal %}

      {% ifequal notification.organization_proposal.action 2 %}
        {% trans "proposed the deletion of the organization" %}
        <em>{{ notification.organization_proposal.original }}</em>. 
        {% trans "Please visit" %} 
        <a href="/manage/organizations/proposals/delete/{{ notification.organization_proposal.id }}/">{% trans "this page" %}</a> 
        {% trans "to possibly confirm." %}
      {% endifequal %}
      <br />
      <a href="/manage/notification/{{ notification.id }}/delete/" 
         class="deletelink">{% trans "Delete this proposal" %}</a>

    {% else %}

      {% if notification.office_proposal %}

        <a href="/annuaire/{{ notification.office_proposal.author.user.id }}/">{{ notification.office_proposal.author }}</a> 

        {% ifequal notification.office_proposal.action 0 %}
          {% trans "proposed the creation of the office" %}
          <em>{{ notification.office_proposal.modified }}</em>
          {% trans "for the organization" %}
          <em>{{ notification.office_proposal.modified.organization }}</em>. 
          {% trans "Please visit" %} 
          <a href="/manage/offices/proposals/register/{{ notification.office_proposal.id }}/">{% trans "this page" %}</a> 
          {% trans "to check for correctness and possibly confirm." %}
	{% endifequal %}

        {% ifequal notification.office_proposal.action 1 %}
          {% trans "proposed the modification of the office" %}
          <em>{{ notification.office_proposal.original }}</em>
          {% trans "for the organization" %}
          <em>{{ notification.office_proposal.original.organization }}</em>. 
          {% trans "Please visit" %}
          <a href="/manage/offices/proposals/edit/{{ notification.office_proposal.id }}/">{% trans "this page" %}</a> 
          {% trans "to check for correctness and possibly confirm." %}
        {% endifequal %}

        {% ifequal notification.office_proposal.action 2 %}
          {% trans "proposed the deletion of the office" %}
          <em>{{ notification.office_proposal.original }}</em>
          {% trans "for the organization" %}
          <em>{{ notification.office_proposal.original.organization }}</em>. 
          {% trans "Please visit" %}
          <a href="/manage/offices/proposals/delete/{{ notification.office_proposal.id }}/">{% trans "this page" %}</a> 
          {% trans "to possibly confirm." %}
        {% endifequal %}

        <br />
        <a href="/manage/notification/{{ notification.id }}/delete/" 
           class="deletelink">{% trans "Delete this proposal" %}</a>

      {% else %}

        {{ notification.details|safe }}<br />
        <a href="/manage/notification/{{ notification.id }}/edit/" 
           class="changelink">{% trans "Modify" %}</a>&nbsp;
        <a href="/manage/notification/{{ notification.id }}/delete/" 
           class="deletelink">{% trans "Delete" %}</a>

      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}

<h3>{% trans "AIn7 Management" %}</h3>

{% trans "This section is dedicated to the portal administration." %}
{% trans "You can add, edit, delete users, roles and permissions." %}
{% trans "Do all your modifications carefully!" %}

</div>

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
<li><a href="/manage/roles/">{% trans "Manage roles" %}</a></li>
<li><a href="/manage/permissions/">{% trans "Manage permissions" %}</a></li>
<li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
<li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
<li><a href="/manage/notification/add/">{% trans "Add a notification" %}</a></li>

</ul>
</div>

</div>

</div>

{% endblock %}
