{% extends "manage/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

{% if notifications %}
<div class="left_box">
  {% for notification in notifications %}
    <h3 class="notif">{{ notification.title }}</h3>
    {{ notification.details }}
    <br />
    <a href="/manage/notification/{{ notification.id }}/edit/" class="changelink">{% trans "Modify" %}</a>&nbsp;
    <a href="/manage/notification/{{ notification.id }}/delete/" class="deletelink">{% trans "Delete" %}</a>
  {% endfor %}
</div>
{% endif %}

<h3>{% trans "AIn7 Management" %}</h3>

{% trans "This section is dedicated to the portal administration." %}
{% trans "You can add, edit, delete users, groups and permissions." %}
{% trans "Do all your modifications carefully!" %}

</div>

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
<li><a href="/manage/groups/">{% trans "Manage groups" %}</a></li>
<li><a href="/manage/permissions/">{% trans "Manage permissions" %}</a></li>
<li><a href="/manage/companies/">{% trans "Manage companies" %}</a></li>
<li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
<li><a href="/manage/notification/add/">{% trans "Add a notification" %}</a></li>

</ul>
</div>

</div>

</div>

{% endblock %}
