{% extends "manage/base.html" %}
{% load i18n %}

{% block javascript %}
{{ block.super }}
<!-- calendar -->
<script type="text/javascript" src="/site_media/js/calendar/calendar.js"></script>
<!-- this is translation file - choose your language here -->
<script type="text/javascript" src="/site_media/js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/site_media/js/calendar/calendar-setup.js"></script>
<!-- /calendar -->
<script type="text/javascript" src="/site_media/js/mootools-release-{{ mootools_version }}.js"></script>
<script type="text/javascript" src="/site_media/js/autocomplete.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/floatingpane.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/textareas.js?version={{ portal_version }}"></script>
{% endblock %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/site_media/js/calendar/calendar-win2k-cold-2.css" />
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>
{% endblock %}
{% block content %}

<div id="content-main">

<h2>{{ action_title }} {{ person }}</h2>

<form method="post" action=".">
<table>
{{ form }}
</table>
<div align="center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

</div>

{% endblock %}
