{% extends "manage/base.html" %}

{% load i18n ain7_tags %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

<h2>{{ office }}</h2>

<p>{% trans "Office of the organization:" %}&nbsp;
<a href="/manage/organizations/{{ office.organization.id }}/">{{ office.organization }}</a>
</p>

        {% if office.line1 or office.line2 or office.zip_code or office.city or office.country or office.phone_number or office.web_site %}
        <p>
           {% if office.line1 or office.line2 %}
               {{ office.line1|default_if_none:"" }} 
               {{ office.line2|default_if_none:"" }}<br />
           {% endif %}
           {% if office.zip_code or office.city or office.country %}
               {{ office.zip_code|default_if_none:"" }}
               {{ office.city|default_if_none:"" }}
               {% if office.country %} - {{ office.country }} {% endif %}<br />
           {% endif %}
           {% if office.phone_number %} 
               {{ office.phone_number }} <br />
           {% endif %}
           {% if office.web_site %} 
               <a href="{{ office.web_site }}">{{ office.web_site }}</a> 
           {% endif %}
        </p>
        {% endif %}

        {% if office.job_offers.all %}
	<br />
        {% trans "Job offers" %} :
          <ul>
            {% for emploi in office.job_offers.all %}
            <li class="job">
              <a href="/emploi/job/{{ emploi.id }}/">{{ emploi.title }}</a> 
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.current_n7_employees %}
          <br />{% trans "Current N7 employees" %}
          <ul>
            {% for ain7member in office.current_n7_employees %}
              <li class="person">
                <a href="/annuaire/{{ ain7member.person.user.id }}/">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.past_n7_employees %}
          <br />{% trans "Past N7 employees" %}
          <ul>
            {% for ain7member in office.past_n7_employees %}
              <li class="person">
                <a href="/annuaire/{{ ain7member.person.user.id }}/">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

{% ifequal action "propose_deletion" %}
  <form method="post" action=".">
    <div class="confirm">
      <p><strong>{% trans "Do you want to delete this office? This will not remove it (as references are used for old positions in CVs, etc), but will mark it as out-of-date." %}</strong></p>
      <p>
        <a class="button" href="{{ back }}">{% trans "No" %}</a>
        <input type="submit" class="button" value="{% trans "Yes" %}" />
      </p>
    </div>
  </form>
{% endifequal %}

</div>

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
<li><a href="/manage/roles/">{% trans "Manage roles" %}</a></li>
<li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
<li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
</ul>
</div>

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/offices/register/{{ office.organization.id}}/">
{% trans "Register a new office" %}</a></li>
<li><a href="/manage/offices/{{ office.id }}/edit/">
{% trans "Edit this office" %}</a></li>
<li><a href="/manage/offices/{{ office.id }}/delete/">
{% trans "Delete this office" %}</a></li>
<li><a href="/manage/offices/{{ office.id }}/merge/">
{% trans "Merge this office" %}</a></li>
</ul>
</div>

<h3>{% trans "Card Informations"%}</h3>
{% show_last_change office %}
</div>

</div>

{% endblock %}
