{% extends "manage/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

<h2>{{ office }}</h2>

<p>{% trans "Office of the organization:" %}&nbsp;
<a href="/manage/companies/{{ office.company.id }}/">{{ office.company }}</a>
</p>

        {% if office.line1 or office.line2 or office.zip_code or office.city or office.country or office.phone_number or office.web_site %}
        <p>
           {% if office.line1 or office.line2 %}
               {{ office.line1|default_if_none:"" }} 
               {{ office.line2|default_if_none:"" }}<br />
           {% endif %}
           {% if office.zip_code or office.city or office.country %}
               {{ office.zip_code|default_if_none:"" }}
               {{ office.city|default_if_none:"" }}
               {% if office.country %} - {{ office.country }} {% endif %}<br />
           {% endif %}
           {% if office.phone_number %} 
               {{ office.phone_number }} <br />
           {% endif %}
           {% if office.web_site %} 
               <a href="{{ office.web_site }}">{{ office.web_site }}</a> 
           {% endif %}
        </p>
        {% endif %}

        {% if office.job_offers.all %}
	<br />
        {% trans "Job offers" %} :
          <ul>
            {% for emploi in office.job_offers.all %}
            <li class="job">
              <a href="/emploi/job/{{ emploi.id }}/">{{ emploi.title }}</a> 
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.current_n7_employees %}
          <br />{% trans "Current N7 employees" %}
          <ul>
            {% for ain7member in office.current_n7_employees %}
              <li class="person">
                <a href="/annuaire/{{ ain7member.person.user.id }}/">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.past_n7_employees %}
          <br />{% trans "Past N7 employees" %}
          <ul>
            {% for ain7member in office.past_n7_employees %}
              <li class="person">
                <a href="/annuaire/{{ ain7member.person.user.id }}/">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

</div>

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
<li><a href="/manage/groups/">{% trans "Manage groups" %}</a></li>
<li><a href="/manage/permissions/">{% trans "Manage permissions" %}</a></li>
<li><a href="/manage/companies/">{% trans "Manage companies" %}</a></li>
<li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
</ul>
</div>

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/offices/register/{{ office.company.id}}/">
{% trans "Register a new office" %}</a></li>
<li><a href="/manage/offices/{{ office.id }}/edit/">
{% trans "Edit this office" %}</a></li>
<li><a href="/manage/offices/{{ office.id }}/delete/">
{% trans "Delete this office" %}</a></li>
<li><a href="/manage/offices/{{ office.id }}/merge/">
{% trans "Merge this office" %}</a></li>
</ul>
</div>

<h3>{% trans "Card Informations"%}</h3>
<div class="right_articles">
<ul>
  <li>
    {% trans "Creation" %}&nbsp;: {{ office.creation_date|date:"l j F Y" }}
  </li>
  <li>
    {% trans "Update" %}&nbsp;: {{ office.modification_date|date:"l j F Y" }}
  </li>
</ul>
</div>

</div>

</div>

{% endblock %}
