{% extends "manage/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

<h2>{{ organization.name }}</h2>

{% if organization.short_description %}
<p>{{ organization.short_description }}</p>
{% endif %}

{% if organization.long_description %}
{{ organization.long_description|safe }}
{% endif %}

<!--TODO: ajouter size + field-->
<h2>{% trans "List of offices" %}</h2>
{% if organization.offices.all %}
<ul>
{% for office in organization.offices.all %}
    <li><a href="/manage/offices/{{ office.id }}/">{{ office }}</a>
        {% if office.line1 or office.line2 or office.zip_code or office.city or office.country or office.phone_number or office.web_site %}
        <p>
           {% if office.line1 or office.line2 %}
               {{ office.line1|default_if_none:"" }} 
               {{ office.line2|default_if_none:"" }}<br />
           {% endif %}
           {% if office.zip_code or office.city or office.country %}
               {{ office.zip_code|default_if_none:"" }}
               {{ office.city|default_if_none:"" }}
               {% if office.country %} - {{ office.country }} {% endif %}<br />
           {% endif %}
           {% if office.phone_number %} 
               {{ office.phone_number }} <br />
           {% endif %}
           {% if office.web_site %} 
               <a href="{{ office.web_site }}">{{ office.web_site }}</a> 
           {% endif %}
        </p>
        {% endif %}

        {% if office.job_offers.all %}
	<br />
        {% trans "Job offers" %} :
          <ul>
            {% for emploi in office.job_offers.all %}
            <li class="job">
              <a href="/emploi/job/{{ emploi.id }}/">{{ emploi.title }}</a> 
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.current_n7_employees %}
          <br />{% trans "Current N7 employees" %}
          <ul>
            {% for ain7member in office.current_n7_employees %}
              <li class="person">
                <a href="/annuaire/{{ ain7member.person.user.id }}/">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.past_n7_employees %}
          <br />{% trans "Past N7 employees" %}
          <ul>
            {% for ain7member in office.past_n7_employees %}
              <li class="person">
                <a href="/annuaire/{{ ain7member.person.user.id }}/">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

    </li>
{% endfor %}
</ul>
{% endif %}

{% ifequal action "propose_deletion" %}
  <form method="post" action=".">
    <div class="confirm">
      <p><strong>{% trans "Do you want to delete this organization? This will not remove it (as references are used for old positions in CVs, etc), but will mark it as out-of-date." %}</strong></p>
      <p>
        <a class="button" href="{{ back }}">{% trans "No" %}</a>
        <input type="submit" class="button" value="{% trans "Yes" %}" />
      </p>
    </div>
  </form>
{% endifequal %}

</div>

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
<li><a href="/manage/groups/">{% trans "Manage groups" %}</a></li>
<li><a href="/manage/permissions/">{% trans "Manage permissions" %}</a></li>
<li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
<li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
</ul>
</div>

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/organizations/register/">{% trans "Register a new organization" %}</a></li>
<li><a href="/manage/organizations/{{ organization.id }}/edit/">{% trans "Edit this organization" %}</a></li>
<li><a href="/manage/organizations/{{ organization.id }}/delete/">{% trans "Delete this organization" %}</a></li>
<li><a href="/manage/organizations/{{ organization.id }}/merge/">{% trans "Merge this organization" %}</a></li>
<li><a href="/manage/offices/register/{{ organization.id }}/">{% trans "Register a new office" %}</a></li>
</ul>
</div>

<h3>{% trans "Card Informations"%}</h3>
<div class="right_articles">
<ul>
  <li>{% trans "Creation" %}&nbsp;: {{ organization.creation_date|date:"l j F Y" }}</li>
  <li>{% trans "Update" %}&nbsp;: {{ organization.modification_date|date:"l j F Y" }}</li>
</ul>
</div>

</div>

</div>

{% endblock %}
