{% extends "manage/base.html" %}

{% load i18n %}

{% block content-left %}

<div class="left_box">

<h2>{% trans "Organizations merging" %}</h2>

<p>
{% blocktrans %}This procedure will replace all the references to the organization <em>{{ organization }}</em> by references of another organization, and then remove <em>{{ organization }}</em>.{% endblocktrans %}

<p>{% trans "Please choose this second organization." %}</p>

<form action="." method="post">
<table style="border: 0; text-align: left">
   {{ form }}
</table>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans 'Confirm' %}" />
</div>
</form>

</div>
{% endblock %} {# content-left #}


{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/organizations/register/">{% trans "Register a new organization" %}</a></li>
<li><a href="/manage/organizations/{{ organization.id }}/edit/">{% trans "Edit this organization" %}</a></li>
<li><a href="/manage/organizations/{{ organization.id }}/delete/">{% trans "Delete this organization" %}</a></li>
</ul>
</div>
{% endblock %}{# actions #}

