{% extends "manage/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<form action="." method="post">
<div align="center">
	<table class="form">
		{{ form }}
	</table>
	<input class="button" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% if organizations %}

{% ifnotequal organizations|length 0 %}

<h2>{% trans "Results list"%}</h2>

<table width="100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/manage/organizations/?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/manage/organizations/?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/manage/organizations/?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/manage/organizations/?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<ul>
  {% for org in organizations %}
    <li>
      <a href="{% url ain7.manage.views.organization_details org.id %}">
        {{ org.name }}
      </a>
    </li>
  {% endfor %}
</ul>
{% else %}
    <p>{% trans "No organization matched your criteria." %}</p>
{% endifnotequal %}

{% endif %}

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="{% url ain7.manage.views.users_search %}">{% trans "Manage users" %}</a></li>
    <li><a href="/manage/groups/">{% trans "Manage groups" %}</a></li>
    <li><a href="{% url ain7.manage.views.permissions %}">{% trans "Manage permissions" %}</a></li>
    <li><a href="{% url ain7.manage.views.organizations_search %}">{% trans "Manage organizations" %}</a></li>
    <li><a href="{% url ain7.manage.views.contributions %}">{% trans "Contributions" %}</a></li>
</ul>
</div>
<div class="right_articles">
<ul>
    <li><a href="{% url ain7.manage.views.organizations_adv_search %}">{% trans "Advanced Search" %}</a></li>
</ul>
</div>

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="{% url ain7.manage.views.organization_edit %}">{% trans "Register organization" %}</a></li>
    <li><a href="{% url ain7.manage.views.export_csv %}">
            {% trans "Export as CSV" %}</a></li>
</ul>
</div>

<h3>{% trans "Statistics"%}</h3>
<div class="right_articles">
<ul>
    <li>{{ nb_org }}&nbsp;{% trans "organizations" %}</li>
    <li>{{ nb_offices }}&nbsp;{% trans "offices" %}</li>
</ul>
</div>


</div>

</div>

{% endblock %}
