{% extends "manage/base.html" %}
{% load i18n %}

{% block javascript %}
{{ block.super }}
<script src="/site_media/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="/site_media/js/textareas.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

<h1>{{ action_title }}</h1>

<form action="." method="post">
<div align="center">
	<table class="form">
		{{ form }}
	</table>
	<input class="button" type="submit" value="{% trans "Register" %}" />
</div>
</form>

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
    <li><a href="/manage/roles/">{% trans "Manage roles" %}</a></li>
    <li><a href="/manage/permissions/">{% trans "Manage permissions" %}</a></li>
    <li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
    <li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
</ul>
</div>

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/manage/organizations/register/">{% trans "Register organization" %}</a></li>
</ul>
</div>

</div>

</div>

{% endblock %}
