{% extends "manage/base.html" %}

{% load i18n %}

{% block javascript %}
<script type="text/javascript" src="/site_media/js/mootools-release-{{ mootools_version }}.js"></script>
<script type="text/javascript" src="/site_media/js/autocomplete.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/floatingpane.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/site_media/js/textareas.js?version={{ portal_version }}"></script>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>
{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

<h1>{{ action_title }}</h1>

<form action="." method="post">
<div align="center">
	<table class="form">
		{{ form }}
	</table>
	<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
	<input class="button" type="submit" value="{% trans "Register" %}" />
</div>
</form>

</div>

<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
    <li><a href="/manage/groups/">{% trans "Manage groups" %}</a></li>
    <li><a href="/manage/permissions/">{% trans "Manage permissions" %}</a></li>
    <li><a href="/manage/companies/">{% trans "Manage companies" %}</a></li>
    <li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
</ul>
</div>

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/manage/companies/register/">{% trans "Register company" %}</a></li>
</ul>
</div>


</div>

</div>

{% endblock %}
