{% extends "emploi/base.html" %}
{% load i18n %}

{% block content %}

<div class="left">

<div class="left_box">

<h2>{% trans "Proposal of office modification" %}</h2>

<form method="post" action=".">
<table>
<thead>
<tr>
<th></th>
<th class="original">{% trans "Current values" %}</th>
<th class="modified">{% trans "Proposed modifications" %}</th>
</tr>
</thead>
<tbody>
<tr>
<td>{{ form.name.label_tag }}</td>
<td class="original">{{ original.name }}</td>
<td class="modified">
{% if form.name.errors %}{{ form.name.errors }}{% endif %}
{{ form.name }}</td>
</tr>
<tr>
<td>{{ form.line1.label_tag }}</td>
<td class="original">{{ original.line1 }}</td>
<td class="modified">
{% if form.line1.errors %}{{ form.line1.errors }}{% endif %}
{{ form.line1 }}</td>
</tr>
<tr>
<td>{{ form.line2.label_tag }}</td>
<td class="original">{{ original.line2 }}</td>
<td class="modified">
{% if form.line2.errors %}{{ form.line2.errors }}{% endif %}
{{ form.line2 }}</td>
</tr>
<tr>
<td>{{ form.zip_code.label_tag }}</td>
<td class="original">{{ original.zip_code }}</td>
<td class="modified">
{% if form.zip_code.errors %}{{ form.zip_code.errors }}{% endif %}
{{ form.zip_code }}</td>
</tr>
<tr>
<td>{{ form.city.label_tag }}</td>
<td class="original">{{ original.city }}</td>
<td class="modified">
{% if form.city.errors %}{{ form.city.errors }}{% endif %}
{{ form.city }}</td>
</tr>
<tr>
<td>{{ form.country.label_tag }}</td>
<td class="original">{{ original.country|default_if_none:"" }}</td>
<td class="modified">
{% if form.country.errors %}{{ form.country.errors }}{% endif %}
{{ form.country }}</td>
</tr>
<tr>
<td>{{ form.phone_number.label_tag }}</td>
<td class="original">{{ original.phone_number }}</td>
<td class="modified">
{% if form.phone_number.errors %}{{ form.phone_number.errors }}{% endif %}
{{ form.phone_number }}</td>
</tr>
<tr>
<td>{{ form.web_site.label_tag }}</td>
<td class="original">{{ original.web_site }}</td>
<td class="modified">
{% if form.web_site.errors %}{{ form.web_site.errors }}{% endif %}
{{ form.web_site }}</td>
</tr>
</tbody>
</table>
<div style="text-align: center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Accept" %}" />
</div>
</form>

</div>
</div>

{% endblock %}
