{% extends "manage/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

<h2>{{ this_user.person.first_name }} {{ this_user.person.last_name }}</h2>

{% if this_user.person.phone_numbers.all or this_user.person.emails.all or this_user.person.instant_messagings.all or this_user.person.ircs.all or this_user.person.web_sites.all %}
<table width="100%">
{% for phone_number in this_user.person.phone_numbers.all %}
{% if not phone_number.is_confidential %}
    <tr><td><b>{{ phone_number.get_type_display }} :</b> {{ phone_number.number }}</td></tr>
{% endif %}
{% endfor %}

{% for email in this_user.person.emails.all %}
{% if not email.is_confidential %}
   <tr><td><img src="/site_media/images/mail.png" alt="{% trans "email" %}"/><a href="mailto:{{ email.email }}">{{ email.email }}</a></td></tr>
{% endif %}
{% endfor %}

{% for im in this_user.person.instant_messagings.all %}
   <tr><td><img src="/site_media/images/{{ im.get_type_display|lower }}.png" alt="{% trans "Contact" %} {{im.get_im_display|lower }}"/> {{ im.identifier }}</td></tr>
{% endfor %}

{% for irc in this_user.person.ircs.all %}
   <tr valign="middle"><td><img src="/site_media/images/irc.png" alt="{% trans "irc" %}"/> {{ irc.pseudo }} @ {{ irc.network }} {% trans "on" %} {{ irc.channels }}</td></tr>
{% endfor %}

{% for web_site in this_user.person.web_sites.all %}
   <tr valign="middle"><td><img src="/site_media/images/{{ web_site.get_type_display|lower }}.png" alt="{% trans "web site" %}"/><a href="{{ web_site.url }}">{{ web_site.url }}</a></td></tr>
{% endfor %}

</table>
{% endif %}

{% if this_user.person.addresses.all %}
<table>
{% for address in this_user.person.addresses.all %}
{% if not address.is_confidential %}
   <tr><td><b>{% trans "Address" %} {{ address.type|lower }} :</b> {{ address.line1 }} {{ address.line2|default_if_none:"" }} - {{address.zip_code }} {{ address.city }} - {{ address.country.name }}</td></tr>
{% endif %}
{% endfor %}
</table>
{% endif %}

{% if this_user.person.ain7member %}
{% trans "This person is also an AIn7Member. You can check his complete profil" %} <a href="/annuaire/{{ this_user.id }}/"/>{% trans "here" %}</a>.
{% endif %}

</div>

</div>

<div class="right">

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
<li><a href="/manage/roles/">{% trans "Manage roles" %}</a></li>
<li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
<li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
<li><a href="/manage/users/{{ this_user.id }}/edit/">{% trans "Edit those informations" %}</a></li>
</ul>
</div>

<h3>{% trans "Groups AIn7" %}</h3>
<div class="right_articles">
{% if this_user.groups.all %}
<ul>
{% for group in this_user.groups.all %}
    <li><a href="/manage/roles/{{ group.name }}/">{{ group.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
</div>


<h3>{% trans "Card Informations"%}</h3>
<div class="right_articles">
<ul>
    <li>{% trans "Update" %}&nbsp;: {{ this_user.person.modification_date|date:"l j F Y" }}</li>
</ul>
</div>

</div>

</div>

{% endblock %}
