{% extends "manage/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<form action="." method="post">
<div align="center">
	<table class="form">
		{{ form }}
	</table>
	<input class="button" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% ifequal request.method 'POST' %}

<h2>{% trans "Results list"%}</h2>

{% if persons %}
<table width="100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/manage/permissions/?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/manage/permissions/?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/manage/permissions/?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/manage/permissions/?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<ul>
    {% for person in persons %}
        <li class="person"><a href="/manage/users/{{ person.user.id }}/">
            {{ person.last_name }} {{ person.first_name }}</a>
				</li>
    {% endfor %}
</ul>
{% else %}
    <p>{% trans "No person matched your criteria." %}</p>
{% endif %}
{% endifequal %}

</div>


<div class="right">

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
    <li><a href="/manage/roles/">{% trans "Manage roles" %}</a></li>
    <li><a href="/manage/permissions/">{% trans "Manage permissions" %}</a></li>
    <li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
    <li><a href="/manage/contributions/">{% trans "Contributions" %}</a></li>
</ul>
</div>

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="/manage/users/register/">{% trans "Register external user" %}</a></li>
</ul>
</div>

</div>

</div>

{% endblock %}
