{% extends "base.html" %}
{% load i18n ain7_tags %}

{% block barre-groupes_regionaux %}<li class="active">{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">
{% block content-left %}{% endblock %}
</div>


<div class="right">

    {% if group %}
    <h3>{% trans "Actions" %}</h3>
    <div class="right_block">
        <ul>
            <li>
            {% if not is_member %}
                <a href="{% url ain7.groupes_regionaux.views.join group.id %}">{% trans "Join the group" %}</a>
            {% else %}
                <a href="{% url ain7.groupes_regionaux.views.quit group.id %}">{% trans "Quit the group" %}</a>
            {% endif %}
            </li>
            {% if superadmin or ca_member or secretariat_member %}
            <li><a href="{% url ain7.groupes_regionaux.views.edit group.id %}">{% trans "Edit group informations" %}</a></li>
            {% endif %}
            {% if superadmin or secretariat_member %}
            <li><a href="{% url ain7.groupes_regionaux.views.edit_roles group.id,"current" %}">{% trans "Edit group board" %}</a></li>
            {% endif %}
        </ul>
    </div>

    {% if group.active_events %}
        <h3>{% trans "Events" %}</h3>
        {% for event in group.active_events %}
            <div class="right_articles">
                <p><strong><a href="{% url ain7.evenements.views.details event.id %}">{{ event.name|upper }}</a></strong></p>
                <p>
{% blocktrans with event.date|date:"d/m/Y" as date and event.location as place %}{{ date }} at {{ place }}{% endblocktrans %}
                </p>
                {% if event.description %}
                    <p><em>{{ event.description|safe|truncatewords:10 }}</em></p>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %} {# group.active_events #}

    {% block extra-menu %}{% endblock %}

    <h3>{% trans "Card Informations"%}</h3>
    {%  show_last_change group %}
    {% endif %} {# group #}

    {% if groups %}
    <h3>{% trans "Statistics" %}</h3>
    <div class="right_block">
        <ul>
            <li>{{ groups|length }} {% trans "regional groups" %}</li>
        </ul>
    </div>

    <h3>{% trans "The regional groups" %}</h3>
    <div class="right_block">
        <ul>
        {% for group in groups %}
           <li><a href="{% url ain7.groupes_regionaux.views.details group.id %}">{{ group.name }}</a></li>
        {% endfor %}
        </ul>
    </div>

    {% endif %}

</div> <!-- right -->
</div> <!-- content-main -->
{% endblock %}
