{% extends "groupes_regionaux/base.html" %}
{% load i18n ain7_tags %}

{% block content %}

<div id="content-main">

<div class="left">
    <h1>{{ group.name }}</h1>
    {% if group.description %}
        <p>{{ group.description|safe }}</p>
    {% endif %}

    <h3>{% trans "Board Members" %}</h3>
    {% regroup group.office_memberships by type as membership_groups %}
    {% for membership_group in membership_groups %}
        <h4>{{ membership_group.list.0.get_type_display }}</h4>
        <ul>
        {% for membership in membership_group.list %}
            <li>
                <a href="{% url ain7.annuaire.views.details membership.member.user.id %}">{{ membership.member }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>

<div class="right">

    <h3>{% trans "Actions" %}</h3>
    <div class="right_block">
        <ul>
            <li>
            {% if not is_member %}
                <a href="{% url ain7.groupes_regionaux.views.join group.id %}">{% trans "Join the group" %}</a>
            {% else %}
                <a href="{% url ain7.groupes_regionaux.views.quit group.id %}">{% trans "Quit the group" %}</a>
            {% endif %}
            </li>
            <li><a href="{% url ain7.groupes_regionaux.views.edit group.id %}">{% trans "Edit group informations" %}</a></li>
            {# TODO: gestion des droits : réservé aux secrétaires et superadmin #}
            <li><a href="/groupes_regionaux/{{ group.id }}/roles/edit/current/">{% trans "Edit roles of this group" %}</a></li>
        </ul>
    </div>

    {% if group.active_events %}
        <h3>{% trans "Events" %}</h3>
        {% for event in group.active_events %}
            <div class="right_articles">
                <p><strong><a href="{% url ain7.evenements.views.details event.id %}">{{ event.name|upper }}</a></strong></p>
                <p>
{% blocktrans with event.start|date:"d/m/Y" as start_date and event.end|date:"d/m/Y" as end_date and event.location as place %}From {{ start_date }} to {{ end_date }} at {{ place }}{% endblocktrans %}
                </p>
                {% if event.description %}
                    <p><em>{{ event.description|safe|truncatewords:10 }}</em></p>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    <h3>{% trans "Card Informations"%}</h3>
    {%  show_last_change group %}

</div>

</div>

{% endblock %}
