{% extends "groupes_regionaux/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<h2>{% trans "The regional groups" %}</h2>

<h3>Présentation</h3>

<p>Le Groupe Régional est le représentant de l’association nationale dans la région. Il assure le relais des opérations de niveau national et développe les opérations de niveau régional.</p>
<p>Pour réaliser ses missions, le groupe dispose du soutien de l’association nationale.</p>
<ul>
<li>soutien financier par l’octroi d’un budget en appui d’un plan d’actions validé en conseil,</li>
<li> soutien matériel, par la mise à disposition du secrétariat, </li>
<li>soutien en informations, par la diffusion des comptes-rendus du conseil, du bureau, flash-infos, programmes et convocations des autres groupes régionaux.</li>
</ul>
<p>En contrepartie le groupe a un devoir d’information du conseil d’administration, de transparence et de rigueur.</p>
<p>Un groupe régional ne dispose pas de l’autonomie juridique ou financière : il s’agit par délégation de l’association nationale. Les Présidents des groupes régionaux sont invités aux réunions du conseil d’administration et donc associés aux débats d’orientation de la vie de l’association.</p>
<p>Chaque groupe régional, en fonction de sa taille, du profil de ses adhérents (demandeurs d’emploi, actifs, retraités…), des partenariats qu’il peut établir (existence d’une maison des ingénieurs) choisit son plan d’action. Sont énumérés, ci-après, des thèmes d’actions qui pourraient être communs à tous les groupes.</p>

<h3>Représentation</h3>
<p>Le groupe régional assure le relais en région de l’association nationale.</p>
<p>Le Président et le bureau du groupe informent le secrétariat de l’association nationale de leurs actions et communiquent un compte-rendu des réunions de bureau, manifestations et assemblés générales.</p>

<h3>Adhésion</h3>
<p>Le secrétariat de l’AIN7 adresse régulièrement aux groupes régionaux des listes à jour (membres actifs, associés et autres).</p>
<p>Tout cotisant à l’association, ainsi que chaque élève de 3ième année est informé de l’existence et des coordonnées de son groupe régional.</p>
<p>Chaque groupe a un devoir de développement du nombre des adhérents.</p>

<h3>Finances</h3>
<p>L’association nationale peut ouvrir un compte par groupe régional avec délégation au Président et au Trésorier du groupe. Le conseil d’administration arrête le budget annuel du groupe sur proposition du bureau.</p>

<p>Le budget est destiné :</p>
<ul>
<li>au développement du groupe,</li>
<li>à l’aide aux demandeurs d’emploi : participations aux opérations régionales, invitations aux manifestations,</li>
<li>aux frais de fonctionnement.</li>
</ul>

<h3>Accueil solidarité</h3>
<p>Le groupe est la structure d’accueil des ingénieurs en région :</p>
<ul>
<li>accueil des nouveaux diplômés,</li>
<li>accueil des ingénieurs mutés,</li>
<li>échange d’informations entre actifs,</li>
<li>point de rencontre des retraités.</li>
</ul>

<h3>Emloi</h3>
<p>Chaque groupe reçoit le fichier des demandeurs d’emploi et s’associe aux initiatives diverses régionales.</p>

<h3>Animation manifestations</h3>
<p>Le groupe a la responsabilité de l’aimation et de l’information régionales : organisation de rencontres, visites, manifestations.</p>

<h3>Organisation statutaire</h3>
<p>Chaque année est organisée une assemblée générale du groupe avec élection d’un bureau composé au minimum d’un Président, d’un Trésorier et d’un Secrétaire.</p>


{% if groups %}
    <ul>
    {% for group in groups %}
           <li><a href="{% url ain7.groupes_regionaux.views.details group.id %}">{{ group.name }}</a></li>
    {% endfor %}
     </ul>
{% else %}
    <p>{% trans "No regional group." %}</p>
{% endif %}

{% endblock %}
