{% extends "base.html" %}
{% load i18n ain7_tags %}

{% block barre-groupes %}<li class="active">{% endblock %}

{% block content %}

<div class="span-17 colborder">


{% block content-left %}{% endblock %}
</div>

<div class="span-6 last">

   {% if group %}
   <h2>{% trans "Actions" %}</h2>
   <div class="grey-box">
   <ul>
      {% block extra-actions %}{% endblock %}
      {% if superadmin or ca_member or secretariat_member or contributeur %}
      <li><a href="{% url ain7.groupes_professionnels.views.edit group.slug %}">{% trans "Edit these data" %}</a></li>
      <li><a href="{% url ain7.groupes_professionnels.views.subscribe group.slug %}">{% trans "Subscribe someone" %}</a></li>
      <li><a href="{% url ain7.groupes_professionnels.views.unsubscribe group.slug %}">{% trans "Unsubscribe someone" %}</a></li>
      {% endif %}
   </ul>
   </div>

    <h2>{% trans "Card Informations"%}</h2>
    {% show_last_change group %}
    {% endif %} {# group #}

    {% if groups %}
    <h2>{% trans "Professionnal Groups" %}</h2>
    <div class="grey-box">
    <ul>
    {% for group in groups %}
        <li><a href="{% url ain7.groupes_professionnels.views.details group.slug %}">{{ group.name }}</a></li>
    {% endfor %}
     </ul>
    </div>
    {% if text %}
    <h2>{% trans "Card Informations"%}</h2>
    {% show_last_change text %}
    {% endif %}
    {% endif %}

</div> 


{% endblock %}
