{% extends "base.html" %}
{% load i18n %}

{% block navbarnews %}class="active"{% endblock %}

{% block content %}

<div class="span9">

{% block content-left %}{% endblock %}

</div>

<div class="span3">

<div class="well">
<ul class="nav nav-list">
<li class="nav-header">{% trans "Actions" %}</li>

{% block extra-actions %}{% endblock %}
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url ain7.news.views.edit %}">{% trans "Write a news" %}</a></li>
{% endif %}
<li><a href="{% url ain7.news.views.search %}">{% trans "Search a news" %}</a></li>

{% block extra-menus %}{% endblock %}
</div>

{% endblock %}

