{% extends "news/base.html" %}
{% load i18n ain7_tags %}

{% block content-left %}

<h2>{{ news_item.title }}</h2>

{% if superadmin or ca_member or secretariat_member or contributeur %}
<ul class="list-inline">
<li><a class="btn btn-primary" href="{% url "ain7.news.views.edit" news_item.slug %}"><i class="fa fa-pencil fa-lg"></i> {% trans "Edit" %}</a></li>
<li><a class="btn btn-primary" href="{% url "ain7.news.views.delete" news_item.slug %}"><i class="fa fa-trash-o fa-lg"></i> {% trans "Delete" %}</a></li>
</ul>
{% endif %}

<div class="article-info">{%  show_last_change news_item %}</div>

<p>
{% if news_item.image %}
<img src="{{ news_item.image.url }}" alt="Image" title="Image" class="image-article" style="max-width:800px;max-height:150px"/>
{% endif %}
{{ news_item.body|safe }}
</p>

<br><br><br>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div> 

{% endblock %}

