{% extends "news/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

	<h2>{{ news_item.title }}</h2>
	
	<div class="article-info">{%  show_last_change news_item %}</div>

	<p>
          {% if news_item.image %}
          <img src="{{ news_item.image.url }}" alt="Image" title="Image" class="image-article" />
          {% endif %}
          {{ news_item.body|safe }}
        </p>

<br /><br /><br />
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_linkedin"></a>
<a class="addthis_button_viadeo"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_google_plusone"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true,"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dc7154b4ea96654"></script>
<!-- AddThis Button END -->



{% endblock %}


{% block extra-actions %}
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url "ain7.news.views.edit" news_item.slug %}">{% trans "Edit this news" %}</a></li>
<li><a href="{% url "ain7.news.views.delete" news_item.slug %}">{% trans "Delete this news" %}</a></li>
{% endif %}
{% endblock %}

