{% extends "news/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<h2>{{ news_item.title }}</h2>

<form method="post" action="." enctype="multipart/form-data">

{{ form|crispy }}

<div class="form-group">                                                        
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
<a href="{% url 'new-details' news_item.id %}">{% trans "Cancel" %}</a>
</div>

</form>

{% endblock %}

{% block extra-actions %}
{% if news_item %}
<li><a href="{% url "ain7.news.views.delete" news_item.slug %}">{% trans "Delete this news" %}</a></li>
{% endif %}
{% endblock %}
