{% extends "news/base.html" %}
{% load i18n %}

{% block content-left %}

<h2>{{ news_item.title }}</h2>

<form method="post" action="." enctype="multipart/form-data">

<table>
{{ form }}
</table>

<div style="text-align: center">
{% if news_item %}
<a href="{% url ain7.news.views.image_delete news_item.slug %}" class="deletelink">
{% trans "Delete the image for this news item." %}</a><br />
{% endif %}
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>

</form>

{% endblock %}

{% block extra-actions %}
{% if news_item %}
<li><a href="{% url ain7.news.views.delete news_item.slug %}">{% trans "Delete this news" %}</a></li>
{% endif %}
{% endblock %}
