{% extends "news/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<div class="col-lg-8 col-lg-offset-2">

{% if news_item %}
<h2>{{ news_item.title }}</h2>
{% endif %}

<form method="post" action="." enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<div class="control-group">
<div class="controls">
<div class="col-lg-offset-4">
<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>{% trans "Save" %}</button>
&nbsp;
{% if news_item %}
<a class="btn btn-default" href="{% url 'news-details' news_item.id %}"><i class="fa fa-times"></i> {% trans "Cancel" %}</a>
{% else %}
<a class="btn btn-default" href="{% url 'news-index' %}"><i class="fa fa-times"></i> {% trans "Cancel" %}</a>
{% endif %}
</div>
</div>
</div>
</form>

</div>

{% endblock %}
