{% extends "news/base.html" %}
{% load i18n %}
{% load el_pagination_tags %}

{% block title %}Actualités{% endblock %}

{% block breadcrumb %}
    <ul>
        <li><a href="{% url "homepage" %}">Accueil</a></li>
        <li><a href="{% url "news-index" %}">Actualités</a></li>
    </ul>
{% endblock %}

{% block content-left %}


    {% if superadmin or ca_member or secretariat_member or contributeur %}
        <p><a class="btn btn-primary" href="{% url "news-add" %}"><i class="fa fa-plus"></i> {% trans "Add article" %}
        </a></p>
    {% endif %}

    {% if news %}

        {% paginate news %}
        {% for one_news in news %}
            <div class="edu2_blogpg_wrap">
                {% if one_news.image %}
                    <figure>
                        <img src="{{ one_news.image.url }}" alt="{{ one_news.title }}"
                             title="{{ one_news.title }}"/>
                    </figure>
                {% endif %}

                <div class="edu2_blogpg_des">
                    <ul>
                        <li><i class="fa fa-calendar"></i>{{ one_news.last_change_at|date:"l j F Y H:i" }}</li>
                        {% if one_news.last_change_by %}
                            <li><i class="fa fa-user"></i><a href="#">{{ one_news.last_change_by }}</a></li>
                        {% endif %}
                    </ul>
                    <h5>{{ one_news.title }}</h5>
                    <p>{{ one_news.body|safe }}</p>
                    <a href="{% url "news-details" one_news.slug %}" class="blog-readmore">Lire la suite</a>
                </div>
            </div>
        {% endfor %}
        {% include "pages/paginator.html" %}
    {% else %}
        <p>{% trans "No news !" %}</p>
    {% endif %}

{% endblock %}
