{% extends "news/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

{% if news %}

{% for one_news in news %}

  
<h2><a href="{% url ain7.news.views.details one_news.slug %}">{{ one_news.title }}</a></h2>
  
      <span class="grey" style="float:right;">{{ one_news.creation_date|date:"l j F Y" }}</span>

  <div class="news-description">  
  {% if one_news.image %}
  <img src="{{ one_news.image.url }}" alt="{{ one_news.title }}" title="{{ one_news.title }}" class="image-article" />
  {% endif %}
    {{ one_news.body|safe }}
  </div>

<hr />
	{% endfor %}

{% else %}
	<p>{% trans "No news !" %}</p>
{% endif %}

{% endblock %}
