{% extends "news/base.html" %}
{% load i18n %}
{% load el_pagination_tags %}

{% block content-left %}

<h2>{% trans "News Search" %}</h2>

<form action="." method="post">
    <table style="border: 0; text-align: left">
       {{ form }}
    </table>
<div style="text-align: center">
   <input type="submit" class="btn btn-primary" value="{% trans "Search" %}" />
</div>
</form>

{% ifequal request.method 'POST' %}
<h2>{% trans "Research result" %}</h2>
{% if list_news %}
{% paginate list_news %}
<p class="text-center">{% show_pages %}</p> 
<ul>
    {% for news_item in list_news %}
        <li><a href="{% url "news-details" news_item.slug %}">{{ news_item.title }}</a></li>
    {% endfor %}
</ul>
<p class="text-center">{% show_pages %}</p> 
{% else %}
    <p>{% trans "No news item corresponds to your research." %}</p>
{% endif %}
{% endifequal %}

{% endblock %}
