{% extends "base.html" %}

{% block barre %}
	<li class="active">Accueil</li>
	<li><a href="/annuaire/" accesskey="a">Annuaire</a></li>
	<li><a href="#" accesskey="m">Manifestations</a></li>
	<li><a href="/groupes/" accesskey="g">Groupes de travail</a></li>
	<li><a href="#" accesskey="i">L'international</a></li>
	<li><a href="#" accesskey="f">Forums</a></li>
	<li><a href="#" accesskey="p">Planet</a></li>
{% endblock %}

{% block content %}
	
		<div class="left">
			<h3>A propos de ce site</h3>

		<p>Ce site est le site de l'AIn7. Il a été conçu bénévolement par des étudiants de l'ENSEEIHT
                et des anciens ingénieurs de l'ENSEEIHT.</p>

		<p>Ce site est opensource est le code est disponible dans le repository bazaar : 
                <a href="http://code.ain7.com">http://code.ain7.com</a>.</p>

		<p>Nous vous encourageons à rapporter les bugs que vous rencontrez 
       (sur <a href="https://launchpad.net/ain7-website">	Launchpad</a>) 
       ainsi qu'à contribuer au code !</p>

		<p>Si vous souhaitez contribuer ou donner des idées, n'hésitez pas à contacter le
		<a href="mailto:webmaster@ain7.com">webmaster</a>.</p>
		
		</div>	
{% endblock %}

