{% extends "pages/base_association.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div 

<div class="left">
<h3>L'AIn7 propose...</h3>

<h4>Des offres d'emploi</h4>

<p>Elle assiste le service placement de l'Ecole pour :</p>
<ul>
<li>la mise à disposition des offres d'emploi et leur édition périodique,</li>
<li>la tenue à jour d'un fichier des ingénieurs en recherche de situation,</li>
<li>la réponse à des demandes ou des propositions urgentes.</li>
</ul>

<h4>Une Assistance personnalisée</h4>

<p>Les ingénieurs qui le souhaitent peuvent réaliser un auto bilan à l'aide d'un document élaboré par l'Association, leur donnant ainsi la possibilité d'affiner leur projet professionnel. Ils peuvent également solliciter les conseils d'anciens qui disposent de compétences dans les domaines d'activité concernés. Par ailleurs, l'Association peut apporter son soutien à ceux qui doivent faire face à des situations économiques difficiles.</p>

<h4>Des correspondants d'entreprise</h4>

<p>L'Association anime un réseau de correspondants d'entreprise constitué d'anciens élèves qui exercent des responsabilités dans des entreprises où l'on recense un nombre significatif d'ingénieurs ENSEEIHT.</p>

<p>Ils y sont les interlocuteurs privilégiés de l'Association, notamment pour faciliter les échanges d'information avec leur entreprise ainsi que l'accès et l'intégration des nouveaux embauchés. Ils contribuent également à favoriser l'organisation de stages pour les élèves et la conclusion de contrats de recherche avec les laboratoires de l'Ecole.</p>

<p>Une fois par an, l'Association les réunit dans le cadre d'une conférence nationale "inter N7 entreprises".</p>

<h4>Des groupes sectoriels</h4>

<p>Leur vocation est de permettre des échanges entre les ingénieurs exerçant leur activité dans une même spécialité, par exemple les télécommunications. Des rencontres et des colloques facilitent la confrontation de leurs expériences et de leurs points de vue avec ceux d'intervenants extérieurs. Plus généralement, l'Association est attentive à ce que la meilleure osmose se fasse entre ses membres et leur environnement socio-professionnel.</p>

<h3>L'Association est présente dans...</h3>

<h4>Les organismes représentatifs de la profession</h4>

<p>L'Association est intégrée dans le tissu représentatif du monde des ingénieurs. Elle est membre du CNISF, Conseil National des Ingénieurs et Scientifiques de France, et participe aux travaux de ses Unions Régionales, les URIS.</p>

<p>Elle est particulièrement attachée à la valorisation du titre d'ingénieur et à sa reconnaissance au sein de l'Union Européenne. Elle est également attentive au respect de la place des Grandes Ecoles d'Ingénieurs dans l'évolution du système éducatif français. Les ingénieurs ENSEEIHT figurent dans le Répertoire Français des Ingénieurs, géré par le CNISF et accessible sur le site Internet "CNISF.org".</p>

<h4>Les entreprises</h4>

<p>Avec une approche dynamique du monde professionnel, l'Association offre aux entreprises désireuses d'attirer et de recruter des ingénieurs ENSEEIHT la possibilité de se faire mieux connaître par :</p>
<ul>
<li>des espaces publicitaires: dans son Annuaire, dans sa revue trimestrielle, CANAL N7, sur son site Internet,</li>
<li>des tables rondes réunissant professionnels, enseignants et élèves ingénieurs de l'Ecole,</li>
<li>des visites et des forums de recrutement, en liaison avec l'Ecole.</li>
</ul>

<h4>Les médias</h4>

<p>Afin de développer l'image du diplôme, de l'Ecole et de ses ingénieurs, l'Association s'adresse, par l'intermédiaire de la presse spécialisée, à différents publics, acteurs directs ou prescripteurs, pour :</p>
<ul>
<li>actualiser l'information des élèves des classes préparatoires, de leurs parents et de leurs professeurs,</li>
<li>faciliter la recherche d'emploi et l'évolution des carrières vers des responsabilités toujours plus attractives et valorisantes,</li>
<li>délivrer aux responsables d'entreprises, directeurs des ressources humaines et aux cabinet spécialisés, les informations utiles pour leurs choix de recrutement.</li>
</ul>

<p>L'Association prête une attention soutenue à la vie de l'Ecole.</p>

<p>Elle est représentée au Conseil de l'Ecole où elle apporte son expertise de la connaissance des besoins des entreprises en matière de qualification des ingénieurs. Elle est partie prenante dans l'évolution des enseignements, en participant notamment à des commissions thématiques de ce Conseil.</p>

<p>Elle organise des rencontres régulières avec le Corps professoral, qui constituent un lieu d'échange et de meilleure compréhension réciproque.</p>

<h3>L'AIn7 propose aux futurs diplômés</h3>

<h4>Des conférences et des tables rondes</h4>

<p>Consacrées au métier d'ingénieur, elles sont organisées par secteur d'activité ou par type d'entreprise.</p>

<h4>Des simulations d'entretien</h4>

<p>Pour préparer leur recherche d'un premier emploi, les élèves qui le souhaitent peuvent recourir à l'expérience de leurs aînés.</p>

<h4>Un parrainage</h4>

<p>Afin de mener un dialogue sur son futur métier, chaque élève peut établir une relation interpersonnelle avec un de ses anciens. En outre, l'Association apporte son aide au Bureau des Elèves pour la recherche de partenaires associés aux manifestations et aux événements qu'organisent les étudiants Festival N7, week-end d'intégration, tournois inter Grandes Ecoles...</p>

<h3>L'AIn7 favorise le renforcement des liens entre tous ses membres</h3>

<h4>Au plan national</h4>

<p>Des manifestations de prestige sont organisées à Toulouse et à Paris, permettant notamment la rencontre de personnalités du monde de l'entreprise.</p>

<h4>Au plan régional</h4>

<p>Les adhérents d'une même région sont conviés à diverses activités : rencontres autour d'un thème, conférences, visites techniques et culturelles, repas conviviaux. Les initiatives sont riches et variées.</p>

<h4>Au plan international</h4>

<p>La communication entre ceux qui exercent leurs responsabilités professionnelles dans la même zone géographique est facilitée, leur donnant ainsi la possibilité d'échanger leurs expériences. Dans les pays où l'on dénombre la présence de nombreux ingénieurs ENSEEIHT, par exemple aux Etats-Unis et au Canada, des rencontres sont régulièrement organisées.</p>

<p>L'Association propose aussi des voyages qui sont autant d'occasions d'enrichir les relations entre les participants, dans un contexte particulièrement agréable et sympathique. La variété des destinations : Europe, Asie, Afrique, Amérique, le pittoresque des pays découverts sont autant d'atouts qui incitent ses membres à se retrouver et à partager émotions et souvenirs communs.</p>

</div>

<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="/association/">{% trans "Overview" %}</a></li>
      <li><a href="/association/status/">{% trans "Statuts" %}</a></li>
      <li><a href="/association/board/">{% trans "Board" %}</a></li>
      <li><a href="/association/council/">{% trans "Council" %}</a></li>
      <li><a href="/association/contact/">{% trans "Contact" %}</a></li>
    </ul>
   </div>
    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
      <li>{% trans "Number of members" %}: {{ count_members }}</li>
      <li>{% trans "Number of subscribers" %}: {{ count_subscribers }}</li>
    </ul>
   </div>
</div>

</div>

{% endblock %}

