{% extends "base.html" %}

{% block barre %}
  <ul class="ligne1">
	<li class="active"><a href="/" accesskey="h">Accueil</a></li>
	<li><a href="/association/" accesskey="o">L'association</a></li>
	<li><a href="/annuaire/" accesskey="a">Annuaire</a></li>
	<li><a href="/evenements/" accesskey="e">Évènements</a></li>
	<li><a href="/emploi/" accesskey="s">Service emploi</a></li>
  </ul>
  <ul class="ligne2">
	<li><a href="/groupes_regionaux/" accesskey="r">Groupes régionaux</a></li>
	<li><a href="/groupes/" accesskey="g">Groupes de travail</a></li>
	<li><a href="/publications/" accesskey="p">Publications</a></li>
	<li><a href="/international/" accesskey="i">L'international</a></li>
	<li><a href="/voyages/" accesskey="v">Voyages</a></li>
	<li><a href="/forums/" accesskey="f">Forums</a></li>
	<li><a href="/planet/" accesskey="l">Planet</a></li>
  </ul>
{% endblock %}
