{% extends "pages/base_pages.html" %}
{% load i18n %}

{% block content %}

<!- Cette page devrait à terme être générée automatiquement, mais nous n'avons pas encore les données, donc... //->

<div id="content-main">

<div class="left">

<h3>Bureau</h3>

<ul>
<li>Mireille Bourbotte</li>
<li>Gilbert Callais</li>
<li>Jean-marie Cammas</li>
<li>Michel Canon</li>
<li>Alain Hamon</li>
<li>Maryse Lemmet</li>
<li>Monique Nourison</li>
<li>Dominique Platon</li>
<li>Lionel Porcheron</li>
<li>Pierre Welby</li>
</ul>

</div>

<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="/association/">{% trans "Overview" %}</a></li>
      <li><a href="/association/status/">{% trans "Statuts" %}</a></li>
      <li><a href="/association/board/">{% trans "Board" %}</a></li>
      <li><a href="/association/council/">{% trans "Council" %}</a></li>
      <li><a href="/association/contact/">{% trans "Contact" %}</a></li>
    </ul>
   </div>
    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
      <li>{% trans "Number of members" %}: {{ count_members }}</li>
      <li>{% trans "Number of subscribers" %}: {{ count_subscribers }}</li>
    </ul>
   </div>
</div>
</div>
{% endblock %}
