{% extends "pages/base_publications.html" %}

{% block content %}

<div id="content-main">

<div class="left">

<h3>Présentation de canal N7</h3>

<p>Journal trimestriel de l'ASSOCIATION des INGENIEURS de l'ENSEEIHT.</p>

<ul>
<li><b>Régie Publicitaire :</b> MAZARINE Partenaires, Paris</li>
<li><b>Contact :</b> Carole Néhmé c.nehme@mazarine.com</li>
<li><b>Tél :</b> 01 58 05 49 17</li>
<li><b>Commission paritaire</b> (en cours de renouvellement)</li>
<li><b>Prix au numéro :</b> 9 €</li>
<li><b>Abonnement extérieur :</b> 30,50 € (1an)</li>
<li><b>Abonnement adhérents :</b> 12,20 €</li>
</ul>

<h3>L'équipe de la rédaction</h3>

<ul>
<li>Directeur de publication: <a href="/annuaire/1/">Michel Canon</a> (SET 1969)</li>
<li>Rédacteur en chef : <a href="/annuaire/1/">Claude Thirriot</a> (1955)</li>
<li>Secrétaire de rédaction : Sylvie Henric</li>
</ul>

<h3>Le magazine</h3>

<p>Depuis Novembre 1986, le bulletin d’information de l’AIN7 est réellement devenu le journal de l’Association avec des articles à portée scientifique , socio- économique ou culturelle.</p>

<p>On y retrouve trois parties :
<ul>
<li><b>Le Dossier :</b> partie rédactionnelle comprenant les articles techniques,</li>
<li><b>Le Forum des lecteurs</b>,</li>
<li><b>La Vie de l'Association</b>, incluant des informations sur les activités des groupes régionaux, de l'école et des élèves.</li>
</ul>
</p>

<p>De manière générale, chaque numéro est organisé autour d’un thème (…La Qualité, Sécurité et simulation, Communication, Biomécanique, Microsystèmes, Véhicules électriques, 3ième millénaire, Ingéniérie du sport, Télecoms,…..).</p>

<p>La liste complète des numéros est disponible auprés du secrétariat de l’AIN7.</p>

<p>Vous pourrez consulter le sommaire des derniers numéros en cliquant sur la photo du numéro correspondant.</p>

</div>

</div>

{% endblock %}

