{% load i18n %}
{% extends section %}

{% block content %}

<div align="center">
{{ description }}
</div>

<div class="warning">
{{ message }}
</div>

<form method="post" action="#">

<div align="center">
	<input type="radio" name="choice" value="1" id="yes"/><label for="yes">{% trans "Yes" %}</label>
	<input type="radio" name="choice" value="0" checked="checked" id="no" /><label for="no">{% trans "No" %}</label>
</div>

<div align="center">
	<input type="submit" class="button" value="{% trans "Ok" %}" />
</div>

</form>


{% endblock %}
