{% extends "base.html" %}

{% block barre %}
	<li class="active">Accueil</li>
	<li><a href="/annuaire/" accesskey="a">Annuaire</a></li>
	<li><a href="#" accesskey="m">Manifestations</a></li>
	<li><a href="/groupes/" accesskey="g">Groupes de travail</a></li>
	<li><a href="#" accesskey="i">L'international</a></li>
	<li><a href="/forums/" accesskey="f">Forums</a></li>
	<li><a href="/planet/" accesskey="p">Planet</a></li>
{% endblock %}

{% block content %}
	
		<div class="left">
			<h3>Le secrétariat permenant</h3>

			<b>Coordonnées globales :</b>
			<p>
			A.I.N.7<br/>
			2 rue Charles Camichel, BP 7122,<br/>
			31071 Toulouse cedex 7</p>

			<p>Fax : 05 61 62 09 76</p>
			<p>Couriel : ain7@enseeiht.fr</p>

			<b>Nos trois secrétaires :</b>
			<ul>
				<li>Sylvie Henric - sylvie.henric@enseeiht.fr - Tél : 05 61 58 82 88</li>
				<li>Frédérique Forestie - frederique.forestie@enseeiht.fr -  Tél : 05 61 58 82 13</li>
				<li>Jennifer Mattalia - jennifer.mattalia@enseeiht.fr -  Tél : 05 61 58 80 29</li>
			</ul>
	
			<h3>A propos du site</h3>
			<p>Pour remonter un problème au sujet du site contactez le <a href="mailto:webmaster@ain7.com">webmaster</a></p>
			<p>Pour de plus amples renseignements au sujet de ce site, n'hésitez pas à consulter la page <a href="/apropos/">a propos</a></p>.

		</div>	
{% endblock %}

