{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "AIn7: alumni network for IET-ENSEEIHT engineers" %}</title>
<meta name="author" content="AIn7 Devel Team (www.ain7.com)" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/site_media/images/favicon.png" />
<link rel="alternate" type="application/rss+xml" href="/rss/events/" />
<link rel="stylesheet" href="/site_media/skins/default/css/style.css?version={{ portal_version }}" type="text/css" />
</head>
<body>

<div class="messages">
{% for message in messages %}
    <p class="msg_info">{{ message }}</p>
{% endfor %}
</div>

{% block content %}

<div id="content-main">

<h2>{{ action_title }} {{ person }}</h2>

<form method="post" action=".">
<div align="center">
<div class="close">
<a class="button" href="#" onclick="window.close()">{% trans "Ok" %}</a>
</div>
</div>
</form>

</div>

{% endblock %}
