{% extends "pages/base_homepage.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div id="content-main">

		<div class="left">
			<h3>Le réseau AIN7 : une force collective et des atouts au service de chaque diplômé ENSEEIHT</h3>
			<div class="left_box">
				<img src="/site_media/images/logo_ain7.png" class="image" alt="Big Image" />
                                <p>L'ENSEEIHT a fêté son centenaire en 2007. Naturellement issue des premières promotions 
                                d'ingénieurs de l'école, l'AIN7 a, au fil des décennies, toujours œuvré au service de tous 
                                les diplômés, elle a développé et entretient entre eux des liens professionnels et amicaux, 
                                elle contribue à des actions en profondeur, au sein de l'Ecole et dans le monde des affaires, 
                                pour améliorer et optimiser l'image et la notoriété de notre communauté.</p>
                                <p>12 000 ingénieurs ont reçu, depuis l'origine, le diplôme d'ingénieur. Près de 10 000 sont 
                                en activité… ceci dans tous les grands secteurs de l'Economie. Cela crée un potentiel de premier 
                                plan et l'AIN7 se place en véritable catalyseur…</p>
                                <p>En ce début de 21ème siècle, réseau est obligatoirement synonyme de web. Conscient de ce fait 
                                incontournable, l'AIN7 prend en ce début 2009 plusieurs initiatives majeures :</p>
                                <ul>
                                <li>une présence renforcée sur les principaux réseaux communautaires professionnels : en particulier 
                                Viadeo, qui va ouvrir une communauté officielle supportée par l'AIN7.</li>
                                <li>notre nouveau site, visitez le régulièrement : il vous tiendra informé de toutes nos initiatives… 
                                et n'oubliez pas, l'AIN7 c'est VOUS. Venez rejoindre le noyau de volontaires qui font vivre notre communauté, 
                                et si vous ne trouvez pas dans nos activités, celle que vous attendez, pourquoi ne pas venir la susciter 
                                en nous rejoignant ?</li>
                                </ul>

                                <p><b>Jean-François Perret<br/>
                                Président AIN7</b></p>
			</div>

			<h3>L'ENSEEIHT</h3>
			<div class="left_box">
			<img src="/site_media/images/n7_small.png" class="image" alt="ENSEEIHT" />
			<p>L'ENSEEIHT (prononcer « N7 ») est l'École nationale supérieure d'électrotechnique, d'électronique, 
                        d'informatique, d'hydraulique et des télécommunications. Elle appartient à l'Institut national polytechnique
                        de Toulouse.</p>
			<p>École d'ingénieurs en convention avec l'École polytechnique, l'ENSEEIHT est actuellement structurée en cinq
                        filières, comprenant chacune un département de formation et un laboratoire de recherche étroitement lié.</p>
			<p>Les cinq filières d'enseignement sont les suivantes :</p>
			<ul style="list-style-type: square; margin: 1ex; margin-left: 4ex">
				<li>Génie électrique et automatique</li>
				<li>Électronique et Traitement du signal</li>
				<li>Informatique et Mathématiques appliquées</li>
				<li>Hydraulique et Mécanique des fluides</li>
				<li>Télécommunications et Réseaux</li>
			</ul>
			<p>L'ENSEEIHT fait partie du groupe des ENSI et est la plus importante ENSI en termes d'élèves diplomés chaque 
                        année (près de 400).</p>
			</div>

		</div>
		<div class="right">
			<h3>{% trans "News" %}</h3>
 	<div class="right_articles">
		<div style="text-align: center">
			<a href="/actualites/">{% trans "All news" %}</a>
		</div>
	</div>
  {% for news_item in news %}
  <div class="right_articles">
    <p>
      {% if news_item.image %}
      <a href="/actualites/{{ news_item.id }}/"><img src="{{ news_item.image.url }}" alt="Image" title="Image" class="image" width="60" /></a>
      {% endif %}
      <b><a href="/actualites/{{ news_item.id }}/">{{ news_item.title }}</a></b><br />{{ news_item.short_description }}.</p>
			</div>
    {% endfor %}



			<h3>{% trans "Links" %}</h3>
			<div class="right_articles">
				<p><a href="http://www.enseeiht.fr">ENSEEIHT</a></p>
				<p><a href="http://www.bde.enseeiht.fr">Bureau des élèves</a></p>
				<p><a href="http://www.inp-toulouse.fr">INP Toulouse</a></p>
				<p><a href="http://www.cnsif.org">CNSIF</a></p>
				<p><a href="http://www.g9plus.org/">Le G9+</a></p>
			</div>

	<h3>{% trans "Survey" %}</h3>
	<div class="right_articles">
		<div style="text-align: center">
			<a href="/sondages/">{% trans "Surveys history" %}</a>
		</div>
	</div>
	{% for survey, has_already_voted in surveys %}
		<div class="right_articles">
			<p> {{ survey.question }} </p>
			{% if has_already_voted %}
			  {% include "sondages/results_include.html" %}
                        {% else %}
			  {% include "sondages/vote_include.html" %}
                        {% endif %}
			<div style="text-align: center">
				<a href="/sondages/{{ survey.id }}/view/">{% trans "Results" %}</a>
			</div>
		</div>
        {% endfor %}

	</div>

</div>

{% endblock %}
