{% extends section %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div align="center">

<p style="text-align: center"><strong>{{ name }}</strong></p>
<p style="text-align: center">{% trans "Actual picture" %}:<br />
{% if filename %}
    <img src="{{ filename }}" height="100"
         alt="{{ name }}"/>
{% else %}
    {% trans "No image" %}
{% endif %}
</p>

<form method="post" action="." enctype="multipart/form-data">
    <table class="form">
        {{ form }}
    </table>
    <a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
    <input class="button" type="submit" value="{% trans "Save" %}" />
</form>

</div>
</div>

{% endblock %}
