{% extends "pages/base_pages.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<h3>{% trans "Password recovery" %}</h3>

{% if info %}
    <p>{{ info }}</p>
{% endif %}

{% if form %}
        <form method="post" action=".">
                <table cellpadding="0" cellspacing="0" id="login-form">
                        <tbody id="login-form-body">
                <tr><td colspan="2" style="height: 10px">{% trans "Enter your e-mail address, and we will send you instructions on how to reset your password." %}</td></tr>
                {{ form }}
                <tr><td colspan="2" style="height: 10px"></td></tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <input type="submit" class="button" value="{% trans "Request change" %}" />
                    </td>
                </tr>
                        </tbody>
                </table>
        </form>

{% else %}
    <p>{% trans "Check your email and try to" %} <a href="/accounts/login/?next=/">{% trans "log in" %}</a></p>

{% endif %} 

</div>

</div>


{% endblock %}

