{% extends "pages/base_publications.html" %}

{% block content %}

<div id="content-main">

<div class="left">

<h3>Les publications de l'AIn7</h3>

<p>La Communication, Interne aux adhérents de l’AIN7, est réalisée par les 3 vecteurs suivants, en complément des moyens classiques (courrier, mail, téléphone, fax …) :</p>

<ul>
<li><a href="/canal_n7/">Canal N7</a>, la revue trimestrielle de l'association</li>
<li><a href="/annuaire/">L'Annuaire</a>, l'annuaire de tous les anciens édité tous les ans au mois de juillet</li>
<li><a href="/apropos/">Site internet</a>, lieu de recontre électronique de toutes les générations</li>
</ul>

</div>

</div>

{% endblock %}

