Django<1.8

django-autocomplete-light
django-crispy-forms
django-extensions
django-endless-pagination
django-grappelli

celery

Pillow
vobject
pygments

# database layer
MySQL-python

# workaround python-dateutil issue (python 2.x / python 3)
python-dateutil==1.4.1

