Django<1.8
Pillow
vobject
pexpect
pygments

# database layer
MySQL-python

# search engine
#django-haystack
#xapian-haystack

# workaround python-dateutil issue (python 2.x / python 3)
python-dateutil==1.4.1

