Django<1.9

django-allauth
django-autocomplete-light
django-crispy-forms
django-extensions
django-endless-pagination
django-filter
django-grappelli

celery[redis]

Pillow
vobject
pygments

# database layer
MySQL-python

# workaround python-dateutil issue (python 2.x / python 3)
python-dateutil
