{% extends "media_communication/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div class="span-17 colborder">



<h2>{{ text1.title }}</h2>

{{ text1.body|safe }}

{% if superadmin or ca_member or secretariat_member or contributeur %}
<p><a href="{% url "pages.views.edit" text1.id %}">{% trans "Edit" %}</a></p>
{% endif %}

</div>

<div class="span-6 last">

   <h2>{% trans "Index" %}</h2>
   <div class="grey-box">
   <ul>
      <li><a href="{% url "ain7.association.views.media_com" %}">Media & Communication</a></li>
      <li><a href="{% url "ain7.association.views.canal_n7" %}">Canal N7</a></li>
      <li><a href="{% url "ain7.annuaire.views.search" %}">Annuaire</a></li>
   </ul>
   </div>

   <h2>{{ text2.title }}</h2>
   <div class="grey-box">
   {{ text2.body|safe }}
   {% if superadmin or ca_member or secretariat_member or contributeur %}
   <p><a href="{% url "pages.views.edit" text1.id %}">{% trans "Edit" %}</a></p>
   {% endif %}
   </div>

    <h2>{% trans "Card Informations"%}</h2>
   {% show_last_change text1 %}
   

</div>

</div>

{% endblock %}

