{% extends "pages/base_pages.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h2>{% trans "Password recovery" %}</h2>

{% if info %}
    <p>{{ info }}</p>
{% endif %}

{% if form %}
<p>{% trans "Enter your new password twice." %}</p>
<form method="post" action="." class="form-horizontal">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">                                                        
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {% trans "Save" %}</button>
</div>
</form>
{% else %}
<p>{% trans "Password updated, try to" %} <a href="{% url "account_login" %}">{% trans "log in" %}</a></p>

{% endif %}

{% endblock %}
