{% extends section %}
{% load i18n %}

{% block content %}
    <div class="kf_content_wrap">
        <!--ABOUT UNIVERSITY START-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="confirm">
                                <p class="text-center"><strong>
                                    {% if description %}
                                        {{ message }} "{{ description|escape }}" ?
                                    {% else %}
                                        {{ message }} ?
                                    {% endif %}
                                </strong></p>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary" value="{% trans "Yes" %}">
                                    <a href="{{ back }}" class="btn btn-default">{% trans "No" %}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}
