{% extends section %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<form method="post" action=".">
	<div class="confirm">
		<p><strong>
		{% if description %}
			{{ message }} "{{ description|escape }}" ?
		{% else %}
			{{ message }} ?
		{% endif %}
		</strong></p>
		<p>
			<a class="button" href="{{ back }}">{% trans "No" %}</a>
			<input type="submit" class="button" value="{% trans "Yes" %}" />
		</p>
	</div>
</form>

{% endblock %}
