{% extends "pages/base_homepage.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div id="content-main">

<div class="left" style="width: 65%">

<div class="left_box">
<h3>{% trans "Events Forecast" %}</h3>

{% for event in events %}
  <div class="">
      <div>
      {% if event.image %}
      <a href="{% url ain7.news.views.event_details event.id %}"><img src="{{ event.image.url }}" alt="{{ event.title }}" title="{{ event.title }}" class="image" width="60" /></a>
      {% endif %}
      <b><a href="{% url ain7.news.views.event_details event.id %}">{{ event.title }}</a> | {{ event.date|date:"l j F Y" }}</b><br />{{ event.body|truncatewords_html:30|safe }}
      </div>
   </div>
   <br /><hr /><br />
{% endfor %}
<div class="allItems">
	<a href="{% url ain7.news.views.event_index %}">{% trans "All events" %}</a>
</div>
</div>



<div class="left_box">
<h3>{% trans "News" %}</h3>

{% for news_item in news %}
  <div class="">
      <div>
      {% if news_item.image %}
      <a href="{% url ain7.news.views.details news_item.slug %}"><img src="{{ news_item.image.url }}" alt="{{ news_item.title }}" title="{{ news_item.title }}" class="image" width="60" /></a>
      {% endif %}
      <b><a href="{% url ain7.news.views.details news_item.slug %}">{{ news_item.title }}</a></b><br />{{ news_item.body|truncatewords_html:30|safe }}
      </div>
      <!-- in case the image has bigger height than text -->
      <div style="clear: left;"></div>
   </div>
   <br /><hr /><br />
{% endfor %}
<div class="allItems">
	<a href="{% url ain7.news.views.index %}">{% trans "All news" %}</a>
</div>
</div>




<h3>
{{ text1.title }}
{% if superadmin or ca_member or secretariat_member or contributeur %}
&nbsp;<a href="{% url ain7.pages.views.edit text1.id %}" class="changelink"></a>
{% endif %}
</h3>
<div class="left_box">
{{ text1.body|safe }}
{% if superadmin or ca_member or secretariat_member or contributeur %}
<p><a href="{% url ain7.pages.views.edit text1.id %}">{% trans "Edit" %}</a></p>
{% endif %}
</div>


</div>
<div class="right" style="width: 32%">

<div class="right_articles" style="text-align: center">
<a href="{% url ain7.adhesions.views.index %}"><img src="{{ MEDIA_URL }}/images/adherer.png" alt="Adhérer"/></a>
</div>

<h3>{% trans "AIn7 communities on the web" %}</h3>
<div class="right_articles">

<div class="snBox">

<div class="floatLeft"><a href="{{ settings.LINKEDIN_AIN7 }}" target="_blank"><img class="snIcon" src="{{ MEDIA_URL }}/images/linkedin-icon.png" alt="Linkedin"/>
<br />LinkedIn</a>
</div>

<div class="floatLeft">
<a href="{{ settings.VIADEO_AIN7 }}" target="_blank"><img class="snIcon" src="{{ MEDIA_URL }}/images/viadeo-icon.png" alt="Viadeo"/>
<br />
Viadeo</a>
</div>

<div class="floatLeft"><a href="{{ settings.FACEBOOK_AIN7 }}" target="_blank"><img class="snIcon" src="{{ MEDIA_URL }}/images/FB-icon.jpg" alt="Facebook"/>
<br />Facebook</a>
</div>
<div class="floatLeft"><a href="{{ settings.TWITTER_AIN7}}" target="_blank"><img class="snIcon" src="{{ MEDIA_URL }}/images/twitter-icon.png" alt="Twitter"/>
<br />Twitter</a>
</div>
<div class="floatClear"></div>
</div>
</div>

<h3>{% trans "Links" %}</h3>
<div class="right_articles">
	<p><a href="http://www.enseeiht.fr">ENSEEIHT</a></p>
	<p><a href="http://www.bde.enseeiht.fr">Bureau Des Élèves</a></p>
	<p><a href="http://www.inp-toulouse.fr">INP Toulouse</a></p>
	<p><a href="http://www.cnisf.org">CNISF</a></p>
	<p><a href="http://www.g9plus.org/">Le G9+</a></p>
</div>

        {% if surveys %}
	<h3>{% trans "Survey" %}</h3>
	<div class="right_articles">
	{% for survey, has_already_voted in surveys %}
		<div class="right_articles">
			<p> {{ survey.question }} </p>
			{% if has_already_voted %}
			  {% include "sondages/results_include.html" %}
                        {% else %}
			  {% include "sondages/vote_include.html" %}
                        {% endif %}
			<div style="text-align: center">
				<a href="{% url ain7.sondages.views.view survey.id %}">{% trans "Results" %}</a>
			</div>
		</div>
        {% endfor %}
	<div style="text-align: center">
    	    <a href="{% url ain7.sondages.views.index %}">{% trans "Surveys history" %}</a>
	</div>
	</div>
        {% endif %}

{% if birthdays %}
{% if user.is_authenticated %}
	<h3>{% trans "Happy birthday!" %}</h3>
		<div class="right_articles">
			{% for member in birthdays %}
			<a href="{% url ain7.annuaire.views.details member.person.pk %}">{{ member }}</a>
			{% if not forloop.last %} - {% endif %}
			{% endfor %}
		</div>
{% endif %}
{% endif %}

	</div>

</div>

{% endblock %}
