{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}

        <!-- Responsive slider - START -->
        <div class="slider">
        <div class="container">

                <div class="row">
                        <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                                <div class="slides" data-group="slides">
                                        <ul>
{% for news_item in news %}                                                     
                                               <li>
                                                        <div class="slide-body" data-group="slide">
                                                                <img src="{% static "images/picture_wall_n7.jpg" %}" alt="">
                                                                <div class="caption header" data-animate="slideAppearDownToUp" data-delay="500" data-length="300">
                                                                    <a class="btn btn-primary" href="{% url "news-details" news_item.slug %}"><h3>{{ news_item.title }}</h3></a>
                                                                        <div class="caption-sub" data-animate="slideAppearUpToDown" data-delay="800" data-length="300"><button class="btn btn-primary"><h4><span>{{ news_item.body|striptags|truncatewords_html:25|safe }} <a href="{% url "ain7.news.views.details" news_item.slug %}"><small>(suite)</small></span></h4></button></div>
                                                                </div>
                                                        </div>
                                                </li>
{% endfor %}
                                        </ul>
                                </div>
                   
                                <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
                                <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>           
                        </div>
                </div>
</div>
</div>

<div style="text-align: center">
    <a href="{% url "ain7.news.views.index" %}">{% trans "All news" %}</a>
</div>

        <div class="container">
                <div class="row">
                        <div class="col-lg-12">
                                <div class="contents">
                                        <h2>Association des ingénieurs de l'ENSEEIHT</h2>
                                        <p><a href="{% url "adhesions-index" %}">Adhérez ou donnez</a> pour soutenir l'association et promouvoir l'ENSEEIHT.</p>
                                </div>
                        </div>
                </div>
        </div>

        <div class="container">
                <div class="row">
                        <div class="content">
                                <div class="col-md-4">
                                        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                                                <div class="align-center">
                                                        <h4>Emploi</h4>
                                                        <div class="icon">
                                                                <i class="fa fa-rocket fa-3x"></i>
                                                        </div>
                                                        <p>
                                                         Retrouvez les offres d'emploi du réseau N7 à travers le monde ainsi que des conseils pour votre recherche.
                                                        </p>
                                                        <div class="ficon">
                                                                <a href="{% url "job-index" %}" alt="">{% trans "Learn more" %}</a> <i class="fa fa-long-arrow-right"></i>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.8s">
                                                <div class="align-center">
                                                        <h4>Voyages</h4>
                                                        <div class="icon">
                                                                <i class="fa fa-plane fa-3x"></i>

                                                        </div>
                                                        <p>
                                                         Retrouvez et découvrez les voyages organisés par l'AIn7 pour ses sympathisants.
                                                        </p>
                                                        <div class="ficon">
                                                                <a href="{% url "travels-index" %}" alt="">{% trans "Learn more" %}</a> <i class="fa fa-long-arrow-right"></i>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.2s">
                                                <div class="align-center">
                                                        <h4>Événements</h4>
                                                        <div class="icon">
                                                                <i class="fa fa-users fa-3x"></i>

                                                        </div>
                                                        <p>
                                                        Événements à venir autour de la communauté ENSEEIHT. 
                                                        </p>
                                                        <div class="ficon">
                                                                <a href="{% url "events-index" %}" alt="">{% trans "Learn more" %}</a> <i class="fa fa-long-arrow-right"></i>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>


        <div class="container">
                <div class="row">
                        <div class="box">
                                
                                <div class="col-md-6">
                                        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
                                                <div class="align-center">
                                                        <h4>Groupes professionnels</h4>                                  
                                                        <div class="icon">
                                                                <i class="fa fa-briefcase fa-3x"></i>

                                                        </div>
                                                        <p>
                                                         Les activités liés à nos groupes professionnels: énergie et numérique
                                                        </p>
                                                        <div class="ficon">
                                                            <a href="{% url "professionnal_groups" %}" alt="">{% trans "Learn more" %}</a> <i class="fa fa-long-arrow-right"></i>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
                                                <div class="align-center">
                                                        <h4>Groupes régionaux</h4>                                 
                                                        <div class="icon">
                                                                <i class="fa fa-beer fa-3x"></i>

                                                        </div>
                                                        <p>
                                                        L'activité de nos groupes régionaux: Bordeaux, Lyon, Paris, Toulouse
                                                        </p>
                                                        <div class="ficon">
                                                            <a href="{% url "regional_groups" %}" alt="">{% trans "Learn more" %}</a> <i class="fa fa-long-arrow-right"></i>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

{% endblock %}
