{% extends "pages/base_pages.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="kf_content_wrap">
    <section>
        <div class="container">
            <div class="row">
                <div class="contct_wrap">
                    <div class="col-md-12">

                        {% if form %}

                            <h2>{% trans "Credentials recovery" %}</h2>

                            {% trans "Enter your e-mail address, and we will send your login and instructions to reset your password." %}

                            <div class="col-lg-offset-2 col-lg-6">
                                <form method="post" action="." class="form-horizontal">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="form-group">
                                        <div class="col-lg-offset-4">
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fa fa-check"></i> {% trans "Send" %}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>

{% endblock %}
