{% extends "pages/base_pages.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Password recovery" %}</h2>

{% if form %}
<form method="post" action=".">
{% csrf_token %%}
<table cellpadding="0" cellspacing="0" id="login-form">
        <tbody id="login-form-body">
<tr><td colspan="2" style="height: 10px">{% trans "Enter your e-mail address, and we will send you instructions on how to reset your password." %}</td></tr>
{{ form }}
<tr><td colspan="2" style="height: 10px"></td></tr>
<tr>
    <td colspan="2" style="text-align: center">
        <input type="submit" class="btn btn-primary" value="{% trans "Request change" %}" />
    </td>
</tr>
        </tbody>
</table>
</form>

{% endif %} 

{% endblock %}
