{% extends "emploi/base.html" %}
{% load i18n %}

{% block content-left %}

<ul class="list-inline">
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a class="btn btn-primary" href="{% url "pages.views.edit" text.id %}"><i class="fa fa-pencil fa-lg"></i> {% trans "Edit" %}</a></li>
<li><a class="btn btn-primary" href="{% url "ain7.groups.views.edit" %}"><i class="fa fa-plus fa-lg"></i> {% trans "Add new group" %}</a></li>
{% endif %}
</ul>

<div class="col-lg-8">

<h3>{{ text.title }}</h3>

{{ text.body|safe }}

</div>

<div class="col-lg-4">

<ul>
{% for group in groups %}
<li><a href="{% url "group-details" group.slug %}">{{ group.name }}</a>
{% endfor %}
</ul>

</div>

{% endblock %}
