{% extends "emploi/base.html" %}
{% load i18n %}

{% block content-left %}

<ul class="list-inline">
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a class="btn btn-primary" href="{% url "text-edit" text.id %}"><i class="fa fa-pencil fa-lg"></i> {% trans "Edit" %}</a></li>
<li><a class="btn btn-primary" href="{% url "group-edit" %}"><i class="fa fa-plus fa-lg"></i> {% trans "Add new group" %}</a></li>
{% endif %}
</ul>

<div class="row">

<div class="col-lg-8">

<h3>{{ text.title }}</h3>

{{ text.body|safe }}

</div>

<div class="col-lg-4">

<ul class="list-group ain7-group-menu">
{% for group in groups %}
<li class="list-group-item"><a href="{% url "group-details" group.slug %}">{{ group.name }}</a></li>
{% endfor %}
</ul>

</div>

</div>

{% endblock %}
