{% extends "emploi/base.html" %}
{% load i18n %}

{% block content-left %}

{% if superadmin or ca_member or secretariat_member or contributeur %}
<p><a class="btn btn-primary" href="{% url "pages.views.edit" text.id %}"><i class="fa fa-pencil fa-lg"></i> {% trans "Edit" %}</a></p>
{% endif %}

<div class="row">

<div class="col-lg-8">

<h3>{{ text.title }}</h3>

{{ text.body|safe }}

</div>

<div class="col-lg-4">

<ul class="list-group ain7-group-menu">
{% for group in groups %}
<li class="list-group-item"><a href="{% url "group-details" group.slug %}">{{ group.name }}</a></li>
{% endfor %}
</ul>

</div>

</div>

{% endblock %}
