{% extends "pages/base_pages.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div class="span-17 colborder">
	


<h2>{% trans "You can find several RSS feed on AIn7 portal:" %}</h2>

<ul>
<li><a href="{% url django.contrib.syndication.views.feed "events" %}">{% trans "Latest events" %}</a></li>
<li><a href="{% url django.contrib.syndication.views.feed "news" %}">{% trans "Latest news" %}</a></li>
</ul>

</div>	

</div>

{% endblock %}

