{% extends "pages/base_pages.html" %}

{% load  i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="span-17 colborder">


<h2>{% trans "Text Edit" %}</h2>

<form method="post" action="." enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">                                                        
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
<a href="{% url 'annuaire-edit' user.id %}">{% trans "Cancel" %}</a>
</div>
</form>

</div>

</div>

{% endblock %}

