{% extends "base.html" %}
{% load i18n ain7_tags %}

{% block barre-voyages %}<li class="active">{% endblock %}

{% block content %}

<div class="span-17 colborder">
	
  
  {% block content-left %}{% endblock %}
  </div>


  <div class="span-6 last">

    <h2>{% trans "Actions" %}</h2>
    <div class="grey-box">
      <ul>
       {% block actions %}{% endblock%}
      </ul>
    </div>  

    {% block navigation %}{% endblock %}

    {% if travel %}
    {% if superadmin or ca_member or secretariat_member or contributeur %}
      <h2>{% trans "Statistics" %}</h2>
      <div class="grey-box">
        <ul>
          <li>
             {% if travel.nb_participants %}
{% blocktrans count travel.nb_participants as counter %}1 person is subscribed to this travel{% plural %}{{ counter }} persons are subscribed to this travel{% endblocktrans %}
             {% else %}
               {% trans "There is currently no subscription for this travel" %}
             {% endif %}
          </li>
        </ul>
      </div>
    {% endif %} 

      <h2>{% trans "Card Informations"%}</h2>
      {% show_last_change travel %}
    {% endif %} {# travel #}

    {% if next_travels %}
    <h2>{% trans "Planned travels" %}</h2>
    {% if next_travels %}
      <div class="grey-box">
      <ul>
      {% for travel in next_travels %}
        <li>
	    <a href="{% url ain7.voyages.views.details travel.id %}">{{ travel.label|escape }}</a>
          {% if travel.thumbnail %}
          <p style="text-align:center">
            <a href="{% url ain7.voyages.views.details travel.id %}">
            <img src="{{ travel.thumbnail.url }}" height="100" alt="{{ travel.label }}"/></a>
          </p>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      </div>
    {% else %}
      <div class="grey-box">
        <p>{% trans "No planned travels." %}</p>
      </div>
    {% endif %}
    {% endif %} {# next_travels #}

    {% if previous_travels %}
    <h2>{% trans "Previous travels" %}</h2>
      <div class="grey-box">
        {% if previous_travels %}
          <ul>
            {% for travel in previous_travels %}
              <li><a href="{% url ain7.voyages.views.details travel.id %}">{{ travel.label|escape }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          {% trans "No previous travels" %}
        {% endif %}
      </div>

      {% endif %} {# previous_travels #}

  </div> <!-- right -->


{% endblock %}

