{% extends "voyages/base.html" %}
{% load i18n ain7_tags %}

{% block title %}
    {{ travel.label|escape }}
{% endblock %}

{% block breadcrumb %}
    <ul>
        <li><a href="{% url "homepage" %}">Accueil</a></li>
        <li><a href="{% url "travels-index" %}">{% trans "Travels" %}</a></li>
    </ul>
{% endblock %}


{% block content-left %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="kf_blog_detail_wrap">
                        {% if superadmin or ca_member or secretariat_member %}
                            <ul class="list-inline">
                            <li><a class="btn btn-primary" href="{% url 'travel-edit' travel.id %}"><i
                                    class="fa fa-pencil fa-1g"></i> {% trans "Edit" %}</a></li>
                            <li><a class="btn btn-primary" href="{% url 'travel-add' %}"><i
                                    class="fa fa-plus fa-1g"></i> {% trans "Add travel" %}</a></li>
                        {% endif %}

                        <div class="kf_blog_detail_des">
                            <div class="blog-detl_heading">
                                <h5>{{ travel.label|escape }}</h5>
                            </div>

                            <ul class="blog_detail_meta">
                                {% if travel.start_date and travel.end_date %}
                                    <li>
                                        <i class="fa fa-calendar"></i>{% trans "from" %} {{ travel.start_date|date:"d/m/Y" }}
                                        {% trans "to" %} {{ travel.end_date|date:"d/m/Y" }}
                                        ({{ travel.type|escape }})
                                    </li>
                                {% endif %}
                                {% if travel.price %}
                                    <li><i class="fa fa-money"></i>{{ travel.price }} €</li>
                                {% endif %}
                                {% if travel.travel_responsibles.all %}
                                    <li><i class="fa fa-users"></i>{% filter capfirst %}
                                        {% trans "responsible(s)" %}{% endfilter %}{{ travel.travel_responsibles.all|join:", " }}
                                    </li>
                                {% endif %}
                            </ul>

                            {% if travel.thumbnail %}
                                <div class="course_detail_thumbnail">
                                    <figure>
                                        <img src="{{ travel.thumbnail.url }}" height="250" alt="{{ travel.label }}"/>

                                    </figure>
                                </div>

                            {% endif %}

                            {% if travel.description %}
                                {{ travel.description|safe }}
                            {% endif %}

                            {% if travel.is_past and travel.report %}
                                <h2>{% filter capfirst %}{% trans "report" %}{% endfilter %}</h2>
                                {{ travel.report|safe }}
                            {% endif %}


                        </div>


                    </div>


                </div>
            </div>
        </div>
    </section>


    {% if travel.thumbnail %}
        <p style="text-align:center">
            <img src="{{ travel.thumbnail.url }}" height="250" alt="{{ travel.label }}"/>
        </p>
    {% endif %}



{% endblock %}
