{% extends "voyages/base.html" %}
{% load i18n %}

{% block content-left %}

<h3>
  {% ifequal action "add" %}{% trans "Creation of a new travel" %}
  {% else %}{% trans "Edit travel" %} "{{ travel.label }}"
  {% endifequal %}
</h3>

<form action="." method="post" enctype="multipart/form-data">
    <table class="form">
        {{ form }}
    </table>
{% if travel.thumbnail %}
  <p><a href="{% url ain7.voyages.views.thumbnail_delete travel.id %}" class="deletelink">{% trans "Delete the thumbnail of this travel." %}</a></p>
{% endif %}
<div style="text-align: center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

{% endblock %}


{% block actions %}
{% if travel %}
<li><a href="{% url ain7.voyages.views.join travel.id %}">
    {% trans "Participate to this travel" %}</a></li>
<li><a href="{% url ain7.voyages.views.participants travel.id %}">
    {% trans "List participants" %}</a></li>
<li><a href="{% url ain7.voyages.views.edit travel.id %}">
    {% trans "Modify these data" %}</a></li>
<li><a href="{% url ain7.voyages.views.responsibles travel.id %}">
    {% trans "Modify the responsibles" %}</a></li>
<li><a href="{% url ain7.voyages.views.delete travel.id %}">
    {% trans "Delete this travel" %}</a></li>
{% else %}
<li><a href="{% url ain7.voyages.views.add %}">{% trans "Add a travel" %}</a></li>
<li><a href="{% url ain7.voyages.views.search %}">{% trans "Search a travel" %}</a></li>
{% endif %}
{% endblock %}

{% block navigation %}
      <h3>{% trans "Navigation"%}</h3>
      <div class="right_articles">
        <ul>
          <li><a href="{% url ain7.voyages.views.all %}">{% trans "List all Travels" %}</a></li>
        </ul>
      </div>
{% endblock navigation %}
