{% extends "voyages/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<div class="row">
<div class="col-lg-8 col-lg-offset-2">

{% if travel %}
<h2>{{ travel.label }}</h2>
{% else %}
<h2>{% trans "Add new travel" %}</h2>
{% endif %}

<form action="." method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<div class="control-group">
<div class="controls">
<div class="col-lg-offset-4">
<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {% trans "Save" %}</button>
{% if travel %}
<a class="btn btn-default" href="{% url "travel-details" travel.id %}"><i class="fa fa-times"></i> {% trans "Cancel" %}</a>
{% else %}
<a class="btn btn-default" href="{% url "travels-index" %}"><i class="fa fa-times"></i> {% trans "Cancel" %}</a>
{% endif %}
</div>
</div>
</div>
</form>

</div>
</div>

{% endblock %}
