{% extends "voyages/base.html" %}
{% load i18n %}
{% load endless %}
{% load crispy_forms_tags %}

{% block content-left %}

<div class="row">
<div class="col-lg-8">

<ul class="list-inline">
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a class="btn btn-primary" href="{% url "text-edit" text.id %}"><i class="fa fa-pencil fa-lg"></i> {% trans "Edit" %}</a></li>
<li><a class="btn btn-primary" href="{% url "travel-add" %}"><i class="fa fa-plus fa-lg"></i> {% trans "Add travel" %}</a></li>
{% endif %}
</ul>

<h2>{{ text.title }}</h2>

{{ text.body|safe }}

</div>

<div class="col-lg-4">

<form action="." method="get">
{{ travels.form|crispy }}
<div class="control-group">
<div class="controls">
<div class="col-lg-offset-4">
<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> {% trans "Search" %}</button>
</div>
</div>
</div>
</form>

{% paginate travels %}


<p class="text-center">{% show_pages %}</p> 

<ul>
    {% for travel in travels %}
        <li><a href="{% url "ain7.voyages.views.details" travel.id %}">{{ travel.label|escape }}</a>
            - {{ travel.date|escape }}</li>
    {% endfor %}
</ul>

<p class="text-center">{% show_pages %}</p> 

</div>
</div>

{% endblock %}
