{% extends "voyages/base.html" %}
{% load i18n %}

{% block content-left %}
  <h3>{{ travel.label|escape }}, {{ travel.date|escape }}</h3>

  <form method="post" action=".">
    <table>
      {{ form }}
    </table>
    <div style="text-align: center">
      <a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
      <input type="submit" class="button" value="{% trans "Save" %}" />
    </div>
  </form>
{% endblock %}


{% block actions %}
<li><a href="{% url ain7.voyages.views.join travel.id %}">
    {% trans "Participate to this travel" %}</a></li>
<li><a href="{% url ain7.voyages.views.participants travel.id %}">
    {% trans "List participants" %}</a></li>
<li><a href="{% url ain7.voyages.views.edit travel.id %}">
    {% trans "Modify these data" %}</a></li>
<li><a href="{% url ain7.voyages.views.responsibles travel.id %}">
    {% trans "Modify the responsibles" %}</a></li>
<li><a href="{% url ain7.voyages.views.delete travel.id %}">
    {% trans "Delete this travel" %}</a></li>
{% endblock %}
