{% extends "voyages/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

    <h3>{% trans "List of travels" %}</h3>
    <div class="left_box">

      {% if travels %}
        <table>
        {% for travel in travels %}
          <tr>
            {% if travel.thumbnail %}
              <td style="text-align: center"><a href="{% url ain7.voyages.views.details travel.id %}">
              <img src="{{ travel.thumbnail.url }}" height="100" alt="{{ travel.label }}"/></a></td>
            {% else %}
	      <td>&nbsp;</td>
            {% endif %}
            <td style="text-align: left"><a href="{% url ain7.voyages.views.details travel.id %}">
            {{ travel.label }}</a> 
           {% if travel.start_date and travel.end_date %}
           ({{ travel.start_date }}-{{ travel.end_date }})
           {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      {% else %}
        <p>{% trans "No travel." %}</p>
      {% endif %}
    </div>	

{% endblock %}


{% block actions %}
<li><a href="{% url ain7.voyages.views.edit %}">{% trans "Add a travel" %}</a></li>
<li><a href="{% url ain7.voyages.views.search %}">{% trans "Search a travel" %}</a></li>
{% endblock %}

{% block navigation %}
    <h3>{% trans "Navigation" %}</h3>
    <div class="right_articles">
      <ul>
        <li><a href="{% url ain7.voyages.views.index %}">{% trans "Travels main page" %}</a></li>
      </ul>
    </div>  
{% endblock %}
