{% extends "voyages/base.html" %}
{% load i18n %}

{% block content-left %}

  <h2>{{ travel.label|escape }} - {{ travel.date|escape }}</h2>

{% if travel.subscriptions.all %}
    {% for subscription in travel.subscriptions.all %}
      <ul>
        <li class="person">
          <a href="{% url "ain7.annuaire.views.details subscription.subscriber.user.id" %}">
          {{ subscription.subscriber|escape }}</a> :
        {{ subscription.subscriber_number }} 
        {% trans "person" %}{{ subscription.subscriber_number|pluralize }}
        (<a href="{% url "ain7.voyages.views.unsubscribe" travel.id subscription.subscriber.user.id %}" class="deletelink">
          {% trans "Unsubscribe" %}</a>)</li>
      </ul>
    {% endfor %}
{% else %}
  <p>{% trans "No one is subscribed to this travel" %}.</p>
{% endif %}
{% endblock %} {# content-left #}


{% block actions %}
<li><a href="{% url "ain7.voyages.views.subscribe" travel.id %}">{% trans "Subscribe someone to this travel" %}</a></li>
{% endblock %}


{% block navigation %}
  <li class="nav-header">{% trans "Navigation" %}</li>
  <li><a href="{% url "ain7.voyages.views.details" travel.id %}">{% trans "Back to the page of this travel" %}</a></li>
{% endblock %}
