{% extends "voyages/base.html" %}
{% load i18n %}

{% block content-left %}

  <h2>{{ travel.label|escape }} - {{ travel.date|escape }} :
      {% trans "responsibles" %}</h2>

{% if travel.travel_responsibles.all %}
  <ul>
    {% for responsible in travel.travel_responsibles.all %}
      <li>
        <a href="{% url "ain7.annuaire.views.details" responsible.responsible.user.id %}">{{ responsible.responsible }}</a>
        (<a href="{% url "ain7.voyages.views.responsibles_delete" travel.id responsible.responsible.user.id %}" class="deletelink">{% trans "Delete" %}</a>)
</li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% trans "No one is responsible of this travel" %}.</p>
{% endif %}

{% endblock %} {# content-left #}

{% block actions %}
<li><a href="{% url "ain7.voyages.views.responsibles_add" travel.id %}">{% trans "Add a responsible" %}</a></li>
{% endblock %}


{% block navigation %}
  <li class="nav-header">{% trans "Navigation" %}</li>
  <li><a href="{% url "ain7.voyages.views.details" travel.id %}">{% trans "Back to the page of this travel" %}</a></li>
{% endblock %}
