{% extends "voyages/base.html" %}
{% load i18n %}
{% load endless %}
{% load crispy_forms_tags %}

{% block content-left %}

<form action="." method="get">
{{ travels.form|crispy }}
<div class="control-group">
<div class="controls">
<input class="btn btn-primary" type="submit" value="{% trans "Search" %}" />
</div>
</div>
</form>

{% paginate travels %}

<p class="text-center">{% show_pages %}</p> 

<ul>
    {% for travel in travels %}
        <li><a href="{% url "ain7.voyages.views.details" travel.id %}">{{ travel.label|escape }}</a>
            - {{ travel.date|escape }}</li>
    {% endfor %}
</ul>

<p class="text-center">{% show_pages %}</p> 

{% endblock %}
