{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>AIn7</title>
<link rel="stylesheet" href="/site_media/skins/default/css/style.css" type="text/css" />
</head>
<body>

    <div id="login-content">
    <h2>Oooooops</h2>

    <p>An error happened! Please retry later, if the error persists, please contact the administrator.<br/>
    <a href="{% url ain7.pages.views.homepage %}">Back to home page</a><br/>
    </p>
    </div>

        <div id="footer">
            <p> &copy; Copyright 2009 <a href="/apropos/">AIn7</a> {{ portal_version }}</p>
        </div>
</body>
</html>



