<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/site_media/skins/default/images/style.css" type="text/css" />
	<title>AIn7 : association des ingénieurs IET - ENSEEIHT</title>
</head>
<body>
	<div class="content">
		<div class="header">
			<div class="top_info">
				<div class="top_info_right">
{% if user.is_authenticated %}
Connecté en tant que {{ user.first_name }} {{ user.last_name }} 
<form method="post" action="/logout/">
<input type="submit" value="Déconnexion" />
</form>
{% else %}
<form method="post" action="/login/">
<table>
<tr><td>Identifiant :</td><td><input type="text" id="id_username" name="username" maxlength="50" /></td></tr>
<tr><td>Mot de passe :</td><td><input type="password" id="id_password" name="password" maxlength="50" /></td></tr>
</table>
<input type="submit" value="Connexion" />
</form>
{% endif %}
				</div>		
			</div>
			<div class="logo">
				<h1><a href="/" title="Portail web AIn7"><span class="dark">AIn7</span>.com</a></h1>
			</div>
		</div>
		
                <p>&nbsp;</p>

		<div class="bar">
			<ul>
			  {% block barre %}
                          {% endblock %}
			</ul>
		</div>
		<!-- Desactive pour la maquette
		<div class="search_field">
			<form method="post" action="?">
				<div class="search_form">
				<p><input type="text" name="search" class="search" /> <input type="submit" value="Rechercher" class="submit" /> <a class="grey" href="#">Advanced</a></p>
				</div>
			</form>
			
			<p>Please <a href="#">Sign in</a> or <a href="#">Register</a></p>
		</div>
		-->
                 <p>&nbsp;</p>

        {% block content %}{{ content }}{% endblock %}
		
		<div class="footer">
			<p><a href="#">RSS Feed</a> | <a href="/contact/">Contact</a> | <a href="/apropos/">A propos</a> | <a href="#">Products</a> | <a href="#">Disclaimer</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br />
			&copy; Copyright 2007 AIn7, Design: Luka Cvrk - <a href="http://www.solucija.com/" title="What's your solution?">Solucija</a></p>
		</div>
	</div>
</body>
</html>
