{% extends "base.html" %}
{% load i18n %}

{% block navbar_association %}class="active"{% endblock %}

{% block content %}

    <!--Banner Wrap Start-->
    <div class="kf_inr_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--KF INR BANNER DES Wrap Start-->
                    <div class="kf_inr_ban_des">
                        <div class="inr_banner_heading">
                            <h3>Contact US</h3>
                        </div>

                        <div class="kf_inr_breadcrumb">
                            {% block breadcrumb %}

                            {% endblock %}

                        </div>
                    </div>
                    <!--KF INR BANNER DES Wrap End-->
                </div>
            </div>
        </div>
    </div>

    <!--Banner Wrap End-->
    <div class="kf_content_wrap">
        {% block content-left %}
        {% endblock %}
    </div>

{% endblock %}
