{% extends "base.html" %}
{% load i18n %}

{% block barre-association %}<li class="active">{% endblock %}

{% block content %}

<div class="span-17 colborder">



{% block content-left %}
{% endblock %}

</div>

<div class="span-6 last">
    <h2>{% trans "Links" %}</h2>
   <div class="grey-box">
    <ul>
      <li><a href="{% url ain7.association.views.index %}">
          {% trans "Overview" %}</a></li>
      <li><a href="{% url ain7.association.views.status %}">
          {% trans "Status" %}</a></li>
      <li><a href="{% url ain7.association.views.internalrules %}">
          {% trans "Internal rules" %}</a></li>
      <li><a href="{% url ain7.association.views.council %}">
          {% trans "Council" %}</a></li>
      <li><a href="{% url ain7.association.views.contact %}">
          {% trans "Contact" %}</a></li>
      <li><a href="{% url ain7.association.views.activites %}">
          {% trans "Activities" %}</a></li>
    </ul>
   </div>

   {% block actions %}
   {% endblock %}

    <h2>{% trans "Statistics" %}</h2>
   <div class="grey-box">
    <ul>
      <li>{% trans "Number of members" %}: {{ count_members }}</li>
    </ul>
   </div>
</div>
</div>
{% endblock %}
