{% extends "association/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content-left %}

{% if superadmin or ca_member or secretariat_member or contributeur %}
<p><a class="btn btn-primary" href="{% url "text-edit" text.id %}"><i class="fa fa-pencil fa-lg"></i> {% trans "Edit" %}</a></p>
{% endif %}

<h2>{{ text.title }}</h2>

{{ text.body|safe }}

{% if form %}
<form method="post" action="." class="form-horizontal">
{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {% trans "Send" %}</button>
</form>
{% endif %}

{% endblock %}

{% block tinymce %}
{% endblock %}
