{% extends "association/base.html" %}
{% load i18n %}

{% block content-left %}

<form method="post" action="." enctype="multipart/form-data">
<table>
{{ form }}
</table>
<div style="text-align: center">
<a class="btn disabled" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
</div>
</form>

{% endblock %}


{% block actions %}
   {% if superadmin or secretariat_member %}
   <li class="nav-header">{% trans "Actions" %}</li>
   <li><a href="{% url ain7.association.views.council %}">{% trans "Change council roles" %}</a></li>
   {% endif %}
{% endblock %}
