{% extends "association/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<ul>
{% for r in  group.get_group_head %}
      <li>
        {{ r.title }}: <a href="{% url ain7.annuaire.views.details r.person.user.id %}">
          {{ r.person }}</a>
        {% if superadmin or secretariat_member %}
        <a href="{% url ain7.association.views.edit_council_role r.id %}" class="changelink">
{% trans "Modify" %}</a>
           <a href="{% url ain7.association.views.delete_council_role r.id %}" class="deletelink">
           {% trans "Delete" %}</a>
        {% endif%}
      </li>
{% endfor %}
</ul>

<p><a href="{% url ain7.association.views.edit_council_role %}" class="addlink">
   {% trans "Add" %}</a></p>

{% endblock %}


{% block actions %}
   {% if superadmin or secretariat_member %}
   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="{% url ain7.association.views.council %}">{% trans "Change council roles" %}</a></li>
    </ul>
   </div>
   {% endif %}
{% endblock %}
