{% extends "base.html" %}
{% load i18n %}

{% block barre-evenements %}<li class="active">{% endblock %}

{% block content %}

<div class="span-17 colborder">
    {% block content-main %}{% endblock%}
</div>

<div class="span-6 last">

  {% block actions %}{% endblock %}

  {% if event %}
  <div class="grey-box">
  <h2>{% trans "Navigation" %}</h2>
    <ul>
      <li>
        <a href="{% url ain7.news.views.event_details event.id %}">{% trans "Event page" %}</a>
      </li>
    </ul>
  </div>
  {% endif %}{# event #}

  {% block statistics %}
    <div class="grey-box">
    <h2>{% trans "Statistics" %}</h2>

      <ul>
        <li>
          {% if event_list %}
            {% blocktrans count event_list|length as nbevents %}
              One event is registered
            {% plural %}
              {{ nbevents }} events are registered
            {% endblocktrans %}
          {% else %} 
            {% trans "No registered event" %}
          {% endif %}
        </li>
        <li>
          {% if next_events %}
            {% blocktrans count next_events|length as nbevents %}
              One future event planned
            {% plural %}
              {{ nbevents }} events are coming
            {% endblocktrans %}
          {% else %} 
            {% trans "No future events planned" %}
          {% endif %}
        </li>
      </ul>
    </div>
  {% endblock %}

  {% block additional-right-blocks %}{% endblock %}

</div>

{% endblock %}
