{% extends "evenements/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-main %}

	<h2>{{ event.title }}</h2>

	<table border="0" width="100%">
        <tr><td>
	<ul>
        <li>{% trans "Date" %}: {{ event.date|date:"d/m/Y H:i" }}</li>
        {% if event.contant_email %}
        <li>{% trans "Contact" %}: <a href="mailto:{{ event.contact_email }}">{% trans "Contact organizer" %}</a></li>
        {% endif %}
        <li>{% trans "Location" %}: {{ event.location }}</li>
        {% if event.link %}
             <li>{% trans "Link" %}: <a href="{{ event.link }}">{{ event.link }}</a></li>
        {% endif %}
        {% if event.status and ca_member %}
        <li>{% trans "Status" %}: {{ event.get_status_display }}</li>
        {% endif %}
	</ul>
        </td><td>
        {% if event.image %}
            <img src="{{ event.image.url }}" height="100" alt="{% trans "image" %}"/>
        {% endif %}
        </td></tr>
        <tr><td colspan="2">
        {% if event.organizers.all %}
        {% trans "Organizers" %}:
        <ul>
        {% for person in event.organizers.all %}
            <li><a href="{% url ain7.annuaire.views.details person.id %}">{{ person }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        </td></tr>
        </table>

	{% if event.body %}
		{{ event.body|safe }}
	{% endif %}
{% endblock %}

{% block actions %}
	<h3>{% trans "Actions" %}</h3>
	<div class="right_block">
		<ul>
			<li><a href="{% url ain7.news.views.event_contact event.id %}">{% trans "Contact the event responsible" %}</a></li>
                        {% if superadmin or ca_member or secretariat_member or contributeur %}
			<li><a href="{% url ain7.news.views.event_edit event.id %}">{% trans "Edit this event" %}</a></li>
                        {% endif %}
		</ul>
        </div>
{% endblock %}

{% ifnotequal nbparticipants 0 %}
{% if superadmin or ca_member or secretariat_member or contributeur %}
{% block statistics %}
	<h3>{% trans "Statistics" %}</h3>
	<div class="right_block">
            {{ nbparticipants }} {% trans "persons subscribed to this event" %}
        </div>
{% endblock %}
{% endif %}
{% endifnotequal %}

{% block additional-right-blocks %}
    <h3>{% trans "Card Informations"%}</h3>
   {% show_last_change event %}
{% endblock %}
