{% extends "evenements/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-main %}

	<h2>{{ event.title }}</h2>

        {% if request.user.is_authenticated and rsvp_display %}
        <p>
        {% if rsvp %}
            {% trans "You have already answered" %} "{{ rsvp.answer }}" {% trans "to attendind this event" %}.<br/>
            {% trans "You can change your answer:" %}
        {% else %}
            {% trans "Do you plan to attend?" %}
        {% endif %}
        <a href="{% url ain7.news.views.event_attend_yes event.id %}">{% trans "Yes" %}</a>
        <a href="{% url ain7.news.views.event_attend_no event.id %}">{% trans "No" %}</a>
        <a href="{% url ain7.news.views.event_attend_maybe event.id %}">{% trans "Maybe" %}</a>
        </p>
        {%  endif %}

	<table border="0" width="100%">
        <tr><td>
	<ul>
        <li>{% trans "Date" %}: {{ event.date|date:"l d F Y H:i" }}</li>
        {% if event.contant_email %}
        <li>{% trans "Contact" %}: <a href="mailto:{{ event.contact_email }}">{% trans "Contact organizer" %}</a></li>
        {% endif %}
        <li>{% trans "Location" %}: {{ event.location }}</li>
        {% if event.link %}
             <li><a href="{{ event.link }}">{{ event.link }}</a></li>
        {% endif %}
        {% if event.status and ca_member %}
        <li>{% trans "Status" %}: {{ event.get_status_display }}</li>
        {% endif %}
	</ul>
        </td><td>
        {% if event.image %}
            <img src="{{ event.image.url }}" height="100" alt="{% trans "image" %}"/>
        {% endif %}
        </td></tr>
        <tr><td colspan="2">
        {% if event.organizers.all %}
        {% trans "Organizers" %}:
        <ul>
        {% for person in event.organizers.all %}
            <li><a href="{% url ain7.annuaire.views.details person.id %}">{{ person }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        </td></tr>
        </table>

	{% if event.body %}
		{{ event.body|safe }}
	{% endif %}

<br/><br /><br />
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_linkedin"></a>
<a class="addthis_button_viadeo"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_google_plusone"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true,"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dc7154b4ea96654"></script>
<!-- AddThis Button END -->

{% endblock %}

{% block actions %}
	<div class="grey-box">
	<h2>{% trans "Actions" %}</h2>
		<ul>
			<li><a href="{% url ain7.news.views.event_contact event.id %}">{% trans "Contact the event responsible" %}</a></li>
                        {% if superadmin or ca_member or secretariat_member or contributeur %}
			<li><a href="{% url ain7.news.views.event_edit event.id %}">{% trans "Edit this event" %}</a></li>
                        <li><a href="{% url ain7.news.views.event_attendees event.id %}">{% trans "View attendees" %}</a></li>
                        {% endif %}
		</ul>
        </div>
{% endblock %}

{% block additional-right-blocks %}
    <h2>{% trans "Card Informations"%}</h2>
   {% show_last_change event %}
{% endblock %}
