{% extends "evenements/base.html" %}
{% load i18n %}


{% block content-main %}

<h4>
{% if event %}
{{ event.title }}
{% endif %}
</h4>

<form method="post" action="." enctype="multipart/form-data">
<table>
{{ form }}
{% for eventorg in event.event_organizers.all %}
  <tr>
    <th>{% if forloop.first %}{% trans "Organizers" %}{% endif %}</th>
    <td>{{ eventorg.organizer }}&nbsp;
        ({% if eventorg.send_email_for_new_subscriptions %}{% trans "email sent when subscription" %}{% else %}{% trans "no email sent when subscription" %}{% endif %}&nbsp;<a class="changelink" href="{% url ain7.news.event_views.swap_email_notif event.id eventorg.organizer.id %}">{% trans "change" %}</a>)&nbsp;
        <a href="{% url ain7.news.views.event_organizer_delete event.id eventorg.organizer.id %}" class="deletelink">
      {% trans "Delete" %}</a></td>
  </tr>
{% endfor %} 
  {% if event %}
  <tr>
    <th>{% if event.organizers.all|length_is:"0" %}
          {% trans "Organizers" %}{% endif %}</th>
    <td><a href="{% url ain7.news.views.event_organizer_add event.id %}" class="addlink">
      {% trans "Add an organizer" %}</a>
    </td>
  </tr>
  {% endif %}
</table>
  {% if event.image %}
    <a href="{% url ain7.news.views.event_image_delete event.id %}" class="deletelink">
      {% trans "Delete the image of this event." %}</a><br />
  {% endif %}
<div style="text-align: center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>
{% endblock %}

{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url ain7.news.views.event_edit %}">{% trans "Register an event" %}</a></li>
{% endif %}
<li><a href="{% url ain7.news.views.event_search %}">{% trans "Search an event" %}</a></li>
<li><a href="{% url ain7.news.views.ical %}">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}
