{% extends "evenements/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-main %}

{% if event %}
<h4>{{ event.title }}</h4>
{% endif %}

<form method="post" action="." enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form|crispy }}
{% for eventorg in event.event_organizers.all %}
  <tr>
    <th>{% if forloop.first %}{% trans "Organizers" %}{% endif %}</th>
    <td>{{ eventorg.organizer }}&nbsp;
        ({% if eventorg.send_email_for_new_subscriptions %}{% trans "email sent when subscription" %}{% else %}{% trans "no email sent when subscription" %}{% endif %}&nbsp;<a class="changelink" href="{% url "ain7.news.views.event_swap_email_notif" event.id eventorg.organizer.id %}">{% trans "change" %}</a>)&nbsp;
        <a href="{% url "ain7.news.views.event_organizer_delete" event.id eventorg.organizer.id %}" class="deletelink">
      {% trans "Delete" %}</a></td>
  </tr>
{% endfor %} 
  {% if event %}
  <tr>
    <th>{% if event.organizers.all|length_is:"0" %}
          {% trans "Organizers" %}{% endif %}</th>
    <td><a href="{% url "ain7.news.views.event_organizer_add" event.id %}" class="addlink">
      {% trans "Add an organizer" %}</a>
    </td>
  </tr>
  {% endif %}
</table>
  {% if event.image %}
    <a href="{% url "ain7.news.views.event_image_delete" event.id %}" class="deletelink">
      {% trans "Delete the image of this event." %}</a><br />
  {% endif %}
<div class="control-group">
<div class="controls">
<input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
<a href="{{ back }}">{% trans "Cancel" %}</a>
</div>
</div>
</form>
{% endblock %}
