{% extends "evenements/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-main %}

<div class="left_box">

{% if events %}
{% for event in events %}

 <h2><a href="{% url ain7.news.views.event_details event.id %}">{{ event.title }}</a></h2>

  {% if event.image %}

  <img src="{{ event.image.url }}" alt="{{ event.title }}" title="{{ event.title }}" class="image-article" />
  {% endif %}
  <ul>
      <li>{% trans "Date" %}: <b>{{ event.date|date:"d/m/Y H:i" }}</b></li>
      <li>{% trans "Location" %}: <b>{{ event.location }}</b></li>
  </ul>

  <div class="news-description">
    {{ event.body|safe }}
  </div>


    <br /><i><span class="grey">{% trans "Published on" %} {{ event.last_change_at|date:"l j F Y" }}</span></i>
    {% if event.last_change_by %}{% trans "by" %}
    <a href="{% url ain7.annuaire.views.details event.last_change_by.id %}">{{ event.last_change_by }}</a>
    {% endif %}

    <hr />

{% endfor %}



{% else %}
	<p>{% trans "No planned event." %}</p>
{% endif %}

</div>

{% endblock %}

{% block actions %}
<div class="grey-box">
<h2>{% trans "Actions" %}</h2>
<ul>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url ain7.news.views.event_add %}">{% trans "Add an event" %}</a></li>
{% endif %}
<li><a href="{% url ain7.news.views.event_search %}">{% trans "Search an event" %}</a></li>
<li><a href="{% url ain7.news.views.ical %}">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}

