{% extends "evenements/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-main %}

<div class="left_box">

{% if events %}
{% for event in events %}

 <h2><a href="{% url ain7.news.views.event_details event.id %}">{{ event.title }}</a></h2>

  <ul>
      <li><strong>{% trans "Date" %}&nbsp;: {{ event.date|date:"l j F H:i" }}</strong></li>
      <li>{% trans "Location" %}: <b>{{ event.location }}</b></li>
  </ul>

  <div class="news-description">

  {% if event.image %}
  <img src="{{ event.image.url }}" alt="{{ event.title }}" title="{{ event.title }}" class="image-article" />
  {% endif %}

    {{ event.body|safe }}
  </div>

  <hr />

{% endfor %}



{% else %}
	<p>{% trans "No planned event." %}</p>
{% endif %}

</div>

{% endblock %}

{% block actions %}
<div class="grey-box">
<h2>{% trans "Actions" %}</h2>
<ul>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url ain7.news.views.event_edit %}">{% trans "Add an event" %}</a></li>
{% endif %}
<li><a href="{% url ain7.news.views.event_search %}">{% trans "Search an event" %}</a></li>
<li><a href="{% url ain7.news.views.ical %}">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}

