{% extends "evenements/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-main %}

<div class="left_box">

{% if events %}
{% for event in events %}
<div class="right_articles">
  <div class="news-header">
    <div class="news-title">
      <a href="{% url ain7.news.views.event_details event.id %}">{{ event.title }}</a>
    </div>
    <div class="news-date">
      {% trans "Published on" %} {{ event.last_change_at|date:"l j F Y" }} 
      {% if event.last_change_by %}{% trans "by" %}
      <a href="{% url ain7.annuaire.views.details event.last_change_by.id %}">{{ event.last_change_by }}</a>
      {% endif %}
    </div>
  </div>
  {% if event.image %}
  <img src="{{ event.image.url }}" alt="{{ event.title }}" title="{{ event.title }}" class="image" />
  {% endif %}
  <ul>
  <li>{% trans "Date" %}: {{ event.date|date:"d/m/Y H:i" }}</li>
  <li>{% trans "Location" %}: {{ event.location }}</li>
  </ul>
  <div class="news-description">
    {{ event.body|safe }}
  </div>
</div>

{% endfor %}
{% else %}
	<p>{% trans "No planned event." %}</p>
{% endif %}

</div>

{% endblock %}

{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url ain7.news.views.event_add %}">{% trans "Add an event" %}</a></li>
{% endif %}
<li><a href="{% url ain7.news.views.event_search %}">{% trans "Search an event" %}</a></li>
<li><a href="{% url ain7.news.views.ical %}">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}

