{% extends "evenements/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-main %}
<h3>{{ event.name }}</h3>

{% if event.subscriptions.all %}
<ul>
  {% for subscription in event.subscriptions.all %}
    <li>
      <a href="/annuaire/{{ subscription.subscriber.user.id }}/">
        {{ subscription.subscriber }}</a>: 
      {% blocktrans count subscription.subscriber_number as nbsub %}
         1 person
      {% plural %}
         {{ nbsub }} people
      {% endblocktrans %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>{% trans "No one is subscribed to this event" %}</p>
{% endif %}
{% endblock %}

{% block statistics %}
<h3>{% trans "Statistics" %}</h3>
  <div class="right_block">
    <ul>
      <li>
        {% ifequal nbparticipants 0 %}
          {% trans "No one is subscribed to this event" %}
        {% else %}
          {% ifequal nbparticipants 1 %}
            {% trans "One person subscribed to this event" %}
          {% else %}
            {{ nbparticipants }} {% trans "persons subscribed to this event" %}
          {% endifequal %}
        {% endifequal %}
      </li>
    </ul>
  </div>
{% endblock %}
