{% extends "evenements/base.html" %}
{% load i18n %}


{% block content-main %}

<h4>
{% if event %}
{{ event.title }}
{% endif %}
</h4>

<form method="post" action="." enctype="multipart/form-data">
<table>
{{ form }}
</table>
<div style="text-align: center">
<a class="btn disabled" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
</div>
</form>
{% endblock %}

{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url ain7.news.views.event_edit %}">{% trans "Register an event" %}</a></li>
{% endif %}
<li><a href="{% url ain7.news.views.event_search %}">{% trans "Search an event" %}</a></li>
<li><a href="{% url ain7.news.views.ical %}">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}
