{% extends "evenements/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-main %}

<h4>
{% if event %}
{{ event.title }}
{% endif %}
</h4>

<form method="post" action="." enctype="multipart/form-data" class="form-horizontal">
{{ form|crispy }}
<div class="form-group">                                                        
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
<a href="{% url 'annuaire-edit' user.id %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}

{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url "event-edit" %}">{% trans "Register an event" %}</a></li>
{% endif %}
<li><a href="{% url "event-search" %}">{% trans "Search an event" %}</a></li>
<li><a href="{% url "events-ical" %}">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}
