{% extends "evenements/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content-left %}

<div class="left_box">

<h2>{% trans "Event Search" %}</h2>

<form action="." method="get">
<table style="border: 0; text-align: left;">
   {{ form|crispy }}
</table>
<div style="text-align: center">
<input type="submit" class="btn btn-primary" value="{% trans "Search" %}" />
</form>
</div>
<br/>

<h2>{% trans "Research result" %}</h2>

{% paginate list_events %}

<p class="text-center">{% show_pages %}</p> 
<ul>
    {% for event in list_events %}
        <li><a href="{% url "event-details" event.id %}">{{ event.title }}</a> ({{ event.date|date:"d F Y H:i" }} - {{ event.location }})</li>
    {% endfor %}
</ul>
<p class="text-center">{% show_pages %}</p> 
</div>

{% endblock %}
