{% extends "evenements/base.html" %}
{% load i18n %}

{% block javascript %}
{% endblock %}
{% block stylesheet %}
{% endblock %}

{% block content-main %}

<div class="left_box">

<h3>{% trans "Event Search" %}</h3>

<form action="." method="post">
<table style="border: 0; text-align: left;">
   {{ form }}
</table>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans "Search" %}" />
</form>
</div>
<br/>
{% ifequal request.method 'POST' %}
<h3>{% trans "Research result" %}</h3>
{% if list_events %}
<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="{% url ain7.evenements.views.search %}?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="{% url ain7.evenements.views.search %}?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="{% url ain7.evenements.views.search %}?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="{% url ain7.evenements.views.search %}?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<ul>
    {% for event in list_events %}
        <li><a href="{% url ain7.evenements.views.details event.id %}">{{ event.name }}</a> ({{ event.date|date:"d/m/Y H:i" }} - {{ event.location }})</li>
    {% endfor %}
</ul>
{% else %}
    <p>{% trans "No event correspond to your research" %}</p>
{% endif %}
{% endifequal %}
</div>
{% endblock %}

{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="{% url ain7.evenements.views.add %}">{% trans "Register an event" %}</a></li>
{% endif %}
<li><a href="{% url ain7.evenements.views.search %}">{% trans "Search an event" %}</a></li>
<li><a href="{% url ain7.evenements.views.ical %}">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}
