{% extends "evenements/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-main %}

<h2>{{ event.title }}</h2>

<form method="post" action=".">
{% csrf_token %}
{{ form|crispy }}
{% trans "This number of people includes the person you subscribe." %}
<div class="form-group">                                                        
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
<a href="{% url 'annuaire-edit' user.id %}">{% trans "Cancel" %}</a>
</div>
</form>

{% endblock %}
