{% extends "base.html" %}
{% load i18n %}

{% block barre-emploi %}<li class="active">{% endblock %}


{% block content %}


<div class="span-17 colborder">

{% block content-left %}{% endblock %}
</div>

<div class="span-6 last">

{% block actions %}{% endblock %}

{% block menu-organisation %}
<div class="grey-box">
<h2>{% trans "Actions" %}</h2>
<ul>
{% if organization %}
<li><a href="{% url ain7.organizations.views.organization_edit organization.id %}">{% trans "Modify" %}</a></li>
{% endif %}
<li><a href="{% url ain7.organizations.views.organization_edit %}">{% trans "Add an organization" %}</a></li>
</ul>
</div>
{% endblock %}

{% block show_last_change %}{% endblock %}
{% block statistics %}{% endblock %}

</div> <!-- right -->
</div> <!-- content-main -->

{% endblock %}
