{% extends "manage/base.html" %}

{% load i18n %}

{% block content-left %}

<div class="left_box">

<h2>{% trans "Offices merging for company" %} {{ office.organization }}</h2>

<p>
{% blocktrans %}This procedure will replace all the references to the office <em>{{ office }}</em> by references of another office, and then remove <em>{{ office }}</em>.{% endblocktrans %}

<p>{% trans "Please choose this second office." %}</p>

<form action="." method="post">
<table border="0" align="center">
   {{ form }}
</table>
<div style="text-align: center">
<input type="submit" class="btn btn-primary" value="{% trans 'Continue' %}" />
</div>
</form>

</div>
{% endblock %}


{% block actions %}
<h2>{% trans "Actions" %}</h2>
<div class="grey-box">
<ul>
<li><a href="{% url ain7.organizations.views.office_edit office.organization.id %}">
{% trans "Register a new office" %}</a></li>
</ul>
</div>
{% endblock %}

{% block extra-menu %}
<h2>{% trans "Card Informations"%}</h2>
<div class="grey-box">
<ul>
  <li>{% trans "Update" %}&nbsp;: {{ organization.modification_date|date:"l j F Y" }}</li>
</ul>
</div>
{% endblock %}
