{% extends "emploi/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<h2>{{ title }}</h2>

{% if header_msg %}
    <p>{{ header_msg|safe }}</p>
{% endif %}

<form method="post" action="." class="form-horizontal">
{% csrf_token %}
{{ form|crispy }}
<div class="control-group">
<div class="controls">
<button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
<a href="{% url 'organization-details' organization.id %}">{% trans "Cancel" %}</a>
</div>
</div>
</form>

{% endblock %}
