{% extends "organizations/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<form method="post" action="." class="form-horizontal">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">                                                        
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
{% if organization %}
<a href="{% url 'organization-details' organization.id %}">{% trans "Cancel" %}</a>
{% else %}
<a href="{% url 'organization-index' %}">{% trans "Cancel" %}</a>
{% endif %}
</div>
</form>

{% endblock %}
