{% extends "manage/base.html" %}

{% load i18n %}

{% block content-left %}

<div class="left_box">

<h2>{% trans "Organizations merging" %}</h2>

<p>
{% blocktrans %}This procedure will replace all the references to the organization <em>{{ organization }}</em> by references of another organization, and then remove <em>{{ organization }}</em>.{% endblocktrans %}

<p>{% trans "Please choose this second organization." %}</p>

<form action="." method="post">
<table style="border: 0; text-align: left">
   {{ form }}
</table>
<div style="text-align: center">
<input type="submit" class="btn btn-primary" value="{% trans 'Confirm' %}" />
</div>
</form>

</div>
{% endblock %} {# content-left #}


{% block actions %}
<h2>{% trans "Actions" %}</h2>
<div class="grey-box">
<ul>
<li><a href="{% url "ain7.organizations.views.organization_edit" %}">{% trans "Register a new organization" %}</a></li>
<li><a href="{% url "ain7.organizations.views.organization_edit" organization.id %}">{% trans "Edit this organization" %}</a></li>
<li><a href="{% url "ain7.organizations.views.organization_delete" organization.id %}">{% trans "Delete this organization" %}</a></li>
</ul>
</div>
{% endblock %}{# actions #}

