{% extends "manage/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<h2>{% trans "Organizations merging" %}</h2>

<p>
{% blocktrans %}This procedure will replace all the references to the organization <em>{{ organization }}</em> by references of another organization, and then remove <em>{{ organization }}</em>.{% endblocktrans %}

<p>{% trans "Please choose this second organization." %}</p>

<form action="." method="post" class="form-horizontal">
{% csrf_token %}
{{ form }}
<div class="control-group">
<div class="controls">
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
<a href="{% url 'organizationè-details' organization.id %}">{% trans "Cancel" %}</a>
</div>
</div>
</form>

{% endblock %} {# content-left #}
