{% extends "organizations/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load endless %}

{% block content-left %}

<form action="." method="get">
{{ organizations.form|crispy }}
<div class="control-group">
<div class="controls">
<input class="btn btn-primary" type="submit" value="{% trans "Search" %}" />
</div>
</div>
</form>

{% paginate organizations %}
<ul>
  {% for org in organizations %}
    <li>
      <a href="{% url "ain7.organizations.views.organization_details" org.id %}">
        {{ org.name }}
      </a>
    </li>
  {% endfor %}
</ul>
<p class="text-center">{% show_pages %}</p> 

{% endblock %} {# content-left #}
