{% extends "base.html" %}
{% load i18n %}

{% block navbar_directory %}class="active"{% endblock %}

{% block content %}

    <!--Banner Wrap Start-->
    <div class="kf_inr_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--KF INR BANNER DES Wrap Start-->
                    <div class="kf_inr_ban_des">
                        <div class="inr_banner_heading">
                            <h3>Annuaire</h3>
                        </div>

                        <div class="kf_inr_breadcrumb">
                            <ul>
                                <li><a href="{% url "homepage" %}">Accueil</a></li>
                                <li><a href="{% url "annuaire-search" %}">Annuaire</a></li>
                                {% block breadcrumb %}{% endblock %}
                            </ul>
                        </div>
                    </div>
                    <!--KF INR BANNER DES Wrap End-->
                </div>

            </div>
        </div>
    </div>

    <!--Banner Wrap End-->

    {% block content-left %}{% endblock %}

{% endblock %}
