{% extends "annuaire/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div class="span-17 colborder">



{% if info %}
    <p>{{ info }}</p>
{% endif %}

{% if form %}
        <form method="post" action=".">
                <table cellpadding="0" cellspacing="0" id="login-form">
                <tbody id="login-form-body">
                <tr><td colspan="2" style="height: 10px">{% trans "Enter your new password twice." %}</td></tr>
                {{ form }}
                <tr><td colspan="2" style="height: 10px"></td></tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <input type="submit" class="button" value="{% trans "Save" %}" />
                    </td>
                </tr>
                        </tbody>
                </table>
        </form>

{% else %}
    <p>{% trans "Password updated, try to" %} <a href="/accounts/login/?next=/">{% trans "log in" %}</a></p>

{% endif %}

</div>

</div>


{% endblock %}

