{% extends "annuaire/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<h1>{{ person.first_name }} {{ person.last_name }}
{% if superadmin or ca_member or secretariat_member or is_myself %}
<a href="/annuaire/{{ person.user.id }}/edit/" class="changelink">&nbsp;</a>
{% endif %}
</h1>

{% if is_subscriber %}
<b>{% trans "Subscriber" %} {% now "Y" %} <img src="/site_media/images/star.png" alt="adherent" width="24" height="24" /></b>
{% endif %}

<h2>{% trans "Personal data" %}</h2>
<table border="0" width="100%">
<tr><td>
<ul>
   {% if person.maiden_name %}
   <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
       &nbsp;:</b> {{ person.maiden_name }}</li>
   {% endif %}
   {% if ain7member.nick_name %}
   <li><b>{% trans "Nick name" %}&nbsp;:</b> {{ ain7member.nick_name }}</li>
   {% endif %}
   <li><b>{% trans "Promos" %}&nbsp;:</b> {% for promo in ain7member.promos.all %}{{ promo }}{% if not forloop.last %} - {% endif %}{% endfor %}</li>
   {% if ain7member.education.all %}
   <li><b>{% filter capfirst %}{% trans "diplomas" %}{% endfilter %}&nbsp;:</b>
       {% for educ in ain7member.education.all %}{{ educ.diploma }}
           {% if educ.diploma and not forloop.last %} ; {% endif %}{% endfor %}</li>
   {% endif %}
   <li><b>{% trans "Birth date" %}&nbsp;:</b> {{ person.birth_date|date:"d/m/Y" }}</li>
   {% if person.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ person.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   {% if superadmin or ca_member or secretariat_member or is_myself %}
   {% if ain7member.marital_status or ain7member.children_count %}
   <li><img src="/site_media/images/private.png" alt="private" width="14" height="14" /><b>{% trans "Family situation" %}&nbsp;:</b>
       {% if ain7member.marital_status %}
           {{ ain7member.marital_status }}&nbsp;
       {% endif %}
       {% if ain7member.children_count %}
           {{ ain7member.children_count }}&nbsp;{% trans "children" %}
       {% endif %}
   </li>
   {% endif %}
   {% endif %}
   {% if ain7member.decorations.all %}
   <li><b>{% filter capfirst %}{% trans "decorations" %}{% endfilter %}
       &nbsp;:</b>
       {% for decoration in ain7member.decorations.all %}{{ decoration }}
           {% if not forloop.last %} - {% endif %}{% endfor %}</li>
   {% endif %}
   {% if ain7member.ceremonial_duties.all %}
   <li><b>{% filter capfirst %}{% trans "ceremonial duties" %}{% endfilter %}
       &nbsp;:</b>
       {% for duty in ain7member.ceremonial_duties.all %}{{ duty }}
           {% if not forloop.last %} - {% endif %}{% endfor %}</li>
   {% endif %}
</ul>
</td><td>
{% if ain7member.avatar %}
	<img src="{{ ain7member.avatar.url }}" height="100" alt="{% trans "avatar" %}"/>
{% endif %}
</td></tr>
{% for phone_number in person.phone_numbers.all %}
    {% if superadmin or ca_member or secretariat_member or is_myself or not phone_number.website_confidential %}
    	<tr><td>{% if phone_number.website_confidential %}<img src="/site_media/images/private.png" alt="private" width="14" height="14"/>{% endif %}<b>{{ phone_number.get_type_display }} :</b> {{ phone_number.number }}</td></tr>
    {% endif %}
{% endfor %}



{% for email in person.emails.all %}
	{% if superadmin or ca_member or secretariat_member or is_myself or not  email.website_confidential %}
	    <tr><td>{% if phone_number.website_confidential %}<img src="/site_media/images/private.png" alt="private" width="14" height="14"/>{% endif %}<img src="/site_media/images/mail.png" alt="{% trans "email" %}" width="24" height="24"/><a href="mailto:{{ email.email }}">{{ email.email }}</a></td></tr>
	{% endif %}
{% endfor %}

{% for im in person.instant_messagings.all %}
    <tr><td><img src="/site_media/images/{{ im.get_type_display|lower }}.png" alt="{% trans "Contact" %} {{im.get_im_display|lower }}" width="24" height="24"/> {{ im.identifier }}</td></tr>
{% endfor %}

{% for irc in person.ircs.all %}
    <tr valign="middle"><td><img src="/site_media/images/irc.png" alt="{% trans "irc" %}" width="24" height="24"/> {{ irc.pseudo }} @ {{ irc.network }} {% trans "on" %} {{ irc.channels }}</td></tr>
{% endfor %}

{% for web_site in person.web_sites.all %}
    <tr valign="middle"><td><img src="/site_media/images/{{ web_site.get_type_display|lower }}.png" alt="{% trans "web site" %}" width="24" height="24"/><a href="{{ web_site.url }}">{{ web_site.url }}</a></td></tr>
{% endfor %}

</table>

<table>
{% for address in person.addresses.all %}
	{% if superadmin or ca_member or secretariat_member or is_myself or not address.website_confidential %}
	    <tr><td>{% if address.website_confidential %}<img src="/site_media/images/private.png" alt="private" width="14" height="14"/>{% endif %}<b>{% trans "Address" %} {{ address.type|lower }} :</b> {{ address.line1 }} {{ address.line2|default_if_none:"" }} - {{address.zip_code }} {{ address.city }} - {{ address.country.name }}</td></tr>
	{% endif %}
{% endfor %}
</table>

{% if ain7member.group_memberships.all %}

<h2>{% trans "AIn7 activity" %}</h2>

<ul>
{% for membership in ain7member.group_memberships.all %}
        <li><a href="/groupes/{{ membership.group.name }}/">{{ membership.group.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if ain7member.display_cv_in_directory or superadmin or ca_member or is_myself or secretariat_member %}

<h2>{% if not ain7member.display_cv_in_directory %}<img src="/site_media/images/private.png" alt="private" width="14" height="14"/>{% endif %}
{% trans "Professional experiences" %}</h2>

{% if ain7member.positions.all %}
<table>
{% for position in ain7member.positions.all %}

        <tr>
          {% if not position.end_date %}
              <td>{% trans "since" %} <b>{{ position.start_date|date:"Y" }}</b>&nbsp;:</td>
          {% else %}
              <td><b>{{ position.start_date|date:"Y" }}-{{ position.end_date|date:"Y" }}</b>:</td>
          {% endif %}
            <td><em>{% if position.fonction %}{{ position.fonction }}{% endif %}</em>
                {{ position.office }}
                (<a href="/emploi/organization/{{ position.office.organization.id }}/">{{ position.office.organization }}</a>)</td></tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
{% endfor %}
</table>
{% endif %}
{% endif %}

{% if ain7member.club_memberships.all %}

<h2>{% trans "N7 associative activities" %}</h2>

<ul>
{% for club_membership in ain7member.club_memberships.all %}
    <li>
    {% if club_membership.club.web_site %}
        <a href="{{ club_membership.club.web_site }}">{{ club_membership.club.name }}</a>
    {% else %}
        {{ club_membership.club.name }}
    {% endif %}
    {% if club_membership.start_date and club_membership.end_date %}
    (<i>{{ club_membership.start_date|date:"Y" }} - {{ club_membership.end_date|date:"Y" }}</i>)
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if superadmin or secretariat_member %}
{% if person.notes %}
<h2><img src="/site_media/images/private.png" alt="private" width="14" height="14"/>{% trans "AIn7 Notes" %}</h2>
{{ person.notes|safe }}
{% endif %}
{% endif %}

{% endblock %}

{% block extra-actions %}
      {% if superadmin or ca_member or secretariat_member or is_myself %}
      <li><a href="{% url ain7.annuaire.views.edit person.user.id %}">{% trans "Modify these data" %}</a></li>
      <li><a href="{% url ain7.annuaire.views.change_credentials person.user.id %}">{% trans "Change credentials" %}</a></li>
      <li><a href="{% url ain7.adhesions.views.user_subscriptions person.user.id %}">{% trans "Subscriptions History" %}</a></li>
      {% endif %}
      {% if superadmin or secretariat_member %}
      <li><a href="{% url ain7.annuaire.views.send_new_credentials person.user.id %}">{% trans "Send new credentials" %}</a></li>
      {% endif %}
      <li><a href="vcard/">{% trans "Download contact as vCard" %}</a></li>
{% endblock %}


{% block extra-right-blocks %}
   <h3>{% trans "AIn7 enrolment" %}</h3>
   <div class="right_articles">
    <ul>
    {% for group in person.user.groups.all %}
	    <li><a href="/manage/roles/{{ group.name }}/">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
    </div>

    <h3>{% trans "Card Informations"%}</h3>
    {% show_last_change ain7member %}

   <div class="right_articles">
    {% if last_activity %}
    {% trans "Last connexion:" %} {{ last_activity.date|date:"l j F Y (H:i)" }}
    {% endif %}
   </div>

{% endblock %}

