{% extends "annuaire/base.html" %}
{% load i18n ain7_tags %}
{% load static from staticfiles %}

{% block content-left %}


    <div class="kf_content_wrap">
        <!--ABOUT UNIVERSITY START-->
        <section>
            <div class="container">
                <div class="row">

                    <div class=" col-lg-6 col-md-7">
                        <!--TEACHER BIO WRAP START-->
                        <div class="teacher_bio_wrap">
                            <!--TEACHER BIO LOGO START-->
                            <div class="teacher_bio_logo">
                                <span><i class="icon-book236"></i></span>
                                <h3>{{ person.first_name }} {{ person.last_name }}</h3>
                            </div>
                            <!--TEACHER BIO LOGO END-->
                            <!--TEACHER BIO des START-->
                            <div class="teacher_bio_des">
                                    <h4>
                                        {{ person.track }} {{ person.year }}
                                        {% if person.is_subscriber %}<br />
                                            <b>{% trans "Subscriber" %} <img
                                                    src="{% static "logo_ain7.png" %}" alt="adherent" width="25"
                                                    height="25"/></b>
                                        {% endif %}
                                    </h4>
                                <ul>
                                    {% if person.maiden_name %}
                                        <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
                                            &nbsp;:</b> {{ person.maiden_name }}</li>
                                    {% endif %}

                                    {% if person.nick_name %}
                                        <li><b>{% trans "Nick name" %}&nbsp;:</b> {{ person.nick_name }}</li>
                                    {% endif %}
                                    {% if person.education.all %}
                                        <li><b>{% filter capfirst %}{% trans "diplomas" %}{% endfilter %}&nbsp;:</b>
                                            {% for educ in person.education.all %}{{ educ.diploma }}
                                                {% if educ.diploma and not forloop.last %} ; {% endif %}{% endfor %}
                                        </li>
                                    {% endif %}
                                    {% if person.birth_date %}
                                        <li><b>{% trans "Birth date" %}&nbsp;:</b> {{ person.birth_date|date:"d F Y" }}
                                        </li>
                                    {% endif %}
                                    {% if person.death_date %}
                                        <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
                                            &nbsp;:</b> {{ person.death_date|date:"d/m/Y" }}</li>
                                    {% endif %}
                                    {% if superadmin or ca_member or secretariat_member or is_myself %}
                                        {% if person.marital_status or person.children_count %}
                                            <li><i class="fa fa-lock"></i> <b>{% trans "Family situation" %}&nbsp;:</b>
                                                {% if person.marital_status %}
                                                    {{ person.get_marital_status_display }}&nbsp;
                                                {% endif %}
                                                {% if person.children_count %}
                                                    {{ person.children_count }}&nbsp;{% trans "children" %}
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    {% if person.decorations.all %}
                                        <li><b>{% filter capfirst %}{% trans "decorations" %}{% endfilter %}
                                            &nbsp;:</b>
                                            {% for decoration in person.decorations.all %}{{ decoration }}
                                                {% if not forloop.last %} - {% endif %}{% endfor %}</li>
                                    {% endif %}
                                    {% if person.ceremonial_duties.all %}
                                        <li><b>{% filter capfirst %}{% trans "ceremonial duties" %}{% endfilter %}
                                            &nbsp;:</b>
                                            {% for duty in person.ceremonial_duties.all %}{{ duty }}
                                                {% if not forloop.last %} - {% endif %}{% endfor %}</li>
                                    {% endif %}

                                    {% for email in person.emails.all %}
                                        {% if superadmin or ca_member or secretariat_member or is_myself or not  email.confidential %}
                                            {% if not email.position or not email.position.end %}
                                                <li>
                                                    {% if email.confidential %}<i class="fa fa-lock"></i>{% endif %}
                                                    <i class="fa fa-envelope-o"></i>&nbsp;<a
                                                        href="mailto:{{ email.email }}">{{ email.email }}</a>

                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% for phone_number in person.phone_numbers.all %}
                                        {% if superadmin or ca_member or secretariat_member or is_myself or not phone_number.confidential %}
                                            <li>
                                                {% if phone_number.confidential %}
                                                    <i class="fa fa-lock"></i> {% endif %}
                                                <i class="fa fa-phone"></i> {{ phone_number.get_type_display }}
                                                : {{ phone_number.number }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for position in person.positions.all %}
                                        {% if position.phone_number and not position.end %}
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                {% trans "Professional Phone:" %}{{ position.phone_number }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% for web_site in person.web_sites.all %}
                                        <li>
                                            <i class="fa fa-{{ web_site.get_type_display|lower }}"/></i>&nbsp;<a
                                                href="{{ web_site.url }}">{{ web_site.url }}</a>
                                        </li>
                                    {% endfor %}



                                    {% for address in person.addresses.all %}
                                        {% if superadmin or ca_member or secretariat_member or is_myself or not address.confidential %}
                                            <li>
                                                {% if address.confidential %}<i class="fa fa-lock"></i> {% endif %}
                                                <b>{% trans "Address" %} {{ address.type|lower }}
                                                    :</b> {{ address.line1 }} {{ address.line2|default_if_none:"" }}
                                                - {{ address.zip_code }} {{ address.city }}
                                                - {{ address.country.name }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for position in person.positions.all %}
                                        {% if not position.end and position.office.line1 %}
                                            <li>

                                                <b>{% trans "Professionnal Address:" %}</b> {{ position.office.line1 }} {{ position.office.line2|default_if_none:"" }}
                                                - {{ position.office.zip_code }} {{ position.office.city }}
                                                - {{ position.office.country.name }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>


                                {% if person.club_memberships.all %}

                                    <h2>{% trans "N7 associative activities" %}</h2>

                                    <ul>

                                        {% for club_membership in person.council_roles.all %}
                                            <li>
                                                {% if club_membership.grouphead.group.web_site %}
                                                    <a href="{{ club_membership.grouphead.group.web_site }}">{{ club_membership.grouphead.group.name }}</a>
                                                {% else %}
                                                    {{ club_membership.grouphead.group.name }}
                                                {% endif %}
                                                {% if club_membership.title %}
                                                    : {{ club_membership.title }}
                                                {% endif %}
                                                {% if club_membership.start_date and club_membership.end_date %}
                                                    (<i>{{ club_membership.start_date|date:"Y" }}
                                                    - {{ club_membership.end_date|date:"Y" }}</i>)
                                                {% endif %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                {% endif %}

                                {% if person.groups.all %}
                                    <h2>{% trans "Groups" %}</h2>

                                    <ul>
                                        {% for group in person.groups.all %}
                                            <li>
                                                <a href="{% url "group-details" group.group.slug %}">{{ group.group.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <ul>
                                    <li><a class="btn btn-default" href="{% url "member-vcard" person.user.id %}"><i
                                            class="fa fa-download fa-1g"></i> {% trans "Download vCard" %}</a></li>
                                    {% if superadmin or ca_member or secretariat_member %}
                                        <li><a class="btn btn-default" href="{% url 'annuaire-edit' person.id %}"><i
                                                class="fa fa-pencil fa-1g"></i> {% trans "Edit" %}</a></li>
                                        <li><a class="btn btn-default"
                                               href="{% url "user-subscriptions" person.user.id %}"><i
                                                class="fa fa-money fa-1g"></i> {% trans "Subscriptions History" %}</a>
                                        </li>
                                        <li><a class="btn btn-default"
                                               href="{% url 'send-new-credentials' person.id %}"><i
                                                class="fa fa-envelope-o fa-1g"></i> {% trans "Send new credentials" %}
                                        </a>
                                        </li>
                                        <li><a class="btn btn-default"
                                               href="{% url 'set-new-credentials' person.id %}"><i
                                                class="fa fa-lock fa-1g"></i> {% trans "Set new credentials" %}
                                        </a>
                                        </li>
                                        <li><a class="btn btn-default" href="{% url 'member-add' %}"><i
                                                class="fa fa-plus fa-1g"></i> {% trans "Add" %}</a></li>
                                    {% endif %}

                                </ul>

                            </div>
                            <!--TEACHER BIO DES END-->
                        </div>
                        <!--TEACHER BIO WRAP END-->
                    </div>

                    <div class="col-lg-6 col-md-5">
                        <!--TEACHER THUMB START-->
                        <div class="teacher_thumb">
                            <figure>
                                {% if person.avatar %}
                                    <img src="{{ person.avatar.url }}"
                                         alt="{{ person.complete_name }}"/>
                                {% else %}
                                    <img src="{% static "images/nobody.png" %}"
                                         alt="{{ person.complete_name }}"/>
                                {% endif %}

                                <figcaption>

                                </figcaption>
                            </figure>
                        </div>
                        <!--TEACHER THUMB END-->
                    </div>

                </div>
            </div>
        </section>
        <!--ABOUT UNIVERSITY END-->


        <!--SKILl SECTION START-->
        {% if person.positions.all %}
            <section>
                <div class="container">
                    <!--TRANINIG  WRAP START-->
                    <div class="kf_training_wrap">
                        <div class="training_heading">
                            <h4>{% trans "Career" %}</h4>
                        </div>
                        <ul>

                            {% for position in person.positions.all %}
                                <li>
                                    <div class="kf_training_outer_des">
                                        <div class="kf_training_date">
                                            {% if position.begin and not position.end %}
                                                <span>
                                                    {% trans "since" %} <b>{{ position.begin }}</b>&nbsp;:
                                                    {% else %}{% if position.begin and position.end %}
                                                        <b>{{ position.begin }}-{{ position.end }}</b>:
                                                        {% else %}{% if position.end %}
                                                            {% trans "until" %} {{ position.end }}</b>&nbsp;:
                                                        {% endif %}
                                                    {% endif %}
                                            </span>
                                            {% endif %}
                                        </div>
                                        <div class="kf_training_des">
                                            <h6>{% if position.fonction %}{{ position.fonction }}{% endif %}</h6>
                                        <span>
                                            <a href="{% url "organization-details" position.office.organization.id %}">{{ position.office }}</a>
                                        </span>
                                            <p>
                                                {% if position.description %}
                                                    {{ position.description|safe }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <!--TRANINIG  WRAP END-->
                </div>
            </section>
        {% endif %}
        <!--SKILl SECTION END-->

    </div>

{% endblock %}
