{% extends "annuaire/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<div class="left_box">

<h2>{{ action_title }} {{ person }}</h2>

<form method="post" action="." enctype="multipart/form-data" class="form-horizontal col-lg-8 col-lg-offset-1">
{{ form|crispy }}
<div class="control-group">
<div class="controls">
<a class="btn disabled" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
</div>
</div>
</form>

</div>

<script type="text/javascript" src="/site_media/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
$('.dateinput').datepicker({
     autoclose: true,
})
</script>

{% endblock %}
