{% extends "annuaire/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

<div class="left_box">

<h2>{{ action_title }} {{ person }}</h2>

<form method="post" action="." enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">                                                        
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
<a href="{% url 'annuaire-edit' user.id %}">{% trans "Cancel" %}</a>
</div>
</form>

</div>

<script type="text/javascript" src="/site_media/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
$('.dateinput').datepicker({
     autoclose: true,
})
</script>

{% endblock %}
