{% extends "annuaire/base.html" %}
{% load i18n ain7_tags %}
{% load static from staticfiles %}


{% block content-left %}

<h1>{{ person.first_name }} {{ person.last_name }}</h1>

<a href="{% url "ain7.annuaire.views.details" person.user.id %}">{% trans "Back to personnal file" %}</a>

<ul>
   <li><b>{% filter capfirst %}{% trans "sex" %}{% endfilter %}
       &nbsp;:</b> {{ person.sex }}</li>
   <li><b>{% trans "First name" %}&nbsp;:</b> {{ person.first_name }}</li>
   <li><b>{% trans "Last name" %}&nbsp;:</b> {{ person.last_name }}</li>
   {% if person.maiden_name %}
   <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
       &nbsp;:</b> {{ person.maiden_name|default:"" }}</li>
   {% endif %}
   <li><b>{% trans "Birth date" %}&nbsp;:</b>
       {{ person.birth_date|date:"d/m/Y" }}</li>
   {% if personprivate.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ personprivate.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   <li><b>{% filter capfirst %}{% trans "nationality" %}{% endfilter %}
       &nbsp;:</b> {{ person.country.nationality }}</li>
</ul>
<p><a href="{% url "ain7.annuaire.views.person_edit" person.user.id %}">{% trans "Modify" %}</a></p>

{% if ain7member %}

<ul>
   <li><b>{% filter capfirst %}{% trans "avatar" %}{% endfilter %}</b>&nbsp;:
       {% if ain7member.avatar %}
	   <img src="{{ ain7member.avatar.url }}" height="100" alt="{% trans "avatar" %}" />
       {% else %}
           {% trans "No avatar" %}
       {% endif %}
   </li>
   <li><b>{% trans "Nick name" %}&nbsp;:</b>
       {% if ain7member.nick_name %}
           {{ ain7member.nick_name|default:"" }}
       {% else %}
           {% trans "No nickname" %}
       {% endif %}</li>
   <li><b>{% trans "Family situation" %}&nbsp;:</b>
       {% if ain7member.marital_status %}
           {{ ain7member.marital_status }},
       {% else %}
           {% filter capfirst %}{% trans "not available" %}{% endfilter %},
       {% endif %}
       {% if ain7member.children_count %}
           {{ ain7member.children_count }} {% trans "children" %}.
       {% else %}
           {% trans "no child" %}.
       {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "decorations" %}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.decorations.all %}
            {% for decoration in ain7member.decorations.all %}{{ decoration }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No decoration" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "ceremonial duties"%}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.ceremonial_duties.all %}
            {% for duty in ain7member.ceremonial_duties.all %}{{ diploma }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No ceremonial duty" %}
        {% endif %}</li>
    <li><b>{% trans "Receive job offers by email" %}</b>&nbsp;:
        {% if ain7member.receive_job_offers %}
            {% trans "Yes" %}</li>
	{% else %}
            {% trans "No" %}</li>
        {% endif %}
</ul>
<p><a href="{% url "ain7.annuaire.views.ain7member_edit" person.user.id %}">{% trans "Modify" %}</a></p>

{% endif %}

{% if ca_member or secretariat_member or superadmin %}
<ul>
    <li><b>{% filter capfirst %}{% trans "type" %}{% endfilter %}</b>&nbsp;:
        {{ personprivate.person_type }}</li>
    <li><b>{% filter capfirst %}{% trans "member" %}{% endfilter %}</b>&nbsp;:
        {{ personprivate.member_type }}</li>
    <li><b>{% filter capfirst %}{% trans "activity" %}{% endfilter %}</b>&nbsp;:
        {{ personprivate.activity }}</li>
   {% if personprivate.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ personprivate.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   <li><b>{% filter capfirst %}{% trans "notes" %}{% endfilter %}
       &nbsp;:</b> {% if personprivate.notes %}{{ personprivate.notes|safe }}{% endif %}</li>
</ul>
<p><a href="{% url "ain7.annuaire.views.personprivate_edit" person.user.id %}">{% trans "Modify" %}</a></p>
{% endif %}

<h2><a name="address"></a>{% trans "Address" %}</h2>

<table class="table">
<tbody>
{% for address in person.addresses.all %}
    <tr><td><b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b></td><td>
        {{ address.line1 }} {{ address.line2|default_if_none:"" }} -
        {{address.zip_code }} {{ address.city }} - {{ address.country.name }}
        ({{ address.confidentiality_print }})</td>
    <td><a href="{% url "ain7.annuaire.views.address_edit" person.user.id address.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
    <td><a href="{% url "ain7.annuaire.views.address_delete" person.user.id address.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
{% endfor %}
</tobdy>
</table>
<p><a href="{% url "ain7.annuaire.views.address_edit" person.user.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

<h2><a name="email"></a>{% filter capfirst %}{% trans "email" %}{% endfilter %}</h2>

<table class="table">
<tbody>
{% for email in person.emails.all %}
<tr><td><i class="fa fa-envelope-o"></i> <a href="mailto:{{ email.email }}">{{ email.email }}</a>
       ({{ email.confidentiality_print }}{% if email.preferred_email %}, {% trans "preferred" %}{% endif %})
</td>
<td>
        <a href="{% url "ain7.annuaire.views.email_edit" person.user.id email.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
<td>
        <a href="{% url "ain7.annuaire.views.email_delete" person.user.id email.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
{% endfor %}
</tbody>
</table>
<p><a href="{% url "ain7.annuaire.views.email_edit" person.user.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

<h2><a name="phone"></a>{% trans "Phone numbers" %}</h2>

<table class="table">
<tbody>
{% for phone_number in person.phone_numbers.all %}
<tr><td><i class="fa fa-phone"></i> <b>{{ phone_number.get_type_display }} :</b></td>
   <td>{{ phone_number.number }}
       ({{ phone_number.confidentiality_print }})</td>
    <td>
        <a href="{% url "ain7.annuaire.views.phone_edit" person.user.id phone_number.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
    <td>
        <a href="{% url "ain7.annuaire.views.phone_delete" person.user.id phone_number.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
{% endfor %}
</tbody>
</table>
<p><a href="{% url "ain7.annuaire.views.phone_edit" person.user.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

<h2><a name="website"></a>{% trans "Web sites" %}</h2>

<table class="table">
<tbody>
{% for website in person.web_sites.all %}
<tr>
<td>
<i class="fa fa-{{ website.get_type_display|lower }}"></i> <a href="{{ website.url }}">{{ website.url }}</a> ({{ website.confidentiality_print }})
</td>
<td>
<a href="{% url "ain7.annuaire.views.website_edit" person.user.id website.id %}"><i class="fa fa-pencil fa-lg"></i></a>
</td>
<td>
<a href="{% url "ain7.annuaire.views.website_delete" person.user.id website.id %}"><i class="fa fa-trash-o fa-lg"></i></a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<p><a href="{% url "ain7.annuaire.views.website_edit" person.user.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>



{% if ain7member %}

<h2><a name="promos"></a>{% trans "Promos" %}</h2>
<table class="table">
<tbody>
{% for promo in ain7member.promos.all %}
  <tr>
    <td>{{ promo }}</td>
      <td style="width: 12%">
        <a href="{% url "ain7.annuaire.views.promo_delete" person.id promo.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
  </tr>
{% endfor %}
</tbody>
</table>
<p><a href="{% url "ain7.annuaire.views.promo_edit" person.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

<h2><a name="profexp"></a>{% trans "Experiences" %}</h2>

<table class="table">
<tbody>
{% for position in ain7member.positions.all %}
    {% if not position.is_confidential %}
        <tr><th>{% if position.begin %}{{ position.begin }}{% endif %} - {% if position.end %}{{ position.end }}{% endif %}</th>
            <td>{% if position.fonction %}{{ position.fonction }}{% endif %} <em>{{ position.office }} ({{ position.office.organization }})</em></td>
            <td><a href="{% url "ain7.emploi.views.position_edit" person.user.id position.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
            <td><a href="{% url "ain7.emploi.views.position_delete" person.user.id position.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
        </tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</tbody>
</table>

<p><a class="btn btn-primary" href="{% url "ain7.emploi.views.position_edit" person.user.id %}"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

<h2><a name="assoc"></a>{% trans "N7 associative activities" %}</h2>

<table class="table">
<tbody>
{% for club_membership in ain7member.person.council_roles.all %}
    <tr><td>{% if club_membership.grouphead.group.web_site %}<a href="{{ club_membership.grouphead.group.web_site}}">{% endif %}
                 {{ club_membership.grouphead.group.name }}
            {% if club_membership.grouphead.group.web_site %}</a>{% endif %}
    {% if club_membership.start_date and club_membership.end_date %}(<i>{{ club_membership.start_date|date:"Y" }} - {{ club_membership.end_date|date:"Y" }}</i>){% endif %}</td>
    <td>{% if club_membership.title %}{{ club_membership.title }}{% endif %}</td>
    <td>
        <a href="{% url "ain7.annuaire.views.club_membership_edit" person.user.id club_membership.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
<td>
        <a href="{% url "ain7.annuaire.views.club_membership_delete" person.user.id club_membership.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
{% endfor %}
</tobdy>
</table>
<p><a href="{% url "ain7.annuaire.views.club_membership_edit" person.user.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

<h2><a name="publications"></a>{% trans "Publications and patents" %}</h2>

<table class"table">
<tbody>
{% for publicationItem in ain7member.publication.all %}
    <tr><th>{{ publicationItem.date|date:"Y"|default:"" }}</th>
        <td> <em>{{ publicationItem.title }}</em></td>
        <td><a href="{% url "ain7.emploi.views.publication_edit" person.user.id publicationItem.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
        <td><a href="{% url "ain7.emploi.views.publication_delete" person.user.id publicationItem.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
    {% if publicationItem.details %}
        <tr><td></td><td>{{ publicationItem.details|safe }}</td></tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

<p><a class="btn btn-primary" href="{% url "ain7.emploi.views.publication_edit" person.user.id %}"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>


<h2><a name="education"></a>{% trans "Education" %}</h2>

<table class="table">
<tbody>
{% for educationItem in ain7member.education.all %}
    <tr><th>{{ educationItem.begin }} - {{ educationItem.end }}</th>
        <td> <em>{{ educationItem.school }}</em></td>
        <td><a href="{% url "ain7.emploi.views.education_edit" person.user.id educationItem.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
        <td><a href="{% url "ain7.emploi.views.education_delete" person.user.id educationItem.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
    {% if educationItem.diploma %}
        <tr><td></td><td>{{ educationItem.diploma }}</td></tr>
    {% endif %}
    {% if educationItem.details %}
        <tr><td></td><td>{{ educationItem.details|safe }}</td></tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

<p><a class="btn btn-primary" href="{% url "ain7.emploi.views.education_edit" person.user.id %}"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

<h2><a name="leisure"></a>{% trans "Leisure activities" %}</h2>

<table class="table">
<tbody>
{% for leisureItem in ain7member.leisure.all %}
    <tr><th>{{ leisureItem.title }}</th>
        <td>{% if leisureItem.detail %} {{ leisureItem.detail }} {% endif %} </td>
        <td><a href="{% url "ain7.emploi.views.leisure_edit" person.user.id leisureItem.id %}"><i class="fa fa-pencil fa-lg"></i></a></td>
        <td><a href="{% url "ain7.emploi.views.leisure_delete" person.user.id leisureItem.id %}"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
{% endfor %}
</tbody>
</table>

<p><a class="btn btn-primary" href="{% url "ain7.emploi.views.leisure_edit" person.user.id %}"><i class="fa fa-plus"></i> {% trans "Add" %}</a></p>

{% endif %}

{% endblock %}
