{% extends "annuaire/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div class="left_box">

<div id="cv">

<h1>{{ person.first_name }} {{ person.last_name }}</h1>

<a href="{% url ain7.annuaire.views.details person.user.id %}">{% trans "Back to personnal file" %}</a>

<h2>{% trans "Personal data" %}</h2>

<div class="dataBlock">
<ul>
   <li><b>{% filter capfirst %}{% trans "sex" %}{% endfilter %}
       &nbsp;:</b> {{ person.sex }}</li>
   <li><b>{% trans "First name" %}&nbsp;:</b> {{ person.first_name }}</li>
   <li><b>{% trans "Last name" %}&nbsp;:</b> {{ person.last_name }}</li>
   {% if person.maiden_name %}
   <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
       &nbsp;:</b> {{ person.maiden_name|default:"" }}</li>
   {% endif %}
   <li><b>{% trans "Birth date" %}&nbsp;:</b>
       {{ person.birth_date|date:"d/m/Y" }}</li>
   {% if personprivate.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ personprivate.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   <li><b>{% filter capfirst %}{% trans "nationality" %}{% endfilter %}
       &nbsp;:</b> {{ person.country.nationality }}</li>
</ul>
<p><a href="{% url ain7.annuaire.views.person_edit person.user.id %}" class="changelink">
{% trans "Modify" %}</a></p>
</div>

<p>&nbsp;</p>

{% if ain7member %}

<div class="dataBlock">
<ul>
   <li><b>{% filter capfirst %}{% trans "avatar" %}{% endfilter %}</b>&nbsp;:
       {% if ain7member.avatar %}
	   <img src="{{ ain7member.avatar.url }}" height="100" alt="{% trans "avatar" %}" />
	   <a href="{% url ain7.annuaire.views.avatar_delete person.user.id %}" class="deletelink">
           {% trans "Delete" %}</a>
       {% else %}
           {% trans "No avatar" %}
       {% endif %}
   </li>
   <li><b>{% trans "Nick name" %}&nbsp;:</b>
       {% if ain7member.nick_name %}
           {{ ain7member.nick_name|default:"" }}
       {% else %}
           {% trans "No nickname" %}
       {% endif %}</li>
   <li><b>{% trans "Family situation" %}&nbsp;:</b>
       {% if ain7member.marital_status %}
           {{ ain7member.marital_status }},
       {% else %}
           {% filter capfirst %}{% trans "not available" %}{% endfilter %},
       {% endif %}
       {% if ain7member.children_count %}
           {{ ain7member.children_count }} {% trans "children" %}.
       {% else %}
           {% trans "no child" %}.
       {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "decorations" %}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.decorations.all %}
            {% for decoration in ain7member.decorations.all %}{{ decoration }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No decoration" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "ceremonial duties"%}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.ceremonial_duties.all %}
            {% for duty in ain7member.ceremonial_duties.all %}{{ diploma }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No ceremonial duty" %}
        {% endif %}</li>
    <li><b>{% trans "Display my CV in the directory" %}</b>&nbsp;:
        {% if ain7member.display_cv_in_directory %}
            {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</li>
    <li><b>{% trans "Display my CV in the job service section" %}</b>&nbsp;:
        {% if ain7member.display_cv_in_job_section %}
            {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</li>
    <li><b>{% trans "Receive job offers by email" %}</b>&nbsp;:
        {% if ain7member.receive_job_offers %}
            {% trans "Yes" %}</li>
	{% else %}
            {% trans "No" %}</li>
        {% endif %}
    <li><b>{% trans "CV title" %}</b>&nbsp;:
        {{ ain7member.cv_title|default_if_none:"" }}</li>
</ul>
<p><a href="{% url ain7.annuaire.views.ain7member_edit person.user.id %}" class="changelink">
   {% trans "Modify" %}</a></p>
</div>

{% endif %}

<p>&nbsp;</p>

{% if ca_member or secretariat_member or superadmin %}
<div class="dataBlock">
<ul>
    <li><b>{% filter capfirst %}{% trans "type" %}{% endfilter %}</b>&nbsp;:
        {{ personprivate.person_type }}</li>
    <li><b>{% filter capfirst %}{% trans "member" %}{% endfilter %}</b>&nbsp;:
        {{ personprivate.member_type }}</li>
    <li><b>{% filter capfirst %}{% trans "activity" %}{% endfilter %}</b>&nbsp;:
        {{ personprivate.activity }}</li>
   {% if personprivate.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ personprivate.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   <li><b>{% filter capfirst %}{% trans "notes" %}{% endfilter %}
       &nbsp;:</b> {% if personprivate.notes %}{{ personprivate.notes|safe }}{% endif %}</li>
</ul>
<p><a href="{% url ain7.annuaire.views.personprivate_edit person.user.id %}" class="changelink">
{% trans "Modify" %}</a></p>
</div>
{% endif %}

{% if ain7member %}

<h2><a name="promos"></a>{% trans "Promos" %}</h2>
<div class="dataBlock">
{% if ain7member.promos.all %}
  <table style="border: 0; width: 100%;">
    {% for promo in ain7member.promos.all %}
      <tr>
        <td>{{ promo }}</td>
          <td style="width: 12%">
            <a href="{% url ain7.annuaire.views.promo_delete person.id promo.id %}" class="deletelink">
              {% trans "Delete" %}</a></td>
      </tr>
    {% endfor %}
  </table>
{% else %}
    <p>{% trans "No promotion" %}</p>
{% endif %}
<p><a href="{% url ain7.annuaire.views.promo_edit person.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

{% if ain7member %}

<h2><a name="profexp"></a>{% trans "Professional experiences" %}</h2>

<div class="dataBlock">
{% if ain7member.positions.all %}
<table>
{% for position in ain7member.positions.all %}
        <tr><td>
                <b>{{ position.begin }} - {{ position.end }}</b>&nbsp;:</td>
            <td><em>{{ position.fonction }}</em>,
                {{ position.office }}
                <a href="{% url ain7.organizations.views.organization_details position.office.organization.id %}">{{ position.office.organization }}</a></td></tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
{% endfor %}
</table>
{% endif %}
<p><a href="{% url ain7.emploi.views.cv_edit person.user.id %}" class="changelink">
{% trans "Modify" %}</a></p>
</div>

{% endif %}

{% endif %}

<h2><a name="address"></a>{% trans "Address" %}</h2>

<div class="dataBlock">
{% for address in person.addresses.all %}
<table style="border: 0; width: 100%;">
    <tr><td><b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b></td><td>
        {{ address.line1 }} {{ address.line2|default_if_none:"" }} -
        {{address.zip_code }} {{ address.city }} - {{ address.country.name }}
        ({{ address.confidentiality_print }})</td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.address_edit person.user.id address.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.address_delete person.user.id address.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="{% url ain7.annuaire.views.address_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

<h2><a name="phone"></a>{% trans "Phone numbers" %}</h2>

<div class="dataBlock">
{% for phone_number in person.phone_numbers.all %}
<table style="border: 0; width: 100%;">
   <tr><td><b>{{ phone_number.get_type_display }} :</b></td>
   <td>{{ phone_number.number }}
       ({{ phone_number.confidentiality_print }})</td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.phone_edit person.user.id phone_number.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.phone_delete person.user.id phone_number.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="{% url ain7.annuaire.views.phone_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

<h2><a name="email"></a>{% filter capfirst %}{% trans "email" %}{% endfilter %}</h2>

<div class="dataBlock">
{% for email in person.emails.all %}
<table style="border:0; width: 100%;">
	    <tr><td><img src="/site_media/images/mail.png" alt="{% trans "email" %}" width="24" height="24"/><a href="mailto:{{ email.email }}">{{ email.email }}</a>
       ({{ email.confidentiality_print }}{% if email.preferred_email %}, {% trans "preferred" %}{% endif %})

</td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.email_edit person.user.id email.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.email_delete person.user.id email.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="{% url ain7.annuaire.views.email_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

<h2><a name="website"></a>{% trans "Web sites" %}</h2>

<div class="dataBlock">
{% for website in person.web_sites.all %}
<table style="border: 0; width: 100%;">
    <tr valign="middle"><td>
        <img src="/site_media/images/{{ website.get_type_display|lower }}.png" alt="{% trans "web site" %}" width="24" height="24" />
        <a href="{{ website.url }}">{{ website.url }}</a> ({{ website.confidentiality_print }})</td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.website_edit person.user.id website.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.website_delete person.user.id website.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="{% url ain7.annuaire.views.website_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

<h2><a name="im"></a>{% trans "Instant messaging accounts" %}</h2>

<div class="dataBlock">
{% for im in person.instant_messagings.all %}
<table style="border: 0; width: 100%">
    <tr valign="middle"><td>
       <img src="/site_media/images/{{ im.get_type_display|lower }}.png" alt="{% trans "Contact" %} {{im.get_im_display|lower }}" width="24" height="24"/>
       {{ im.identifier }} ({{ im.confidentiality_print }})</td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.im_edit person.user.id im.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.im_delete person.user.id im.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="{% url ain7.annuaire.views.im_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

<h2><a name="irc"></a>{% trans "IRC accounts" %}</h2>

<div class="dataBlock">
{% for irc in person.ircs.all %}
<table style="border: 0; width: 100%">
    <tr valign="middle"><td>
       <img src="/site_media/images/irc.png" alt="{% trans "irc" %}" width="24" height="24"/>
       {{ irc.pseudo }} @ {{ irc.network }} {% trans "on" %} {{ irc.channels }} ({{ irc.confidentiality_print }})
       </td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.irc_edit person.user.id irc.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.irc_delete person.user.id irc.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="{% url ain7.annuaire.views.irc_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

{% if ain7member %}

<h2><a name="assoc"></a>{% trans "N7 associative activities" %}</h2>

<div class="dataBlock">
{% for club_membership in ain7member.club_memberships.all %}
<table style="border: 0; width: 100%;">
    <tr><td>{% if club_membership.club.web_site %}<a href="{{ club_membership.club.web_site}}">{% endif %}
                 {{ club_membership.club.name }}
            {% if club_membership.club.web_site %}</a>{% endif %}
    {% if club_membership.begin and club_membership.end %}(<i>{{ club_membership.begin }} - {{ club_membership.end }}</i>){% endif %}</td>
    <td>{% if club_membership.fonction %}{{ club_membership.fonction }}{% endif %}</td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.club_membership_edit person.user.id club_membership.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.annuaire.views.club_membership_delete person.user.id club_membership.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="{% url ain7.annuaire.views.club_membership_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>
</div>

{% endif %}

</div>
</div>

{% endblock %}


{% block extra-navigation %}
<li><a href="{% url ain7.annuaire.views.details person.user.id %}">{% trans "Back to personnal file" %}</a></li>
{% endblock %}

{% block extra-right-blocks %}

    <h3>{% trans "Card Informations"%}</h3>
    {% show_last_change person %}

{% endblock %}
