{% extends "annuaire/base.html" %}
{% load i18n %}

{% block javascript %}
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>
{% endblock %}
{% block stylesheet %}
<script src="/site_media/js/mootools-{{ mootools_version }}-core-nc.js" type="text/javascript"></script>
<script src="/site_media/js/mootools-{{ mootools_more_version }}-more.js" type="text/javascript"></script> 
<script src="/site_media/js/autocomplete.js?version={{ portal_version }}" type="text/javascript"></script>
{% endblock %}

{% block content-left %}

<form action="." method="get">
	<table class="form">
		{{ form }}
	</table>
<div style="text-align: center;">
	<input class="button" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% if dosearch %}
<h2>{% trans "Results list"%}</h2>

{% if ain7members %}
<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="{% url ain7.annuaire.views.search %}?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promoyear={{ request.GET.promoyear }}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="{% url ain7.annuaire.views.search %}?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promoyear={{ request.GET.promoyear }}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="{% url ain7.annuaire.views.search %}?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promoyear={{ request.GET.promoyear }}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="{% url ain7.annuaire.views.search %}?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promoyear={{ request.GET.promoyear }}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</tr>
</table>
    {% for ain7member in ain7members %}
            <table border="0" width="100%" style="border-bottom:1px dashed grey; text-align: left;">
            <tr><td width="60">
            {% if ain7member.avatar %}
            <img src ="{{ ain7member.avatar.url }}" height="50"  alt="{{ ain7member.person.complete_name }}" title="{{ ain7member.person.complete_name }}" />
            {% else %}
            <img src="/site_media/images/nobody.png" height="50" alt="{{ person.complete_name }}"/>
            {% endif %}
            </td><td>
            <a href="{% url ain7.annuaire.views.details ain7member.person.user.id %}">
            <b>{{ ain7member.person.last_name }} 
            {% if ain7member.person.maiden_name %}
              ({{ ain7member.person.maiden_name }})
            {% endif %}
            {{ ain7member.person.first_name }}</b></a>
            {% if ain7member.is_subscriber %}
            <img src="/site_media/images/star.png" title="Adherent {% now "Y" %}" alt="adherent {% now "Y" %}" width="16" height="16" />
            {% endif %}
            {% if ain7member.person.personprivate.death_date %}
            <img src="/site_media/images/deceased.png" title="Décédé" alt="Décédé" width="16" height="16" />
            {% endif %}
            <br/>
            {{ ain7member.promo_full }}
            <br/>
            {% if not ain7member.personprivate.death_date %}
            {% for position in ain7member.positions.all %}
               {% if not position.end %}
               <i>{{ position.office.organization }}{% if not forloop.last %}, {% endif %}</i>
               {% endif %}
            {% endfor %}
            {% endif %}
            </td></tr>
            </table>
    {% endfor %}
{% else %}
    <p>{% trans "No person matched your criteria." %}</p>
{% endif %}
{% endif %}

{% endblock %}
