{% extends "annuaire/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% load endless %}

{% block content-left %}

<form action="." method="get">
{{ form|crispy }}
<div class="control-group">
<div class="controls">
<input class="btn btn-primary" type="submit" value="{% trans "Search" %}" />
</div>
</div>
</form>

{% if dosearch %}
<h2>{% trans "Results list"%}</h2>

{% if ain7members %}
{% paginate ain7members %}
<p class="text-center">{% show_pages %}</p> 
    {% for ain7member in ain7members %}
            <table border="0" width="100%" style="border-bottom:1px dashed grey; text-align: left;">
            <tr><td width="60">
            {% if ain7member.avatar %}
            <img src ="{{ ain7member.avatar.url }}" height="50"  alt="{{ ain7member.person.complete_name }}" title="{{ ain7member.person.complete_name }}" />
            {% else %}
            <img src="{% static "images/nobody.png" %}" height="50" alt="{{ person.complete_name }}"/>
            {% endif %}
            </td><td>
            <a href="{% url "ain7.annuaire.views.details" ain7member.person.user.id %}">
            <b>{{ ain7member.person.last_name }} 
            {% if ain7member.person.maiden_name %}
              ({{ ain7member.person.maiden_name }})
            {% endif %}
            {{ ain7member.person.first_name }}</b></a>
            {% if ain7member.is_subscriber %}
            <img src="{% static "images/star.png" %}" title="Adherent {% now "Y" %}" alt="adherent {% now "Y" %}" width="16" height="16" />
            {% endif %}
            {% if ain7member.person.personprivate.death_date %}
            <img src="{% static "images/deceased.png" %}" title="Décédé" alt="Décédé" width="16" height="16" />
            {% endif %}
            <br/>
            {{ ain7member.promo_full }}
            <br/>
            <i>{{ ain7member.current_positions_orga }}</i>
            </td></tr>
            </table>
    {% endfor %}
<p class="text-center">{% show_pages %}</p> 
{% else %}
    <p>{% trans "No person matched your criteria." %}</p>
{% endif %}
{% endif %}

{% endblock %}
