{% extends "media_communication/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

<h3>{{ text.title }}</h3>

{{ text.body|safe }}

{% if superadmin or ca_member or secretariat_member or contributeur %}
<p><a href="{% url pages.views.edit text.id %}">{% trans "Edit" %}</a></p>
{% endif %}

</div>

<div class="right">

   <h3>{% trans "Index" %}</h3>
   <div class="right_articles">
   <ul>
      <li><a href="{% url ain7.media_communication.views.index %}">Media & Communication</a></li>
      <li><a href="{% url ain7.media_communication.views.canal_n7 %}">Canal N7</a></li>
      <li><a href="{% url ain7.media_communication.views.website %}">Site internet</a></li>
   </ul>
   </div>


</div>

</div>

{% endblock %}

