{% extends "media_communication/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<h3>Les publications de l'AIn7</h3>

<p>La Communication, Interne aux adhérents de l’AIN7, est réalisée par les 3 vecteurs suivants, en complément des moyens classiques (courrier, mail, téléphone, fax …) :</p>

<ul>
<li><a href="{% url ain7.media_communication.views.canal_n7 %}">Canal N7</a>, la revue trimestrielle de l'association</li>
<li><a href="{% url ain7.media_communication.views.website %}">Site internet</a>, lieu de recontre électronique de toutes les générations</li>
<li><a href="/annuaire/">L'Annuaire</a>, l'annuaire de tous les anciens édité tous les ans au mois de juillet</li>
</ul>

</div>

<div class="right">

   <h3>{% trans "Index" %}</h3>
   <div class="right_articles">
   <ul>
       <li><a href="{% url ain7.media_communication.views.canal_n7 %}">Canal N7</a></li>
       <li><a href="{% url ain7.media_communication.views.website %}">Site internet</a></li>
   </ul>
   </div>


</div>

</div>

{% endblock %}

