div.floatingPaneContainer {
	border: 1px solid #CCCCCC;
}

div.floatingPaneContainer div.hd {
	height: 20px;
	background-color: #99CCFF;
	border-bottom: 1px solid #CCCCCC;
}

div.floatingPaneContainer div.hd span {
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 4px;
}

div.floatingPaneContainer div.hd div.close,
div.floatingPaneContainer div.hd div.close-over {
	position: absolute;
	width: 12px;
	height: 12px;
	right: 5px;
	top: 4px;
	overflow: hidden;
}

div.floatingPaneContainer div.hd div.close {
	background-image: url("hd-close.png");
}

div.floatingPaneContainer div.hd div.close-over {
	background-image: url("hd-close-over.png");
}

div.floatingPaneContainer div.bd div.pleaseWait {
	position: absolute;
	width: 65px;
	height: 35px;
	top: 45%;
	left: 45%;
	background-image: url("loading.gif");
}

div.bd iframe {
	border: none;
	height: 200px;
	width: 400px;
}
