{% extends "base.html" %}
{% load i18n %}

{% block barre-manage %}<li class="active">{% endblock %}


{% block content %}

<div id="content-main">

<div class="left">
{% block content-left %}{% endblock %}
</div>

<div class="right">

{% block actions %}{% endblock %}

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/manage/users/">{% trans "Manage users" %}</a></li>
{% if superadmin or secretariat_member %}
<li><a href="/manage/roles/">{% trans "Manage roles" %}</a></li>
{% endif %}
<li><a href="/manage/organizations/">{% trans "Manage organizations" %}</a></li>
<li><a href="/manage/errors/">{% trans "Errors" %}</a></li>
<li><a href="/manage/payments/">{% trans "Payments" %}</a></li>
{% block extra-navigation %}{% endblock %}
</ul>
</div>

{% block extra-menu %}{% endblock %}

</div> <!-- right -->

</div> <!-- content-main -->

{% endblock %}
