{% extends "base.html" %}
{% load i18n %}

{% block barre-manage %}<li class="active">{% endblock %}


{% block content %}

<div id="content-main">

<div class="left">
{% block content-left %}{% endblock %}
</div>

<div class="right">

{% block actions %}{% endblock %}

<h3>{% trans "Navigation" %}</h3>
<div class="right_articles">
<ul>
<li><a href="{% url ain7.manage.views.users_search %}">{% trans "Manage users" %}</a></li>
{% if superadmin or secretariat_member %}
<li><a href="{% url ain7.manage.views.roles_index %}">{% trans "Manage roles" %}</a></li>
{% endif %}
<li><a href="{% url ain7.manage.views.organizations_search %}">{% trans "Manage organizations" %}</a></li>
<li><a href="{% url ain7.manage.views.errors_index %}">{% trans "Errors" %}</a></li>
<li><a href="{% url ain7.manage.views.payment_index %}">{% trans "Payments" %}</a></li>
<li><a href="{% url ain7.manage.views.payments_deposit_index %}">{% trans "Deposit slip" %}</a></li>
{% block extra-navigation %}{% endblock %}
</ul>
</div>

{% block extra-menu %}{% endblock %}

</div> <!-- right -->

</div> <!-- content-main -->

{% endblock %}
