{% extends "base.html" %}
{% load i18n %}

{% block barre-manage %}<li class="active">{% endblock %}


{% block content %}

<div class="span-17 colborder">


{% block content-left %}{% endblock %}
</div>

<div class="span-6 last">

{% block actions %}{% endblock %}

<h2>{% trans "Navigation" %}</h2>
<div class="grey-box">
<ul>
<li><a href="{% url ain7.manage.views.users_search %}">{% trans "Users" %}</a></li>
{% if superadmin or secretariat_member %}
{% endif %}
<li><a href="{% url ain7.organizations.views.organization_search %}">{% trans "Organizations" %}</a></li>
<li><a href="{% url ain7.manage.views.errors_index %}">{% trans "Errors" %}</a></li>
<li><a href="{% url ain7.manage.views.payments_index %}">{% trans "Payments" %}</a></li>
<li><a href="{% url ain7.manage.views.mailings_index %}">{% trans "Mailings" %}</a></li>
<li><a href="{% url ain7.manage.views.subscriptions_stats %}">{% trans "Subscriptions" %}</a></li>
<li><a href="{% url ain7.manage.views.payments_deposit_index %}">{% trans "Deposit slip" %}</a></li>
{% block extra-navigation %}{% endblock %}
</ul>
</div>

{% block extra-menu %}{% endblock %}

</div> <!-- right -->


{% endblock %}
