{% extends "manage/base.html" %}

{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div class="left_box">

<h3>{% trans "AIn7 Management" %}</h3>

{% trans "This section is dedicated to the portal administration." %}
{% trans "You can add, edit, delete users and roles." %}
<b>{% trans "Do all your modifications carefully!" %}</b>


{% if notifications %}
<div class="left_box">
  {% for notification in notifications %}
    <h3 class="notif">{{ notification.title }}</h3>

    {% if notification.organization_proposal %}

      <a href="{% url ain7.annuaire.views.details notification.organization_proposal.author.user.id %}">{{ notification.organization_proposal.author }}</a> 
      {% ifequal notification.organization_proposal.action 0 %}
        {% trans "created the organization" %}
        <em>{{ notification.organization_proposal.modified }}</em>. 
        {% trans "Please visit" %} 
        <a href="{% url ain7.organizations.views.organization_proposal_register notification.organization_proposal.id %}">{% trans "this page" %}</a> 
        {% trans "to check for correctness and possibly validate." %}
        <br />
        <a href="{% url ain7.manage.views.notification_delete notification.id %}" 
           class="deletelink">{% trans "Delete this notification" %}</a>
      {% endifequal %}

      {% ifequal notification.organization_proposal.action 1 %}
        {% trans "proposed the modification of the organization" %}
        <em>{{ notification.organization_proposal.original }}</em>. 
        {% trans "Please visit" %} 
        <a href="{% url ain7.organizations.views.organization_proposal_edit notification.organization_proposal.id %}">{% trans "this page" %}</a> 
        {% trans "to check for correctness and possibly confirm." %}
        <br />
        <a href="{% url ain7.manage.views.notification_delete notification.id %}" 
           class="deletelink">{% trans "Delete this proposal" %}</a>
      {% endifequal %}

      {% ifequal notification.organization_proposal.action 2 %}
        {% trans "proposed the deletion of the organization" %}
        <em>{{ notification.organization_proposal.original }}</em>. 
        {% trans "Please visit" %} 
        <a href="{% url ain7.organizations.views.organization_proposal_delete notification.organization_proposal.id %}">{% trans "this page" %}</a> 
        {% trans "to possibly confirm." %}
        <br />
        <a href="{% url ain7.manage.views.notification_delete notification.id %}" 
           class="deletelink">{% trans "Delete this proposal" %}</a>
      {% endifequal %}

    {% else %}

      {% if notification.office_proposal %}

        <a href="{% url ain7.annuaire.views.details notification.office_proposal.author.user.id %}">{{ notification.office_proposal.author }}</a> 

        {% ifequal notification.office_proposal.action 0 %}
          {% trans "created the office" %}
          <em>{{ notification.office_proposal.modified }}</em>
          {% trans "for the organization" %}
          <em>{{ notification.office_proposal.modified.organization }}</em>. 
          {% trans "Please visit" %}
          <a href="{% url ain7.organizations.views.office_proposal_register notification.office_proposal.modified.organization.id notification.office_proposal.id %}">{% trans "this page" %}</a> 
          {% trans "to check for correctness and possibly validate." %}
          <br />
          <a href="{% url ain7.manage.views.notification_delete notification.id %}" 
             class="deletelink">{% trans "Delete this notification" %}</a>
	{% endifequal %}

        {% ifequal notification.office_proposal.action 1 %}
          {% trans "proposed the modification of the office" %}
          <em>{{ notification.office_proposal.original }}</em>
          {% trans "for the organization" %}
          <em>{{ notification.office_proposal.original.organization }}</em>. 
          {% trans "Please visit" %}
          <a href="{% url ain7.organizations.views.office_proposal_edit notification.office_proposal.original.organization.id notification.office_proposal.id %}">{% trans "this page" %}</a> 
          {% trans "to check for correctness and possibly confirm." %}
          <br />
          <a href="{% url ain7.manage.views.notification_delete notification.id %}" 
             class="deletelink">{% trans "Delete this proposal" %}</a>
        {% endifequal %}

        {% ifequal notification.office_proposal.action 2 %}
          {% trans "proposed the deletion of the office" %}
          <em>{{ notification.office_proposal.original }}</em>
          {% trans "for the organization" %}
          <em>{{ notification.office_proposal.original.organization }}</em>. 
          {% trans "Please visit" %}
          <a href="{% url ain7.organizations.views.office_proposal_delete notification.office_proposal.original.organization.id notification.office_proposal.id %}">{% trans "this page" %}</a> 
          {% trans "to possibly confirm." %}
          <br />
          <a href="{% url ain7.manage.views.notification_delete notification.id %}" 
             class="deletelink">{% trans "Delete this proposal" %}</a>
        {% endifequal %}

      {% else %}

        {% if notification.job_proposal %}

          {% trans "A job offer " %}{{ job_offer.title }}{% trans " has been proposed. To publish it, check the data" %} 
          <a href="{% url ain7.emploi.views.job_edit notification.job_proposal.id %}">
             {% trans "here" %}</a>
          {% trans "or directly validate it" %} 
          <a href="{% url ain7.emploi.views.job_validate notification.job_proposal.id %}">
            {% trans "here" %}</a>.
        
        {% else %}

        {{ notification.details|safe }}<br />
        <a href="{% url ain7.manage.views.notification_edit notification.id %}" 
           class="changelink">{% trans "Modify" %}</a>&nbsp;
        <a href="{% url ain7.manage.views.notification_delete notification.id %}" 
           class="deletelink">{% trans "Delete" %}</a>

        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}

</div>

{% endblock %} {# content-left #}



{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
</div>
{% endblock %}
