{% extends "manage/base.html" %}

{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

{% if errors %}

<h2>{% trans "Errors"%}</h2>

<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="{% url ain7.manage.views.errors_index %}?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="{% url ain7.manage.views.errors_index %}?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="{% url ain7.manage.views.errors_index %}?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="{% url ain7.manage.views.errors_index %}?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</tr>
</table>
<ul>
  {% for error in errors %}
    <li>
      <a href="{% url ain7.manage.views.error_details error.id %}">
        #{{ error.id }}</a>
      <a href="{% url ain7.manage.views.error_swap error.id %}">
      </a>
      {{ error.title }}
        {% if error.fixed %}
          <img src="{{ MEDIA_URL }}skins/default/images/icon_savelink.gif" alt="ok"/> 
        {% endif %}
    </li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %} {# content-left #}

{% block extra-menu %}
<h2>{% trans "Actions" %}</h2>
<div class="grey-box">
<ul>
<li><a href="{% url ain7.manage.views.errors_edit_range %}">{% trans "Edit a range of errors" %}</a></li>
</ul>
</div>
{% endblock %} {# extra-menu #}
