{% extends "manage/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load endless %}

{% block content-left %}

{% if errors %}

{% paginate errors %}

<h2>{% trans "Errors"%}</h2>

<ul>
  {% for error in errors %}
    <li>
      <a href="{% url "ain7.manage.views.error_details" error.id %}">
        #{{ error.id }}</a>
      <a href="{% url "ain7.manage.views.error_swap" error.id %}">
      </a>
      {{ error.title }}
        {% if error.fixed %}
          <img src="{% static "skins/default/images/icon_savelink.gif" %}" alt="ok"/> 
        {% endif %}
    </li>
  {% endfor %}
</ul>

<p class="text-center">{% show_pages %}</p> 

{% endif %}

{% endblock %}

