{% extends "manage/base.html" %}

{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div class="left_box">

<h2>Error #{{ error.id }}</h2>

<table border="0">
<tr><td><b>{% trans "User:" %}</b> </td><td><a href="{% url ain7.annuaire.views.details error.user.id %}">{{ error.user.person }}</a></td></tr>
<tr><td><b>{% trans "Date:" %}</b> </td><td>{{ error.date|date:"l j F Y H:i" }}</td></tr>
<tr><td><b>{% trans "Request:" %}</b> </td><td>{{ error.url }}</td></tr>
<tr><td><b>{% trans "Referer:" %}</b> </td><td>{{ error.referer }}</td></tr>
<tr><td><b>{% trans "Browser:" %}</b> </td><td>{{ error.browser_info }}</td></tr>
<tr><td><b>{% trans "Client address:" %}</b> </td><td>{{ error.client_address }}</td></tr>
<tr><td><b>{% trans "Title:" %}</b> </td><td>{{ error.title }}</td></tr>
<tr><b>{% trans "Referrer:" %}</b></td><td> </td></tr>
</table>
<b>{% trans "Error:" %}</b><br />
<div class="code">
<pre>
{{ error.exception|escape|linebreaksbr }}
</pre>
</div>

</div>

{% endblock %}
