{% extends "manage/base.html" %}
{% load i18n %}
{% load endless %}

{% block content-left %}

<h2>{% trans "Mailings"%}</h2>

<p><a class="btn btn-primary" href="{% url "ain7.manage.views.mailing_edit" %}" class="addlink">{% trans "Add" %}</a></p>

{% paginate mailings %}
<p class="text-center">{% show_pages %}</p> 
<ul>
    {% for mailing in mailings %}
        <li><a href="{% url "ain7.manage.views.mailing_edit" mailing.id %}">{{ mailing.title }}</a><br/>
        {% if mailing.description %}
        {{ mailing.description }} <br/>
        {% endif %}
        {% if mailing.created_at and mailing.created_by %}
        <i>{% trans "Created by" %} <a href="{% url "ain7.annuaire.views.details" mailing.created_by.user.id %}">{{ mailing.created_by }}</a> {% trans "the" %} {{ mailing.created_at|date:"l j F Y H:i" }}</i><br/>
        {% endif %}
        {% if mailing.modified_at and mailing.modified_by %}
        <i>{% trans "Modified by" %} <a href="{% url "ain7.annuaire.views.details" mailing.modified_by.user.id %}">{{ mailing.modified_by }}</a> {% trans "the" %} {{ mailing.modified_at|date:"l j F Y H:i" }}</i><br/>
        {% endif %}
        {% if mailing.approved_by and mailing.approved_at %}
        <i>{% trans "Approved by" %} <a href="{% url "ain7.annuaire.views.details" mailing.approved_by.user.id %}">{{ mailing.approved_by }}</a> {% trans "the" %}{{ mailing.approved_at|date:"l j F Y H:i" }}</i><br/>
        {% endif %}
        {% if mailing.sent_at %}
        <i>{% trans "Sent on" %} {{ mailing.sent_at|date:"l j F Y H:i" }} {% trans "to" %} {{ mailing.mail_to.label }}</i>  ({{ mailing.mailingrecipient_set.count }} {% trans "persons" %})<br/>
        <i><a href="{% url "ain7.manage.views.mailing_export" mailing.id %}">{% trans "Download snail mail mailing listing" %}</a></i><br/>
        {% endif %}
        </li>
       <br/>
    {% endfor %}
</ul>

<p class="text-center">{% show_pages %}</p> 

{% endblock %}
