<html>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" style="font-family: 'Helvetica Neue',Roboto,Arial,'Droid Sans',sans-serif; font-size: 14px; line-height: 24px; color: #4c4c4c; background: #f7f7f7;">

<p class="text-center">
<img src="cid:logo_ain7.png" style="height: 100px; width: 98px; float: left; padding-left: 40px; padding-top: 15px;" alt="AIn7, association des ingénieurs de l'ENSEEIHT">
</p>

<br><br><br><br>

<div style="background-color: #ffffff; margin-top: 20px; margin-bottom: 10px; padding: 10px 17px; border: 1px solid #e6e9ed; margin-left: 20px; margin-right: 20px;">
