{% extends "manage/base.html" %}
{% load i18n %}
{% load el_pagination_tags %}

{% block content-left %}

<form action="." method="get">
	<table class="form">
		{{ form }}
	</table>
<div style="text-align: center">
	<input class="btn btn-primary" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% if organizations %}

{% ifnotequal organizations|length 0 %}

<h2>{% trans "Results list"%}</h2>

{% paginate organizations %}

{% include "pages/paginator.html" %}

<ul>
  {% for org in organizations %}
    <li>
      <a href="{% url "organization-details" org.id %}">
        {{ org.name }}
      </a>
    </li>
  {% endfor %}
</ul>
{% include "pages/paginator.html" %}
{% else %}
    <p>{% trans "No organization matched your criteria." %}</p>
{% endifnotequal %}
{% endif %}

{% endblock %} {# content-left #}

