{% extends "manage/base.html" %}

{% load i18n %}

{% block content-left %}

<h2>{% trans "Payments"%}</h2>

<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="{% url "ain7.manage.views.payments_index" %}?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="{% url "ain7.manage.views.payments_index" %}?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="{% url "ain7.manage.views.payments_index" %}?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="{% url "ain7.manage.views.payments_index" %}?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<ul>
    {% for payment in payments %}
        <li><a href="{% url "ain7.manage.views.payment_details" payment.id %}">{{ payment.amount }} {% trans "by" %} {{ payment.person }} {% if payment.date %}{% trans "the" %} {{payment.date|date:"l j F Y" }}{% endif %}</a></li>
    {% endfor %}
</ul>

{% endblock %}
