{% extends "manage/base.html" %}
{% load i18n %}
{% load endless %}

{% block content-left %}

<h2>{% trans "Payments"%}</h2>

{% paginate payments %}

<p class="text-center">{% show_pages %}</p> 

<ul>
    {% for payment in payments %}
        <li><a href="{% url "payment-details" payment.id %}">{{ payment.amount }} {% trans "by" %} {{ payment.person }} {% if payment.date %}{% trans "the" %} {{payment.date|date:"l j F Y" }}{% endif %}</a></li>
    {% endfor %}
</ul>

<p class="text-center">{% show_pages %}</p> 

{% endblock %}
