{% extends "manage/base.html" %}

{% load i18n %}

{% block content-left %}

<h1>{{ action_title }}</h1>

<form action="." method="post">
    <table class="form">
       {{ form }}
    </table>
<div style="text-align: center">
   <a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
   <input class="button" type="submit" value="{% trans "Register" %}" />
</div>
</form>
{% endblock %} {# content-left #}


{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    {#<li><a href="{% url ain7.manage.views.organizations_edit %}">{% trans "Register organization" %}</a></li>#}
</ul>
</div>
{% endblock %} {# actions #}
