{% extends "manage/base.html" %}

{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<h2>{% trans "Group list"%}</h2>

<ul>
    {% for role in roles %}
        <li class="role"><a href="{% url ain7.manage.views.role_details role.slug %}">{{ role.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}

{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
    <li><a href="{% url ain7.manage.views.role_register %}">{% trans "Register new group" %}</a></li>
</ul>
</div>
{% endblock %}
