{% extends "manage/base.html" %}
{% load i18n %}
{% load endless %}

{% block content-left %}

<form action="." method="get">
	<table class="form">
		{{ form }}
	</table>
<div style="text-align: center">
	<input class="btn btn-primary" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% if persons %}

{% ifnotequal persons|length 0 %}

{% paginate persons %}

<h2>{% trans "Results list"%}</h2>

<p class="text-center">{% show_pages %}</p> 

<ul>
    {% for person in persons %}
        <li class="person"><a href="{% url "ain7.annuaire.views.details" person.user.id %}">
            {{ person.last_name }} 
            {% if person.maiden_name %} ({{ person.maiden_name }}) {% endif %}
            {{ person.first_name }}</a>
		</li>
    {% endfor %}
</ul>

<p class="text-center">{% show_pages %}</p> 

{% else %}
    <p>{% trans "No person matched your criteria." %}</p>
{% endifnotequal %}
{% endif %}
{% endblock %} {# content-left #}

