{% extends "manage/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div class="left_box">

<div id="cv">

<h1>{% trans "Personal file" %}
    {{ person.last_name }} {{ person.first_name }}</h1>

<a href="{% url ain7.manage.views.user_details person.user.id %}">{% trans "Back to personnal file" %}</a>

<h2>{% trans "Personal data" %}</h2>

<div class="dataBlock">
<ul>
   <li><b>{% filter capfirst %}{% trans "sex" %}{% endfilter %}
       &nbsp;:</b> {{ person.sex }}</li>
   <li><b>{% trans "First name" %}&nbsp;:</b> {{ person.first_name }}</li>
   <li><b>{% trans "Last name" %}&nbsp;:</b> {{ person.last_name }}</li>
   {% if ain7member.maiden_name %}
   <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
       &nbsp;:</b> {{ person.maiden_name|default:"" }}</li>
   {% endif %}
   <li><b>{% trans "Birth date" %}&nbsp;:</b>
       {{ person.birth_date|date:"d/m/Y" }}</li>
   {% if person.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ person.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   <li><b>{% filter capfirst %}{% trans "nationality" %}{% endfilter %}
       &nbsp;:</b> {{ person.country.nationality }}</li>
</ul>
</div>

<p><a href="{% url ain7.manage.views.user_person_edit person.user.id %}" class="changelink">
{% trans "Modify" %}</a></p>

<h2><a name="address"/>{% trans "Address" %}</h2>

<table style="border: 0; width: 100%">
{% for address in person.addresses.all %}
    <tr><td><b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b></td><td>
        {{ address.line1 }} {{ address.line2|default_if_none:"" }} -
        {{address.zip_code }} {{ address.city }} - {{ address.country.name }}
        {% if address.is_confidential %} ({% trans "confidential" %})
        {% else %}                       ({% trans "not confidential" %})
        {% endif %}</td>
    <td style="width: 12%">
        <a href="{% url ain7.manage.views.user_address_edit person.user.id address.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.manage.views.user_address_delete person.user.id address.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="{% url ain7.manage.views.user_address_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>


<h2><a name="phone"/>{% trans "Phone numbers" %}</h2>

<table style="border: 0; width: 100%">
{% for phone_number in person.phone_numbers.all %}
   <tr><td><b>{{ phone_number.get_type_display }} :</b></td>
   <td>{{ phone_number.number }}
       {% if phone_number.is_confidential %} ({% trans "confidential" %})
        {% else %} ({% trans "not confidential" %}) {% endif %}</td>
    <td style="width: 12%">
        <a href="{% url ain7.manage.views.user_phone_edit person.user.id phone_number.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.manage.views.user_phone_delete person.user.id phone_number.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="{% url ain7.manage.views.user_phone_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>


<h2><a name="email"/>
{% filter capfirst %}{% trans "email" %}{% endfilter %}</h2>

<table style="border: 0; width: 100%">
{% for email in person.emails.all %}
	    <tr><td><img src="/site_media/images/mail.png" alt="{% trans "email" %}"/><a href="mailto:{{ email.email }}">{{ email.email }}</a>
	{% if email.is_confidential %} ({% trans "confidential" %})
	{% else %}                     ({% trans "not confidential" %})
	{% endif %}

</td>
    <td style="width: 12%">
        <a href="{% url ain7.manage.views.user_email_edit person.user.id email.id %}" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="{% url ain7.manage.views.user_email_delete person.user.id email.id %}" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="{% url ain7.manage.views.user_email_edit person.user.id %}" class="addlink">
   {% trans "Add" %}</a></p>

{% if person.ain7member %}

<h2><a name="profexp"/>{% trans "Current professional experiences" %}</h2>

<table>
{% for position in person.ain7member.positions.all %}
    {% if not position.end_date %}
        <tr><td>{% trans "since" %}
                <b>{{ position.start_date|date:"d/m/Y"|default:"???" }}</b>&nbsp;:</td>
            <td><em>{{ position.fonction }}</em> {% trans "for" %}
                {{ position.office }}
                (<a href="{% url ain7.emploi.views.organization_details position.office.organization.id %}/">{{ position.office.organization }}</a>)</td></tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
<p><a href="{% url ain7.emploi.views.cv_edit person.user.id %}" class="changelink">
{% trans "Modify" %}</a></p>

{% endif %}
</div>
</div>
{% endblock %} {# content-left #}


{% block extra-navigation %}
      <li><a href="{% url ain7.annuaire.views.advanced_search %}">{% trans "Advanced Search" %}</a></li>
{% endblock %} {# extra-navigation #}
