{% extends "groupes_regionaux/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

    <h1>{{ group.name }}</h1>
    {% if group.about %}
        {{ group.about|safe }}
    {% endif %}

    <h3>{% trans "Board Members" %}</h3>
    {% regroup group.office_memberships by type as membership_groups %}
    {% for membership_group in membership_groups %}
        <h4>{{ membership_group.list.0.get_type_display }}</h4>
        <ul>
        {% for membership in membership_group.list %}
            <li>
                <a href="{% url ain7.annuaire.views.details membership.member.user.id %}">{{ membership.member }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}
