{% extends "groupes_regionaux/base.html" %}
{% load i18n %}

{% block javascript %}
<!-- calendar -->
<script src="{{ MEDIA_URL }}/js/calendar/calendar.js" type="text/javascript"></script>
<!-- this is translation file for calendar - choose your language here -->
<script src="{{ MEDIA_URL }}/js/calendar/lang/calendar-en.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/js/calendar/calendar-setup.js" type="text/javascript"></script>
<!-- /calendar -->
<script src="{{ MEDIA_URL }}/js/mootools-{{ mootools_version }}-core-nc.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/js/autocomplete.js?version={{ portal_version }}" type="text/javascript"></script>
{% endblock %}

{% block content-left %}


<form method="post" action="." enctype="multipart/form-data">
<table>
{{ form }}
</table>
<div style="text-align: center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

{% endblock %}


{% block actions %}
   {% if superadmin or secretariat_member %}
   <h2>{% trans "Actions" %}</h2>
   <div class="grey-box">
    <ul>
      <li><a href="{% url ain7.association.views.council %}">{% trans "Change council roles" %}</a></li>
    </ul>
   </div>
   {% endif %}
{% endblock %}
