{% extends "base.html" %}
{% load i18n ain7_tags %}

{% block barre-groupes_regionaux %}<li class="active">{% endblock %}

{% block content %}



<div class="span-17 colborder">
{% block content-left %}{% endblock %}
</div>


<div class="span-6 last">

    {% if group %}
    <div class="grey-box">    
    <h2>{% trans "Actions" %}</h2>
        <ul>
            <li><a href="{% url ain7.groups.views.index %}">{% trans "Groups" %}</a></li>
            <li><a href="{% url ain7.groups.views.details group.slug %}">{{ group.name }}</a></li>
            <li>
            {% if not is_member %}
                <a href="{% url ain7.groups.views.join group.slug %}">{% trans "Join the group" %}</a>
            {% else %}
                <a href="{% url ain7.groups.views.quit group.slug %}">{% trans "Leave the group" %}</a>
            {% endif %}
            </li>
            <li><a href="{% url ain7.groups.views.members group.slug %}">{% trans "Members" %}</a></li>
            {% if superadmin or ca_member or secretariat_member %}
            <li><a href="{% url ain7.groups.views.edit group.slug %}">{% trans "Modify" %}</a></li>
            <li><a href="{% url ain7.groups.views.edit %}">{% trans "Register new group" %}</a></li>
            {% endif %}
        </ul>
    </div>

    {% if group.active_events %}
    <div class="grey-box">    
        <h2>{% trans "Events" %}</h2>
        {% for event in group.active_events %}
                <p><strong><a href="{% url ain7.news.views.event_details event.id %}">{{ event.title|upper }}</a></strong></p>
                <p>
{% blocktrans with event.date|date:"d/m/Y" as date and event.location as place %}{{ date }} at {{ place }}{% endblocktrans %}
                </p>
                {% if event.body %}
                    <p><em>{{ event.body|safe|truncatewords:10 }}</em></p>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %} {# group.active_events #}

    {% block extra-menu %}{% endblock %}

    <div class="grey-box">    
    <h2>{% trans "Card Informations"%}</h2>
    {%  show_last_change group %}
    {% endif %} {# group #}
    </div>

    {% if groups %}
    <div class="grey-box">    
    <h2>{% trans "Statistics" %}</h2>

        <ul>
            <li>{{ groups|length }} {% trans "groups" %}</li>
        </ul>
    </div>

    {% endif %}

</div> <!-- right -->

{% endblock %}
