{% extends "groups/base.html" %}
{% load i18n ain7_tags %}
{% load static from staticfiles %}

{% block content-left %}

    <h1>{{ group.name }}</h1>
    {% if group.about %}
        {{ group.about|safe }}
    {% endif %}

    <h3>{{ group.grouphead.name }}</h3>

<table class="table table-striped">
<tbody>
{% for r in group.get_group_head %}
   <th>{{ r.title }}</th>
   <td>
       {% if r.person.ain7member.avatar %}
        <img src ="{{ r.person.ain7member.avatar.url }}" height="50"  alt="{{ r.person.complete_name }}" title="{{ r.person.complete_name }}" />
        {% else %}
        <img src="{% static "images/nobody.png" %}" height="50" alt="{{ r.person.complete_name }}"/>
        {% endif %}
    </td>
    <td>
    <a href="{% url "member-details" r.person.user.id %}">{{ r.person }}</a><br/>
    (<i>{{ r.person.ain7member.track }} {{ r.person.ain7member.promo }}</i>)
    {% if superadmin or secretariat_member %}
    </td><td>
        <a href="{% url "group-role-edit" group.slug r.id %}"><i class="fa fa-pencil fa-lg"></i></a><br/>
        <a href="{% url "group-role-delete" group.slug r.id %}"><i class="fa fa-trash-o fa-lg"></i></a>
    {% endif%}
   </td>
   </tr>
{% endfor %}
</tbody>
</table>

{% if superadmin or secretariat_member %}
<p><a class="btn btn-primary" href="{% url "group-role-add" group.slug %}"><i class="fa fa-plus fa-lg"></i> {% trans "Add" %}</a></p>
{% endif %}

{% endblock %}
