{% extends "groups/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load el_pagination_tags %}

{% block title %}
    {{ group.name }}
{% endblock %}


{% block breadcrumb %}
    <ul>
        <li><a href="{% url "homepage" %}">Accueil</a></li>
        <li><a href="{% url "group-details" group.slug %}">{{ group.name }}</a></li>
        <li><a href="#">{% trans "Members" %}</a></li>
    </ul>
{% endblock %}

{% block content-left %}

    {% if members %}
        {% paginate members %}

        {% for member in members %}
            <div class="about_autor">
                <figure>
                    {% if member.avatar %}
                        <img src="{{ member.avatar.url }}"
                             alt="{{ member.complete_name }}"
                             title="{{ member.complete_name }}"/>
                    {% else %}
                        <img src="{% static "images/nobody.png" %}"
                             alt="{{ member.complete_name }}"/>
                    {% endif %}
                </figure>
                <div class="about-autor_des">
                    <h6>
                        <a href="{% url "member-details" member.user.id %}">
                            {{ member.last_name }}
                            {% if member.maiden_name %}
                                ({{ member.maiden_name }})
                            {% endif %}
                            {{ member.first_name }}
                        </a>
                    </h6>
                    <p><strong>{{ member.promo_full }}</strong><br/>
                        {% if member.is_subscriber %}
                            <img src="{% static "logo_ain7.png" %}" title="Adherent {% now "Y" %}"
                                 alt="adherent {% now "Y" %}" width="25" height="25"/>
                        {% endif %}
                        {% if member.personprivate.death_date %}
                            <img src="{% static "images/deceased.png" %}" title="Décédé" alt="Décédé"
                                 width="16"
                                 height="16"/>
                        {% endif %}

                        {% if not member.death_date %}
                            {% for position in member.positions.all %}
                                {% if not position.end %}
                                    <i>{{ position.office.organization }}{% if not forloop.last %}
                                        , {% endif %}</i>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if superadmin or secretariat_member %}
                            <br/>
                            <a href="{% url "group-member-edit" group.slug member.id %}"
                               class="changelink">
                                {% trans "Modify" %}</a><br/>
                            <a href="{% url "group-member-delete" group.slug member.id %}"
                               class="deletelink">
                                {% trans "Delete" %}</a>
                        {% endif %}

                    </p>
                </div>
            </div>
        {% endfor %}
        {% include "pages/paginator.html" %}
    {% endif %}

{% endblock %}
