{% extends "base.html" %}
{% load i18n %}

{% block barre-emploi %}<li class="active">{% endblock %}


{% block content %}


<div id="content-main">

<div class="left">
{% block content-left %}{% endblock %}
</div>


<div class="right">

{% block actions %}{% endblock %}

{% block menu-cv %}
{% if ain7member %}
<h3>{% trans "Manage your CV" %}</h3>
<div class="right_articles">
<ul>
<li><a href="{% url ain7.emploi.views.cv_details user.id %}">{% trans "View your CV" %}</a></li>
<li><a href="{% url ain7.emploi.views.cv_edit user.id %}">{% trans "Modify your CV" %}</a></li>
<li><a href="{% url ain7.annuaire.views.ain7member_edit user.id %}">{% trans "Manage your CV visiblity" %}</a></li>
</ul>
</div>
{% endif %}
{% endblock %}


{% block menu-offres %}
<h3>{% trans "Manage Job Offers" %}</h3>
<div class="right_articles">
<ul>
<li><a href="{% url ain7.emploi.views.job_register %}">{% trans "Register a job offer" %}</a></li>
<li><a href="{% url ain7.emploi.views.job_search %}">{% trans "Search a job offer" %}</a></li>
</ul>
</div>
{% endblock %}


{% block menu-proposals %}
{% if proposals %}
<h3>{% trans "Your proposals under review" %}</h3>
  <div class="right_articles">
    <ul>
      {% for proposal in proposals %}
        <li>{{ proposal }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endblock %}


{% block menu-organisation %}
<h3>{% trans "Propose some modifications" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/emploi/organization/edit/">{% trans "Edit an organization in database" %}</a></li>
<li><a href="{% url ain7.emploi.views.organization_check %}">{% trans "Add an organization in database" %}</a></li>
<li><a href="/emploi/organization/delete/">{% trans "Delete an organization from database" %}</a></li>
</ul>
</div>
{% endblock %}

{% block show_last_change %}{% endblock %}
{% block statistics %}{% endblock %}

</div> <!-- right -->
</div> <!-- content-main -->

{% endblock %}
