{% extends "emploi/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div id="cv">

<div class="dataBlock">

<h1>{{ person.last_name }} {{ person.first_name }}</h1>

<table style="border: 0; width: 100%">
<tr>
{% for address in person.addresses.all %}
    {% if not address.is_confidential %}
        <td>
        <b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b><br />
        {{ address.line1 }} {{ address.line2|default_if_none:"" }}<br />
        {{ address.zip_code }} {{ address.city }}<br />
        {{ address.country.name }}
	</td>
    {% endif %}
{% endfor %}

<td>
{% if person.avatar %}
    <img src="/site_media/{{ person.avatar.url }}" height="100" alt="{% trans "avatar" %}"/>
{% endif %}
</td>
</tr>

<tr>
<td>
{% for phone_number in person.phone_numbers.all %}
    {% if not phone_number.is_confidential %}
	<b>{{ phone_number.get_type_display }} :</b> 
	{{ phone_number.number }} <br />
    {% endif %}
{% endfor %}

{% for email in person.emails.all %}
	{% if not email.is_confidential %}
            <img src="/site_media/images/mail.png" 
            alt="{% trans "email" %}"/>
            <a href="mailto:{{ email.email }}">{{ email.email }}</a><br />
	{% endif %}
{% endfor %}
</td>
</tr>
</table>

<div id="cv_title">{{ AIn7Member.cv_title }}</div>

</div> <!-- dataBlock -->
<a href="{% url ain7.annuaire.views.edit person.user.id %}" class="changelink">
{% trans "Modify" %}</a>


<h2><a name="prof_exp"/>{% trans "Professional experiences" %}</h2>


{% if ain7member.positions.all %}
<table style="width: 100%">
{% for position in ain7member.positions.all %}
    {% if not position.is_confidential %}
        <tr><td style="width: 25%"><b>{{ position.start_date|date:"d/m/Y"|default:"???" }} - 
            {{ position.end_date|date:"d/m/Y"|default:"..." }}</b></td>
            <td> <em>{{ position.fonction }}</em> {% trans "for" %} 
                {{ position.office }} ({{ position.office.organization }})</td>
            <td style="width: 12%"><a href="{% url ain7.emploi.views.position_edit person.user.id,position.id %}" class="changelink">{% trans "Modify" %}</a></td>
            <td style="width: 12%"><a href="{% url ain7.emploi.views.position_delete person.user.id position.id %}" class="deletelink"> {% trans "Delete" %}</a></td>
        </tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="{% url ain7.emploi.views.position_add person.user.id %}" class="addlink"> {% trans "Add" %}</a>
<br />


<h2><a name="publications"/>{% trans "Publications and patents" %}</h2>


{% if ain7member.publication.all %}
<table style="width: 100%">
{% for publicationItem in ain7member.publication.all %}
    <tr><td style="width: 25%"><b>{{ publicationItem.date|date:"Y"|default:"" }}</b></td>
        <td> <em>{{ publicationItem.title }}</em></td>
        <td style="width: 12%"><a href="{% url ain7.emploi.views.publication_edit person.user.id publicationItem.id %}" class="changelink"> {% trans "Modify" %}</a></td>
        <td style="width: 12%"><a href="{% url ain7.emploi.views.publication_delete person.user.id publicationItem.id %}" class="deletelink"> {% trans "Delete" %}</a></td>
    </tr>
    {% if publicationItem.details %}
        <tr><td></td><td>{{ publicationItem.details|safe }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="{% url ain7.emploi.views.publication_add person.user.id %}" class="addlink"> {% trans "Add" %}</a>
<br />


<h2><a name="education"/>{% trans "Education" %}</h2>


{% if ain7member.education.all %}
<table style="width: 100%">
{% for educationItem in ain7member.education.all %}
    <tr><td style="width: 25%"><b>{{ educationItem.start_date|date:"Y" }} - 
        {{ educationItem.end_date|date:"Y"|default:"..." }}</b></td>
        <td> <em>{{ educationItem.school }}</em></td>
        <td style="width: 12%"><a href="{% url ain7.emploi.views.education_edit person.user.id educationItem.id %}" class="changelink"> {% trans "Modify" %}</a></td>
        <td style="width: 12%"><a href="{% url ain7.emploi.views.education_delete person.user.id educationItem.id %}" class="deletelink"> {% trans "Delete" %}</a></td>
    </tr>
    {% if educationItem.diploma %}
        <tr><td></td><td>{{ educationItem.diploma }}</td></tr>
    {% endif %}
    {% if educationItem.details %}
        <tr><td></td><td>{{ educationItem.details|safe }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="{% url ain7.emploi.views.education_add person.user.id %}" class="addlink"> {% trans "Add" %}</a>
<br />


{% if ain7member.diploma.all %}
<h2><a name="diploma"/>{% trans "Diploma" %}</h2>

<table style="width: 100%">
{% for diplomaItem in ain7member.diploma.all %}
    <tr><td>{{ diplomaItem.diploma }}</td>
        <td style="width: 12%"><a href="{% url ain7.emploi.views.diploma_delete person.user.id diplomaItem.id %}" class="deletelink"> {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<br />
{% endif %}


<h2><a name="leisure"/>{% trans "Leisure activities" %}</h2>


{% if ain7member.leisure.all %}
<table style="width: 100%">
{% for leisureItem in ain7member.leisure.all %}
    <tr><td style="width: 25%"><b>{{ leisureItem.title }}</b></td>
        <td>
	    {% if leisureItem.detail %}
                {{ leisureItem.detail }}
            {% endif %}
	</td>
        <td style="width: 12%"><a href="{% url ain7.emploi.views.leisure_edit person.user.id leisureItem.id %}" class="changelink"> {% trans "Modify" %}</a></td>
        <td style="width: 12%"><a href="{% url ain7.emploi.views.leisure_delete person.user.id leisureItem.id %}" class="deletelink"> {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
<a href="{% url ain7.emploi.views.leisure_add person.user.id %}" class="addlink"> {% trans "Add" %}</a>

</div><!-- cv -->
{% endblock %}
