{% extends "emploi/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">
<div id="cv">

<div id="personalData">

<h1>{{ person.first_name }} {{ person.last_name }}</h1>

<table border="0" width="100%">
<tr>
{% for address in person.addresses.all %}
    {% if not address.is_confidential %}
        <td>
        <b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b><br />
        {{ address.number }} {{ address.street }}<br />
        {{ address.zip_code }} {{ address.city }}<br />
        {{ address.country.name }}
	</td>
    {% endif %}
{% endfor %}

<td>
{% if person.avatar %}
    <img src="/site_media/{{ person.get_avatar_url }}" 
     height="100" alt="{% trans "avatar" %}"/>
{% endif %}
</td>
</tr>

<tr>
<td>
{% for phone_number in person.phone_numbers.all %}
    {% if not phone_number.is_confidential %}
	<b>{{ phone_number.get_type_display }} :</b> 
	{{ phone_number.number }} <br />
    {% endif %}
{% endfor %}

{% for email in person.emails.all %}
	{% if not email.is_confidential %}
            <img src="/site_media/images/mail.png" 
            alt="{% trans "email" %}"/>
            <a href="mailto:{{ email.email }}">{{ email.email }}</a><br />
	{% endif %}
{% endfor %}
</td>
</tr>
</table>

<div id="cvTitle">{{ AIn7Member.cvTitle }}</div>

</div>
<a href="/annuaire/{{ person.user.id }}/edit/">
<img src="/site_media/images/icon_changelink.gif" border="0" />
{% trans "Modify" %}</a>

<h2>{% trans "Professional experiences" %}</h2>


{% if ain7member.positions.all %}
<table width="100%">
{% for position in ain7member.positions.all %}
    {% if not position.is_confidential %}
        <tr><td width="25%"><b>{{ position.start_date|date:"d/m/Y" }} - 
            {{ position.end_date|date:"d/m/Y"|default:"..." }}</b></td>
            <td> <em>{{ position.fonction }}</em> {% trans "for" %} 
                {{ position.office }} ({{ position.office.company }})</td>
            <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/position/{{ position.id }}/edit/">
                <img src="/site_media/images/icon_changelink.gif" border="0" /> 
                {% trans "Modify" %}</a></td>
            <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/position/{{ position.id }}/delete/">
                <img src="/site_media/images/icon_deletelink.gif" border="0" /> {% trans "Delete" %}</a></td>
        </tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="/emploi/{{ person.user.id }}/cv/position/add/"><img src="/site_media/images/icon_addlink.gif" border="0"> {% trans "Add" %}</a>
<br />

<h2>{% trans "Publications" %}</h2>


{% if ain7member.publication.all %}
<table width="100%">
{% for publicationItem in ain7member.publication.all %}
    <tr><td width="25%"><b>{{ publicationItem.date|date:"d/m/Y"|default:"" }}</b></td>
        <td> <em>{{ publicationItem.title }}</em></td>
        <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/publication/{{ publicationItem.id }}/edit/">
            <img src="/site_media/images/icon_changelink.gif" border="0" /> {% trans "Modify" %}</a></td>
        <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/publication/{{ publicationItem.id }}/delete/">
            <img src="/site_media/images/icon_deletelink.gif" border="0" /> {% trans "Delete" %}</a></td>
    </tr>
    {% if publicationItem.details %}
        <tr><td></td><td>{{ publicationItem.details }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="/emploi/{{ person.user.id }}/cv/publication/add/"><img src="/site_media/images/icon_addlink.gif" border="0" /> {% trans "Add" %}</a>
<br />



<h2>{% trans "Education" %}</h2>


{% if ain7member.education.all %}
<table width="100%">
{% for educationItem in ain7member.education.all %}
    <tr><td width="25%"><b>{{ educationItem.start_date|date:"d/m/Y" }} - 
        {{ educationItem.end_date|date:"d/m/Y"|default:"..." }}</b></td>
        <td> <em>{{ educationItem.school }}</em></td>
        <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/education/{{ educationItem.id }}/edit/">
            <img src="/site_media/images/icon_changelink.gif" border="0" /> {% trans "Modify" %}</a></td>
        <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/education/{{ educationItem.id }}/delete/">
            <img src="/site_media/images/icon_deletelink.gif" border="0" /> {% trans "Delete" %}</a></td>
    </tr>
    {% if educationItem.diploma %}
        <tr><td></td><td>{{ educationItem.diploma }}</td></tr>
    {% endif %}
    {% if educationItem.details %}
        <tr><td></td><td>{{ educationItem.details }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="/emploi/{{ person.user.id }}/cv/add/education/"><img src="/site_media/images/icon_addlink.gif" border="0" /> {% trans "Add" %}</a>
<br />


<h2>{% trans "Leisure activities" %}</h2>


{% if ain7member.leisure.all %}
<table width="100%">
{% for leisureItem in ain7member.leisure.all %}
    <tr><td width="25%"><b>{{ leisureItem.title }}</b></td>
        <td>
	    {% if leisureItem.detail %}
                {{ leisureItem.detail }}
            {% endif %}
	</td>
        <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/leisure/{{ leisureItem.id }}/edit/">
            <img src="/site_media/images/icon_changelink.gif" border="0" /> {% trans "Modify" %}</a></td>
        <td width="12%"><a href="/emploi/{{ person.user.id }}/cv/leisure/{{ leisureItem.id }}/delete/">
            <img src="/site_media/images/icon_deletelink.gif" border="0" /> {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
<a href="/emploi/{{ person.user.id }}/cv/leisure/add/"><img src="/site_media/images/icon_addlink.gif" border="0" /> {% trans "Add" %}</a>

</div>
</div>

{% endblock %}
