{% extends "emploi/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">
<div id="cv">

<h1>{{ person.first_name }} {{ person.last_name }}</h1>
<table border="0">
{% for address in person.addresses.all %}
    {% if not address.is_confidential %}
        <tr><td><b>{% trans "Address" %} {{ address.type|lower }} :</b></td>
	    <td>{{ address.number }} {{ address.street }}</td></tr> 
	<tr><td></td><td>{{ address.zip_code }} {{ address.city }}</td></tr>
	<tr><td></td><td>{{ address.country.name }}</td></tr>
    {% endif %}
{% endfor %}

{% for phone_number in person.phone_numbers.all %}
    {% if not phone_number.is_confidential %}
	<tr><td><b>{{ phone_number.get_type_display }} :</b> 
	{{ phone_number.number }}</td></tr>
    {% endif %}
{% endfor %}

{% for email in person.emails.all %}
	{% if not email.is_confidential %}
	    <tr><td><img src="/site_media/images/mail.png" 
	    alt="{% trans "email" %}"/>
	    <a href="mailto:{{ email.email }}">{{ email.email }}</a></td></tr>
	{% endif %}
{% endfor %}
</table>
{% trans "To modify these data, please click" %}
<a href="/annuaire/{{ person.user.id }}/edit/">{% trans "here" %}</a>.


<h2>{% trans "Professional experiences" %}</h2>


{% if person.positions.all %}
<table>
{% for position in person.positions.all %}
    {% if not position.is_confidential %}
        <tr><td><b>{{ position.start_date|date:"d/m/Y" }} - 
            {{ position.end_date|date:"d/m/Y"|default:"..." }}&nbsp;:</b></td>
            <td> {{ position.fonction }} {% trans "for" %} 
                {{ position.office }} ({{ position.office.company }})</td>
            <td><a href="/emploi/{{ person.user.id }}/cv/edit/position/{{ position.id }}/">
                <img src="/site_media/images/icon_changelink.gif" border="0"> {% trans "Modify" %}</a></td>
            <td><a href="/emploi/{{ person.user.id }}/cv/delete/position/{{ position.id }}/">
                <img src="/site_media/images/icon_deletelink.gif" border="0"> {% trans "Delete" %}</a></td>
        </tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="/emploi/{{ person.user.id }}/cv/add/position/"><img src="/site_media/images/icon_addlink.gif" border="0"> {% trans "Add" %}</a>
<br />


<h2>{% trans "Education" %}</h2>


{% if person.education.all %}
<table>
{% for educationItem in person.education.all %}
    <tr><td><b>{{ educationItem.start_date|date:"d/m/Y" }} - 
        {{ educationItem.end_date|date:"d/m/Y"|default:"..." }}&nbsp;:</b></td>
        <td> {{ educationItem.school }}</td>
        <td><a href="/emploi/{{ person.user.id }}/cv/edit/education/{{ educationItem.id }}/">
            <img src="/site_media/images/icon_changelink.gif" border="0"> {% trans "Modify" %}</a></td>
        <td><a href="/emploi/{{ person.user.id }}/cv/delete/education/{{ educationItem.id }}/">
            <img src="/site_media/images/icon_deletelink.gif" border="0"> {% trans "Delete" %}</a></td>
    </tr>
    {% if educationItem.diploma %}
        <tr><td></td><td>{{ educationItem.diploma }}</td></tr>
    {% endif %}
    {% if educationItem.details %}
        <tr><td></td><td>{{ educationItem.details }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}
<a href="/emploi/{{ person.user.id }}/cv/add/education/"><img src="/site_media/images/icon_addlink.gif" border="0"> {% trans "Add" %}</a>
<br />


<h2>{% trans "Leisure activities" %}</h2>


{% if person.leisure.all %}
<table>
{% for leisureItem in person.leisure.all %}
    <tr><td><b>{{ leisureItem.title }}</b></td>
        <td>
	    {% if leisureItem.detail %}
                {{ leisureItem.detail }}
            {% endif %}
	</td>
        <td><a href="/emploi/{{ person.user.id }}/cv/edit/leisure/{{ leisureItem.id }}/">
            <img src="/site_media/images/icon_changelink.gif" border="0"> {% trans "Modify" %}</a></td>
        <td><a href="/emploi/{{ person.user.id }}/cv/delete/leisure/{{ leisureItem.id }}/">
            <img src="/site_media/images/icon_deletelink.gif" border="0"> {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
<a href="/emploi/{{ person.user.id }}/cv/add/leisure/"><img src="/site_media/images/icon_addlink.gif" border="0"> {% trans "Add" %}</a>

</div>
</div>

{% endblock %}
