{% extends "emploi/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

{# ### this user is a physical person ### #}

{# if the user has preferred tracks for job offers, #}
{# we only display job offers for these tracks      #}

{% if ain7member.receive_job_offers_for_tracks.all %}

<h2>{% trans "Jobs list for tracks" %}&nbsp;
    {% for track in ain7member.receive_job_offers_for_tracks.all %}
        {{ track }}
        {% if not forloop.last %} - {% endif %}
    {% endfor %}
</h2>

{% else %}

<h2>{% trans "Jobs list" %}</h2>

{% endif %}

{% if liste_emplois %}
    <ul>
    {% for emploi in liste_emplois %}
        <li>{{ emploi.office.company }} ({{ emploi.office }}) 
           - <a href="/emploi/job/{{ emploi.id }}/">{{ emploi.title }}</a>
        </li>
    {% endfor %}
     </ul>
{% else %}
    <p>{% trans "No job." %}</p>
{% endif %}
<p>
<a href="/emploi/job/search/">{% trans "Search a job offer" %}</a><br />
</p>

<h2>{% trans "CV" %}</h2>
<p>
<a href="/emploi/{{ user.id }}/cv/">{% trans "View your CV" %}</a>.<br />
<a href="/emploi/{{ user.id }}/cv/edit/">{% trans "Modify your CV" %}</a>.<br />
{% trans "To display (or not) your CV in the directory, please fill" %}
<a href="/annuaire/{{ user.id }}/edit/">{% trans "this page" %}</a>
</p>

{# ### this user is not a physical person ### #}

<h2>{% trans "Manage Job Offers" %}</h2>
<p>
<a href="/emploi/job/register/">{% trans "Register a job offer" %}</a><br />
<a href="/emploi/job/search/">{% trans "Search a job offer" %}</a><br />
</p>

</div>

{% endblock %}
