{% extends "emploi/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

{# ### this user is a physical person ### #}

{# if the user has preferred tracks for job offers, #}
{# we only display job offers for these tracks      #}

{% if ain7member.receive_job_offers_for_tracks.all %}

<h3>{% trans "Job offers for your track" %}</h3>

<h2>
    {% if ain7member.receive_job_offers_for_tracks.all|length_is:"1" %}
         {% trans "Job offers list for track" %}
    {% else %}
         {% trans "Job offers list for tracks" %}
    {% endif %}
    {% for track in ain7member.receive_job_offers_for_tracks.all %}
        {{ track }}
        {% if not forloop.last %} - {% endif %}
    {% endfor %}
</h2>

{% else %}

<h3>{% trans "Job offers list" %}</h3>

{% endif %}

{% if liste_emplois %}
    <ul>
    {% for emploi in liste_emplois %}
        <li class="job"><a href="/emploi/societe/{{ emploi.office.company.id }}/">
    {{ emploi.office.company }}</a> ({{ emploi.office }}) 
           - <a href="/emploi/job/{{ emploi.id }}/">{{ emploi.title }}</a>
        </li>
    {% endfor %}
     </ul>
{% else %}
    <p>{% trans "No job offer." %}</p>
{% endif %}

</div>

</div>

<div class="right">

<h3>{% trans "Manage your CV" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/emploi/{{ user.id }}/cv/">{% trans "View your CV" %}</a></li>
<li><a href="/emploi/{{ user.id }}/cv/edit/">{% trans "Modify your CV" %}</a></li>
<li><a href="/annuaire/{{ user.id }}/ain7member/edit/">{% trans "Manage your CV visiblity" %}</a></li>
</ul>
</div>

{# ### this user is not a physical person ### #}

<h3>{% trans "Manage Job Offers" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/emploi/job/register/">{% trans "Register a job offer" %}</a></li>
<li><a href="/emploi/job/search/">{% trans "Search a job offer" %}</a></li>
</ul>
</div>

{% if proposals %}
<h3>{% trans "Your proposals under review" %}</h3>
  <div class="right_articles">
    <ul>
      {% for proposal in proposals %}
        <li>{{ proposal }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

</div>

</div>

{% endblock %}
