{% extends "emploi/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div class="left_box">

{# ### this user is a physical person ### #}

{# if the user has preferred tracks for job offers, #}
{# we only display job offers for these tracks      #}

{% if ain7member %}

{% if ain7member.receive_job_offers_for_tracks.all %}

<h3>
    {% if ain7member.receive_job_offers_for_tracks.all|length_is:"1" %}
         {% trans "Job offers list for track" %}
    {% else %}
         {% trans "Job offers list for tracks" %}
    {% endif %}
    {% for track in ain7member.receive_job_offers_for_tracks.all %}
        {{ track }}
        {% if not forloop.last %} - {% endif %}
    {% endfor %}
</h3>

{% else %}

<h3>{% trans "Job offers list" %}</h3>

{% endif %}

{% if liste_emplois %}
    <ul>
    {% for emploi in liste_emplois %}
        <li class="job"><a href="{% url ain7.emploi.views.job_details emploi.id %}">{{ emploi.title }}</a> - 
    (<a href="{% url ain7.emploi.views.organization_details emploi.office.organization.id %}">{{ emploi.office.organization }}</a> {{ emploi.office }}) 
        </li>
    {% endfor %}
     </ul>
{% else %}
    <p>{% trans "No job offer." %}</p>
{% endif %}

{% endif %}

</div>

{% endblock %}
