{% extends "emploi/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<h2>{% trans "Job Offer Details" %}</h2>

<p>{% trans "This announce has been viewed" %} {{ job.nb_views }} {% trans "times" %}.</p>

<ul>
<li><b>{% trans "Reference" %}&nbsp;:</b> {{ job.reference }}</li>
<li><b>{% trans "Title" %}&nbsp;:</b> {{ job.title }}</li>
<li><b>{% trans "Experience" %}&nbsp;:</b> {{ job.experience }}</li>
<li><b>{% trans "Contract Type" %}&nbsp;:</b> {{ job.get_contract_type_display }}</li>
<li><b>{% trans "Tracks" %}&nbsp;:</b> 
    {% for track in job.track.all %}
        {{ track }}
        {% if not forloop.last %} - {% endif %}
    {% endfor %}
</li>
</ul>

{{ job.description }}

</div>

{% endblock %}
