{% extends "emploi/base.html" %}
{% load i18n %}

{% block content-main %}

<!-- <div id="content-main"> -->

<div class="left">

<h2>{{ job.title }}</h2>

<ul>
<li><b>{% filter capfirst%}{% trans "company" %}{% endfilter %}&nbsp;:</b>
    <a href="/emploi/societe/{{ job.office.company.id }}/">
    {{ job.office.company }}</a>, {{ job.office }}
{% if job.contact %}
<li><b>{% trans "Contact" %}&nbsp;:</b> 
    <a href="/annuaire/{{ job.contact.user.id }}/">{{ job.contact }}</a>
{% endif %}
<li><b>{% trans "Reference" %}&nbsp;:</b> {{ job.reference }}</li>
<li><b>{% trans "Title" %}&nbsp;:</b> {{ job.title }}</li>
<li><b>{% trans "Experience" %}&nbsp;:</b> {{ job.experience }}</li>
<li><b>{% trans "Contract Type" %}&nbsp;:</b> {{ job.get_contract_type_display }}</li>
<li><b>{% trans "Tracks" %}&nbsp;:</b> 
    {% for track in job.track.all %}
        {{ track.name }}
        {% if not forloop.last %} - {% endif %}
    {% endfor %}
</li>
{% if job.contact_name or job.contact_email %}
    <li><b>{% trans "Contact" %}&nbsp;:</b>
      {% if job.contact_email %}
        <a href="mailto:{{ job.contact_email }}">
      {% endif %}
      {% if job.contact_name %} 
        {{ job.contact_name }}
      {% else %} 
        {{ job.contact_email }}
      {% endif %}
      {% if job.contact_email %}</a>{% endif %}
    </li>
{% endif %}
</ul>

{{ job.description|safe }}

</div>

{% endblock %}


{% block menu-right %}

   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="edit/">{% trans "Edit this job offer" %}</a></li>
    </ul>
   </div>

   <h3>{% trans "Card Informations"%}</h3>
   <div class="right_articles">
     <ul>
       <li>{% trans "Creation" %}&nbsp;: {{ job.creation_date|date:"l j F Y" }}</li>
       <li>{% trans "Update" %}&nbsp;: {{ job.modification_date|date:"l j F Y" }}</li>
     </ul>
   </div>

   <h3>{% trans "Statistics"%}</h3>
   <div class="right_articles">
     <p>{% trans "This announce has been viewed" %} {{ job.nb_views }} {% trans "times" %}.</p>
   </div>

{% endblock %}
