{% extends "emploi/base.html" %}
{% load i18n %}

{% block content-left %}

<h2>{% trans "Job Offer Search" %}</h2>

<form action="." method="post">
    <table style="border: 0; text-align: left">
       {{ form }}
    </table>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans "Search" %}" />
</div>
</form>

{% ifequal request.method 'POST' %}
<h2>{% trans "Research result" %}</h2>
{% if list_jobs %}
<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td style="align: right">
{% if is_paginated %}
{% if has_previous %}<a href="{% url ain7.emploi.views.search %}?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="{% url ain7.emploi.views.search %}?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="{% url ain7.emploi.views.search %}?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="{% url ain7.emploi.views.search %}?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<ul>
    {% for job in list_jobs %}
        <li class="job"><a href="{% url ain7.emploi.views.job_details job.id %}">{{ job.title }}</a> -
         (<a href="{% url ain7.emploi.views.organization_details job.office.organization.id %}">{{ job.office.organization }}</a> {{ job.office }})</li>
    {% endfor %}
</ul>
{% else %}
    <p>{% trans "No job offer correspond to your research" %}</p>
{% endif %}
{% endifequal %}

{% endblock %}
