{% extends "emploi/base.html" %}
{% load i18n %}

{% block javascript %}
<script type="text/javascript" src="/site_media/js/mootools-release-{{ mootools_version }}.js"></script>
<script type="text/javascript" src="/site_media/js/autocomplete.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/floatingpane.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/site_media/js/textareas.js?version={{ portal_version }}"></script>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>
{% endblock %}

{% block content %}

<div id="content-main">

{% ifequal object "office" %}
    <h2>{% trans "Creation of an office" %}</h2>
{% else %}
    <h2>{% trans "Creation of a company" %}</h2>
{% endifequal %}

<form method="post" action=".">
<table>
{{ form }}
</table>
<div align="center">
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

{% ifequal object "office" %}
    <a href="/emploi/{{ user.id }}/cv/company/create/" class="addlink">
    {% trans "Propose a new company" %}</a>
{% endifequal %}

</div>

{% endblock %}
