{% extends "emploi/base.html" %}
{% load i18n %}

{% block content-main %}

<div class="left">

<div class="left_box">

<h2>{{ organization.name }}</h2>

{% if organization.short_description %}
<p>{{ organization.short_description }}</p>
{% endif %}

{% if organization.long_description %}
{{ organization.long_description|safe }}
{% endif %}

<!--TODO: ajouter size + field-->
<h2>{% trans "List of offices" %}</h2>
<ul>
{% for office in organization.offices.all %}
    <li>{{ office }}
        {% if office.line1 or office.line2 or office.zip_code or office.city or office.country or office.phone_number or office.web_site %}
        <p>
           {% if office.line1 or office.line2 %}
               {{ office.line1|default_if_none:"" }} 
               {{ office.line2|default_if_none:"" }}<br />
           {% endif %}
           {% if office.zip_code or office.city or office.country %}
               {{ office.zip_code|default_if_none:"" }}
               {{ office.city|default_if_none:"" }}
               {% if office.country %} - {{ office.country }} {% endif %}<br />
           {% endif %}
           {% if office.phone_number %} 
               {{ office.phone_number }} <br />
           {% endif %}
           {% if office.web_site %} 
               <a href="{{ office.web_site }}">{{ office.web_site }}</a> 
           {% endif %}
        </p>
        {% endif %}

        {% if office.job_offers.all %}
	<br />
        {% trans "Job offers" %} :
          <ul>
            {% for emploi in office.job_offers.all %}
            <li class="job">
              <a href="{% url ain7.emploi.views.job_details emploi.id %}">{{ emploi.title }}</a> 
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.current_n7_employees %}
          <br />{% trans "Current N7 employees" %}
          <ul>
            {% for ain7member in office.current_n7_employees %}
              <li class="person">
                <a href="{% url ain7.annuaire.views.details ain7member.person.user.id %}">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if office.past_n7_employees %}
          <br />{% trans "Past N7 employees" %}
          <ul>
            {% for ain7member in office.past_n7_employees %}
              <li class="person">
                <a href="{% url ain7.annuaire.views.details ain7member.person.user.id %}">
                {{ ain7member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

    </li>
{% endfor %}
</ul>

</div>
</div>

{% endblock %}
