{% extends "emploi/base.html" %}
{% load i18n %}

{% block stylesheet %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/site_media/js/calendar/calendar-win2k-cold-2.css" />
{% endblock %}
{% block javascript %}{{ block.super }}
<!-- calendar -->
<script type="text/javascript" src="/site_media/js/calendar/calendar.js"></script>
<!-- this is translation file - choose your language here -->
<script type="text/javascript" src="/site_media/js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/site_media/js/calendar/calendar-setup.js"></script>
<!-- /calendar -->
{% endblock %}

{% block content %}

<div id="content-main">

{% ifequal action "edit" %}
    <h2>{% trans "Modification of a position" %}</h2>
{% else %}
    <h2>{% trans "Creation of a position" %}</h2>
{% endifequal %}

<form method="post" action=".">
<table>
{{ form }}
</table>
<div align="center">
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

<a href="/emploi/{{ user.id }}/cv/office/create/">
{% trans "Create a new office" %}</a>.

</div>

{% endblock %}
