.btn-effect::after {
    content: "";
    height: 50%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
form:before{
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.edu2_cur_wrap:hover figure:before
{
    transform: translateX(0%) translateY(0%) rotate(0deg);
    opacity: 0.85;
}