/* <?php $colorpackName = $gallery->i18n('AIN7'); ?>
 * $Revision: 01 $
 */

#gallery {
  color: black !important;
  background-color: #ffffff !important;
}
body.gallery { background-color: #ffffff !important; }

.gcBackground1 { background-color: #a9c0ce !important; }
.gcBackground2 { background-color: #a9c0ce !important; }

.gcBorder1 { border-color: #414141 !important; }
.gcBorder2 { border-color: #a9c0ce !important; }

#gallery a { color: #ff9148 !important; }
#gallery a:hover { color: #ff9148 !important; }
#gallery a:active { color: #ff9148 !important; }
#gallery .gbTabBar a { color: #ffffff !important; }

.giSuccess { color: green !important; }
.giWarning { color: #0000ff !important; }
.giError { color: #ff0000 !important; }
.giInfo { color: #444444 !important; }
.block-core-PeerList .current { color: red !important; }

table.gbDataTable th { background-color: #a9c0ce !important; }
.gbEven { background-color: #ffe65c !important; }
.gbOdd { background-color: #ffe65c !important; }

#gallery select { background-color: #fffaad !important; }
#gallery textarea { background-color: #fffaad !important; }
#gallery input { background-color: #fffaad !important; }
#gsSidebar ul span { color: #000000 !important; }
