{% extends "admin/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

<h2>{{ company.name }}</h2>

</div>

</div>

<div class="right">

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/admin/users/">{% trans "Manage users" %}</a></li>
<li><a href="/admin/groups/">{% trans "Manage groups" %}</a></li>
<li><a href="/admin/permissions/">{% trans "Manage permissions" %}</a></li>
<li><a href="/admin/companies/">{% trans "Manage companies" %}</a></li>
<li><a href="/admin/contributions/">{% trans "Contributions" %}</a></li>
</ul>
</div>

</div>

</div>

{% endblock %}
