{% extends "admin/base.html" %}

{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

<h3>{% trans "Admin" %}</h3>

{% trans "This section is dedicated to the portal administration." %}
{% trans "You can add, edit, delete users, groups and permissions." %}
{% trans "Do all your modifications carefully!" %}

</div>

</div>

<div class="right">

<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/admin/users/">{% trans "Manage users" %}</a></li>
<li><a href="/admin/groups/">{% trans "Manage groups" %}</a></li>
<li><a href="/admin/permissions/">{% trans "Manage permissions" %}</a></li>
</ul>
</div>

</div>

</div>

{% endblock %}
