{% extends "base.html" %}
{% load i18n %}

{% block barre-adhesions %}<li class="active">{% endblock %}

{% block content %}

{% block section-links %}

<ul class="list-inline">
    {% if is_myself %}
    <li><a class="btn btn-primary" href="{% url "ain7.adhesions.views.subscription_add" user.id %}">{% trans "Subscribe" %}</a></li>
    {% endif %}
    {% if superadmin or ca_member or secretariat_member or is_myself %}
    <li><a class="btn btn-primary" href="{% url "ain7.adhesions.views.user_subscriptions" user.id %}">{% trans "My subscriptions" %}</a></li>
    {% endif %}
    {% if superadmin or ca_member or secretariat_member %}
    <li><a class="btn btn-primary" href="{% url "ain7.adhesions.views.configurations" %}">{% trans "Configurations" %}</a></li>
    <li><a class="btn btn-primary" href="{% url "to_validate_subscriptions" %}">{% trans "Subscriptions to validate" %}</a></li>
    {% endif %}

</ul>

{% endblock %}

{% block content-left %}{% endblock %}

{% endblock %}
