{% extends "base.html" %}
{% load i18n %}

{% block barre-adhesions %}<li class="active">{% endblock %}

{% block content %}

{% block section-links %}

<ul class="list-inline">
    {% if is_myself %}
    <li><a class="btn btn-primary" href="{% url "subscription-add" person.pk %}">{% trans "Subscribe" %}</a></li>
    {% endif %}
    {% if person %}
    {% if superadmin or ca_member or secretariat_member or is_myself %}
    <li><a class="btn btn-primary" href="{% url "user-subscriptions" person.pk %}">{% trans "Subscriptions" %}</a></li>
    <li><a class="btn btn-primary" href="{% url "subscription-add" person.pk %}">{% if is_myself %}{% trans "Subscribe" %}{% else %}{% trans "Add subscription" %}{% endif %}</a></li>
    {% endif %}
    {% endif %}
</ul>

{% endblock %}

{% block content-left %}{% endblock %}

{% endblock %}
