{% extends "adhesions/base.html" %}
{% load i18n %}

{% block breadcrumb %}
    <li><a href="{% url "configurations" %}">{% trans "Subscriptions configuration" %}</a></li>
{% endblock %}

{% block title %}{% trans "Configurations" %}{% endblock %}

{% block content-left %}



    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Dues amount" %}</th>
            <th>{% trans "Newspaper amount" %}</th>
            <th>{% trans "Duration" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for configuration in configurations_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td align="center">{{ configuration.get_type_display }}</td>
                <td align="center">
                    {{ configuration.dues_amount }}&nbsp;{% trans "euros" %}
                </td>
                <td align="center">
                    {% if configuration.newspaper_amount %}
                        {{ configuration.newspaper_amount }}&nbsp;{% trans "euros" %}
                    {% else %}
                        {% trans "Free" %}
                    {% endif %}
                </td>
                <td align="center">
                    {{ configuration.duration }}&nbsp;{% trans "year" %}{{ configuration.duration|pluralize }}
                </td>
                <td>
                    {% if not subscription.validated %}
                        <a class="changelink" href="{% url "configuration-edit" configuration.year configuration.id %}">
                            {% trans "Modify" %}</a>
                        <br/>
                        <a class="deletelink"
                           href="{% url "configuration-delete" configuration.year configuration.id %}">
                            {% trans "Delete" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
