{% extends "adhesions/base.html" %}
{% load i18n %}
{% load endless %}

{% block content-left %}

{% if filter %}
<h2>{% trans "Subscriptions to validate" %}</h2>
{% else %}
<h2>{% trans "Subscriptions" %}</h2>
{% endif %}

{% if subscriptions_list %}
{% paginate subscriptions_list %}
<div id="edition">
<table style="width: 100%" class="datas">
<tr>
  <th>{% trans "Member" %}</th>
  <th>{% trans "Year" %}</th>
  <th>{% trans "Amount" %}</th>
  <th>{% trans "Canal n7" %}</th>
  <th>{% trans "Payment" %}</th>
</tr>
{% for subscription in subscriptions_list %}
<tr class="{% cycle row1,row2 %}">
  <td align="center"><a href="{% url "ain7.annuaire.views.details" subscription.member.person.user.id %}">{{ subscription.member.person.last_name }} {{ subscription.member.person.first_name }}</a></td>
  <td align="center">
    {% ifnotequal subscription.start_year subscription.end_year %}
      {% blocktrans with subscription.start_year as start and subscription.end_year as end %}{{ start }} to {{ end }}{% endblocktrans %}
    {% else %}
      {{ subscription.start_year }}
    {% endifnotequal %}
  </td>
  <td align="center">
      {{ subscription.dues_amount }}&nbsp;{% trans "euros" %}
  </td>
  <td align="center">
      {% ifequal subscription.newspaper_amount None %}
        {% trans "No" %}
      {% else %}
        {% ifequal subscription.newspaper_amount 0 %}
          {% trans "Free" %}
        {% else %}
          {{ subscription.newspaper_amount }}&nbsp;{% trans "euros" %}
        {% endifequal %}
      {% endifequal %}
  </td>
  <td align="center">
    {% if subscription.payment %}
    <a href="{% url "ain7.manage.views.payment_details" subscription.payment.id %}">#{{ subscription.payment.id }}</a> {% trans "by" %} {{ subscription.payment.get_type_display }}
    {% endif %}
  </td>
  <td align="center">
    {% if not subscription.validated %}
      <a class="savelink" href="{% url "ain7.adhesions.views.subscription_validate" subscription.id %}">
      {% trans "Validate" %}</a><br/>
      <a class="deletelink" href="{% url "ain7.adhesions.views.subscription_delete" subscription.id %}">
      {% trans "Delete" %}</a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<p class="text-center">{% show_pages %}</p> 
</div>
{% endif %}
{% endblock %}
