{% extends "adhesions/base.html" %}
{% load i18n %}

{% block content-left %}

<h2>{% trans "Subscriptions" %} {{ person.first_name }} {{ person.last_name }}</h2>

{% if person.ain7member.is_subscriber %}
<div class="alert alert-info" role="alert">
   {% if request.user.pk == person.user.pk %}
<i class="fa fa-info-circle fa-2x"></i> Vous êtes à jour de votre cotisation à l'association.
   {% else %}
   <i class="fa fa-info-circle fa-2x"></i> {{ person }} est à jour de sa cotisation à l'association.
   {% endif %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
   {% if request.user.pk == person.user.pk %}
   <i class="fa fa-exclamation-circle fa-2x"></i> Vous n'êtes pas à jour de votre cotisation à l'association. <a href="{% url "subscription-add" person.pk %}">Cliquez-ici pour adhérer</a>
   {% else %}
   <i class="fa fa-exclamation-circle fa-2x"></i> {{ person }} n'est à jour de sa cotisation à l'association. <a href="{% url "subscription-add" person.pk %}">Cliquez-ici pour ajouter une adhésion</a>
   {% endif %}
</div>
{% endif %}

<table class="table table-striped">
<thead>
<tr>
  <th>{% trans "Year" %}</th>
  <th>{% trans "Date" %}</th>
  <th>{% trans "Amount" %}</th>
  <th>{% trans "Canal n7" %}</th>
  <th>{% trans "Tender type" %}</th>
  <th>{% trans "Payment" %}</th>
  <th>{% trans "Status" %}</th>
</tr>
</thead>
<tbody>
{% for subscription in subscriptions_list %}
<tr>
    <td>
    {% ifnotequal subscription.start_year subscription.end_year %}
      {% blocktrans with subscription.start_year as start and subscription.end_year as end %}{{ start }} to {{ end }}{% endblocktrans %}
    {% else %}
      {{ subscription.start_year }}
    {% endifnotequal %}
  </td>
  <td>
      {{ subscription.date|date:"d F Y" }}
  </td>
  <td>
      {{ subscription.dues_amount }}&nbsp;{% if subscription.start_year < 2001%}F{% else %}€{% endif %}
  </td>
  <td>
      {% ifequal subscription.newspaper_amount None %}
        {% trans "No" %}
      {% else %}
        {% ifequal subscription.newspaper_amount 0 %}
          {% trans "Free" %}
        {% else %}
          {{ subscription.newspaper_amount }}&nbsp;€
        {% endifequal %}
      {% endifequal %}
  </td>
  <td>
    {% if subscription.payment %}
    {% trans subscription.payment.get_type_display %}
    {% endif %}
  </td>
  <td>
    {% if subscription.payment %}
    <a  href="{% url "manage.views.payment_details" subscription.payment.id %}">{{ subscription.payment.id }}</a>
    {% endif %}
  </td>
  <td>
    {% if subscription.validated %}
      {% trans "Validated" %}
    {% else %}
      {% trans "Not validated" %}
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
