{% extends "adhesions/base.html" %}
{% load i18n %}

{% block content-left %}

<h2>{% trans "Subscriptions" %} {{ person.first_name }} {{ person.last_name }}</h2>

<table class="table table-striped">
<thead>
<tr>
  <th>{% trans "Year" %}</th>
  <th>{% trans "Date" %}</th>
  <th>{% trans "Amount" %}</th>
  <th>{% trans "Canal n7" %}</th>
  <th>{% trans "Tender type" %}</th>
  <th>{% trans "Payment" %}</th>
  <th>{% trans "Status" %}</th>
</tr>
</thead>
<tbody>
{% for subscription in subscriptions_list %}
<tr>
    <td>
    {% ifnotequal subscription.start_year subscription.end_year %}
      {% blocktrans with subscription.start_year as start and subscription.end_year as end %}{{ start }} to {{ end }}{% endblocktrans %}
    {% else %}
      {{ subscription.start_year }}
    {% endifnotequal %}
  </td>
  <td>
      {{ subscription.date|date:"d F Y" }}
  </td>
  <td>
      {{ subscription.dues_amount }}&nbsp;{% if subscription.start_year < 2001%}F{% else %}€{% endif %}
  </td>
  <td>
      {% ifequal subscription.newspaper_amount None %}
        {% trans "No" %}
      {% else %}
        {% ifequal subscription.newspaper_amount 0 %}
          {% trans "Free" %}
        {% else %}
          {{ subscription.newspaper_amount }}&nbsp;€
        {% endifequal %}
      {% endifequal %}
  </td>
  <td>
    {% if subscription.payment %}
    {% trans subscription.payment.get_type_display %}
    {% endif %}
  </td>
  <td>
    {% if subscription.payment %}
    <a  href="{% url "manage.views.payment_details" subscription.payment.id %}">{{ subscription.payment.id }}</a>
    {% endif %}
  </td>
  <td>
    {% if subscription.validated %}
      {% trans "Validated" %}
    {% else %}
      {% trans "Not validated" %}
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
