{% extends "base.html" %}
{% load i18n ain7_tags %}

{% block barre-groupes %}<li class="active">{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">
{% block content-left %}{% endblock %}
</div>

<div class="right">

   {% if group %}
   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
   <ul>
      {% block extra-actions %}{% endblock %}
      <li><a href="{% url ain7.groupes_professionnels.views.edit group.id %}">{% trans "Edit these data." %}</a></li>
      <li><a href="{% url ain7.groupes_professionnels.views.subscribe group.id %}">{% trans "Subscribe someone" %}</a></li>
      <li><a href="{% url ain7.groupes_professionnels.views.unsubscribe group.id %}">{% trans "Unsubscribe someone" %}</a></li>
      {# TODO: gestion des droits : réservé aux secrétaires et superadmin #}
      <li><a href="{% url ain7.groupes_professionnels.views.edit_roles group.id,"current" %}">{% trans "Edit roles of this group" %}</a></li>
   </ul>
   </div>

    <h3>{% trans "Card Informations"%}</h3>
    {% show_last_change group %}
    {% endif %} {# group #}

</div> {# right #}
</div> {# content-main #}

{% endblock %}
