{% extends "groupes_professionnels/base.html" %}
{% load i18n ain7_tags %}

{% block content-left %}

<h1>{{ group.description }}</h1>

<h3>{% trans "Board Members" %}</h3>

{% ifequal all_current "all" %}
  {% trans "All members (including past ones) of the board are displayed. Click" %} <a href="/groupes_professionnels/{{ group.name }}/roles/edit/current/">{% trans "here" %}</a> {% trans "to display only current ones." %}
{% else %}
  {% trans "Only current members of the board are displayed. Click" %} <a href="/groupes_professionnels/{{ group.name }}/roles/edit/all/">{% trans "here" %}</a> {% trans "to display past members too." %}
{% endifequal %}

{% for type, type_display, type_form, roles in roles_by_type %}

  <h4>{{ type_display }}</h4>

  {% if roles %}
    <ul>
      {% for role, role_form in roles %}
        <li>
          {% if role_form %}<div class="formBlock">{% endif %}
          {{ role.member }}&nbsp;
          {% if not role_form %}
            ({{ role.start_date|date:"d/m/Y" }} - 
             {% if role.end_date %} {{ role.end_date|date:"d/m/Y" }})
             {% else %} ...)
             {% endif %}&nbsp;<br/>
            <a href="/groupes_professionnels/{{ group.name }}/roles/{{ role.id }}/changedates/{{ all_current }}/" class="changelink">{% trans "Modify dates" %}</a>&nbsp;
            <a href="/groupes_professionnels/{{ group.name }}/roles/{{ role.id }}/delete/{{ all_current }}/" class="deletelink">{% trans "Delete" %}</a>&nbsp;
          {% else %}
            <form method="post" action=".">
              <table>
                <tr>
                  <td>{{ role_form.start_date.label_tag }}</td>
                  <td>{% if role_form.start_date.errors %}
                        {{ role_form.start_date.errors }}
                      {% endif %}
                      {{ role_form.start_date|safe }}</td>
                <tr>
                <tr>
                  <td>{{ role_form.end_date.label_tag }}</td>
                  <td>{% if role_form.end_date.errors %}
                        {{ role_form.end_date.errors }}
                      {% endif %}
                      {{ role_form.end_date|safe }}</td>
                <tr>
              </table>
              <div style="text-align: center">
                <a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
                <input type="submit" class="button" value="{% trans "Save" %}" />
              </div>
            </form>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if type_form %}
    <div class="formBlock">
      <h4>{% trans "Add a" %} {{ type_display|lower }}</h4>
      <form method="post" action=".">
        <table>
          <tr>
            <td>{{ type_form.username.label_tag }}</td>
            <td>{% if type_form.username.errors %}
                  {{ type_form.username.errors }}
                {% endif %}
                {{ type_form.username|safe }}</td>
          <tr>
          <tr>
            <td>{{ type_form.start_date.label_tag }}</td>
            <td>{% if type_form.start_date.errors %}
                  {{ type_form.start_date.errors }}
                {% endif %}
                {{ type_form.start_date|safe }}</td>
          <tr>
          <tr>
            <td>{{ type_form.end_date.label_tag }}</td>
            <td>{% if type_form.end_date.errors %}
                  {{ type_form.end_date.errors }}
                {% endif %}
                {{ type_form.end_date|safe }}</td>
          <tr>
        </table>
        <div style="text-align: center">
          <a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
          <input type="submit" class="button" value="{% trans "Save" %}" />
        </div>
      </form>
    </div>
  {% else %}
    <a href="/groupes_professionnels/{{ group.name }}/roles/{{ type }}/add/{{ all_current }}/" class="addlink">{% trans "Add" %}</a>
  {% endif %}

{% endfor %}

{% endblock %} {# content-left #}



{% block extra-actions %}
<li><a href="/groupes_professionnels/{{ group.name }}/">{% trans "Page of this group" %}</a></li>
{% endblock %}
