{% extends "groups_professionnels/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="left">
	<h3>{{ group.name }}</h3>

<form method="post" action=".">
<table>
{{ form }}
</table>
<div align="center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Register" %}" />
</div>
</form>

</div>

<div class="right">
    <h3>{% trans "Card Informations"%}</h3>
   <div class="right_articles">
     <ul>
       <li>{% trans "Update" %}&nbsp;: {{ group.modification_date|date:"l j F Y" }}</li>
     </ul>
   </div>
</div>

</div>

{% endblock %}
