{% extends "base.html" %}
{% load i18n ain7_tags %}

{% block barre-voyages %}<li class="active">{% endblock %}

{% block content %}

<div id="content-main">
	
  <div class="left">
  {% block content-left %}{% endblock %}
  </div>


  <div class="right">

    <h3>{% trans "Actions" %}</h3>
    <div class="right_articles">
      <ul>
       {% block actions %}{% endblock%}
      </ul>
    </div>  

    {% block navigation %}{% endblock %}

    {% if travel %}
      <h3>{% trans "Statistics" %}</h3>
      <div class="right_block">
        <ul>
          <li>
             {% if travel.nb_participants %}
{% blocktrans count travel.nb_participants as counter %}1 person is subscribed to this travel{% plural %}{{ counter }} persons are subscribed to this travel{% endblocktrans %}
             {% else %}
               {% trans "There is currently no subscription for this travel" %}
             {% endif %}
          </li>
        </ul>
      </div>

      <h3>{% trans "Card Informations"%}</h3>
      {% show_last_change travel %}
    {% endif %} {# travel #}

    {% if next_travels %}
    <h3>{% trans "Planned travels" %}</h3>
    {% if next_travels %}
      {% for travel in next_travels %}
        <div class="right_articles">
          <p style="text-align:center">
	    <a href="/voyages/{{ travel.id}}/">
            {{ travel.label|escape }}</a> - {{travel.date|escape }}
          </p>
          {% if travel.thumbnail %}
          <p style="text-align:center">
            <a href="/voyages/{{ travel.id}}/">
            <img src="{{ travel.thumbnail.url }}" height="100"/></a>
          </p>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <div class="right_articles">
        <p>{% trans "No planned travels." %}</p>
      </div>
    {% endif %}
    {% endif %} {# next_travels #}

    {% if previous_travels %}
    <h3>{% trans "Previous travels" %}</h3>
      <div class="right_articles">
        {% if previous_travels %}
          <ul>
            {% for travel in previous_travels %}
              <li><a href="/voyages/{{ travel.id }}/">{{ travel.label|escape }}
                  </a> ({{ travel.date }})
              </li>
            {% endfor %}
          </ul>
        {% else %}
          {% trans "No previous travels" %}
        {% endif %}
      </div>

      <div class="right_articles">
        <p style="text-align:center">
          <a href="/voyages/list/">{% trans "List of travels" %}</a>
        </p>
      </div>
      {% endif %} {# previous_travels #}

  </div> <!-- right -->
</div>	<!-- content-main -->

{% endblock %}

