{% extends "voyages/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

    <h3>{{ travel.label|escape }}</h3>
    <div class="left_box">

<table style="width: 100%">
  {% if travel.start_date and travel.end_date %}
  <tr>
    <td><i>{% filter capfirst %}{% trans "date" %}{% endfilter %}:</i></td>
    <td>{% trans "from" %} {{ travel.start_date|date:"d/m/Y" }}
        {% trans "to" %} {{ travel.end_date|date:"d/m/Y" }}
        ({{ travel.type|escape }}).
    </td>
  </tr>
  {% endif %}
  {% if travel.price %}
  <tr>
    <td><i>{% filter capfirst %}{% trans "price" %}{% endfilter %}:</i></td>
    <td>{% if travel.price %}{{ travel.price }} €
        {% else %}{% trans "undefined" %}{% endif %}</td>
  </tr>
  {% endif %}
  {% if travel.travel_responsibles.all %}
  <tr>
    <td><i>{% filter capfirst %}{% trans "responsible(s)" %}{% endfilter %}</i>
    </td>
    <td>{{ travel.travel_responsibles.all|join:", " }}</td>
  </tr>
  {% endif %}
</table>

{% if travel.thumbnail %}
  <p style="text-align:center">
    <img src="{{ travel.thumbnail.url }}" height="250" alt="{{ travel.label }}"/>
  </p>
{% endif %}


{% if travel.description %}
  {{ travel.description|safe }}
{% endif %}

{% if travel.is_past and travel.report %}
  <h2>{% filter capfirst %}{% trans "report" %}{% endfilter %}</h2>
  {{ travel.report|safe }}
{% endif %}

    </div> <!-- left_box -->
{% endblock %}


{% block actions %}
<li><a href="/voyages/{{ travel.id }}/join/">{% trans "Participate to this travel" %}</a></li>
{% if superadmin or ca_member or secretariat_member or contributeur %}
<li><a href="/voyages/{{ travel.id }}/participants/">{% trans "List participants" %}</a></li>
<li><a href="/voyages/{{ travel.id }}/responsibles/">{% trans "Modify the responsibles" %}</a></li>
<li><a href="/voyages/{{ travel.id }}/delete/">{% trans "Delete this travel" %}</a></li>
<li><a href="/voyages/{{ travel.id }}/edit/">{% trans "Modify these data" %}</a></li>
{% endif %}
{% endblock %}
