{% extends "voyages/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

  <div class="left">
    <h3>{{ travel.label|escape }}, {{ travel.date|escape }}</h3>
    <div class="left_box">

<table width="100%">
  <tr>
    <td><i>{% filter capfirst %}{% trans "visited places" %}{% endfilter %}</i>
    </td>
    <td>{{ travel.visited_places|escape }}</td>
  </tr>
  <tr>
    <td><i>{% filter capfirst %}{% trans "date" %}{% endfilter %}</i></td>
    <td>{% trans "from" %} {{ travel.start_date|date:"d/m/Y" }}
        {% trans "to" %} {{ travel.end_date|date:"d/m/Y" }}
        {% if travel.term %}
          ({{ travel.type|escape }}
           {% trans "of" %} {{ travel.term }} {% trans "days" %}).
        {% else %}
          ({{ travel.type|escape }}).
        {% endif %}
    </td>
  </tr>
  <tr>
    <td><i>{% filter capfirst %}{% trans "price" %}{% endfilter %}</i></td>
    <td>{% if travel.price %}{{ travel.price }} €
        {% else %}{% trans "undefined" %}{% endif %}</td>
  </tr>
  <tr>
    <td><i>{% filter capfirst %}{% trans "responsible(s)" %}{% endfilter %}</i>
    </td>
    <td>{% if travel.travel_responsibles %}  {{ travel.travel_responsibles.all|join:", " }}
        {% else %}{% trans "undefined" %}{% endif %}</td>
  </tr>
</table>

{% if travel.thumbnail %}
  <p style="text-align:center">
    <img src="{{ travel.thumbnail.url }}" height="250"/>
  </p>
{% endif %}


{% if travel.description %}
  {{ travel.description|safe }}
{% endif %}

{% if travel.is_past and travel.report %}
  <h2>{% filter capfirst %}{% trans "report" %}{% endfilter %}</h2>
  {{ travel.report }}
{% endif %}

    </div>
  </div>

  <div class="right">
    <h3>{% trans "Actions" %}</h3>
      <div class="right_articles">
        <ul>
          <li><a href="/voyages/{{ travel.id }}/join/">
              {% trans "Participate to this travel" %}</a></li>
          <li><a href="/voyages/{{ travel.id }}/participants/">
              {% trans "List participants" %}</a></li>
          <li><a href="/voyages/{{ travel.id }}/responsibles/">
              {% trans "Modify the responsibles" %}</a></li>
          <li><a href="/voyages/{{ travel.id }}/delete/">
              {% trans "Delete this travel" %}</a></li>
          <li><a href="/voyages/{{ travel.id }}/edit/">
              {% trans "Modify these data" %}</a></li>
        </ul>
      </div>

      <h3>{% trans "Statistics" %}</h3>
      <div class="right_block">
        <ul>
          <li>
             {% if travel.nb_participants %}
{% blocktrans count travel.nb_participants as counter %}1 person is subscribed to this travel{% plural %}{{ counter }} persons are subscribed to this travel{% endblocktrans %}
             {% else %}
               {% trans "There is currently no subscription for this travel" %}
             {% endif %}
          </li>
        </ul>
      </div>

      <h3>{% trans "Card Informations"%}</h3>
      <div class="right_articles">
        <ul>
          <li>{% trans "Update" %}: {{ travel.modification_date|date:"l j F Y H:i" }}</li>
        </ul>
       </div>

    </div>
  </div>

{% endblock %}
