{% extends "voyages/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<h2>{% trans "Travels list" %}</h2>
{% if travels %}
    <table width="100%">
    {% for travel in travels %}
        <tr>
            <td align="center">{% if travel.thumbnail %}
                <a href="/voyages/{{ travel.id}}/">
                <img src="{{ travel.thumbnail }}" height="150"/></a>
                {% endif %}</td>
	    <td><b><a href="/voyages/{{ travel.id}}/">
                {{ travel.label }}</a></b><br />
                {{ travel.visited_places }}<br />
		<b>{{ travel.date }}</b><br />
	        {{ travel.type }} {% trans "of" %} {{ travel.term }} 
                {% trans "days" %}.</td>
	</tr>
    {% endfor %}
     </table>
{% else %}
    <p>{% trans "No planned travels." %}</p>
{% endif %}

</div>

{% endblock %}
