{% extends "voyages/base.html" %}
{% load i18n %}

{% block stylesheet %}
{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

  <h3>{{ travel.label }}, {{ travel.date }}</h3>

  <form method="post">
    <table>
      {{ form }}
    </table>
    <div align="center">
      <input type="submit" class="button" value="{% trans "Register" %}">
    </div>
  </form>

</div>

<div class="right">

  <h3>{% trans "Statistics" %}</h3>

  <div class="right_block">
    <ul>
      <li>{{ travel.subscriptions.all|length }} 
          {% trans "persons are subscribed to this travel" %}</li>
    <ul>
  </div>

</div>

</div>

{% endblock %}
