{% extends "voyages/base.html" %}
{% load i18n %}

{% block stylesheet %}
{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">
  <h3>{{ travel.label|escape }} - {{ travel.date|escape }} :
      {% trans "responsibles" %}</h3>

{% if travel.travel_responsibles.all %}
  <ul>
    {% for responsible in travel.travel_responsibles.all %}
      <li>
        <a href="/annuaire/{{ responsible.responsible.user.id }}/">{{ responsible.responsible }}</a>
        (<a href="/voyages/{{ travel.id }}/responsibles/{{ responsible.responsible.user.id }}/delete/" class="deletelink">{% trans "Delete" %}</a>)
</li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% trans "No one is responsible of this travel" %}.</p>
{% endif %}

</div>


<div class="right">

  <h3>{% trans "Actions" %}</h3>
  <div class="right_block">
    <ul>
      <li><a href="/voyages/{{ travel.id }}/responsibles/add/">
          {% trans "Add a responsible" %}</a></li>
    </ul>
  </div>

  <h3>{% trans "Statistics" %}</h3>
  <div class="right_block">
    <ul>
      <li>
        {% if travel.nb_participants %}
          {% blocktrans count travel.nb_participants as counter %}
            1 person is subscribed to this travel
          {% plural %}
            {{ counter }} persons are subscribed to this travel
          {% endblocktrans %}
        {% else %}
          {% trans "There is currently no subscription for this travel" %}
        {% endif %}
      </li>
    </ul>
  </div>

  <h3>{% trans "Navigation" %}</h3>
  <div class="right_block">
    <ul>
      <li><a href="/voyages/{{ travel.id }}/">
          {% trans "Back to the page of this travel" %}</a></li>
    </ul>
  </div>

</div>

</div>

{% endblock %}
