{% extends "evenements/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

{% for message in messages %}
	<p class="message">{{ message }}</p>
{% endfor %}

<div class="left">
	<h3>{{ event.name }}</h3>
	{% if event.description %}
		<p>{{ event.description }}</p>
	{% endif %}

	<dl>
		<dt>{% trans "start date" %}</dt><dd>{{ event.start_date|date:"d/m/Y" }}</dd>
		<dt>{% trans "end date" %}</dt><dd>{{ event.end_date|date:"d/m/Y" }}</dd>
		<dt>{% trans "Contact" %}</dt><dd><a href="mailto:{{ event.contact_email }}">{{ event.author }}</a></dd>
	</dl>
</div>

<div class="right">

	<h3>{% trans "Actions" %}</h3>
	<div class="right_block">
		<ul>
			<li>
				<a href="#">{% trans "Participate to this event." %}</a>
			</li>
		</ul>
	</div>
</div>

</div>

{% endblock %}
