{% extends "evenements/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="left">
	<h3>{{ event.name }}</h3>

	<table border="0">
        <tr><td>
	<ul>
         <li>{% trans "start date" %}: 
             {{ event.start|date:"d/m/Y H:i" }}</li>
	  <li>{% trans "end date" %}: 
             {{ event.end|date:"d/m/Y H:i" }}</li>
         <li>{% trans "Contact" %}: 
             <a href="mailto:{{ event.contact_email }}">
               {{ event.author }}</a></li>
         <li>{% trans "Location" %}: 
             {{ event.location }}</li>
	</ul>
        </td><td>
        {% if event.image %}
            <img src="{{ event.get_image_url }}" 
                 height="100" alt="{% trans "image" %}"/>
        {% endif %}
        </td></tr>
        </table>

	{% if event.description %}
		<p>{{ event.description|safe }}</p>
	{% endif %}

</div>

<div class="right">

	<h3>{% trans "Actions" %}</h3>
	<div class="right_block">
		<ul>
			<li><a href="/evenements/{{ event.id }}/join/">{% trans "Participate to this event" %}</a></li>
			<li><a href="/evenements/{{ event.id }}/edit/">{% trans "Edit this event" %}</a></li>
			<li><a href="/evenements/{{ event.id }}/participants/">{% trans "List participants" %}</a></li>
			<li><a href="/evenements/{{ event.id }}/subscribe/">{% trans "Subscribe someone" %}</a></li>
		</ul>
	</div>

	<h3>{% trans "Statistics" %}</h3>
	<div class="right_block">
                <ul>
                        <li>{{ event.subscriptions.all|length }} {% trans "persons are subscribed to this event" %}</li>
                </ul>
        </div>

    <h3>{% trans "Card Informations"%}</h3>
   <div class="right_articles">
     <ul>
       <li>{% trans "Creation" %}&nbsp;: {{ event.creation_date|date:"l j F Y" }}</li>
       <li>{% trans "Update" %}&nbsp;: {{ event.modification_date|date:"l j F Y" }}</li>
     </ul>
   </div>


</div>

</div>

{% endblock %}
