{% extends "evenements/base.html" %}
{% load i18n ain7_tags %}

{% block stylesheet %}{% endblock %}

{% block content-main %}

	<h3>{{ event.name }}</h3>

	<table border="0" width="100%">
        <tr><td>
	<ul>
         <li>{% trans "date" %}: {{ event.date|date:"d/m/Y H:i" }}</li>
         <li>{% trans "Contact" %}: <a href="mailto:{{ event.contact_email }}"> {{ event.author }}</a></li>
         <li>{% trans "Location" %}: {{ event.location }}</li>
         {% if event.link %}
             <li>{% trans "Link" %}: <a href="{{ event.link }}">{{ event.link }}</a></li>
         {% endif %}
         <li>{% trans "Status" %}: {{ event.get_status_display }}</li>
	</ul>
        </td><td>
        {% if event.image %}
            <img src="{{ event.image.url }}" 
                 height="100" alt="{% trans "image" %}"/>
        {% endif %}
        </td></tr>
        <tr><td colspan="2">
        {% if event.organizers.all %}
        {% trans "Organizers" %}:
        <ul>
        {% for person in event.organizers.all %}
            <li><a href="/annuaire/{{ person.id }}/">{{ person }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        </tr></td>
        </table>

	{% if event.description %}
		{{ event.description|safe }}
	{% endif %}
{% endblock %}

{% block actions %}
	<h3>{% trans "Actions" %}</h3>
	<div class="right_block">
		<ul>
			<li><a href="/evenements/{{ event.id }}/join/">{% trans "Participate to this event" %}</a></li>
			<li><a href="/evenements/{{ event.id }}/edit/">{% trans "Edit this event" %}</a></li>
			<li><a href="/evenements/{{ event.id }}/participants/">{% trans "List participants" %}</a></li>
			<li><a href="/evenements/{{ event.id }}/subscribe/">{% trans "Subscribe someone" %}</a></li>
		</ul>
        </div>
{% endblock %}

{% block statistics %}
	<h3>{% trans "Statistics" %}</h3>
	<div class="right_block">
                <ul>
                        <li>{{ nbparticipants }} {% trans "persons are subscribed to this event" %}</li>
                </ul>
        </div>
{% endblock %}

{% block additional-right-blocks %}
    <h3>{% trans "Card Informations"%}</h3>
   {% show_last_change event %}
{% endblock %}

