{% extends "evenements/base.html" %}
{% load i18n %}

{% block javascript %}
{{ block.super }}
<script src="/site_media/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="/site_media/js/textareas.js" type="text/javascript"></script>
{% endblock %}


{% block content-main %}

<h3>
{% if event %}  {{ event.name }}
{% else %}  {% trans "Register an event" %}
{% endif %}
</h3>

<form method="post" action="." enctype="multipart/form-data">
<table>
{{ form }}
</table>
  {% if event.image %}
    <a href="/evenements/{{ event.id }}/image/delete/" class="deletelink">
      {% trans "Delete the image of this event." %}</a><br />
  {% endif %}
<div style="text-align: center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Register" %}" />
</div>
</form>
{% endblock %}


{% block actions %}
        <h3>{% trans "Actions" %}</h3>
        <div class="right_articles">
        <ul>
             <li><a href="/evenements/register/">{% trans "Register an event" %}</a></li>
             <li><a href="/evenements/search/">{% trans "Search an event" %}</a></li>
             <li><a href="/evenements/ical/">{% trans "Subscribe iCal" %}</a></li>
        </ul>
        </div>
{% endblock %}

