{% extends "evenements/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="left">
	<h3>{{ event.name }}</h3>

<form method="post" action=".">
<table>
{{ form }}
</table>
<div align="center">
<input type="submit" class="button" value="{% trans "Register" %}" />
</div>
</form>

<p><b>{% filter capfirst %}{% trans "image" %}{% endfilter %}</b>&nbsp;:
    {% if event.image %}
	   <img src="{{ event.get_image_url }}" height="100" 
        alt="{% trans "image" %}" />
    <a href="/evenements/{{ event.id }}/image/edit/" class="changelink">
        {% trans "Modify" %}</a>
    <a href="/evenements/{{ event.id }}/image/delete/" class="deletelink">
        {% trans "Delete" %}</a>
    {% else %}
        {% trans "No image" %}
    <a href="/evenements/{{ event.id }}/image/edit/" class="addlink">
        {% trans "Add" %}</a>
    {% endif %}
</p>

</div>

<div class="right">

	<h3>{% trans "Statistics" %}</h3>
	<div class="right_block">
                <ul>
                        <li>{{ event_list|length }} 
                            {% trans "events are registered" %}</li>
                        <li>{{ next_events|length }} 
                            {% trans "events are coming" %}</li>
                </ul>
        </div>

</div>

</div>

{% endblock %}
