{% extends "evenements/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<div class="left">
	<h3>{% trans "Register an event" %}</h3>

<form method="post" action=".">
<table>
{{ form }}
</table>
<div align="center">
<input type="submit" class="button" value="{% trans "Register" %}" />
</div>
</form>

</div>

<div class="right">

	<h3>{% trans "Statistics" %}</h3>
	<div class="right_block">
                <ul>
                        <li>50 events are registered</li>{# TODO #}
                        <li>10 events are coming</li>{# TODO #}
                </ul>
        </div>

</div>

</div>

{% endblock %}
