{% extends "evenements/base.html" %}
{% load i18n %}

{% block content-main %}

<div class="left_box">

<h3>{% trans "Event Search" %}</h3>

<div align="center">
<form action="." method="post">
    <table border="0" align="center">
       {{ form }}
    </table>
<input type="submit" class="button" value="{% trans "Search" %}" />
</form>
</div>
<br/>
{% ifequal request.method 'POST' %}
<h3>{% trans "Research result" %}</h3>
{% if list_events %}
<table width="100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/evenements/search/?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/evenements/search/?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/evenements/search/?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/evenements/search/?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<ul>
    {% for event in list_events %}
        <li><a href="/evenements/{{ event.id }}/">{{ event.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>{% trans "No event correspond to your research" %}</p>
{% endif %}
{% endifequal %}
</div>
{% endblock %}

{% block actions %}
<h3>{% trans "Actions" %}</h3>
<div class="right_articles">
<ul>
<li><a href="/evenements/register/">{% trans "Register an event" %}</a></li>
<li><a href="/evenements/search/">{% trans "Search an event" %}</a></li>
<li><a href="/evenements/ical/">{% trans "Subscribe iCal" %}</a></li>
</ul>
</div>
{% endblock %}

