/* project: internet services template
   author: luka cvrk (www.solucija.com) */

/* default styles
   -------------- */

body {
    padding: 0;
    margin: 0;
    font: 0.7em Tahoma, sans-serif;
    line-height: 1.5em;
    background: #fff;
    color: #454545;
}

a {
    color: #E0691A;
    background: inherit;
}

a:hover {
    color: #6C757A;
    background: inherit;
}

hr {background:#c0c0c0;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}


h1 {
    font: normal 2.1em Arial, Sans-Serif;
    letter-spacing: -1px;
    padding: 7px 0 0 8px;
    margin: 0;
}

.dark  {
    color: #737373;
    background: inherit;
    font-weight: bold;
}

h1 a, h2 a {
    text-decoration: none;
}

h1 a:hover, h2 a:hover {
    color: #FF6600;
    background: inherit;
}

h2 {
    margin: 15px 0px 0px 0px;
    padding: 0;
    font: bold 1.7em Arial, Sans-Serif;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #000;
    background: inherit;
}

p {
    margin: 0 0 5px 0;
    text-align: justify;
}

ul {
    list-style : square;
}

form {
    margin: 0;
}

img {
    vertical-align: middle;
    border: 0px;
}

.button {
    padding: 2px;
    background-color: #FF9148;
    color: #FFFFFF;
    border: 1px solid #737373;
    font: bold 1em Arial, Sans-Serif;
}

a.button, a.button:hover {
    text-decoration: none;
    background-color: #FF9148;
    color: #FFFFFF;
    cursor: default;
    padding: 3px;
}

.warning {
    padding: 40px;
    color: #FF9148;
    font: bold 1.5em Arial, Sans-Serif;
}

input[type=text] {
    width: 300px;
} 

/* layout
   ------ */

.floatLeft {
    float: left;
    margin: 5px;
}

.floatRight {
    float: right;
    margin: 5px;
}

.floatClear {
    clear: both;
}

.content {
    margin: 0 auto;
    width: 950px;
    padding: 10px;
}

#content-main {
    padding: 10px;
}

.front_box{
    width: 48%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.header {
    height: 65px;
    background: #eee;
    color: #808080;
    margin: 3px 0 10px 0;
    padding: 10px 0 0 0;
}

.top_info {
    float: right;
    width: 555px;
    padding: 5px 0 4px 0;
    background: #eee;
    color: #808080;
}

.top_info_left {
    width: 200px;
    float: left;
}

.top_info_right {
    float: right;
    width: 290px;
    padding: 0 0 0 35px;
    border-left: 1px solid #eee;
}

.bar {
    clear: both;
    width: 950px;
    font-size: 11px;
    background: #FF9148;
    list-style: none;
    text-align: center;
    line-height: 22px;
}

.bar ul {
    margin: 0;
    padding : 0;
}

.bar li {
    padding: 4px 12px 4px 12px;
    color: #FFEADC;
    display:inline;
}

.bar li.active {
    color: #fff;
    font-weight: bold;
    padding: 5px 12px 5px 12px;
}

.bar ul.ligne1 li.active {
    background: #E0691A url(../images/bar.gif) no-repeat center top;
}

.bar ul.ligne2 li.active {
    background: #E0691A url(../images/bar-up.gif) no-repeat center bottom;
}

.bar ul.ligne3 li.active {
    background: #E0691A url(../images/bar-up.gif) no-repeat center bottom;
}

.bar li.active a {
    background: #E0691A;
}

.bar li.active a:hover {
    background: #E0691A;
    color: #FF9148;
}

.bar li a {
    font-weight: bold;
    color: #FFF;
    background: inherit;
    text-decoration: none;
    text-align: center;
}

.bar li a:hover {
    color: #E0691A;
    background: inherit;
}

.search_field {
    background: #fff url(searchbg.gif) no-repeat right;
    color: #808080;
    clear: both;
    font-weight: bold;
    padding: 7px 25px 10px 10px;
    margin: 5px 0;
}

.grey {
    color: #808080;
    background: inherit;
    font-weight: normal;
}

.allItems {
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}


/* left side
   --------- */

div.left {
    float: left;
    width: 75%;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
}

.left h3 {
    clear: both;
    background: #A9C0CE url(../images/corner.gif) no-repeat top right;
    color: #FFF;
    padding: 7px 0 7px 5px;
    font: bold 1em Tahoma, Arial, Sans-Serif;
    margin: 0 0 5px 0;
}

.left_side {
    float: left;
    width: 180px;
    padding: 0 0 0 10px;
    margin: 10px 0;
}

.left_side a, .right_side a {
    color: #414141;
    background: #FFF;
}

.right_side {
    float: right;
    width: 220px;
    background: #FFF url(dotted.gif) repeat-y;
    color: #414141;
    padding: 0 0 0 40px;
    margin: 10px 0;
}

.left_box {
    margin: 0 0 10px 0;
    color: #000;
    background: #FFF;
    padding: 3px 0;
}

h3.notif {
    background: #A90000 url(../images/corner.gif) no-repeat top right;
}

/* right side
   ---------- */

.right {
    float: right;
    width: 23%;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
}

.right h3 {
    background: #6C757A  url(../images/corner.gif) no-repeat top right;;
    color: #FFF;
    padding: 7px 0 7px 5px;
    font: bold 1em Tahoma, Arial, Sans-Serif;
    margin: 0 0 3px 0;
}

.right_articles {
    clear: left;
    background: #f5f5f5;
    color: #414141;
    padding: 8px;
    margin: 0 0 3px 0;
}

.right_block {
    background: #f5f5f5;
    color: #414141;
    padding: 1px;
    margin: 0 0 3px 0;
}

.image {
    float: left;
    margin: 0 9px 3px 0;
}

/* footer
   ------ */

.footer {
    clear: both;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    border-top: 1px solid #ccc;
    line-height: 1.8em;
}

.footer a {
    color: #808080;
    background: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline
}

.footer p {
    text-align: center;
}

.msg_info {
    margin: 5px 0px 5px 0px;
    padding: 2px 0 2px 30px;
    background: #fdf570 url(../../../images/dialog-information.png) no-repeat top left;
    font-weight: bold;
}

/* Edition buttons
   ------ */

.backlink:before, .backlink:hover:before {
    content: "« "
}

.addlink, .addlink:hover {
    background: transparent url(../images/icon_addlink.gif) left center no-repeat;
    padding-left: 12px;
}
.changelink, .changelink:hover {
    background: transparent url(../images/icon_changelink.gif) left center no-repeat;
    padding-left: 12px;
}

.deletelink, .deletelink:hover {
    background: transparent url(../images/icon_deletelink.gif) left center no-repeat;
    padding-left: 12px;
}

.mergelink, .mergelink:hover {
    background: transparent url(../images/icon_mergelink.png) left center no-repeat;
    padding-left: 12px;
}

.purgelink, .purgelink:hover {
    background: transparent url(../images/icon_purgelink.png) left center no-repeat;
    padding-left: 12px;
}

.savelink, .savelink:hover {
    background: transparent url(../images/icon_savelink.gif) left center no-repeat;
    padding-left: 12px;
}

.undeletelink, .undeletelink:hover {
    background: transparent url(../images/icon_undeletelink.png) left center no-repeat;
    padding-left: 12px;
}


/* CV
   ------ */

#cv h1 {
    margin: 0px 0px 15px 0px;
}

#cv h2 {
    margin: 45px 0px 5px 0px;
    background: #eee;
}

#cv #cv_title {
    margin: 55px 0px 45px 0px;
    text-align: center;
    font: bold 2.1em Tahoma, Arial, Sans-Serif;
}

.dataBlock {
    border: dashed 1px #000000;
}

.formBlock {
    background: #eee;
}


/* Edition
   ------ */

#edition h2 {
    background: #EEEEEE;
    padding-left: 0.1em;
}

#edition div.datas {
    border: dashed 1px #000000;
}

#edition table.datas {
    width: 100%;
    border-collapse: collapse;
}

#edition table.datas tr {
    border-bottom: 1px solid #EEEEEE;
}

#edition table.datas tr.row2 {
    background: #F5F5F5;
}

#edition table.datas tr:hover {
    background: #FFFFCC;
}

#edition table.datas td.action {
     width: 12%;
}

/* Forms
   ------ */

table.form th {
    vertical-align: bottom;
    text-align: left;
}

table.form tr {
    border-bottom: 1px solid #EEEEEE;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    background: transparent url(../images/icon_alert.gif) 5px .3em no-repeat;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    color: #FF0000;
}

.requiredField {
    background: #FDD;
}

/* Confirmation form
   ------ */

.confirm {
    padding: 1.2em 0 1em 0;
    text-align: center;
}

.confirm p {
    padding: 0.5em 0;
    text-align: center;
}

.confirm p em {
    font: 1.2em Arial, Sans-Serif;
}

.confirm p strong {
    font: bold 1.5em Arial, Sans-Serif;
}

.confirm ul {
    list-style: none;
    padding: 0;
}

.confirm ul li {
    display: inline;
}

/* Survey results
   ------ */

.result {
    text-align: left;
    border-collapse: collapse;
}

.result p {
    font-weight: bold;
}

.rate {
    background-color: #EEEEEE;
    height: 10px;
    width: 100px;
    float: left;
    margin-right: 1em;
}

.rate div {
    background-color: #FF9148;
    height: 10px;
    clear: left;
}

/* News
   ---- */

.news-header {
    padding: 5px 5px 4px 5px;
}

.news-title {
    width: 290px;
/*    float: left; */
}

.news-title a {
    font-size: 150%;
    font-weight: bold;
}

.news-date {
/*    width: 180px;
    float: right; */
    padding: 0 15px 0 15px;
/*    border-bottom: 1px solid #888; */
    text-align: left;
    font-style: italic;
}

.news-description {
    clear: both;
}

/* Auto complete form input
   ------ */

div.complete {
    position: absolute;
    background-color: white;
    border: 1px solid #EEEEEE;
    margin: 0;
    padding: 0;
}

div.complete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.complete ul li.selected {
    background-color: #FFFFCC;
}

div.complete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    cursor: pointer;
}

/* Icons for main items (taken from Tango)
   ------ */

.job {
    list-style-image : url(../images/icon_job.png);
    list-style-position: outside;
}

.person {
    list-style-image : url(../images/icon_person.png);
    list-style-position: outside;
}

/* For distinction between original object and proposed modification
   ------ */

.original {
    background: #f5f5f5;
}

.modified {}

div.code {
    font-size: small;
    background: #ffff88;
}


/* Social Networks icons on homepage */
.snBox a {
    text-decoration: none;
    text-align: center;
}

.snBox img {
    width: 30px;
    height: 30px;
}
