{% extends "base.html" %}
{% load i18n %}

{% block barre-relation_ecole_etudiants %}<li class="active">{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">
{% block content-left %}{% endblock %}
</div>

<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li>bla</li>
    </ul>
   </div>
    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
<li>bla</li>
    </ul>
   </div>
</div>

</div>

{% endblock %}

