{% extends "relations_ecole_etudiants/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">
<h3>Relations école & étudiants</h3>

</div>

<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li>bla</li>
    </ul>
   </div>
    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
<li>bla</li>
    </ul>
   </div>
</div>

</div>

{% endblock %}

