{% extends "base.html" %}
{% load i18n %}

{% block barre-emploi %}<li class="active">{% endblock %}


{% block content %}


<div class="span9">


	<h2>
	{{ text1.title }}
	{% if superadmin or ca_member or secretariat_member or contributeur %}
	&nbsp;<a href="{% url "ain7.pages.views.edit" text1.id %}" class="changelink"></a>
	{% endif %}
	</h2>

	{{ text1.body|safe }}
	{% if superadmin or ca_member or secretariat_member or contributeur %}
	<p><a href="{% url "ain7.pages.views.edit" text1.id %}">{% trans "Edit" %}</a></p>
	{% endif %}


{% block content-left %}{% endblock %}
</div>


<div class="span3">

<div class="well">
<ul class="nav nav-list">

{% block actions %}{% endblock %}

{% block menu-cv %}
{% if ain7member %}
<li class="nav-header">{% trans "Manage your CV" %}</li>
<li><a href="{% url "ain7.emploi.views.cv_details" user.id %}">{% trans "View your CV" %}</a></li>
<li><a href="{% url "ain7.emploi.views.cv_edit" user.id %}">{% trans "Modify your CV" %}</a></li>
<li><a href="{% url "ain7.annuaire.views.ain7member_edit" user.id %}">{% trans "Manage your CV visiblity" %}</a></li>
{% endif %}
{% endblock %}


{% block menu-offres %}
<li class="nav-header">{% trans "Job Offers" %}</li>
{% if superadmin or ca_member or secretariat_member %}
<li><a href="{% url "ain7.emploi.views.job_edit" %}">{% trans "Add a job offer" %}</a></li>
<li><a href="{% url "ain7.emploi.views.jobs_proposals" %}">{% trans "Jobs proposals" %}</a></li>
{% endif %}
<li><a href="{% url "ain7.emploi.views.job_search" %}">{% trans "Search a job offer" %}</a></li>
{% endblock %}

{% block menu-proposals %}
{% if proposals %}
<li class="nav-header">{% trans "Your proposals under review" %}</li>
{% for proposal in proposals %}
  <li>{{ proposal }}</li>
{% endfor %}
{% endif %}
{% endblock %}


{% block menu-organisation %}
<li class="nav-header">{% trans "Propose some modifications" %}</li>
<li><a href="{% url "ain7.organizations.views.organization_search" %}">{% trans "Edit an organization in database" %}</a></li>
{% endblock %}

{% block show_last_change %}{% endblock %}
{% block statistics %}{% endblock %}

{% endblock %}
