{% extends "base.html" %}
{% load i18n %}

{% block barre-emploi %}<li class="active">{% endblock %}

{% block content %}

<div class="span9">

	<h2>
	{{ text1.title }}
	{% if superadmin or ca_member or secretariat_member or contributeur %}
	&nbsp;<a href="{% url "ain7.pages.views.edit" text1.id %}" class="changelink"></a>
	{% endif %}
	</h2>

	{{ text1.body|safe }}
	{% if superadmin or ca_member or secretariat_member or contributeur %}
	<p><a href="{% url "ain7.pages.views.edit" text1.id %}">{% trans "Edit" %}</a></p>
	{% endif %}


{% block content-left %}{% endblock %}
</div>


{% endblock %}
