{% extends "emploi/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div id="cv">

<h1>{{ person.last_name }} {{ person.first_name }}</h1>

<table style="border: 0; width: 100%">
<tr>
{% for address in person.addresses.all %}
    {% if not address.is_confidential %}
        <td>
        <b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b><br />
        {{ address.line1 }} {{ address.line2|default_if_none:"" }}<br />
        {{ address.zip_code }} {{ address.city }}<br />
        {{ address.country.name }}
	</td>
    {% endif %}
{% endfor %}

<td>
{% if person.avatar %}
    <img src="/site_media/{{ person.avatar.url }}" height="100" alt="{% trans "avatar" %}"/>
{% endif %}
</td>
</tr>

<tr>
<td>
{% for phone_number in person.phone_numbers.all %}
    {% if not phone_number.is_confidential %}
	<b>{{ phone_number.get_type_display }} :</b> 
	{{ phone_number.number }} <br />
    {% endif %}
{% endfor %}

{% for email in person.emails.all %}
	{% if not email.is_confidential %}
            <img src="/site_media/images/mail.png" alt="{% trans "email" %}"/>
            <a href="mailto:{{ email.email }}">{{ email.email }}</a><br />
	{% endif %}
{% endfor %}
</td>
</tr>
</table>

<div id="cv_title">{{ ain7member.cv_title|default_if_none:"" }}</div>

{% if ain7member.positions.all %}
<h2>{% trans "Professional experiences" %}</h2>

<table style="width: 100%">
{% for position in ain7member.positions.all %}
    {% if not position.is_confidential %}
        <tr><td style="width: 25%"><b>{{ position.start_date|date:"d/m/Y" }} - 
            {{ position.end_date|date:"d/m/Y"|default:"..." }}</b></td>
            <td>{% if position.fonction %}<em>{{ position.fonction }}</em>{% endif %}
		<a href="{% url ain7.emploi.views.organization_details position.office.organization.id %}">
                {{ position.office.organization }}</a> {{ position.office }}
		</td></tr>
        {% if position.service %}
            <tr><td></td><td>{{ position.service }}</td></tr>
        {% endif %}
        {% if position.description %}
            <tr><td></td><td>{{ position.description|safe }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
{% endif %}

{% if ain7member.publication.all %}

<h2>{% trans "Publications and patents" %}</h2>

<table style="width: 100%">
{% for publicationItem in ain7member.publication.all %}
    <tr><td style="width: 25%"><b>{{ publicationItem.date|date:"Y" }}</b></td>
        <td> <em>{{ publicationItem.title }}</em></td></tr>
    {% if publicationItem.details %}
        <tr><td></td><td>{{ publicationItem.details|safe }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}

{% if ain7member.education.all %}

<h2>{% trans "Education" %}</h2>

<table style="width: 100%">
{% for educationItem in ain7member.education.all %}
    <tr><td style="width: 25%"><b>{{ educationItem.start_date|date:"Y" }} - 
        {{ educationItem.end_date|date:"Y"|default:"..." }}</b></td>
        <td> <em>{{ educationItem.school }}</em></td></tr>
    {% if educationItem.diploma %}
        <tr><td></td><td>{{ educationItem.diploma }}</td></tr>
    {% endif %}
    {% if educationItem.details %}
        <tr><td></td><td>{{ educationItem.details|safe }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}

{% if ain7member.diploma.all %}

<h2>{% trans "Diploma" %}</h2>

<table style="width: 100%">
{% for diplomaItem in ain7member.diploma.all %}
    <tr><td>{{ diplomaItem.diploma }}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if ain7member.leisure.all %}

<h2>{% trans "Leisure activities" %}</h2>

<table style="width: 100%">
{% for leisureItem in ain7member.leisure.all %}
    <tr><td style="width: 25%"><b>{{ leisureItem.title }}</b></td>
        <td>
	    {% if leisureItem.detail %}
                {{ leisureItem.detail|safe }}
            {% endif %}
	</td>
    </tr>
{% endfor %}
</table>
{% endif %}

</div><!-- cv -->

{% endblock %}
