{% extends "emploi/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content-left %}

{% ifequal action "edit" %}
    <h2>{% trans "Modification of an education item" %}</h2>
{% else %}
    <h2>{% trans "Creation of an education item" %}</h2>
{% endifequal %}

<form method="post" action=".">
{{ form|crispy }}
<div class="form-group">                                                        
<button type="submit" class="btn btn-default">{% trans "Save" %}</button>
<a href="{% url 'annuaire-edit' user.id %}">{% trans "Cancel" %}</a>
</div>
</form>

{% endblock %}
