{% extends "emploi/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}



<h2>N'hésitez pas à consulter notre <a href="http://ain7.com/actualites/liens-utiles-pour-la-recherche-demploi/">article sur la recherche d'emploi</a></h2>

<h2>{% trans "Last jobs offers:" %}</h2>

{% if liste_emplois %}
    <ul>
    {% for emploi in liste_emplois %}
        <li class="job"><a href="{% url "ain7.emploi.views.job_details" emploi.id %}">{{ emploi.title }}</a> - 
    (<a href="{% url "ain7.organizations.views.organization_details" emploi.office.organization.id %}">{{ emploi.office.organization }}</a> {{ emploi.office }}) 
        </li>
    {% endfor %}
     </ul>
{% else %}
    <p>{% trans "No job offer." %}</p>
{% endif %}



{% endblock %}
