{% extends "emploi/base.html" %}
{% load i18n %}
{% load el_pagination_tags %}
{% load crispy_forms_tags %}

{% block content-left %}

<div class="row">
<div class="col-lg-6">

{% if superadmin or ca_member or secretariat_member or contributeur %}
<ul class="list-inline">
<li><a class="btn btn-primary" href="{% url "pages.views.edit" text.id %}"><i class="fa fa-pencil fa-lg"></i> {% trans "Edit" %}</a></li>
</ul>
{% endif %}

<h2>{{ text.title }}</h2>

{{ text.body|safe }}

</div>

<div class="col-lg-6">

<form action="." method="get">
{{ job_offers.form|crispy }}
<div class="control-group">
<div class="controls">
<div class="col-lg-offset-4">
<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> {% trans "Search" %}</button>
</div>
</div>
</div>
</form>

</div>

</div>

<div class="row">
        <hr>
</div>

<div class="row">

{% if superadmin or ca_member or secretariat_member or contributeur %}
<ul class="list-inline">
<li><a class="btn btn-primary" href="{% url "job-add" %}"><i class="fa fa-plus fa-lg"></i> {% trans "Add" %}</a></li>
</ul>
{% endif %}

{% paginate job_offers %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans "title" %}</th><th>{% trans "Contract Type" %}</th><th>{% trans "Location" %}</th><th>{% trans "Creation Date" %}</th>
        </tr>
    </thead>
    <tbody>
{% for emploi in job_offers %}
<tr>
<td><a href="{% url "ain7.emploi.views.job_details" emploi.id %}">{{ emploi.title }}</a></td>
<td>{{ emploi.get_contract_type_display }}</td>
<td>{% if emploi.office  %}<a href="{% url "ain7.organizations.views.organization_details" emploi.office.organization.id %}">{{ emploi.office }}</a>{% endif %}</td>
<td>{{ emploi.created_at|date:"l j F Y" }}</td>
</tr>
{% endfor %}
    </tbody>
</table>

<p class="text-center">{% show_pages %}</p> 

</div>

{% endblock %}
