{% extends "emploi/base.html" %}
{% load i18n ain7_tags %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<h2>{{ job.title }}</h2>

<ul>
<li><b>{% filter capfirst%}{% trans "organization" %}{% endfilter %}&nbsp;:</b>
    <a href="{% url ain7.organizations.views.organization_details job.office.organization.id %}">{{ job.office.organization }}</a>, {{ job.office }}
</li>
<li><b>{% trans "Contract Type" %}&nbsp;:</b> {{ job.get_contract_type_display }}</li>
<li><b>{% trans "Experience" %}&nbsp;:</b> {{ job.experience }}</li>
<li><b>{% trans "Reference" %}&nbsp;:</b> {{ job.reference }}</li>
{% if job.contact %}
<li><b>{% trans "Contact" %}&nbsp;:</b><a href="{% url ain7.annuaire.views.details job.contact.user.id %}">{{ job.contact }}</a></li>
{% endif %}
{% if job.track.all %}
<li><b>{% trans "Tracks" %}&nbsp;:</b> 
    {% for track in job.track.all %}
        {{ track.name }}
        {% if not forloop.last %} - {% endif %}
    {% endfor %}
</li>
{% endif %}
{% if job.activity_field %}
<li><b>{% trans "Activity field" %}&nbsp;:</b> {{ job.activity_field }}</li>
{% endif %}
{% if job.contact_name or job.contact_email %}
    <li><b>{% trans "Contact" %}&nbsp;:</b>
      {% if job.contact_email %}
        <a href="mailto:{{ job.contact_email }}">
      {% endif %}
      {% if job.contact_name %} 
        {{ job.contact_name }}
      {% else %} 
        {{ job.contact_email }}
      {% endif %}
      {% if job.contact_email %}</a>{% endif %}
    </li>
{% endif %}
<li><b>{% trans "Registered" %}&nbsp;:</b> {{ job.created_at|date:"l j F Y H:m" }}
{% if job.created_by %}{% trans "by" %} {{ job.created_by }}{% endif %}
</li>
</ul>

{{ job.description|safe }}

{% endblock %}


{% block actions %}
<li class="nav-header">{% trans "Actions" %}</li>
<li><a href="{% url ain7.emploi.views.job_edit job.id %}">{% trans "Edit this job offer" %}</a></li>
{% endblock %}

{% block statistics %}
<li class="nav-header">{% trans "Statistics"%}</li>
<li>{% trans "This announce has been viewed" %} {{ views }} {% trans "times" %}</li>
{% endblock %}
