{% extends "emploi/base.html" %}

{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div class="left_box">

<h2>{% trans "Jobs proposals" %}</h2>

{% if proposals %}
<ul>
{% for job in proposals %}
<li>
  {{ job.title }}&nbsp;
  <a href="{% url "ain7.emploi.views.job_validate" job.id %}" class="savelink">{% trans "Validate proposal" %}</a>&nbsp;
  <a href="{% url "ain7.emploi.views.job_edit" job.id %}" class="changelink">{% trans "Check" %}</a>&nbsp;
  <a href="{% url "ain7.emploi.views.job_delete" job.id %}" class="deletelink">{% trans "Delete" %}</a>
</li>
{% endfor %}
</ul>
{% else %}
  {% trans "There are currently no job offer proposals to validate." %}
{% endif %} {# proposals #}
</div>

{% endblock %} {# content-left #}
