{% extends "emploi/base.html" %}
{% load i18n %}

{% block javascript %}
<script src="/site_media/js/mootools-{{ mootools_version }}-core-nc.js" type="text/javascript"></script>
<script src="/site_media/js/mootools-{{ mootools_more_version }}-more.js" type="text/javascript"></script> 
<script src="/site_media/js/autocomplete.js?version={{ portal_version }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>
{% endblock %}

{% block content-left %}

<h2>{{ title }}</h2>

{% if header_msg %}
    <p>{{ header_msg|safe }}</p>
{% endif %}

<form method="post" action=".">
<table>
{{ form }}
</table>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

{% endblock %}
