{% extends "emploi/base.html" %}
{% load i18n %}

{% block content-left %}

{% ifequal action "edit" %}
    <h2>{% trans "Modification of a position for" %} {{ ain7member }}</h2>
{% else %}
    <h2>{% trans "Creation of a position for" %} {{ ain7member }}</h2>
{% endifequal %}

<p>{% trans "If you do not find your organization or office, you can add them" %} <a href="{% url ain7.organizations.views.organization_edit %}">{% trans "here" %}</a>.</p>

<form method="post" action=".">
<table>
{{ form }}
</table>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

{% endblock %}
