/* project: internet services template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
   
body { 
    padding: 0; 
    margin: 0; 
    font: 0.7em Tahoma, sans-serif; 
    line-height: 1.5em;
    background: #fff; 
    color: #454545; 
}

a {
    color: #E0691A;
    background: inherit;
}

a:hover {
    color: #6C757A;
    background: inherit;
}

h1 { 
    font: normal 2.1em Arial, Sans-Serif;
    letter-spacing: -1px;
    padding: 7px 0 0 8px;
    margin: 0;
}

.dark  {
    color: #737373;
    background: inherit;
    font-weight: bold;
}

h1 a, h2 a {
    text-decoration: none;
}

h1 a:hover, h2 a:hover {
    color: #FF6600;
    background: inherit;
}

h2 {
    margin: 0;
    padding: 0;
    font: bold 1.7em Arial, Sans-Serif;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.5em; 
    margin-bottom: 5px;
    color: #000;
    background: inherit;
}

p {
    margin: 0 0 5px 0;
    text-align: justify;
}

ul {
    list-style : square;
}

form {
    margin: 0;
}

.button {
    padding: 2px;
    background-color: #FF9148;
    color: #FFFFFF;
    border: 1px solid #737373;
    font: bold 1em Arial, Sans-Serif;
}

.warning {
    padding: 40px; 
    color: #FF9148;
    font: bold 1.5em Arial, Sans-Serif;
}

/* layout
   ------ */

.content { 
    margin: 0 auto;
    width: 780px;
    padding: 10px; 
}

#content-main {
    padding: 10px;
}

.header { 
    height: 65px;
    background: #eee;
    color: #808080;
    margin: 3px 0 10px 0;
    padding: 10px 0 0 0;
}

.top_info {
    float: right;
    width: 555px;
    padding: 5px 0 4px 0;
    background: #eee;
    color: #808080;
}

.top_info_left {
    width: 200px;
    float: left;
}

.top_info_right {
    float: right;
    width: 290px;
    padding: 0 0 0 35px;
    border-left: 1px solid #eee;
}

.bar { 
    clear: both;
    width: 780px;
    font-size: 11px;
    background: #FF9148;
    list-style: none;
    text-align: center;
    line-height: 22px;
}

.bar ul {
    margin: 0;
    padding : 0;
}

.bar li { 
    padding: 4px 12px 4px 12px;
    color: #FFEADC;
    display:inline;
}
	
.bar li.active { 
    color: #fff;
    font-weight: bold; 
    padding: 5px 12px 5px 12px;
}

.bar ul.ligne1 li.active { 
    background: #E0691A url(../images/bar.gif) no-repeat center top; 
}

.bar ul.ligne2 li.active { 
    background: #E0691A url(../images/bar-up.gif) no-repeat center bottom; 
}

.bar li.active a { 
    background: #E0691A;
} 

.bar li.active a:hover { 
    background: #E0691A;
    color: #FF9148;
}
	
.bar li a { 
    font-weight: bold;
    color: #FFF; 
    background: inherit;
    text-decoration: none;
    text-align: center;
} 
	
.bar li a:hover { 
    color: #E0691A; 
    background: inherit;
} 

.search_field { 
    background: #fff url(searchbg.gif) no-repeat right; 
    color: #808080;
    clear: both;
    font-weight: bold;
    padding: 7px 25px 10px 10px;
    margin: 5px 0;
}

.grey {
    color: #808080;
    background: inherit;
    font-weight: normal;
}

/* left side
   --------- */

.left {
    float: left;
    width: 65%;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
}

.left h3 {
    clear: both;
    background: #A9C0CE url(../images/corner.gif) no-repeat top right;
    color: #FFF;
    padding: 7px 0 7px 5px;
    font: bold 1em Tahoma, Arial, Sans-Serif;
    margin: 0 0 0px 0;
}

.left_side {
    float: left;
    width: 180px;
    padding: 0 0 0 10px;
    margin: 10px 0;
}
		
.left_side a, .right_side a {
    color: #414141;
    background: #FFF;
}
		
.right_side {
    float: right;
    width: 220px;
    background: #FFF url(dotted.gif) repeat-y;
    color: #414141;
    padding: 0 0 0 40px;
    margin: 10px 0;
}
		
.left_box {
    margin: 0 0 10px 0;
    color: #000;
    background: #FFF;
    padding: 3px 0;
}


/* right side
   ---------- */
		
.right {
    float: right;
    width: 32.6%;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
}

.right h3 {
    background: #6C757A  url(../images/corner.gif) no-repeat top right;;
    color: #FFF;
    padding: 7px 0 7px 5px;
    font: bold 1em Tahoma, Arial, Sans-Serif;
    margin: 0 0 3px 0;
}

.right_articles {
    background: #f5f5f5;
    color: #414141;
    padding: 8px;	
    margin: 0 0 3px 0;
}
	
.image {
    float: left;
    margin: 0 9px 3px 0;
}

/* footer
   ------ */

.footer { 
    clear: both;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    border-top: 1px solid #ccc;
    line-height: 1.8em;
}

.footer a {
    color: #808080;
    background: #fff;
}

.footer p {
    text-align: center;
}

