{% extends "sondages/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}
<div id="content-main">

<div class="left">

	<div id="edition">
		<h1>{{ survey.question }}</h1>

		<p><a href="{% url ain7.sondages.views.view survey.id %}" class="backlink">{% trans "Go back to results" %}</a></p>

		<h2>{% trans "Survey" %}</h2>
		<p><a href="{% url ain7.sondages.views.delete survey.id %}" class="deletelink">{% trans "Delete" %}</a></p>
		<div class="datas">
			<ul>
				<li>
					<strong>{% filter capfirst %}{% trans "question" %}{% endfilter %}&nbsp;:</strong>
					{{ survey.question }}
				</li>
				<li>
					<strong>{% trans "start date" %}&nbsp;:</strong>
					{{ survey.start_date|date:"d/m/Y" }}
				</li>
				<li>
					<strong>{% trans "end date" %}&nbsp;:</strong>
					{{ survey.end_date|date:"d/m/Y" }}
				</li>
			</ul>
		</div>
		<p><a href="{% url ain7.sondages.views.edit survey.id %}" class="changelink">{% trans "Modify" %}</a></p>


		<h2>{% trans "Choices" %}</h2>
		<table class="datas">
			{% for choice in survey.choices.all %}
				<tr class="{% cycle row1,row2 %}">
					<td>{{ choice.choice }}</td>
					<td class="action"><a href="{% url ain7.sondages.views.choice_edit survey.id choice.id %}" class="changelink">{% trans "Modify" %}</a></td>
					<td class="action"><a href="{% url ain7.sondages.views.choice_delete survey.id choice.id %}" class="deletelink">{% trans "Delete" %}</a></td>
				</tr>
			{% endfor %}
		</table>
		<p><a href="{% url ain7.sondages.views.choice_edit survey.id %}" class="addlink">{% trans "Add" %}</a></p>

	</div>
</div>

<div class="right">

	<h3>{% trans "Actions" %}</h3>
	<div class="right_block">
		<ul>
			<li><a href="{% url ain7.sondages.views.edit %}">{% trans "Create a new survey" %}</a></li>
			<li><a href="{% url ain7.sondages.views.index %}">{% trans "See all surveys" %}</a></li>
		</ul>
	</div>

</div>
</div>

{% endblock %}
