{% extends "sondages/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

	<h1>{% trans "List of surveys" %}</h1>
	<ul>
		{% for survey in surveys %}
		   <li><a href="{% url ain7.sondages.views.view survey.id %}">{{ survey.question }}</a></li>
		{% endfor %}
	</ul>

</div>

<div class="right">

	<h3>{% trans "Actions" %}</h3>
	<div class="right_block">
		<ul>
			<li><a href="{% url ain7.sondages.views.create %}">{% trans "Create a new survey" %}</a></li>
		</ul>
	</div>

</div>

</div>

{% endblock %}

