{% extends "sondages/base.html" %}
{% load i18n %}

{% block content %}

<div class="span-17 colborder">



	<h1>{% trans "List of surveys" %}</h1>
	<ul>
		{% for survey in surveys %}
		   <li><a href="{% url ain7.sondages.views.view survey.id %}">{{ survey.question }}</a></li>
		{% endfor %}
	</ul>

</div>

<div class="span-6 last">

	<h2>{% trans "Actions" %}</h2>
	<div class="grey-box">
		<ul>
			<li><a href="{% url ain7.sondages.views.edit %}">{% trans "Create a new survey" %}</a></li>
		</ul>
	</div>

</div>

</div>

{% endblock %}

