{% extends "sondages/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div class="span-17 colborder">

	
	
		<h1>{{ survey.question }}</h1>

		{% block details %}
			<p>
				{% blocktrans with survey.end_date|date:"d/m/Y" as end_date %}Votes ends the {{ end_date }}{% endblocktrans %}
			</p>
			<p>
				{% trans "Number of votes" %}&nbsp;:&nbsp;{{ survey.nb_vote }}
			</p>
			<ul class="result">
				{% for choice in survey.choices.all %}
				    <li>
				    	<p>{{ choice }}</p>
				    	<div class="rate"><div style="width: {{ choice.rate|floatformat:0 }}px;"></div></div>
				    	<span>
				    		{% blocktrans count choice.votes.count as counter %}{{ counter }} vote{% plural %}{{ counter }} votes{% endblocktrans %}
				    		({{choice.rate|floatformat:1 }}&nbsp;%)
				    	</span>
				    </li>
				{% endfor %}
			</ul>
		{% endblock %}
	
	</div>

	<div class="span-6 last">
	
		<h2>{% trans "Actions" %}</h2>
		<div class="grey-box">
			<ul>
				{% block action %}
					{% if not already_vote %}
						<li><a href="{% url "ain7.sondages.views.vote" survey.id %}">{% trans "Vote" %}</a></li>
					{% endif %}
				{% endblock action %}
				<li><a href="{% url "ain7.sondages.views.details" survey.id %}">{% trans "Edit this survey" %}</a></li>
				<li><a href="{% url "ain7.sondages.views.index" %}">{% trans "See all surveys" %}</a></li>
			</ul>
		</div>
	
	</div>

</div>
{% endblock %}
