{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="author" content="AIn7 Devel Team (http://ain7.com)" />
<title>AIn7 - Ooooooops{% if exception_code %} #{{ exception_code }} {% endif %}</title>
<link rel="stylesheet" href="/site_media/skins/default/css/style.css" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}/images/favicon.png" />
</head>
<body>

    <div id="login-content">
    <h2>Oooooops {% if exception_code %} #{{ exception_code }} {% endif %}</h2>

    <p>{% trans "An error happened! Please retry later, if the error persists, please contact the administrator." %}<br/>
    <p>{% trans "You can note the error number to ask administrator what goes wrong." %}<br/>
    <a href="{% url ain7.pages.views.homepage %}">Back to home page</a><br/>
    </p>
    </div>

        <div id="footer">
            <p> &copy; Copyright 2009-2010 <a href="{% url ain7.pages.views.apropos %}">AIn7</a> {{ portal_version }}</p>
        </div>
</body>
</html>
