{% load  i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "AIn7: alumni network for IET-ENSEEIHT engineers" %}</title>
<meta name="author" content="AIn7 Devel Team (http://ain7.com)" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-style-type" content="text/css" />
{% block meta %}{{ meta }}{% endblock %}
<link rel="shortcut icon" type="image/x-icon" href="/site_media/images/favicon.png" />
<link rel="alternate" type="application/rss+xml" href="/rss/events/" />

{% block javascript %}

{# Par defaut, on importe ces codes javascript sur toutes les pages. #}
{# Rien n'empeche de redefinir ce bloc pour certaines pages... #}
<!-- calendar -->
<script src="/site_media/js/calendar/calendar.js" type="text/javascript"></script>
<!-- this is translation file for calendar - choose your language here -->
<script src="/site_media/js/calendar/lang/calendar-en.js" type="text/javascript"></script>
<script src="/site_media/js/calendar/calendar-setup.js" type="text/javascript"></script>
<!-- /calendar -->
<script src="/site_media/js/mootools-{{ mootools_version }}-core-nc.js" type="text/javascript"></script>
<script src="/site_media/js/autocomplete.js?version={{ portal_version }}" type="text/javascript"></script>
<script src="/site_media/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="/site_media/js/textareas.js" type="text/javascript"></script>
<!--{#<script src="/site_media/js/jquery-{{ jquery_version }}.min.js" type="text/javascript"></script> //-->
{% endblock %}

<link rel="stylesheet" href="/site_media/skins/default/css/style.css?version={{ portal_version }}" type="text/css" />

{% block stylesheet %}

{# CSS par defaut sur toutes les pages. #}
{# Rien n'empeche de redefinir ce bloc pour certaines pages... #}
<link rel="stylesheet" type="text/css" href="/site_media/js/calendar/calendar-win2k-cold-2.css" />
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>

{% endblock %}

</head>

<body>
	<div class="content">
		<div class="header">
			<div class="top_info">
				<div class="top_info_right">
{% if user.is_authenticated %}
<form method="post" action="/accounts/logout/">
	<div style="text-align: center;">
		{% trans "Connected as" %} <a href="/annuaire/{{ user.id }}/">{{ user.person.first_name }} {{ user.person.last_name }}</a><br />
		<input class="button" type="submit" value="{% trans "Log out" %}" />
	</div>
</form>
{% else %}
<p>{% trans "You are not logged-in" %} - <a href="/accounts/login/?next={{ request.path }}">{% trans "Log-in" %}</a></p>
{% endif %}
				</div>
			</div>
			<div class="logo">
				<h1><a href="/" title="{% trans "AIn7 web portal" %}"><span class="dark">AIn7</span>.com</a></h1>
			</div>
		</div>
		<div class="bar">

<ul class="ligne1">

{% block barre-home %}<li>{% endblock %}
    <a href="{% url ain7.pages.views.homepage %}" accesskey="h">{% trans "Home"%}</a></li>

{% block barre-association %}<li>{% endblock %}
    <a href="{% url ain7.association.views.index %}" accesskey="o">{% trans "The association"%}</a></li>

{% block barre-adhesions %}<li>{% endblock %} 
    <a href="/adhesions/" accesskey="o">{% trans "Subscriptions"%}</a></li>

{% block barre-annuaire %}<li>{% endblock %}
    <a href="{% url ain7.annuaire.views.search %}" accesskey="a">{% trans "Directory"%}</a></li>

{% block barre-actualites %}<li>{% endblock %}
    <a href="{% url ain7.news.views.index %}" accesskey="c">{% trans "News"%}</a></li>

{% block barre-evenements %}<li>{% endblock %}
    <a href="{% url ain7.news.views.event_index %}" accesskey="e">{% trans "Events"%}</a></li>

{% block barre-emploi %}<li>{% endblock %}
    <a href="{% url ain7.emploi.views.index %}" accesskey="s">{% trans "Job service"%}</a></li>

{% block barre-groupes_regionaux %}<li>{% endblock %}
    <a href="{% url ain7.groupes_regionaux.views.index %}" accesskey="p">{% trans "Regional Groups "%}</a></li>

{#{% block barre-forums %}<li>{% endblock %}#}
{#    <a href="{% url ain7.pages.views.forums %}" accesskey="f">{% trans "Forums"%}</a></li>#}

</ul>

<ul class="ligne2">

{% block barre-relation_ecole_etudiants %}<li>{% endblock %}
    <a href="{% url ain7.pages.views.relations_ecole_etudiants %}" accesskey="r">{% trans "School and Students Relationship" %}</a></li>

{% block barre-groupes %}<li>{% endblock %}
    <a href="{% url ain7.groupes_professionnels.views.index %}" accesskey="g">{% trans "Professionnal Groups"%}</a></li>

{% block barre-media_communication %}<li>{% endblock %}
    <a href="{% url ain7.association.views.media_com %}" accesskey="m">{% trans "Media &amp; Communication" %}</a></li>

{% block barre-web %}<li>{% endblock %}
    <a href="{% url ain7.pages.views.web %}" accesskey="i">{% trans "Web" %}</a></li>

{% block barre-voyages %}<li>{% endblock %}
    <a href="{% url ain7.voyages.views.index %}" accesskey="v">{% trans "Travels" %}</a></li>

{% comment %}
{% block barre-galerie %}<li>{% endblock %}
    <a href="{% url ain7.pages.views.galerie %}" accesskey="l">{% trans "Gallery" %}</a></li>
{% endcomment %}

{% if superadmin or ca_member or secretariat_member %}
{% block barre-manage %}<li>{% endblock %}
    <a href="{% url ain7.manage.views.index %}" accesskey="n">{% trans "Management" %}</a></li>
{% endif %}

</ul>

		</div>

                <div class="messages">
                {% for message in messages %}
	            <p class="msg_info">{{ message|safe }}</p>
                {% endfor %}
                </div>

        {% block content %}{{ content }}{% endblock %}

		<div class="footer">
			<p><a href="/rss/">{% trans "RSS" %}</a> |
         <a href="/association/contact/">{% trans "Contact" %}</a> |
         <a href="/apropos/">{% trans "About" %}</a> |
         <a href="/mentions_legales/">{% trans "Terms of use" %}</a> |
         <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
             {% trans "and"%}
         <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br />
			   &copy; Copyright 2009-2010 AIn7 - Version {{ portal_version  }} - {% trans "Unless specific mention, all Texts are under license" %} <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">CC by-sa 3.0</a>.</p>
		</div>
	</div>
<div>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.ain7.info/" : "{{ piwik_url }}");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ piwik_site_id }});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_site_id}}" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->
</div>
</body>
</html>
