{% load  i18n %}
{% load static from staticfiles %}
<html lang="en">                                                                
  <head>                                                                        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="AIn7">
    {% block meta %}{{ meta }}{% endblock %}
    <link rel="icon" href="{% static "images/favicon.png" %}">
    <link rel="alternate" type="application/rss+xml" href="/rss/events/" />

    <title>{% if page_title %}{{ page_title }} - {% else %} {%if text.title %} {{ text.title }} - {% endif %} {% endif %} {% trans "AIn7: ENSEEIHT Engineer Alumni Association" %}</title>

    <link href="{% static "css/ain7.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">      
<div class="navbar-inner">
<div class="container">
     
<!-- Be sure to leave the brand out there if you want it shown -->
  
<!-- Everything you want hidden at 940px or less, place within here -->
<div class="navbar-header">
<a class="navbar-brand" href="{% url "ain7.pages.views.homepage" %}"><img src="{% static "logo_ain7.png" %}"></a>
</div>

<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
    <li {% block navbardirectory %}{{ navbardirectory }}{% endblock %}><a href="{% url "ain7.annuaire.views.search" %}">{% trans "Directory" %}</a></li>
    <li {% block navbarnews %}{{ navbarnews }}{% endblock %}><a href="{% url "ain7.news.views.index" %}">{% trans "News" %}</a></li>
    <li {% block navbarevents %}{{ navbarevents }}{% endblock %}><a href="{% url "ain7.news.views.event_index" %}">{% trans "Events" %}</a></li>
    <li {% block navbarjobs %}{{ navvarjobs }}{% endblock %}><a href="{% url "ain7.emploi.views.index" %}">{% trans "Job service" %}</a></li>
    <li {% block navbargroups %}{{ navbargroups }}{% endblock %}><a href="{% url "ain7.groups.views.index" %}">{% trans "Groups" %}</a></li>
    <li {% block navbarassociation %}{{ navbarassociation }}{% endblock %}><a href="{% url "ain7.association.views.index" %}">{% trans "Association" %}</a></li>
    <li {% block navbartravels %}{{ navbartravels }}{% endblock %}><a href="{% url "ain7.voyages.views.index" %}">{% trans "Travels" %}</a></li>
</ul>

<form class="navbar-form navbar-left" action="">
<input type="text" class="search-query span2" placeholder="Search">
</form>

<ul class="nav navbar-nav navbar-right">
{% if superadmin or ca_member or secretariat_member %}
 <li class="dropdown" {% block navbarmanage %}{{ navbarmanage }}{% endblock %}>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url "ain7.organizations.views.organization_search" %}">{% trans "Organizations" %}</a></li>
      <li><a href="{% url "ain7.manage.views.errors_index" %}">{% trans "Errors" %}</a></li>
      <li><a href="{% url "ain7.manage.views.payments_index" %}">{% trans "Payments" %}</a></li>
      <li><a href="{% url "ain7.manage.views.mailings_index" %}">{% trans "Mailings" %}</a></li>
      <li><a href="{% url "ain7.manage.views.subscriptions_stats" %}">{% trans "Subscriptions" %}</a></li>
      <li><a href="{% url "ain7.manage.views.payments_deposit_index" %}">{% trans "Deposit slip" %}</a></li>
    </ul>
 </li>
{% endif %}
{% if user.is_authenticated %}
 <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.person.first_name }} {{ user.person.last_name }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url "ain7.annuaire.views.details" user.id %}"><i class="icon-home"></i> Profile</a></li>
      <li><a href="{% url "ain7.annuaire.views.details" user.id %}"><i class="icon-cog"></i> Preferences</a></li>
      <li><a href="{% url "ain7.annuaire.views.details" user.id %}"><i class="icon-envelope"></i> Messages</a></li>
      <li class="divider"></li>
      <li><a href="{% url "logout" %}"><i class="icon-off"></i> Logout</a></li>
    </ul>
 </li>
{% else %}
    <li><a href="/accounts/login/?next={{ request.path }}">{% trans "Log-in" %}</a></li>
{% endif %}
</ul>

</div>
  
</div>
</div>
</div>

<div class="container">
<div class="row-fluid">

{% block carousel %}{{ carousel }}{% endblock %}

</div>

{% if messages %}
<div class="row-fluid">
{% for message in messages %}
<div class="alert fade in {% if message.tags %}alert-{{ message.tags }}{% endif %}">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message|safe }}
</div>
{% endfor %}
</div>
{% endif %}

<div class="row-fluid">

{% block content %}{{ content }}{% endblock %}

</div>
</div>

<footer class="footer">
<div class="navbar navbar-inner">
  <div class="container">
    <p>&copy; Copyright 2009-2015 AIn7 - 
<a href="{{ settings.LINKEDIN_AIN7 }}" target="_blank"><img height="16" width="16" src="{% static "images/linkedin-icon.png" %}" alt="Linkedin"/></a>
&nbsp;
<a href="{{ settings.FACEBOOK_AIN7 }}" target="_blank"><img height="16" width="16" src="{% static "images/FB-icon.jpg" %}" alt="Facebook"/> </a>
&nbsp;
<a href="{{ settings.TWITTER_AIN7 }}" target="_blank"><img height="16" width="16" src="{% static "images/twitter-icon.png" %}" alt="Twitter"/></a>
&nbsp;
<a href="{{ settings.GPLUS_AIN7 }}" target="_blank"><img height="16" width="16" src="{% static "images/gplus-icon.png" %}" alt="Google+"/></a>
<a href="{{ settings.VIADEO_AIN7 }}" target="_blank"><img height="16" width="16" src="{% static "images/viadeo-icon.png" %}" alt="Viadeo"/></a>
<br />
    <a href="/rss/">{% trans "RSS" %}</a> | <a href="/apropos/">{% trans "About" %}</a> | <a href="/mentions_legales/">{% trans "Terms of use" %}</a> | <a href="/association/contact/">{% trans "Contact" %}</a></p>
  </div>
</div>
</footer>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.ain7.info/" : "{{ piwik_url }}");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ piwik_site_id }});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_site_id}}" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>
