{% load  i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>{% if page_title %}{{ page_title }} - {% else %} {%if text.title %} {{ text.title }} - {% endif %} {% endif %} {% trans "AIn7: ENSEEIHT Engineer Alumni Association" %}</title>
<meta name="author" content="AIn7 Devel Team (http://ain7.com)" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% block meta %}{{ meta }}{% endblock %}
<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}images/favicon.png" />
<link rel="alternate" type="application/rss+xml" href="/rss/events/" />

<link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>

<body>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>

<div class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="container">
     
<!-- Be sure to leave the brand out there if you want it shown -->
<a class="brand" href="{% url ain7.pages.views.homepage %}"><img src="{{ MEDIA_URL }}logo_ain7.png" height="33%" /></a>
  
<!-- Everything you want hidden at 940px or less, place within here -->
<div class="nav-collapse collapse navbar-responsive-collapse">
<ul class="nav">
    <li {% block navbardirectory %}{{ navbardirectory }}{% endblock %}><a href="{% url ain7.annuaire.views.search %}">{% trans "Directory" %}</a></li>
    <li {% block navbarnews %}{{ navbarnews }}{% endblock %}><a href="{% url ain7.news.views.index %}">{% trans "News" %}</a></li>
    <li {% block navbarevents %}{{ navbarevents }}{% endblock %}><a href="{% url ain7.news.views.event_index %}">{% trans "Events" %}</a></li>
    <li {% block navbarjobs %}{{ navvarjobs }}{% endblock %}><a href="{% url ain7.emploi.views.index %}">{% trans "Job service" %}</a></li>
    <li {% block navbargroups %}{{ navbargroups }}{% endblock %}><a href="{% url ain7.groups.views.index %}">{% trans "Groups" %}</a></li>
    <li {% block navbarassociation %}{{ navbarassociation }}{% endblock %}><a href="{% url ain7.association.views.index %}">{% trans "Association" %}</a></li>
    <li {% block navbartravels %}{{ navbartravels }}{% endblock %}><a href="{% url ain7.voyages.views.index %}">{% trans "Travels" %}</a></li>
</ul>

<form class="navbar-search pull-right" action="">
<input type="text" class="search-query span2" placeholder="Search">
</form>

<ul class="nav pull-right">
{% if superadmin or ca_member or secretariat_member %}
 <li class="dropdown" {% block navbarmanage %}{{ navbarmanage }}{% endblock %}>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Manage" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url ain7.organizations.views.organization_search %}">{% trans "Organizations" %}</a></li>
      <li><a href="{% url ain7.manage.views.errors_index %}">{% trans "Errors" %}</a></li>
      <li><a href="{% url ain7.manage.views.payments_index %}">{% trans "Payments" %}</a></li>
      <li><a href="{% url ain7.manage.views.mailings_index %}">{% trans "Mailings" %}</a></li>
      <li><a href="{% url ain7.manage.views.subscriptions_stats %}">{% trans "Subscriptions" %}</a></li>
      <li><a href="{% url ain7.manage.views.payments_deposit_index %}">{% trans "Deposit slip" %}</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
 </li>
{% endif %}
{% if user.is_authenticated %}
 <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.person.first_name }} {{ user.person.last_name }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url ain7.annuaire.views.details user.id %}"><i class="icon-home"></i> Profile</a></li>
      <li><a href="{% url ain7.annuaire.views.details user.id %}"><i class="icon-cog"></i> Preferences</a></li>
      <li><a href="{% url ain7.annuaire.views.details user.id %}"><i class="icon-envelope"></i> Messages</a></li>
      <li class="divider"></li>
      <li><a href="{% url ain7.pages.views.logout %}"><i class="icon-off"></i> Logout</a></li>
    </ul>
 </li>
{% else %}
    <li><a href="/accounts/login/?next={{ request.path }}">{% trans "Log-in" %}</a></li>
{% endif %}
</ul>

</div>
  
</div>
</div>
</div>

<div class="container">
<div class="row-fluid">

{% block carousel %}{{ carousel }}{% endblock %}

</div>

{% if messages %}
<div class="row-fluid">
{% for message in messages %}
<div class="alert fade in {% if message.tags %}alert-{{ message.tags }}{% endif %}">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message|safe }}
</div>
{% endfor %}
</div>
{% endif %}

<div class="row-fluid">

{% block content %}{{ content }}{% endblock %}

</div>
</div>

<footer class="footer">
<div class="navbar navbar-fixed-bottom navbar-inner">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; Copyright 2009-2012 AIn7 - Version {{ portal_version  }} -
<a href="{{ settings.LINKEDIN_AIN7 }}" target="_blank"><img height="16" width="16" src="{{ MEDIA_URL }}images/linkedin-icon.png" alt="Linkedin"/></a>
&nbsp;
<a href="{{ settings.FACEBOOK_AIN7 }}" target="_blank"><img height="16" width="16" src="{{ MEDIA_URL }}images/FB-icon.jpg" alt="Facebook"/> </a>
&nbsp;
<a href="{{ settings.TWITTER_AIN7 }}" target="_blank"><img height="16" width="16" src="{{ MEDIA_URL }}images/twitter-icon.png" alt="Twitter"/></a>
&nbsp;
<a href="{{ settings.GPLUS_AIN7 }}" target="_blank"><img height="16" width="16" src="{{ MEDIA_URL }}images/gplus-icon.png" alt="Google+"/></a>
<a href="{{ settings.VIADEO_AIN7 }}" target="_blank"><img height="16" width="16" src="{{ MEDIA_URL }}images/viadeo-icon.png" alt="Viadeo"/></a>
<br />
    <a href="/rss/">{% trans "RSS" %}</a> | <a href="/apropos/">{% trans "About" %}</a> | <a href="/mentions_legales/">{% trans "Terms of use" %}</a> | <a href="/association/contact/">{% trans "Contact" %}</a></p>
  </div>
</div>
</footer>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.ain7.info/" : "{{ piwik_url }}");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ piwik_site_id }});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_site_id}}" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->

</body>
</html>
