{% extends "annuaire/base.html" %}

{% load i18n %}

{% block javascript %}
<script type="text/javascript" src="/site_media/js/mootools-release-{{ mootools_version }}.js"></script>
<script type="text/javascript" src="/site_media/js/autocomplete.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/floatingpane.js?version={{ portal_version }}"></script>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>
{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

<form action="." method="post">
<div>

{% if filtr %}
  {% if filtr.registered %}
    <h1>{% trans "Filter" %}&nbsp;: {{ filtr.name }}</h1>
  {% endif %}

  <div id="edition">

  {% if filtr.criteriaField.all or filtr.criteriaFilter.all %}
    <table class="datas">
    {% for criterion in filtr.criteriaField.all %}
      <tr class="{% cycle row1,row2 as rowvar %}">
        <td>{% if not forloop.first %}
          <a href="/annuaire/advanced_search/filter/{{ filtr.id }}/swapOp/">
            {{ filtr.operator }}
          </a>
          {% endif %}
        </td>
        <td>{{ criterion.fieldVerboseName|capfirst }}</td>
        <td>{{ criterion.comparatorVerboseName }}</td>
        <td>{{ criterion.displayedValue }}</td>
        <td><a href="/annuaire/advanced_search/filter/{{ filtr.id }}/criterion/{{ criterion.id }}/edit/field/" class="changelink">{% trans "Modify" %}</a></td>
        <td><a href="/annuaire/advanced_search/filter/{{ filtr.id }}/criterion/{{ criterion.id }}/delete/field/" class="deletelink">{% trans "Delete" %}</a></td>
      </tr>
    {% endfor %}

    {% for criterion in filtr.criteriaFilter.all %}
      <tr class="{% cycle rowvar %}">
        <td>{% if filtr.criteriaField.all or not forloop.first %}
          <a href="/annuaire/advanced_search/filter/{{ filtr.id }}/swapOp/">
            {{ filtr.operator }}
          </a>
          {% endif %}
        </td>
        <td>
          {% if criterion.is_in %}
            {% trans "belongs to filter" %}
          {% else %}
            {% trans "does not belong to filter" %}
          {% endif %}
        </td>
        <td>&nbsp;</td>
        <td>{{ criterion.filterCriterion }}</td>
        <td><a href="/annuaire/advanced_search/filter/{{ filtr.id }}/criterion/{{ criterion.id }}/edit/filter/" class="changelink">{% trans "Modify" %}</a></td>
        <td><a href="/annuaire/advanced_search/filter/{{ filtr.id }}/criterion/{{ criterion.id }}/delete/filter/" class="deletelink">{% trans "Delete" %}</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>{% trans "No criterion. Please add one." %}</p>
  {% endif %}
  </div>
{% else %}
  <p>{% trans "No criterion. Please add one." %}</p>
{% endif %}

<a href="/annuaire/advanced_search/filter/{{ filtr.id }}/criterion/add/" 
   class="addlink">{% trans "Add a criterion" %}</a>

<div align="center">
    <input type="submit" class="button" value="{% trans "Search" %}" />
</div>

</div>
</form>

{% if ain7members %}

{% ifnotequal ain7members|length 0 %}

<h2>{% trans "Results list"%}</h2>
<table width="100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/annuaire/advanced_search/?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/annuaire/advanced_search/?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/annuaire/advanced_search/?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/annuaire/advanced_search/?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
    <ul>
    {% for ain7member in ain7members %}
        <li class="person"><a href="/annuaire/{{ ain7member.person.user.id }}/">
            {{ ain7member.person.last_name }} {{ ain7member.person.first_name }}</a> 
            {% for promo in ain7member.promos.all %}
               {% if forloop.last %} ({{ promo }}){% endif %}
            {% endfor %}
				</li>
    {% endfor %}
     </ul>
{% else %}
    <p>{% trans "No person matched your criteria." %}</p>
{% endifnotequal %}

{% endif %}

</div>


<div class="right">

   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
    <ul>
      {% if filtr %}
      <li><a href="/annuaire/advanced_search/filter/{{ filtr.id }}/reset/">
          {% trans "Reset this filter" %}</a></li>
      {% endif %}
      {% if filtr.registered %}
      <li><a href="/annuaire/advanced_search/filter/{{ filtr.id }}/edit/">
          {% trans "Modify the name of this filter" %}</a>&nbsp;
      <li><a href="/annuaire/advanced_search/filter/{{ filtr.id }}/delete/">
          {% trans "Delete this filter" %}</a>&nbsp;
      <li><a href="/annuaire/advanced_search/filter/new/">
          {% trans "New filter" %}</a>&nbsp;
      {% else %}
      <li><a href="/annuaire/advanced_search/filter/register/">
          {% trans "Save this filter" %}</a></li>
      {% endif %}
      <li><a href="/annuaire/csv/">
          {% trans "Export as CSV" %}</a></li>
      <li><a href="/annuaire/sendmail/">
          {% trans "Send a mail" %}</a></li>
    </ul>
   </div>

   <h3>{% trans "Navigation" %}</h3>
   <div class="right_articles">
   <ul>
      <li><a href="/annuaire/">
          {% trans "Simple Search" %}</a></li>
   </ul>
   </div>

   <h3>{% trans "Registered filters" %}</h3>
   <div class="right_articles">
   {% if userFilters %}
   <ul>
       {% for filter in userFilters %}
         <li>
           <a href="/annuaire/advanced_search/filter/{{ filter.id }}/">
             {{ filter }}</a>
         </li>
       {% endfor %}
   </ul>
   {% else %}
     {% trans "No registered filter" %}
   {% endif %}
   </div>
</div>

</div>

{% endblock %}
