{% extends "annuaire/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<h2>{% trans "Choose the criterion to add" %}</h2>

<hr />

{% trans "You can choose one of the following fields as criterion..." %}

<form method="post" action="./field/">
<table>
{{ formFields }}
</table>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans "Continue" %}" />
</div>
</form>

{% if not zeroFilters %}

<hr />

{% trans "... or you can choose an existing filter, and decide if you want that the result contains people selected by this filter or not." %}

<form method="post" action="./filter/">
<ul>
  {% for field in formFilters %}
    <li style="display:inline">{{ field }}{{ field.label }}</li>
  {% endfor %}
</ul>
<div style="text-align: center">
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

{% endif %}

</div>

{% endblock %}
