{% extends "annuaire/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<h1>{% trans "Personal file" %} {{ person.first_name }} {{ person.last_name }}</h1>
<p><a href="/annuaire/{{ person.user.id }}/edit/">{% trans "Edit these data" %}</a></p>
<h2>{% trans "Personal data" %}</h2>
<table border="0">
<tr><td>
<ul>
   <li><b>{% trans "Last name" %}&nbsp;:</b> {{ person.last_name }}</li>
   <li><b>{% trans "First name" %}&nbsp;:</b> {{ person.first_name }}</li>
   <li><b>{% trans "Nick name" %}&nbsp;:</b> {{ person.nick_name }}</li>
   <li><b>{% trans "Promos" %}&nbsp;:</b> {% for promo in ain7member.promos.all %}{{ promo }}{% if not forloop.last %} - {% endif %}{% endfor %}</li>
   <li><b>{% trans "Birth date" %}&nbsp;:</b> {{ person.birth_date|date:"d/m/Y" }}</li>
</ul>
</td><td>
{% if person.avatar %}
	<img src="/site_media/{{ person.get_avatar_url }}" height="100" alt="{% trans "avatar" %}"/></td></tr>
{% endif %}
{% for address in person.addresses.all %}
	{% if not address.is_confidential %}
	    <tr><td><b>{% trans "Address" %} {{ address.type|lower }} :</b> {{ address.number }} {{ address.street }} - {{address.zip_code }} {{ address.city }} - {{ address.country.name }}</td></tr>
	{% endif %}
{% endfor %}

{% for phone_number in person.phone_numbers.all %}
	{% if not phone_number.is_confidential %}
    	<tr><td><b>{{ phone_number.get_type_display }} :</b> {{ phone_number.number }}</td></tr>
    {% endif %}
{% endfor %}

{% for email in person.emails.all %}
	{% if not email.is_confidential %}
	    <tr><td><img src="/site_media/images/mail.png" alt="{% trans "email" %}"/><a href="mailto:{{ email.email }}">{{ email.email }}</a></td></tr>
	{% endif %}
{% endfor %}

{% for im in person.instant_messagings.all %}
    <tr><td><img src="/site_media/images/{{ im.get_type_display|lower }}.png" alt="{% trans "Contact" %} {{im.get_im_display|lower }}"/> {{ im.identifier }}</td></tr>
{% endfor %}

{% for irc in person.ircs.all %}
    <tr valign="middle"><td><img src="/site_media/images/irc.png" alt="{% trans "irc" %}"/> {{ irc.pseudo }} @ {{ irc.network }} {% trans "on" %} {{ irc.channels }}</td></tr>
{% endfor %}

{% for web_site in person.web_sites.all %}
    <tr valign="middle"><td><img src="/site_media/images/web.png" alt="{% trans "web site" %}"/><a href="{{ web_site.url }}">{{ web_site.url }}</a></td></tr>
{% endfor %}

</table>

<h2>{% trans "AIn7 activity" %}</h2>

{% if person.group_memberships.all %}
<ul>
{% for membership in person.group_memberships.all %}
        <li><a href="/groupes/{{ membership.group.id }}/">{{ membership.group.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if ain7member.display_cv_in_directory %}
<h2>{% trans "Professional experiences" %}</h2>

{% if ain7member.positions.all %}
<table>
{% for position in ain7member.positions.all %}
	{% if not position.is_confidential %}
		<tr><td><b>{{ position.start_date|date:"d/m/Y" }} - {{ position.end_date|date:"d/m/Y"|default:"..." }}&nbsp;:</b></td><td> {{ position.fonction }} {% trans "for" %} {{ position.office }} ({{ position.office.company }})</td></tr>
		{% if position.description %}
			<tr><td></td><td>{{ position.description }}</td></tr>
		{% endif %}
	{% endif %}
{% endfor %}
</table>
{% endif %}
{% endif %}

<h2>{% trans "N7 associative activities" %}</h2>

{% if ain7member.club_memberships.all %}
{% for club_membership in ain7member.club_memberships.all %}
    {% if club_membership.club.web_site %}
        <a href="{{ club_membership.club.web_site }}">{{ club_membership.club.name }}</a>
    {% else %}
        {{ club_membership.club.name }}
    {% endif %}
{% endfor %}
{% endif %}

</div>

{% endblock %}
