{% extends "base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">
<h3>Fiche personnelle de {{ personne.prenom }} {{ personne.nom }}</h3>
<table border="0">
<tr><td>
<ul>
   <li>Nom: {{ personne.nom }}</li>
   <li>Prénom: {{ personne.prenom }}</li>
   <li>Surnom: {{ personne.surnom }}</li>
   <li>Filière: {{ personne.get_filiere_display }}</li>
   <li>Promo: {{ personne.promo }}</li>
   <li>Date de naissance: {{ personne.date_naissance }}</li>
</td><td><img src="/site_media/data/{{ personne.uid }}.png" /></td></tr>

{% for addr in personne.addresse_set.all %}
    <tr><td>Adresse : {{ addr.rue }} - {{addr.code_postal }} {{ addr.ville }} - {{addr.pays }}</td></tr>
{% endfor %}

{% for mail in personne.couriel_set.all %}
    <tr><td><img src="/site_media/images/mail.png" alt="IRC"/> {{ mail.adresse }}</td></tr>
{% endfor %}

{% for im in personne.messagerie_set.all %}
    <tr><td><img src="/site_media/images/{{ im.get_type_im_display|lower }}.png" alt="Contact {{im.get_type_im_display|lower }}"/> {{ im.valeur }}</td></tr>
{% endfor %}

{% for irc in personne.irc_set.all %}
    <tr valign="middle"><td><img src="/site_media/images/irc.png" alt="IRC"/> {{ irc.nick }} sur {{ irc.reseau }}</td></tr>
{% endfor %}

{% for site in personne.siteweb_set.all %}
    <tr valign="middle"><td><img src="/site_media/images/web.png" alt="Site web"/> {{ site.url }}</td></tr>
{% endfor %}

</table>

{% endblock %}
