{% extends "annuaire/base.html" %}
{% load i18n ain7_tags %}

{% block content %}

<div id="content-main">

<div class="left">

<h1>{% trans "Personal file" %} {{ person.first_name }} {{ person.last_name }}</h1>

<h2>{% trans "Personal data" %}</h2>
<table border="0">
<tr><td>
<ul>
   {% if person.maiden_name %}
   <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
       &nbsp;:</b> {{ person.maiden_name }}</li>
   {% endif %}
   {% if ain7member.nick_name %}
   <li><b>{% trans "Nick name" %}&nbsp;:</b> {{ ain7member.nick_name }}</li>
   {% endif %}
   <li><b>{% trans "Promos" %}&nbsp;:</b> {% for promo in ain7member.promos.all %}{{ promo }}{% if not forloop.last %} - {% endif %}{% endfor %}</li>
   {% if ain7member.diplomas.all %}
   <li><b>{% filter capfirst %}{% trans "diplomas" %}{% endfilter %}&nbsp;:</b>
       {% for diploma in ain7member.diplomas.all %}{{ diploma }}
           {% if not forloop.last %} - {% endif %}{% endfor %}</li>
   {% endif %}
   <li><b>{% trans "Birth date" %}&nbsp;:</b> {{ person.birth_date|date:"d/m/Y" }}</li>
   {% if person.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ person.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   {% if ain7member.marital_status or ain7member.children_count %}
   <li><b>{% trans "Family situation" %}&nbsp;:</b>
       {% if ain7member.marital_status %}
           {{ ain7member.marital_status }}&nbsp;
       {% endif %}
       {% if ain7member.children_count %}
           {{ ain7member.children_count }}&nbsp;{% trans "children" %}
       {% endif %}
   </li>
   {% endif %}
   {% if ain7member.decorations.all %}
   <li><b>{% filter capfirst %}{% trans "decorations" %}{% endfilter %}
       &nbsp;:</b>
       {% for decoration in ain7member.decorations.all %}{{ decoration }}
           {% if not forloop.last %} - {% endif %}{% endfor %}</li>
   {% endif %}
   {% if ain7member.ceremonial_duties.all %}
   <li><b>{% filter capfirst %}{% trans "ceremonial duties" %}{% endfilter %}
       &nbsp;:</b>
       {% for duty in ain7member.ceremonial_duties.all %}{{ duty }}
           {% if not forloop.last %} - {% endif %}{% endfor %}</li>
   {% endif %}
</ul>
</td><td>
{% if ain7member.avatar %}
	<img src="{{ ain7member.avatar.url }}" height="100" alt="{% trans "avatar" %}"/>
{% endif %}
</td></tr>
{% for phone_number in person.phone_numbers.all %}
	{% if not phone_number.is_confidential %}
    	<tr><td><b>{{ phone_number.get_type_display }} :</b> {{ phone_number.number }}</td></tr>
    {% endif %}
{% endfor %}



{% for email in person.emails.all %}
	{% if not email.is_confidential %}
	    <tr><td><img src="/site_media/images/mail.png" alt="{% trans "email" %}"/><a href="mailto:{{ email.email }}">{{ email.email }}</a></td></tr>
	{% endif %}
{% endfor %}

{% for im in person.instant_messagings.all %}
    <tr><td><img src="/site_media/images/{{ im.get_type_display|lower }}.png" alt="{% trans "Contact" %} {{im.get_im_display|lower }}"/> {{ im.identifier }}</td></tr>
{% endfor %}

{% for irc in person.ircs.all %}
    <tr valign="middle"><td><img src="/site_media/images/irc.png" alt="{% trans "irc" %}"/> {{ irc.pseudo }} @ {{ irc.network }} {% trans "on" %} {{ irc.channels }}</td></tr>
{% endfor %}

{% for web_site in person.web_sites.all %}
    <tr valign="middle"><td><img src="/site_media/images/{{ web_site.get_type_display|lower }}.png" alt="{% trans "web site" %}"/><a href="{{ web_site.url }}">{{ web_site.url }}</a></td></tr>
{% endfor %}

</table>

<table>
{% for address in person.addresses.all %}
	{% if not address.is_confidential %}
	    <tr><td><b>{% trans "Address" %} {{ address.type|lower }} :</b> {{ address.line1 }} {{ address.line2|default_if_none:"" }} - {{address.zip_code }} {{ address.city }} - {{ address.country.name }}</td></tr>
	{% endif %}
{% endfor %}
</table>

{% if ain7member.group_memberships.all %}

<h2>{% trans "AIn7 activity" %}</h2>

<ul>
{% for membership in ain7member.group_memberships.all %}
        <li><a href="/groupes/{{ membership.group.name }}/">{{ membership.group.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if ain7member.display_cv_in_directory %}

<h2>{% trans "Professional experiences" %}</h2>

{% if ain7member.positions.all %}
<table>
{% for position in ain7member.positions.all %}
    {% if not position.end_date %}
        <tr><td>{% trans "since" %}
                <b>{{ position.start_date|date:"d/m/Y"|default:"???" }}</b>&nbsp;:</td>
            <td><em>{{ position.fonction }}</em> {% trans "for" %} 
                {{ position.office }} 
                (<a href="/emploi/organization/{{ position.office.organization.id }}/">{{ position.office.organization }}</a>)</td></tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
{% endif %}
{% endif %}

{% if ain7member.club_memberships.all %}

<h2>{% trans "N7 associative activities" %}</h2>

<ul>
{% for club_membership in ain7member.club_memberships.all %}
    <li>
    {% if club_membership.club.web_site %}
        <a href="{{ club_membership.club.web_site }}">{{ club_membership.club.name }}</a>
    {% else %}
        {{ club_membership.club.name }}
    {% endif %}
    {% if club_membership.start_date and club_membership.end_date %}
    (<i>{{ club_membership.start_date|date:"Y" }} - {{ club_membership.end_date|date:"Y" }}</i>)
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if person.notes %}
<h2>{% trans "AIn7 Notes" %}</h2>

{{ person.notes }}

{% endif %}

</div>

<div class="right">

   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="edit/">{% trans "Modify these data" %}</a></li>
      <li><a href="contributions/">{% trans "See contributions" %}</a></li>
      <li><a href="subscriptions/">{% trans "Manage subscriptions" %}</a></li>
      <li><a href="vcard/">{% trans "Download contact as vCard" %}</a></li>
    </ul>
   </div>

   <h3>{% trans "AIn7 enrolment" %}</h3>
   <div class="right_articles">
    <ul>
    {% for group in person.user.groups.all %}
	    <li><a href="/manage/roles/{{ group.name }}/">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
    </div>

    <h3>{% trans "Card Informations"%}</h3>
    {% show_last_change ain7member %}

</div>

</div>

{% endblock %}
