{% extends "base.html" %}
{% load i18n %}

{% block barre %}
	<li><a href="/" accesskey="r">Accueil</a></li>
	<li class="active"><a href="/annuaire/" accesskey="a">Annuaire</a></li>
	<li><a href="/evenements/" accesskey="e">Evènements</a></li>
	<li><a href="/groupes/" accesskey="g">Groupes de travail</a></li>
	<li><a href="/international/" accesskey="i">L'international</a></li>
	<li><a href="/forums/" accesskey="f">Forums</a></li>
	<li><a href="/planet/" accesskey="p">Planet</a></li>
{% endblock %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">
<h1>Fiche personnelle de {{ personne.prenom }} {{ personne.nom }}</h1>
<p><a href="/annuaire/edit/{{ personne.id }}/">Editer ces informations</a></p>
<h2>Données personnelles</h2>
<table border="0">
<tr><td>
<ul>
   <li>Nom: {{ personne.nom }}</li>
   <li>Prénom: {{ personne.prenom }}</li>
   <li>Surnom: {{ personne.surnom }}</li>
   <li>Filière: {{ personne.get_filiere_display }}</li>
   <li>Promo: {{ personne.promo }}</li>
   <li>Date de naissance: {{ personne.date_naissance }}</li>
</ul>
</td><td><img src="/site_media/{{ personne.avatar }}.jpeg" alt="{{ personne.prenom }} {{ personne.nom }}"/></td></tr>
{% for addr in personne.addresse_set.all %}
    <tr><td>Adresse : {{ addr.rue }} - {{addr.code_postal }} {{ addr.ville }} - {{addr.pays }}</td></tr>
{% endfor %}

{% for mail in personne.couriel_set.all %}
    <tr><td><img src="/site_media/images/mail.png" alt="Couriel"/><a href="mailto:{{ mail.adresse }}">{{ mail.adresse }}</a></td></tr>
{% endfor %}

{% for im in personne.messagerie_set.all %}
    <tr><td><img src="/site_media/images/{{ im.get_type_im_display|lower }}.png" alt="Contact {{im.get_type_im_display|lower }}"/> {{ im.valeur }}</td></tr>
{% endfor %}

{% for irc in personne.irc_set.all %}
    <tr valign="middle"><td><img src="/site_media/images/irc.png" alt="IRC"/> {{ irc.nick }} sur {{ irc.reseau }}</td></tr>
{% endfor %}

{% for site in personne.siteweb_set.all %}
    <tr valign="middle"><td><img src="/site_media/images/web.png" alt="Site web"/><a href="{{ site.url }}">{{ site.url }}</a></td></tr>
{% endfor %}

</table>

<h2>Expériences</h2>

{% if personne.position_set.all %}
<ul>
{% for position in personne.position_set.all %}
<li>{{ position.debut }} - {{ position.fin }} : {{ position.titre }} à {{ position.societe }}</br>
    {{ position.description }}</li>
{% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}

