{% extends "annuaire/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}

{% block content %}

<div id="content-main">

<h1>Fiche personnelle de {{ personne.prenom }} {{ personne.nom }}</h1>
<p><a href="/annuaire/edit/{{ personne.user.id }}/">Editer ces informations</a></p>
<h2>Données personnelles</h2>
<table border="0">
<tr><td>
<ul>
   <li><b>Nom :</b> {{ personne.nom }}</li>
   <li><b>Prénom :</b> {{ personne.prenom }}</li>
   <li><b>Surnom :</b> {{ personne.surnom }}</li>
   <li><b>Filière :</b> {{ personne.get_filiere_display }}</li>
   <li><b>Promo :</b> {{ personne.promo }}</li>
   <li><b>Date de naissance :</b> {{ personne.date_naissance }}</li>
</ul>
</td><td><img src="/site_media/{{ personne.avatar }}"/></td></tr>
{% for addr in personne.adresse_set.all %}
    <tr><td><b>Adresse :</b> {{ addr.rue }} - {{addr.code_postal }} {{ addr.ville }} - {{addr.pays }}</td></tr>
{% endfor %}

{% for mail in personne.couriel_set.all %}
    <tr><td><img src="/site_media/images/mail.png" alt="Couriel"/><a href="mailto:{{ mail.adresse }}">{{ mail.adresse }}</a></td></tr>
{% endfor %}

{% for im in personne.messagerie_set.all %}
    <tr><td><img src="/site_media/images/{{ im.get_type_im_display|lower }}.png" alt="Contact {{im.get_type_im_display|lower }}"/> {{ im.valeur }}</td></tr>
{% endfor %}

{% for irc in personne.irc_set.all %}
    <tr valign="middle"><td><img src="/site_media/images/irc.png" alt="IRC"/> {{ irc.nick }} @ {{ irc.reseau }} sur {{ irc.canaux }}</td></tr>
{% endfor %}

{% for site in personne.siteweb_set.all %}
    <tr valign="middle"><td><img src="/site_media/images/web.png" alt="Site web"/><a href="{{ site.url }}">{{ site.url }}</a></td></tr>
{% endfor %}

</table>

<h2>Activité AIn7</h2>

{% if personne.membre_set.all %}
<ul>
{% for membre in personne.membre_set.all %}
        <li><a href="/groupes/{{ membre.groupe.id }}/">{{ membre.groupe.nom }}</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>Expériences</h2>

{% if personne.position_set.all %}
<table>
{% for position in personne.position_set.all %}
<tr><td><b>{{ position.debut }} - {{ position.fin }} :</b></td><td> {{ position.titre }} au sein de {{ position.societe }}</td></tr>
<tr><td></td><td>{{ position.description }}</td></tr>
{% endfor %}
</table>
{% endif %}

<h2>Vie associate à l'N7</h2>

{% if personne.membreclub_set.all %}
{% for membre in personne.membreclub_set.all %}
    {% if membre.club.url %}
        <a href="{{ membre.club.url }}">{{ membre.club.nom }}</a>
    {% else %}
        {{ membre.club.nom }}
    {% endif %}
{% endfor %}
{% endif %}

</div>

{% endblock %}
