{% extends "adhesions/base.html" %}
{% load i18n %}

{% block content-left %}

<div class="left_box">

{% ifequal action "edit" %}
    <h2>{% trans "Modification of a configuration" %}</h2>
{% else %}
    <h2>{% trans "Creation of a configuration" %}</h2>
{% endifequal %}

<form method="post" action="." enctype="multipart/form-data">
<table>
{{ form }}
</table>
<div style="text-align: center">
<a class="button" href="{{ back }}">{% trans "Cancel" %}</a>
<input type="submit" class="button" value="{% trans "Save" %}" />
</div>
</form>

</div>
</div>

{% endblock %}
