{% extends "annuaire/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<div class="left_box">

<div id="cv">

<h1>{% trans "Personal file" %}
    {{ person.first_name }} {{ person.last_name }}</h1>

<a href="/annuaire/{{ person.user.id }}/">{% trans "Back to personnal file" %}</a>

<h2>{% trans "Personal data" %}</h2>

<div class="dataBlock">
<ul>
   <li><b>{% filter capfirst %}{% trans "sex" %}{% endfilter %}
       &nbsp;:</b> {{ person.sex }}</li>
   <li><b>{% trans "First name" %}&nbsp;:</b> {{ person.first_name }}</li>
   <li><b>{% trans "Last name" %}&nbsp;:</b> {{ person.last_name }}</li>
   {% if ain7member.maiden_name %}
   <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
       &nbsp;:</b> {{ person.maiden_name|default:"" }}</li>
   {% endif %}
   {% if ain7member.nick_name %}
   <li><b>{% trans "Nick name" %}&nbsp;:</b> {{ ain7member.nick_name }}</li>
   {% endif %}
   <li><b>{% trans "Birth date" %}&nbsp;:</b>
       {{ person.birth_date|date:"d/m/Y" }}</li>
   {% if person.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ person.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   <li><b>{% filter capfirst %}{% trans "nationality" %}{% endfilter %}
       &nbsp;:</b> {{ person.country.nationality }}</li>
</ul>
</div>

<p><a href="/annuaire/{{ person.user.id }}/person/edit/" class="changelink">
{% trans "Modify" %}</a></p>

<div class="dataBlock">
<ul>
   <li><b>{% filter capfirst %}{% trans "avatar" %}{% endfilter %}</b>&nbsp;:
       {% if ain7member.avatar %}
	   <img src="{{ ain7member.get_avatar_url }}" height="100"
           alt="{% trans "avatar" %}" />
       {% else %}
           {% trans "No avatar" %}
       {% endif %}</li>
</ul>
</div>

<p>
{% if ain7member.avatar %}
   <a href="/annuaire/{{ person.user.id }}/avatar/edit/" class="changelink">
   {% trans "Modify" %}</a>
   <a href="/annuaire/{{ person.user.id }}/avatar/delete/" class="deletelink">
   {% trans "Delete" %}</a>
{% else %}
   <a href="/annuaire/{{ person.user.id }}/avatar/edit/" class="addlink">
   {% trans "Add" %}</a>
{% endif %}
</p>


<div class="dataBlock">
<ul>
   <li><b>{% trans "Nick name" %}&nbsp;:</b>
       {% if ain7member.nick_name %}
           {{ ain7member.nick_name|default:"" }}
       {% else %}
           {% trans "No nickname" %}
       {% endif %}</li>
   <li><b>{% trans "Family situation" %}&nbsp;:</b>
       {% if ain7member.marital_status %}
           {{ ain7member.marital_status }},
       {% else %}
           {% filter capfirst %}{% trans "not available" %}{% endfilter %},
       {% endif %}
       {% if ain7member.children_count %}
           {{ ain7member.children_count }} {% trans "children" %}.
       {% else %}
           {% trans "no child" %}.
       {% endif %}</li>
    <li><b>{% trans "Promos" %}&nbsp;:</b>
        {% if ain7member.promos.all %}
            {% for promo in ain7member.promos.all %}{{ promo }}
                {% if not forloop.last %} - {% endif %}
            {% endfor %}
        {% else %}
            {% trans "No promotion" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "diplomas"%}{% endfilter %}&nbsp;:</b>
        {% if ain7member.diplomas.all %}
            {% for diploma in ain7member.diplomas.all %}{{ diploma }}
                 {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No diploma" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "decorations" %}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.decorations.all %}
            {% for decoration in ain7member.decorations.all %}{{ decoration }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No decoration" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "ceremonial duties"%}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.ceremonial_duties.all %}
            {% for duty in ain7member.ceremonial_duties.all %}{{ diploma }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No ceremonial duty" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "type" %}{% endfilter %}</b>&nbsp;:
        {{ ain7member.person_type }}</li>
    <li><b>{% filter capfirst %}{% trans "member" %}{% endfilter %}</b>&nbsp;:
        {{ ain7member.member_type }}</li>
    <li><b>{% filter capfirst %}{% trans "activity" %}{% endfilter %}</b>&nbsp;:
        {{ ain7member.activity }}</li>
    <li><b>{% trans "Display my CV in the directory" %}</b>&nbsp;:
        {% if ain7member.display_cv_in_directory %}
            {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</li>
    <li><b>{% trans "Display my CV in the job service section" %}</b>&nbsp;:
        {% if ain7member.display_cv_in_job_section %}
            {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</li>
    <li><b>{% trans "Receive job offers by email" %}</b>&nbsp;:
        {% if ain7member.receive_job_offers %}
            {% trans "Yes" %}</li>
                <li><b>{% trans "Tracks for which you would like to receive job offers" %}</b>&nbsp;:
                {% if ain7member.receive_job_offers_for_tracks.all %}
                    {% for track in ain7member.receive_job_offers_for_tracks.all %}
                         {{ track }}
                         {% if not forloop.last %} - {% endif %}
                    {% endfor %}
                {% else %}
                    {% trans "No track" %}
                {% endif %}</li>
	{% else %}
            {% trans "No" %}</li>
        {% endif %}
    <li><b>{% trans "CV title" %}</b>&nbsp;:
        {{ ain7member.cv_title}}</li>
</ul>
</div>

<p><a href="/annuaire/{{ person.user.id }}/ain7member/edit/" class="changelink">
   {% trans "Modify" %}</a></p>


<h2>{% trans "Address" %}</h2>

<table border="0" width="100%">
{% for address in person.addresses.all %}
    <tr><td><b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b></td><td>
        {{ address.line1 }} {{ address.line2|default_if_none:"" }} -
        {{address.zip_code }} {{ address.city }} - {{ address.country.name }}
        {% if address.is_confidential %} ({% trans "confidential" %})
        {% else %}                       ({% trans "not confidential" %})
        {% endif %}</td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/address/{{ address.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/address/{{ address.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="/annuaire/{{ person.user.id }}/address/add/" class="addlink">
   {% trans "Add" %}</a></p>


<h2>{% trans "Phone numbers" %}</h2>

<table border="0" width="100%">
{% for phone_number in person.phone_numbers.all %}
   <tr><td><b>{{ phone_number.get_type_display }} :</b></td>
   <td>{{ phone_number.number }}
       {% if phone_number.is_confidential %} ({% trans "confidential" %})
        {% else %} ({% trans "not confidential" %}) {% endif %}</td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/phone/{{ phone_number.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/phone/{{ phone_number.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="/annuaire/{{ person.user.id }}/phone/add/" class="addlink">
   {% trans "Add" %}</a></p>


<h2>{% filter capfirst %}{% trans "email" %}{% endfilter %}</h2>

<table border="0" width="100%">
{% for email in person.emails.all %}
	    <tr><td><img src="/site_media/images/mail.png" alt="{% trans "email" %}"/><a href="mailto:{{ email.email }}">{{ email.email }}</a>
	{% if email.is_confidential %} ({% trans "confidential" %})
	{% else %}                     ({% trans "not confidential" %})
	{% endif %}

</td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/email/{{ email.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/email/{{ email.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="/annuaire/{{ person.user.id }}/email/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2>{% trans "Instant messaging accounts" %}</h2>

<table border="0" width="100%">
{% for im in person.instant_messagings.all %}
    <tr valign="middle"><td>
       <img src="/site_media/images/{{ im.get_type_display|lower }}.png"
       alt="{% trans "Contact" %} {{im.get_im_display|lower }}"/>
       {{ im.identifier }}</td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/im/{{ im.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/im/{{ im.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="/annuaire/{{ person.user.id }}/im/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2>{% trans "IRC accounts" %}</h2>

<table border="0" width="100%">
{% for irc in person.ircs.all %}
    <tr valign="middle"><td>
       <img src="/site_media/images/irc.png" alt="{% trans "irc" %}"/>
       {{ irc.pseudo }} @ {{ irc.network }} {% trans "on" %} {{ irc.channels }}
       </td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/irc/{{ irc.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/irc/{{ irc.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="/annuaire/{{ person.user.id }}/irc/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2>{% trans "Web sites" %}</h2>

<table border="0" width="100%">
{% for website in person.web_sites.all %}
    <tr valign="middle"><td>
        <img src="/site_media/images/{{ website.get_type_display|lower }}.png" alt="{% trans "web site" %}"/>
        <a href="{{ website.url }}">{{ website.url }}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/website/{{ website.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/website/{{ website.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="/annuaire/{{ person.user.id }}/website/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2>{% trans "N7 associative activities" %}</h2>

<table border="0" width="100%">
{% for club_membership in ain7member.club_memberships.all %}
    <tr><td>{{ club_membership.club.name }}</td>
    <td>{{ club_membership.fonction }}</td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/club_membership/{{ club_membership.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td width="12%">
        <a href="/annuaire/{{ person.user.id }}/club_membership/{{ club_membership.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
{% endfor %}
</table>
<p><a href="/annuaire/{{ person.user.id }}/club_membership/add/" class="addlink">
   {% trans "Add" %}</a></p>


<h2>{% trans "Current professional experiences" %}</h2>

<table>
{% for position in ain7member.positions.all %}
    {% if not position.end_date %}
        <tr><td>{% trans "since" %}
                <b>{{ position.start_date|date:"d/m/Y" }}</b>&nbsp;:</td>
            <td><em>{{ position.fonction }}</em> {% trans "for" %}
                {{ position.office }}
                (<a href="/emploi/societe/{{ position.office.company.id }}/">{{ position.office.company }}</a>)</td></tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
<p><a href="/emploi/{{ person.user.id }}/cv/edit/" class="changelink">
{% trans "Modify" %}</a></p>

</div>
</div>
</div>


<div class="right">
   <h3>{% trans "Navigation" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="/annuaire/advanced_search/">{% trans "Advanced Search" %}</a></li>
    </ul>
   </div>

   {% if userFilters %}

   <h3>{% trans "Registered filters" %}</h3>
   <div class="right_articles">
   <ul>
       {% for filter in userFilters %}
         <li>
           <a href="/annuaire/advanced_search/filter/{{ filter.id }}/">
             {{ filter }}</a>
         </li>
       {% endfor %}
   </ul>
   </div>

   {% endif %}

</div>



</div>

{% endblock %}
