{% extends "annuaire/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<div class="left_box">

<div id="cv">

<h1>{% trans "Personal file" %}
    {{ person.first_name }} {{ person.last_name }}</h1>

<a href="/annuaire/{{ person.user.id }}/">{% trans "Back to personnal file" %}</a>

<h2>{% trans "Personal data" %}</h2>

<div class="dataBlock">
<ul>
   <li><b>{% filter capfirst %}{% trans "sex" %}{% endfilter %}
       &nbsp;:</b> {{ person.sex }}</li>
   <li><b>{% trans "First name" %}&nbsp;:</b> {{ person.first_name }}</li>
   <li><b>{% trans "Last name" %}&nbsp;:</b> {{ person.last_name }}</li>
   {% if ain7member.maiden_name %}
   <li><b>{% filter capfirst %}{% trans "maiden name" %}{% endfilter %}
       &nbsp;:</b> {{ person.maiden_name|default:"" }}</li>
   {% endif %}
   <li><b>{% trans "Birth date" %}&nbsp;:</b>
       {{ person.birth_date|date:"d/m/Y" }}</li>
   {% if person.death_date %}
   <li><b>{% filter capfirst %}{% trans "death date" %}{% endfilter %}
       &nbsp;:</b> {{ person.death_date|date:"d/m/Y" }}</li>
   {% endif %}
   <li><b>{% filter capfirst %}{% trans "nationality" %}{% endfilter %}
       &nbsp;:</b> {{ person.country.nationality }}</li>
</ul>
</div>

<p><a href="/annuaire/{{ person.user.id }}/person/edit/" class="changelink">
{% trans "Modify" %}</a></p>

<div class="dataBlock">
<ul>
   <li><b>{% filter capfirst %}{% trans "avatar" %}{% endfilter %}</b>&nbsp;:
       {% if ain7member.avatar %}
	   <img src="{{ ain7member.avatar.url }}" height="100"
           alt="{% trans "avatar" %}" />
	   <a href="/annuaire/{{ person.user.id }}/avatar/delete/" 
           class="deletelink">
           {% trans "Delete" %}</a>
       {% else %}
           {% trans "No avatar" %}
       {% endif %}
   </li>
   <li><b>{% trans "Nick name" %}&nbsp;:</b>
       {% if ain7member.nick_name %}
           {{ ain7member.nick_name|default:"" }}
       {% else %}
           {% trans "No nickname" %}
       {% endif %}</li>
   <li><b>{% trans "Family situation" %}&nbsp;:</b>
       {% if ain7member.marital_status %}
           {{ ain7member.marital_status }},
       {% else %}
           {% filter capfirst %}{% trans "not available" %}{% endfilter %},
       {% endif %}
       {% if ain7member.children_count %}
           {{ ain7member.children_count }} {% trans "children" %}.
       {% else %}
           {% trans "no child" %}.
       {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "diplomas"%}{% endfilter %}&nbsp;:</b>
        {% if ain7member.diplomas.all %}
            {% for diploma in ain7member.diplomas.all %}{{ diploma }}
                 {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No diploma" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "decorations" %}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.decorations.all %}
            {% for decoration in ain7member.decorations.all %}{{ decoration }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No decoration" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "ceremonial duties"%}{% endfilter %}
        &nbsp;:</b>
        {% if ain7member.ceremonial_duties.all %}
            {% for duty in ain7member.ceremonial_duties.all %}{{ diploma }}
                {% if not forloop.last %} - {% endif %}{% endfor %}
        {% else %}
            {% trans "No ceremonial duty" %}
        {% endif %}</li>
    <li><b>{% filter capfirst %}{% trans "type" %}{% endfilter %}</b>&nbsp;:
        {{ ain7member.person_type }}</li>
    <li><b>{% filter capfirst %}{% trans "member" %}{% endfilter %}</b>&nbsp;:
        {{ ain7member.member_type }}</li>
    <li><b>{% filter capfirst %}{% trans "activity" %}{% endfilter %}</b>&nbsp;:
        {{ ain7member.activity }}</li>
    <li><b>{% trans "Display my CV in the directory" %}</b>&nbsp;:
        {% if ain7member.display_cv_in_directory %}
            {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</li>
    <li><b>{% trans "Display my CV in the job service section" %}</b>&nbsp;:
        {% if ain7member.display_cv_in_job_section %}
            {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</li>
    <li><b>{% trans "Receive job offers by email" %}</b>&nbsp;:
        {% if ain7member.receive_job_offers %}
            {% trans "Yes" %}</li>
                <li><b>{% trans "Tracks for which you would like to receive job offers" %}</b>&nbsp;:
                {% if ain7member.receive_job_offers_for_tracks.all %}
                    {% for track in ain7member.receive_job_offers_for_tracks.all %}
                         {{ track }}
                         {% if not forloop.last %} - {% endif %}
                    {% endfor %}
                {% else %}
                    {% trans "No track" %}
                {% endif %}</li>
	{% else %}
            {% trans "No" %}</li>
        {% endif %}
    <li><b>{% trans "CV title" %}</b>&nbsp;:
        {{ ain7member.cv_title}}</li>
</ul>
</div>

<p><a href="/annuaire/{{ person.user.id }}/ain7member/edit/" class="changelink">
   {% trans "Modify" %}</a></p>


<h2><a name="promos"/>{% trans "Promos" %}</h2>

{% if ain7member.promos.all %}
  <table style="border: 0; width: 100%;">
    {% for promo in ain7member.promos.all %}
      <tr>
        <td>{{ promo }}</td>
          <td style="width: 12%">
            <a href="/annuaire/{{ person.id }}/promo/{{ promo.id }}/delete/" class="deletelink">
              {% trans "Delete" %}</a></td>
      </tr>
    {% endfor %}
  </table>
{% else %}
    <p>{% trans "No promotion" %}</p>
{% endif %}
<p><a href="/annuaire/{{ person.id }}/promo/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2><a name="address"/>{% trans "Address" %}</h2>

{% for address in person.addresses.all %}
<table style="border: 0; width: 100%;">
    <tr><td><b>{% trans "Address" %} {{ address.type|lower }}&nbsp;:</b></td><td>
        {{ address.line1 }} {{ address.line2|default_if_none:"" }} -
        {{address.zip_code }} {{ address.city }} - {{ address.country.name }}
        {% if address.is_confidential %} ({% trans "confidential" %})
        {% else %}                       ({% trans "not confidential" %})
        {% endif %}</td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/address/{{ address.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/address/{{ address.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="/annuaire/{{ person.user.id }}/address/add/" class="addlink">
   {% trans "Add" %}</a></p>


<h2><a name="phone"/>{% trans "Phone numbers" %}</h2>

{% for phone_number in person.phone_numbers.all %}
<table style="border: 0; width: 100%;">
   <tr><td><b>{{ phone_number.get_type_display }} :</b></td>
   <td>{{ phone_number.number }}
       {% if phone_number.is_confidential %} ({% trans "confidential" %})
        {% else %} ({% trans "not confidential" %}) {% endif %}</td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/phone/{{ phone_number.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/phone/{{ phone_number.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="/annuaire/{{ person.user.id }}/phone/add/" class="addlink">
   {% trans "Add" %}</a></p>


<h2><a name="email"/>
{% filter capfirst %}{% trans "email" %}{% endfilter %}</h2>

{% for email in person.emails.all %}
<table style="border:0; width: 100%;">
	    <tr><td><img src="/site_media/images/mail.png" alt="{% trans "email" %}"/><a href="mailto:{{ email.email }}">{{ email.email }}</a>
       ({% if email.is_confidential %}{% trans "confidential" %}{% else %}{% trans "not confidential" %}{% endif %}{% if email.preferred_email %}, {% trans "preferred" %}{% endif %})

</td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/email/{{ email.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/email/{{ email.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="/annuaire/{{ person.user.id }}/email/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2><a name="im"/>{% trans "Instant messaging accounts" %}</h2>

{% for im in person.instant_messagings.all %}
<table style="border: 0; width: 100%">
    <tr valign="middle"><td>
       <img src="/site_media/images/{{ im.get_type_display|lower }}.png"
       alt="{% trans "Contact" %} {{im.get_im_display|lower }}"/>
       {{ im.identifier }}</td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/im/{{ im.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/im/{{ im.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="/annuaire/{{ person.user.id }}/im/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2><a name="irc"/>{% trans "IRC accounts" %}</h2>

{% for irc in person.ircs.all %}
<table style="border: 0; width: 100%">
    <tr valign="middle"><td>
       <img src="/site_media/images/irc.png" alt="{% trans "irc" %}"/>
       {{ irc.pseudo }} @ {{ irc.network }} {% trans "on" %} {{ irc.channels }}
       </td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/irc/{{ irc.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/irc/{{ irc.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="/annuaire/{{ person.user.id }}/irc/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2><a name="website"/>{% trans "Web sites" %}</h2>

{% for website in person.web_sites.all %}
<table style="border: 0; width: 100%;">
    <tr valign="middle"><td>
        <img src="/site_media/images/{{ website.get_type_display|lower }}.png" alt="{% trans "web site" %}"/>
        <a href="{{ website.url }}">{{ website.url }}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/website/{{ website.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/website/{{ website.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="/annuaire/{{ person.user.id }}/website/add/" class="addlink">
   {% trans "Add" %}</a></p>

<h2><a name="assoc"/>{% trans "N7 associative activities" %}</h2>

{% for club_membership in ain7member.club_memberships.all %}
<table style="border: 0; width: 100%;">
    <tr><td>{{ club_membership.club.name }}
    {% if club_membership.start_date and club_membership.end_date %}(<i>{{ club_membership.start_date|date:"Y" }} - {{ club_membership.end_date|date:"Y" }}</i>){% endif %}</td>
    <td>{{ club_membership.fonction }}</td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/club_membership/{{ club_membership.id }}/edit/" class="changelink">
        {% trans "Modify" %}</a></td>
    <td style="width: 12%">
        <a href="/annuaire/{{ person.user.id }}/club_membership/{{ club_membership.id }}/delete/" class="deletelink">
        {% trans "Delete" %}</a></td>
    </tr>
</table>
{% endfor %}
<p><a href="/annuaire/{{ person.user.id }}/club_membership/add/" class="addlink">
   {% trans "Add" %}</a></p>


<h2><a name="profexp"/>{% trans "Current professional experiences" %}</h2>

<table>
{% for position in ain7member.positions.all %}
    {% if not position.end_date %}
        <tr><td>{% trans "since" %}
                <b>{{ position.start_date|date:"d/m/Y"|default:"???" }}</b>&nbsp;:</td>
            <td><em>{{ position.fonction }}</em> {% trans "for" %}
                {{ position.office }}
                (<a href="/emploi/organization/{{ position.office.organization.id }}/">{{ position.office.organization }}</a>)</td></tr>
        {% if position.description %}
            <tr><td></td><td>{{ position.description }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
<p><a href="/emploi/{{ person.user.id }}/cv/edit/" class="changelink">
{% trans "Modify" %}</a></p>

</div>
</div>

{% endblock %}


{% block extra-navigation %}
<li><a href="/annuaire/{{ person.user.id }}/">{% trans "Back to personnal file" %}</a></li>
{% endblock %}