{% extends "base.html" %}
{% load i18n %}

{% block barre %}
	<li><a href="/" accesskey="a">Accueil</a></li>
	<li class="active">Annuaire</li>
	<li><a href="#" accesskey="m">Manifestations</a></li>
	<li><a href="/groupes/" accesskey="g">Groupes de travail</a></li>
	<li><a href="#" accesskey="i">L'international</a></li>
	<li><a href="#" accesskey="f">Forums</a></li>
	<li><a href="#" accesskey="p">Planet</a></li>
{% endblock %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">
<h2>Liste de votre recherche</h2>
{% if liste_personnes %}
    <ul>
    {% for personne in liste_personnes %}
        <li><a href="/annuaire/{{ personne.id }}/">{{ personne.nom }}</a> {{ personne.prenom }} {{ personne.promo }} {{ personne.get_filiere_display }}</li>
    {% endfor %}
     </ul>
{% else %}
    <p>Aucune personne dans l'application.</p>
{% endif %}

{% endblock %}
