{% extends "annuaire/base.html" %}
{% load i18n %}

{% block stylesheet %}{% endblock %}
{% block content %}

<div id="content-main">

<h2>{% trans "Results list"%}</h2>
{% if persons %}
    <ul>
    {% for person in persons %}
        <li><a href="/annuaire/{{ person.user.id }}/">
            {{ person.last_name }} {{ person.first_name }}</a> 
            {% for promo in person.promos.all %}
               {% if forloop.last %} {{ promo }}{% endif %}
            {% endfor %}
				</li>
    {% endfor %}
     </ul>
{% else %}
    <p>{% trans "No person matched your criteria." %}</p>
{% endif %}

</div>

{% endblock %}
