{% extends "annuaire/base.html" %}

{% load i18n %}

{% block javascript %}
<script type="text/javascript" src="/site_media/js/mootools-release-{{ mootools_version }}.js"></script>
<script type="text/javascript" src="/site_media/js/autocomplete.js?version={{ portal_version }}"></script>
<script type="text/javascript" src="/site_media/js/floatingpane.js?version={{ portal_version }}"></script>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="/site_media/css/autocomplete.css?version={{ portal_version }}"/>
<link type="text/css" rel="stylesheet" href="/site_media/css/floatingpane.css?version={{ portal_version }}"/>
{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">
<form action="." method="post">
<div align="center">
	<table class="form">
		{{ form }}
	</table>
	<input class="button" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% ifnotequal hits 0 %}

<h2>{% trans "Results list"%}</h2>
<table width="100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/annuaire/?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/annuaire/?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/annuaire/?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/annuaire/?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</table>
<ul>
    {% for ain7member in ain7members %}
        <li class="person"><a href="/annuaire/{{ ain7member.person.user.id }}/">
            {{ ain7member.person.last_name }} {{ ain7member.person.first_name }}</a>
            {% for promo in ain7member.promos.all %}
               {% if forloop.last %} ({{ promo }}){% endif %}
            {% endfor %}
				</li>
    {% endfor %}
</ul>
{% else %}
    <p></p>
    <p>{% trans "No person matched your criteria." %}</p>
{% endifnotequal %}

</div>

<div class="right">

   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="/annuaire/csv/">{% trans "Export as CSV" %}</a></li>
      <li><a href="/annuaire/sendmail/">{% trans "Send a mail" %}</a></li>
      <li><a href="/annuaire/register/">{% trans "Register a member" %}</a></li>
    </ul>
   </div>

   <h3>{% trans "Navigation" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="/annuaire/advanced_search/">{% trans "Advanced Search" %}</a></li>
    </ul>
   </div>

   {% if userFilters %}

   <h3>{% trans "Registered filters" %}</h3>
   <div class="right_articles">
   <ul>
       {% for filter in userFilters %}
         <li>
           <a href="/annuaire/advanced_search/filter/{{ filter.id }}/">
             {{ filter }}</a>
         </li>
       {% endfor %}
   </ul>
   </div>

   {% endif %}

</div>

</div>

{% endblock %}
