{% extends "annuaire/base.html" %}
{% load i18n %}

{% block content-left %}

<form action="." method="get">
	<table class="form">
		{{ form }}
	</table>
<div style="text-align: center;">
	<input class="button" type="submit" value="{% trans "Search" %}" />
</div>
</form>

{% if dosearch %}
<h2>{% trans "Results list"%}</h2>

{% if ain7members %}
<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="/annuaire/?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promo={{ request.GET.promo}}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="/annuaire/?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promo={{ request.GET.promo}}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="/annuaire/?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promo={{ request.GET.promo}}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="/annuaire/?first_name={{ request.GET.first_name }}&last_name={{ request.GET.last_name }}&promo={{ request.GET.promo}}&track={{ request.GET.track }}&organization={{ request.GET.organization }}&page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</tr>
</table>
<ul>
    {% for ain7member in ain7members %}
        <li class="person"><a href="/annuaire/{{ ain7member.person.user.id }}/">
            {{ ain7member.person.last_name }} 
            {% if ain7member.person.maiden_name %}
              ({{ ain7member.person.maiden_name }})
            {% endif %}
            {{ ain7member.person.first_name }}</a>
            {% for promo in ain7member.promos.all %}
               {% if forloop.last %} ({{ promo }}){% endif %}
            {% endfor %}
				</li>
    {% endfor %}
</ul>
{% else %}
    <p>{% trans "No person matched your criteria." %}</p>
{% endif %}
{% endif %}

{% endblock %}

