{% extends "base.html" %}
{% load i18n %}

{% block barre-association %}<li class="active">{% endblock %}

{% block content %}

<div id="content-main">

<div class="left">

{% block content-left %}
{% endblock %}

</div>

<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="{% url ain7.association.views.index %}">
          {% trans "Overview" %}</a></li>
      <li><a href="{% url ain7.association.views.status %}">
          {% trans "Status" %}</a></li>
      <li><a href="{% url ain7.association.views.board %}">
          {% trans "Board" %}</a></li>
      <li><a href="{% url ain7.association.views.council %}">
          {% trans "Council" %}</a></li>
      <li><a href="{% url ain7.association.views.contact %}">
          {% trans "Contact" %}</a></li>
    </ul>
   </div>

   {% block actions %}
   {% endblock %}

    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
      <li>{% trans "Number of members" %}: {{ count_members }}</li>
    </ul>
   </div>
</div>
</div>
{% endblock %}
