{% extends "pages/base_pages.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content %}

<div id="content-main">
	
<div class="left">

<h3>Le secrétariat permenant</h3>

<b>Coordonnées globales :</b>
<p>
A.I.N.7<br/>
2 rue Charles Camichel, BP 7122,<br/>
31071 Toulouse cedex 7</p>

<p>Fax : 05 61 62 09 76</p>
<p>Couriel : <a href="mailto:ain7@enseeiht.fr">ain7@enseeiht.fr</a></p>

<b>Nos trois secrétaires :</b>
<ul>
<li>Sylvie Henric - <a href="mailto:sylvie.henric@enseeiht.fr">sylvie.henric@enseeiht.fr</a> - Tél : 05 61 58 82 88</li>
<li>Frédérique Forestie - <a href="mailto:frederique.forestie@enseeiht.fr">frederique.forestie@enseeiht.fr</a> -  Tél : 05 61 58 82 13</li>
<li>Jennifer Mattalia - <a href="mailto:jennifer.mattalia@enseeiht.fr">jennifer.mattalia@enseeiht.fr</a> -  Tél : 05 61 58 80 29</li>
</ul>

<h3>A propos du site</h3>
<p>Pour remonter un problème au sujet du site contactez le <a href="mailto:webmaster@ain7.com">webmaster</a></p>
<p>Pour de plus amples renseignements au sujet de ce site, n'hésitez pas à consulter la page <a href="/apropos/">a propos</a></p>.

</div>


<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="{% url ain7.association.views.index %}">
          {% trans "Overview" %}</a></li>
      <li><a href="{% url ain7.association.views.status %}">
          {% trans "Status" %}</a></li>
      <li><a href="{% url ain7.association.views.board %}">
          {% trans "Board" %}</a></li>
      <li><a href="{% url ain7.association.views.council %}">
          {% trans "Council" %}</a></li>
      <li><a href="{% url ain7.association.views.contact %}">
          {% trans "Contact" %}</a></li>
    </ul>
   </div>
    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
      <li>{% trans "Number of members" %}: {{ count_members }}</li>
    </ul>
   </div>
</div>

</div>
{% endblock %}

