{% extends "association/base.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">

<div class="left">

<h3>{% trans "Administration Council" %}</h3>

{% regroup current_roles by role as roles_by_role %}
{% for roles in roles_by_role %}
  <h4>{{ roles.list.0.get_role_display }}</h4>
    <ul>
      {% for role in roles.list %}
      <li>
        <a href="{% url ain7.annuaire.views.details role.member.user.id %}">
          {{ role.member }}</a>
      </li>
      {% endfor %}
    </ul>
{% endfor %}

</div>


<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="{% url ain7.association.views.index %}">
          {% trans "Overview" %}</a></li>
      <li><a href="{% url ain7.association.views.status %}">
          {% trans "Status" %}</a></li>
      <li><a href="{% url ain7.association.views.board %}">
          {% trans "Board" %}</a></li>
      <li><a href="{% url ain7.association.views.council %}">
          {% trans "Council" %}</a></li>
      <li><a href="{% url ain7.association.views.contact %}">
          {% trans "Contact" %}</a></li>
    </ul>
   </div>

   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="{% url ain7.association.views.edit_council "current" %}">{% trans "Change council roles" %}</a></li>
    </ul>
   </div>

    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
      <li>{% trans "Number of members" %}: {{ count_members }}</li>
    </ul>
   </div>
</div>
</div>
{% endblock %}
