{% extends "association/base.html" %}
{% load i18n %}

{% block content-left %}

<h3>{% trans "Administration Council" %}</h3>

{% regroup current_roles by role as roles_by_role %}
{% for roles in roles_by_role %}
  <h4>{{ roles.list.0.get_role_display }}</h4>
    <ul>
      {% for role in roles.list %}
      <li>
        <a href="{% url ain7.annuaire.views.details role.member.user.id %}">
          {{ role.member }}</a>
      </li>
      {% endfor %}
    </ul>
{% endfor %}

</div>

{% endblock %}


{% block actions %}

   <h3>{% trans "Actions" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="{% url ain7.association.views.edit_council "current" %}">{% trans "Change council roles" %}</a></li>
    </ul>
   </div>

{% endblock %}
