{% extends "association/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<h3>L'AIn7...</h3>


<h4>Des offres d'emploi</h4>
<p>L'AIN7 gère un service Emplois-Carrières au bénéfice de l'Ecole et de ses membres :</p>
<ul>
<li>Mise à disposition des offres d'emploi et leur édition périodique,</li>
<li>Tenue à jour d'un fichier des ingénieurs en recherche de situation,</li>
<li>Réponse à des demandes ou des propositions urgentes.</li>
</ul>

<h4>Une assistance personnalisée</h4>
<p>Les ingénieurs qui le souhaitent peuvent réaliser un auto bilan à l'aide d'un document élaboré par l'Association, leur donnant ainsi la possibilité d'affiner leur projet professionnel. Ils peuvent également solliciter les conseils d'anciens qui disposent de compétences dans les domaines d'activité concernés. Par ailleurs, l'Association peut apporter son soutien à ceux qui doivent faire face à des situations économiques difficiles.</p>

<h4>Des correspondants d'entreprise</h4>
<p>L'Association anime un réseau de correspondants d'entreprise constitué d'anciens élèves qui exercent des responsabilités dans des entreprises où l'on recense un nombre significatif d'ingénieurs ENSEEIHT. Ils y sont les interlocuteurs privilégiés de l'Association, notamment pour faciliter les échanges d'information avec leur entreprise ainsi que l'accès et l'intégration des nouveaux embauchés. Ils peuvent contribuer également à favoriser l'organisation et l'accueil de stages pour les élèves et la conclusion de contrats de recherche avec les laboratoires de l'Ecole.</p>

<h4>Des groupes professionnels</h4>
<p>Leur vocation est de permettre des échanges entre les ingénieurs exerçant leur activité dans une même spécialité (TIC, Energie,…). Des rencontres et des colloques facilitent la confrontation de leurs expériences et de leurs points de vue avec ceux d'intervenants extérieurs. Plus généralement, l'Association est attentive à ce que la meilleure osmose se fasse entre ses membres et leur environnement socio-professionnel.</p>

<p>L'Association est présente dans :</p>
<p><b>LES ORGANISMES REPRÉSENTATIFS DE LA PROFESSION D'INGÉNIEUR</b></p>
<p>L'Association est intégrée dans le tissu représentatif du monde des ingénieurs. Elle est membre du CNISF, Conseil National des Ingénieurs et Scientifiques de France, et participe aux travaux de ses Unions Régionales, les URIS. Cette présence au CNISF est particulièrement active depuis plusieurs années : un de nos camarades, Jean-Pierre Laborie a été Vice-Président du CNISF en charge des actions régionales… Actuellement, Jean-François Perret (Président de l'AI) et Isabelle Avenas (Présidente du Groupe Parisien) siègent au Conseil d'Administration du CNISF.</p>
<p>L'Association est particulièrement attachée à la valorisation du titre d'ingénieur et à sa reconnaissance au sein de l'Union Européenne. Elle est également attentive au respect de la place des Grandes Ecoles d'Ingénieurs dans l'évolution du système éducatif français. Les ingénieurs ENSEEIHT figurent dans le Répertoire Français des Ingénieurs, géré par le CNISF et accessible sur <a href="http://cnisf.org">le site Internet du CNISF</a>.</p>

<p><b>LES ENTREPRISES</b></p>
<p>Avec une approche dynamique du monde professionnel, l'Association offre aux entreprises désireuses d'attirer et de recruter des ingénieurs ENSEEIHT la possibilité de se faire mieux connaître par :</p>
<ul>
<li>des espaces publicitaires: dans son Annuaire, dans sa revue trimestrielle, CANAL N7, sur son site Internet,</li>
<li>des tables rondes réunissant professionnels, enseignants et élèves ingénieurs de l'Ecole,</li>
<li>des visites et des forums de recrutement, en liaison avec l'Ecole.</li>
</ul>

<p><b>LES MÉDIAS</b></p>
<p>Afin de développer l'image du diplôme, de l'Ecole et de ses ingénieurs, l'Association s'adresse, par l'intermédiaire de la presse spécialisée, à différents publics, acteurs directs ou prescripteurs, pour :</p>
<ul>
<li>actualiser l'information des élèves des classes préparatoires, de leurs parents et de leurs professeurs,</li>
<li>faciliter la recherche d'emploi et l'évolution des carrières vers des responsabilités toujours plus attractives et valorisantes,</li>
<li>délivrer aux responsables d'entreprises, directeurs des ressources humaines et aux cabinet spécialisés, les informations utiles pour leurs choix de recrutement.</li>
</ul>

<p>L'Association prête une attention soutenue à la vie de l'Ecole.</p>
<p>Elle est représentée au Conseil d'Administration de l'Ecole par 2 représentants (actuellement Michel Canon et Pierre Hugot) ; un ingénieur ENSEEIHT, Bernard Leblanc, président le Conseil d'Administration où elle apporte son expertise de la connaissance des besoins des entreprises en matière de qualification des ingénieurs. Elle est partie prenante dans l'évolution des enseignements, en participant notamment à des commissions thématiques de ce Conseil.</p>
<p>Elle organise des rencontres régulières avec les filières de l'Ecole et le Corps professoral, qui constituent un lieu d'échange et de meilleure compréhension réciproque. Cette dynamique va être renforcée en 2009 avec :</p>
<ul>
<li>Programme de participation de l'AIN7 à l'organisation d'informations sur les métiers d'ingénieurs à destination des élèves dans chaque filière</li>
<li>Participation active aux "mini-forums" Etudiants/Entreprises</li>
<li>Pour préparer leur recherche de stages ou d'un premier emploi, les élèves qui le souhaitent peuvent recourir à l'expérience de leurs aînés.</li>
<li>Réseaux d'accueil des élèves stagiaires ou débutants en entreprises</li>
<li>Afin de mener un dialogue sur son futur métier, chaque élève peut établir une relation interpersonnelle avec un de ses anciens.</li>
</ul>
<p>En outre, l'Association apporte son aide au Bureau des Elèves pour la recherche de partenaires associés aux manifestations et aux événements qu'organisent les étudiants : Festival N7, week-end d'intégration, tournois inter Grandes Ecoles, Junior-Entreprise, activités festives ou professionnelles,…</p>

<p>L'Association favorise le renforcement des liens entre tous ses membres.</p>
<p><b>AU PLAN NATIONAL</b></p>
<p>Des manifestations de prestige sont organisées régulièrement à Toulouse et à Paris, permettant notamment la rencontre de personnalités du monde de l'entreprise. En particulier, le diner-débat annuel co-organisé au Sénat par l'AIN7 et l'Ecole rencontrent chaque année un grand succès.</p>

<p><b>AU PLAN RÉGIONAL</b></p>
<p>Les adhérents d'une même région sont conviés à diverses activités : rencontres autour d'un thème, conférences, visites techniques et culturelles, repas conviviaux. Les initiatives sont riches et variées.</p>

<p><b>AU PLAN INTERNATIONAL</b></p>
<p>La communication entre ceux qui exercent leurs responsabilités professionnelles dans la même zone géographique est facilitée, leur donnant ainsi la possibilité d'échanger leurs expériences. Dans les pays où l'on dénombre la présence de nombreux ingénieurs ENSEEIHT, par exemple aux Etats-Unis et au Canada, des rencontres sont organisées. Cependant, de plus en plus, le web devient l'élément privilégié d'échange de nos communautés expatriées. En 2009, le lancement de plusieurs initiatives "web" va renforcer ce lien.</p>
<p>L'Association propose aussi des voyages qui sont autant d'occasions d'enrichir les relations entre les participants, dans un contexte particulièrement agréable et sympathique. La variété des destinations : Europe, Asie, Afrique, Amérique, le pittoresque des pays découverts sont autant d'atouts qui incitent ses membres à se retrouver et à partager émotions et souvenirs communs.</p>

{% endblock %}

