{% extends "pages/base_association.html" %}
{% load i18n %}

{% block content %}

<div id="content-main">
	
<div class="left">
<h3>Statuts de l'association</h3>

<h4>I - BUT ET COMPOSITION DE L'ASSOCIATION</h4>


<h5>Article premier</h5>

L'Association dite AIN7, ASSOCIATION des INGENIEURS de l'ECOLE NATIONALE SUPERIEURE d'ELECTROTECHNIQUE, d'ELECTRONIQUE, d'INFORMATIQUE et d'HYDRAULIQUE de TOULOUSE (ENSEEIHT-IET), fondée en 1912, a pour but :

<ul>
    <li>D'entretenir et de resserrer les liens d'amitié et de solidarité qui existaient à l'Ecole, et de relier les nouvelles promotions aux précédentes.</li>
    <li>De faciliter aux anciens élèves l'accès aux situations auxquelles ils peuvent prétendre. Dans ce but, tous les Membres de l'Association s'engagent à signaler à l’Association les emplois vacants qu'ils peuvent connaître.</li>
    <li>De procurer à ses Membres le moyen d'étendre leurs connaissances par les communications, travaux et documents qui seront présentés aux réunions et discutés s'il y a lieu.</li>
    <li>De développer l'action sociale au moyen de prêts gratuits ou de dons aux Membres de l'Association et le cas échéant, à leurs père, mère, veuf, veuve ou enfants dans le besoin.</li>
</ul>

Sa durée est illimitée.

Elle a son Siège à Toulouse, à l'ECOLE NATIONALE SUPERIEURE d'ELECTROTECHNIQUE, d'ELECTRONIQUE, d'INFORMATIQUE et d'HYDRAULIQUE.

<h5>Article 2</h5>

<p>Les moyens d'action de l'Association sont notamment : un annuaire, des moyens de diffusion d'information dont un journal périodique, l'animation de groupes régionaux et l'animation de manifestations visant à atteindre les objectifs visés à l'article 1.</p>

<h5>Article 3</h5>

<p>L'Association se compose de membres actifs, de membres associés, de membres affiliés et de membres d'honneur.</p>

<ul>
   <li>Sont MEMBRES ACTIFS les ingénieurs diplômés de l'IET, de l'ENSEEHT, de l'ENSEIHT ou de l'ENSEEIHT à jour de leur cotisation.</li>
   <li>Sont MEMBRES ASSOCIES les diplômés à la suite d'une des formations suivies à l'IET, l'ENSEEHT, l'ENSEIHT ou l'ENSEEIHT autres que celles sanctionnées par le diplôme d'ingénieur de l'Ecole et dont la liste est établie par l'Assemblée Générale ordinaire. Les diplômés d'une section spéciale de l'Ecole sont membres associés s'ils sont à jour de leur cotisation.</li>
   <li>Sont MEMBRES AFFILIES durant leur formation à l'ENSEEIHT, les étudiants préparant un diplôme qui leur permettra de devenir membre actif ou membre associé et payant la cotisation correspondante.</li>
   <li>Un membre actif ou associé peut, de plus, porter le titre de "BIENFAITEUR" si, pour l'année en cours, il verse la cotisation correspondante.</li>
   <li>Le montant des cotisations est fixé par l'Assemblée Générale.</li>
</ul>

<p>Le titre de MEMBRE d'HONNEUR peut être décerné par le Conseil d'Administration aux personnes qui rendent ou qui ont rendu des services signalés à l'Association. Ce titre confère aux personnes qui l'ont obtenu, le droit de faire partie de l'Assemblée Générale sans être tenues de payer une cotisation.</p>

<h5>Article 4</h5>

<p>La qualité de membre de l'Association se perd :</p>

<ul>
   <li>par la radiation prononcée pour motif grave par le Conseil d'Administration, sauf recours à l'Assemblée Générale. Le membre concerné est préalablement appelé à fournir ses explications ;</li>
   <li>par le non-paiement de la cotisation (sauf pour ceux qui en sont dispensés).</li>
</ul>

<h4>II - ADMINISTRATION ET FONCTIONNEMENT</h4>

<h5>Article 5</h5>

<p>L'Association est administrée par un Conseil composé de 18 à 24 membres élus par l'Assemblée Générale au scrutin secret pour 2 ans.</p>

<p>La composition de ce Conseil est la suivante :</p>

<ul>
    <li>18 à 22 membres élus parmi les membres actifs ;</li>
    <li>au plus 2 membres élus parmi les membres associés.</li>
</ul>

<p>Les membres sortants sont immédiatement rééligibles. Le renouvellement des membres élus a lieu par ouverture de 11 postes de membres actifs et 1 poste de membre associé tous les ans.</p>

<p>En cas de vacance provoquée par le départ d'un membre ou insuffisance de candidats conduisant à moins de 18 membres élus, le Conseil peut combler provisoirement chaque poste vacant par cooptation d'un nouveau membre actif ou associé. Son mandat prendra fin à l'époque où devrait normalement expirer le mandat du membre remplacé.</p>

<p>Le Conseil élit à bulletin secret, tous les ans, parmi ses membres, un bureau composé au moins d'un Président, de deux vice-présidents, d'un secrétaire, d'un trésorier et d'un trésorier-adjoint. Un même membre ne peut être Président plus de trois années consécutives. Le Président est obligatoirement un membre actif.</p>

<h5>Article 6</h5>

<p>Le Conseil se réunit une fois au moins tous les six mois et chaque fois qu'il est convoqué par son Président ou sur la demande du quart de ses membres.</p>

<p>La présence du tiers au moins des membres élus du Conseil d'Administration est nécessaire pour la validité des délibérations.</p>

<p>Chaque administrateur peut se faire représenter à une séance du Conseil par un autre administrateur. Les mandataires doivent être porteurs lors de chaque séance du Conseil d'un mandat écrit et nominatif. Un administrateur ne peut représenter qu'un seul membre absent.</p>

<p>Les Présidents de groupes régionaux dûment constitués peuvent participer au Conseil avec voix consultative.</p>

<p>Le Conseil peut appeler les personnes de son choix à assister avec voix consultative de façon régulière ou exceptionnelle à ses réunions.</p>

<p>Les agents rétribués de l'Association peuvent être appelés par le Président à assister avec voix consultative, aux séances de l'Assemblée Générale et du Conseil d'Administration.</p>

<p>Il est tenu procès-verbal des séances.</p>

<p>Les procès-verbaux sont signés par le Président et le Secrétaire. Ils sont établis sans blancs, ni ratures sur des feuilles numérotées et conservées au siège de l'Association.</p>

<h5>Article 7</h5>

<p>Les membres du Conseil d'Administration ne peuvent recevoir aucune rétribution en raison des fonctions qui leur sont confiées.</p>

<p>Des remboursements de frais sont seuls possibles. Ils doivent faire l'objet d'une décision expresse du Conseil d'Administration, statuant hors de la présence des intéressés : des justificatifs doivent être produits qui font l'objet de vérification.</p>

<h5>Article 8</h5>

<p>L'Assemblée Générale de l'Association comprend : les membres actifs et les membres associés avec voix délibérative. Les membres d’honneur et les membres affiliés peuvent assister à l’Assemblée Générale.</p>

<p>Elle se réunit au moins une fois par an et chaque fois qu'elle est convoquée par le Conseil d'Administration ou sur la demande au moins du quart de ses membres. Son ordre du jour est réglé par le Conseil d'Administration.</p>

<p>Son bureau est celui du Conseil.</p>

<p>Lors de l'Assemblée Générale, ses membres entendent les rapports sur la gestion du Conseil d'Administration, sur la situation financière de l'Association, approuvent les comptes de l'exercice clos, votent le budget de l'exercice suivant, délibèrent sur les questions mises à l'ordre du jour et pourvoient, s'il y a lieu, au renouvellement des membres du Conseil d'Administration.</p>

<p>Le rapport annuel et les comptes sont communiqués chaque année aux membres actifs et aux membres associés de l'Association.</p>

<p>Il est tenu procès verbal des séances. Les procès verbaux sont signés par le Président et le Secrétaire. Ils sont établis sans blancs ni ratures, sur des feuillets numérotés et conservés au siège de l'Association.</p>

<p>Chaque membre présent ne peut détenir plus d'un pouvoir en sus du sien.</p>

<p>En cas de partage des voix, celle du Président est prépondérante.</p>

<p>Sauf application des dispositions de l'article 6, les agents rétribués, non-membres de l'Association n'ont pas accès à l'Assemblée Générale.</p>

<h5>Article 9</h5>

<p>Le Président représente l'Association dans tous les actes de la vie civile. Il ordonnance les dépenses. Il peut donner délégation dans des conditions qui sont fixées par le règlement intérieur.</p>

<p>En cas de représentation en justice, le président ne peut être remplacé que par un mandataire agissant en vertu d'une procuration spéciale.</p>

<p>Les représentants de l'Association doivent jouir du plein exercice de leurs droits civils.</p>

<h5>Article 10</h5>

<p>Les délibérations du Conseil d'Administration relatives aux acquisitions, échanges et aliénations d'immeubles nécessaires au but poursuivi par l'association, constitutions d'hypothèques sur les dits immeubles, baux excédant neuf années, aliénations de biens rentrant dans la dotation et emprunts doivent être approuvés par l'Assemblée Générale.</p>

<h5>Article 11</h5>

<p>Les délibérations du Conseil d'Administration relatives à l'acceptation des dons et legs ne sont valables qu'après approbation administrative donnée dans les conditions prévues par l'article 910 du code civil, l'article 7 de la loi du 4 février 1901 et le décret n°66-388 du 13 juin 1966 modifiés.</p>

<p>Les délibérations de l'Assemblée Générale relatives aux aliénations de biens mobiliers et immobiliers dépendant de la dotation, à la constitution d'hypothèques et aux emprunts, ne sont valables qu'après approbation administrative.</p>

<h5>Article 12</h5>

<ul>
   <li>Des groupes régionaux sans autonomie officielle peuvent être créés à l'initiative de membres habitant une même région. Un même territoire ne peut être couvert que par un seul groupe régional. Dix membres actifs ou associés sont nécessaires pour constituer un groupe régional.</li>
   <li>La demande de création ou de modification de la couverture géographique d'un groupe régional doit être présentée:</li>
   <ul>
       <li>en délimitant la région couverte par le groupe</li>
       <li>en décrivant la composition de son bureau et le mode de désignation de son président.</li>
   </ul>
   <li>La création, la modification de la couverture géographique d'un groupe régional est votée par l'Assemblée Générale sur proposition du Conseil d'Administration de l'Association. Ce point doit figurer à l'ordre du jour de la convocation à l'Assemblée Générale ordinaire. La délibération doit être notifiée au Préfet dans le délai de huitaine.</li>
   <li>La composition du bureau doit être adressée tous les ans au Conseil d'Administration. Le Président du groupe régional participe au Conseil d'Administration avec voix consultative.</li>
   <li>Le groupe régional bénéficie du soutien logistique du secrétariat de l'Association. Il adresse au secrétaire du Conseil d'Administration copie de toutes les circulaires locales à l'attention des membres de son groupe.</li>
   <li>La présence d'un trésorier au sein de son bureau est un préalable à l'engagement de dépenses par un groupe régional. Les dépenses du groupe régional sont soumises à l'approbation du Conseil d'Administration. Le trésorier du groupe fait parvenir au Conseil d'Administration en décembre de chaque année le budget prévisionnel de son groupe pour l'année suivante et en janvier le bilan de l'année écoulée. Il fournit au trésorier de l'Association tous les éléments nécessaires à la tenue de la comptabilité du groupe régional.</li>
   <li>En cas de non respect de ces clauses, le Conseil d'Administration de l'Association peut proposer à l'Assemblée Générale la dissolution du groupe régional.</li>
</ul>

<h4>III - DOTATION, RESSOURCES ANNUELLES</h4>

<h5>Article 13</h5>

<p>La dotation comprend :</p>

<ol>
   <li>une somme de 3 000 F, constituée en valeurs nominatives placées conformément aux prescriptions de l'article suivant ;</li>
   <li>les immeubles nécessaires au but recherché par l'Association ainsi que des bois, forêts ou terrains à boiser ;</li>
   <li>les capitaux provenant des libéralités, à moins que l'emploi n'en ait été autorisé;</li>
   <li>le dixième au moins annuellement capitalisé, du revenu net des biens de l'Association ;</li>
   <li>la partie des excédents de ressources qui n'est pas nécessaire au fonctionnement de l'Association pour l'exercice suivant.</li>
</ol>

<h5>Article 14</h5>

<p>Tous les capitaux mobilisés, y compris ceux de la dotation, sont placés en titres nominatifs, en titres pour lesquels est établi le bordereau de références nominatives prévu à l'article 55 de la Loi 87-416 du 17 juin 1987 sur l'épargne ou en valeurs admises par la Banque de France en garantie d'avance.</p>

<h5>Article 15</h5>

<p>Les recettes annuelles de l'Association se composent :</p>

<ol>
   <li>du revenu de ses biens à l'exception de la fraction prévue a l'alinéa 4 de l'article 13 ;</li>
   <li>des cotisations et souscriptions de ses membres ;</li>
   <li>des subventions de l'Etat, des Régions, des Départements, des Communes et des Etablissements Publics ;</li>
   <li>du produit des libéralités dont l'emploi est autorisé au cours de l'exercice ;</li>
   <li>des ressources créées à titre exceptionnel et, s'il y a lieu, avec l'agrément de l'autorité compétente ;</li>
   <li>du produit des rétributions perçues pour service rendu.</li>
</ol>

<h5>Article 16</h5>

<p>Il est tenu une comptabilité faisant apparaître essentiellement un compte de résultat, un bilan et une annexe.</p>

<p>Chaque établissement de l'Association doit tenir une comptabilité distincte qui forme un chapitre spécial de la comptabilité d'ensemble de l'Association.</p>

<p>Il est justifié, chaque année auprès du préfet du département, du Ministre de l'Intérieur et du Ministre chargé de l’Enseignement Supérieur, de l'emploi des fonds provenant de toutes les subventions accordées au cours de l'exercice écoulé.</p>

<h4>IV - MODIFICATION DES STATUTS ET DISSOLUTION</h4>

<h5>Article 17</h5>

<p>Les statuts peuvent être modifiés par l'Assemblée Générale sur la proposition du conseil d'administration ou sur la proposition du dixième des membres dont se compose l'assemblée générale.</p>

<p>Dans l'un et l'autre cas, les propositions de modifications sont inscrites à l'ordre du jour de la prochaine Assemblée Générale, lequel doit être envoyé à tous les membres de l'assemblée au moins 30 jours à l'avance.</p>

<p>L'assemblée doit se composer du quart au moins, des membres en exercice. Si cette proportion n'est pas atteinte, l'assemblée est convoquée de nouveau, mais à quinze jours au moins d'intervalle, et cette fois, elle peut valablement délibérer, quel que soit le nombre des membres présents ou représentés.</p>

<p>Dans tous les cas, les statuts ne peuvent être modifiés qu'à la majorité des deux tiers des membres présents ou représentés.</p>

<h5>Article 18</h5>

<p>L'Assemblée Générale, appelée à se prononcer sur la dissolution de l'Association et convoquée spécialement à cet effet, dans les conditions prévues à l'article précédent, doit comprendre, au moins la moitié plus un, des membres en exercice.</p>

<p>Si cette proportion n'est pas atteinte, l'assemblée est convoquée de nouveau, mais à quinze jours au moins d'intervalle, et cette fois, elle peut valablement délibérer, quel que soit le nombre des membres présents ou représentés.</p>

<p>Dans tous les cas, la dissolution ne peut être votée qu'à la majorité des deux tiers des membres présents ou représentés.</p>

<h5>Article 19</h5>

<p>En cas de dissolution, l'Assemblée Générale désigne un ou plusieurs commissaires, chargés de la liquidation des biens de l'association. Elle attribue l'actif net à un ou plusieurs établissements analogues, publics, reconnus d'utilité publique ou à des établissements visés à l'article 6, alinéa 2 de la Loi du 1er juillet 1901 modifiée.</p>

<h5>Article 20</h5>

<p>Les délibérations de l'Assemblée Générale prévues aux articles 17, 18 et 19 sont adressées sans délai, au Ministre de l'Intérieur et au Ministre chargé de l’Enseignement Supérieur.</p>

<p>Elles ne sont valables qu'après l'approbation du Gouvernement.</p>

<h4>V - SURVEILLANCE ET REGLEMENT INTERIEUR</h4>

<h5>Article 21</h5>

<p>Le Président doit faire connaître dans les trois mois, à la Préfecture du Département ou à la Sous-Préfecture de l'Arrondissement où l'Association a son siège social, tous les changements survenus dans l'administration ou la direction de l'Association.</p>

<p>Les registres de l'Association et ses pièces de comptabilité sont présentées sans déplacement, sur toute réquisition du Ministre de l'Intérieur ou du Préfet, à eux-mêmes ou à leur délégué ou à tout fonctionnaire accrédité par eux.</p>

<p>Le rapport annuel et les comptes - y compris ceux des groupes régionaux - sont adressés chaque année au Préfet du Département, au Ministre de l'Intérieur et au Ministre chargé de l’Enseignement Supérieur.</p>

<h5>Article 22</h5>

<p>Le Ministre de l'Intérieur et le Ministre chargé de l’Enseignement Supérieur ont le droit de faire visiter par leurs délégués les établissements fondés par l'Association et de se faire rendre compte de leur fonctionnement.</p>

<h5>Article 23</h5>

<p>Le règlement intérieur préparé par le Conseil d'Administration et adopté par l'Assemblée Générale est adressé à la préfecture du département. Il ne peut entrer en vigueur ni être modifié qu'après approbation du Ministre de l’Intérieur.</p>

</div>


<div class="right">
    <h3>{% trans "Links" %}</h3>
   <div class="right_articles">
    <ul>
      <li><a href="/association/">{% trans "Overview" %}</a></li>
      <li><a href="/association/status/">{% trans "Statuts" %}</a></li>
      <li><a href="/association/board/">{% trans "Board" %}</a></li>
      <li><a href="/association/council/">{% trans "Council" %}</a></li>
      <li><a href="/association/contact/">{% trans "Contact" %}</a></li>
    </ul>
   </div>
    <h3>{% trans "Statistics" %}</h3>
   <div class="right_articles">
    <ul>
      <li>{% trans "Number of members" %}: {{ count_members }}</li>
      <li>{% trans "Number of subscribers" %}: {{ count_subscribers }}</li>
    </ul>
   </div>
</div>
</div>
{% endblock %}

