{% load i18n %}
{% extends "base.html" %}

{% block content %}

{% if form.has_errors %}
<p class="msg_info">Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="warning">
{% trans "You need to be authentified to access to this part of the site." %}
</div>

<form method="post" action=".">
	<table align="center">
		<tr>
		    <td><label for="id_username">{% trans "Login" %}</label>&nbsp;:</td><td>{{ form.username }}</td>
		</tr>
		<tr>
			<td><label for="id_password">{% trans "Password" %}</label></td><td>{{ form.password }}</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;"><input class="button" type="submit" value="Ok" /></td>
		</tr>
	</table>

	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}