{% extends "adhesions/base.html" %}
{% load i18n %}

{% block javascript %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block content-left %}

<h3>{{ subscriptions_list|length }} {% trans "last subscriptions" %}</h3>

<table style="width: 100%">
<tr>
  <th>{% trans "Member" %}</th>
  <th>{% trans "Year" %}</th>
</tr>
{% for subscription in subscriptions_list %}
<tr>
  <td align="center"><a href="{% url ain7.annuaire.views.details subscription.member.person.id %}">{{ subscription.member.person.last_name }} {{ subscription.member.person.first_name }}</a></td>
  <td align="center">
    {% ifnotequal subscription.start_year subscription.end_year %}
      {% blocktrans with subscription.start_year as start and subscription.end_year as end %}{{ start }} to {{ end }}{% endblocktrans %}
    {% else %}
      {{ subscription.start_year }}
    {% endifnotequal %}
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}


