{% extends "adhesions/base.html" %}
{% load i18n %}

{% block content-left %}

{% if filter %}
<h2>{% trans "Subscriptions to validate" %}</h2>
{% else %}
<h2>{% trans "Subscriptions" %}</h2>
{% endif %}

{% if subscriptions_list %}
<table style="width: 100%">
<tr>
<td><b>{{ first_result }} → {{ last_result }}</b> {% trans "of" %} {{ hits }} {% trans "results" %}</td>
<td align="right">
{% if is_paginated %}
{% if has_previous %}<a href="?page=1">{% trans "First" %}</a>{% else %}{% trans "First" %}{% endif %} - 
{% if has_previous %}<a href="?page={{ previous_page }}">{% trans "Previous" %}</a>{% else %}{% trans "Previous" %}{% endif %} - 
{% if has_next %}<a href="?page={{ next_page }}">{% trans "Next" %}</a>{% else %}{% trans "Next" %}{% endif %} -
{% if has_next %}<a href="?page={{ pages }}">{% trans "Last" %}</a>{% else %}{% trans "Last" %}{% endif %}
{% endif %}
</td>
</tr>
</table>
<table style="width: 100%">
<tr>
  <th>{% trans "Member" %}</th>
  <th>{% trans "Year" %}</th>
  <th>{% trans "Amount" %}</th>
  <th>{% trans "Canal n7" %}</th>
  <th>{% trans "Tender type" %}</th>
</tr>
{% for subscription in subscriptions_list %}
<tr>
  <td align="center">{{ subscription.member.person.first_name }} {{ subscription.member.person.last_name }}</td>
  <td align="center">
    {% ifnotequal subscription.start_year subscription.end_year %}
      {% blocktrans with subscription.start_year as start and subscription.end_year as end %}{{ start }} to {{ end }}{% endblocktrans %}
    {% else %}
      {{ subscription.start_year }}
    {% endifnotequal %}
  </td>
  <td align="center">
      {{ subscription.dues_amount }}&nbsp;{% trans "euros" %}
  </td>
  <td align="center">
      {% ifequal subscription.newspaper_amount None %}
        {% trans "No" %}
      {% else %}
        {% ifequal subscription.newspaper_amount 0 %}
          {% trans "Free" %}
        {% else %}
          {{ subscription.newspaper_amount }}&nbsp;{% trans "euros" %}
        {% endifequal %}
      {% endifequal %}
  </td>
  <td align="center">
    {{ subscription.get_tender_type_display }}
  </td>
  <td align="center">
    {% if not subscription.validated %}
      <a class="savelink" href="{% url ain7.adhesions.views.subscription_validate subscription.id %}">
      {% trans "Validate" %}</a>&nbsp;
      <a class="deletelink" href="{% url ain7.adhesions.views.subscription_delete subscription.id %}">
      {% trans "Delete" %}</a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
