{% extends "adhesions/base.html" %}
{% load i18n %}

{% block content-left %}

<h2>{{ person.first_name }} {{ person.last_name }} {% trans "subscriptions" %}</h2>

<p>
<a class="addlink" href="add/">{% trans "Add a subscription" %}</a>
</p>

<table style="width: 100%">
<tr>
  <th>{% trans "Year" %}</th>
  <th>{% trans "Amount" %}</th>
  <th>{% trans "Canal n7" %}</th>
</tr>
{% for subscription in subscriptions_list %}
<tr>
  <td align="center">{{ subscription.year }}</td>
  <td align="center">
      {{ subscription.dues_amount }}&nbsp;{% trans "euros" %}
  </td>
  <td align="center">
      {% if subscription.with_newspaper %}
        {% ifnotequal subscription.newspaper_amount 0 %}
          {{ subscription.newspaper_amount }}&nbsp;{% trans "euros" %}
        {% else %}
          {% trans "Free" %}
        {% endifnotequal %}
      {% else %}
        {% trans "No" %}
      {% endif %}
  </td>
  <td align="center">
      <a class="changelink" href="{{ subscription.id }}/edit/">
        {% trans "Edit" %}</a>&nbsp;
      <a class="deletelink" href="{{ subscription.id }}/delete/">
        {% trans "Delete" %}</a>
  </td>
</tr>
{% endfor %}
</table>

{% endblock %}
