{% extends "adhesions/base.html" %}
{% load i18n %}

{% block content-left %}

<h2>{{ person.first_name }} {{ person.last_name }} {% trans "subscriptions" %}</h2>

<p>
<a class="addlink" href="add/">{% trans "Add a subscription" %}</a>
</p>

<table style="width: 100%">
<tr>
  <th>{% trans "Year" %}</th>
  <th>{% trans "Amount" %}</th>
  <th>{% trans "Canal n7" %}</th>
  <th>{% trans "Tender type" %}</th>
</tr>
{% for subscription in subscriptions_list %}
<tr>
  <td align="center">
    {% ifnotequal subscription.start_year subscription.end_year %}
      {% blocktrans with subscription.start_year as start and subscription.end_year as end %}{{ start }} to {{ end }}{% endblocktrans %}
    {% else %}
      {{ subscription.start_year }}
    {% endifnotequal %}
  </td>
  <td align="center">
      {{ subscription.dues_amount }}&nbsp;{% trans "euros" %}
  </td>
  <td align="center">
      {% ifequal subscription.newspaper_amount None %}
        {% trans "No" %}
      {% else %}
        {% ifequal subscription.newspaper_amount 0 %}
          {% trans "Free" %}
        {% else %}
          {{ subscription.newspaper_amount }}&nbsp;{% trans "euros" %}
        {% endifequal %}
      {% endifequal %}
  </td>
  <td align="center">
    {% trans subscription.get_tender_type_display %}
  </td>
  <td align="center">
    {% if subscription.validated %}
      {% trans "Validated" %}
    {% else %}
      {% trans "Not validated" %}
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>

{% endblock %}
