{% load i18n %}
<html>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" style="font-family: 'Helvetica Neue',Roboto,Arial,'Droid Sans',sans-serif; font-size: 14px; line-height: 24px; color: #4c4c4c; background: #f7f7f7;">

<p class="text-center">
<img src="cid:logo_ain7.png" style="height: 100; width: 141; float: left; padding-left: 40px; padding-top: 15px;" alt="AIn7, association des ingénieurs de l'ENSEEIHT">
</p>

<br><br><br><br>

<div style="background-color: #ffffff; margin-top: 20px; margin-bottom: 10px; padding: 10px 17px; border: 1px solid #e6e9ed; margin-left: 20px; margin-right: 20px;">

{% block content %}{{ content }}{% endblock %}

</div>

<div style="text-align: center;">
    <a href="https://twitter.com/ENSEEIHT_Alumni"><img src="cid:twitter.png" style="height: 48px; width: 48px;"></a>
    &nbsp;
    <a href="https://www.facebook.com/ENSEEIHT"><img src="cid:facebook.png" style="height: 48px; width: 48px;"></a>
    &nbsp;
    <a href="https://www.linkedin.com/company/ENSEEIHT"><img src="cid:linkedin.png" style="height: 48px; width: 48px;"></a>
    &nbsp;
    <a href="https://plus.google.com/105806841193732839789"><img src="cid:googleplus.png" style="height: 48px; width: 48px;"></a>
</div>

<p style="text-align: center;">© AIn7 2016 - <a href="mailto:contact@ain7.com">contact@ain7.com</a>

</body>
</html>
