{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}
<p>Bonjour {{ person.first_name }},</p>

{% if is_today %}
<p>Votre adhésion à l'association AIn7 <b>arrive à échéance aujourd'hui!</b></p>
{% elif is_past %}
<p>Votre adhésion à l'association AIn7 est <b>arrivée à echéance le {{ person.ain7member.previous_subscription.end_date|date:"d F Y" }}.</b></p>
{% else %}
<p>Votre adhésion à l'association AIn7 <b>arrivera à échéance le {{ person.ain7member.current_subscription_end_date|date:"d F Y" }}.</b></p>
{% endif %}

<span style="text-align: center;">
<table style="background-color: #2baadf; padding: 18px; font-size: 16;">
<tr><td><a href="https://ain7.com{% url 'subscribe-public' %}" style="font-weight: bold; text-decoration: none; letter-spacing: normal; line-height: 100%; text-align: center; color: #FFFFFF;">Renouvelez votre adhésion en deux clics</a></td></tr>
</table>
</span>

<p>Cette adhésion vous permet de bénéficier de l'<b>accès à l'annuaire</b> et à l'ensemble des services de l'association.</p>

<p>L’année 2017 est une année importante pour notre Ecole. L’N7 se restructure autour de 3 pôles : Numérique, Ingénierie électrique & Energie et Fluides & Environnement pour une mise en œuvre effective en septembre 2017.  L’AIn7 accompagne l’Ecole dans ce nouveau projet et organise des groupes de réflexions sur plusieurs autres axes : les relations entreprises et l’entreprenariat, les relations avec les jeunes, la communication et l’international.<br>
En renouvelant votre adhésion, vous pourrez développer votre réseau, booster votre carrière, aider des élèves ingénieurs dans leurs projets et vous aurez le plaisir de partager des expériences au sein de notre grande famille.<br>
Ensemble, nous contribuerons à consolider la notoriété de l'N7, grande Ecole tournée vers les enjeux d’innovation liés à la révolution numérique et à la transition énergétique.</p>

<p>N'hésitez pas à nous <a href="https://ain7.com/association/contact/">contacter</a> pour toute question ou renseignement.</p>

<p>L'équipe de l'AIn7</p>

{% endblock %}
