{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}
<p>Bonjour,</p>

<p>Vous trouverez ci-dessous le résumé de la semaine de l'activité des adhésions.</p>

<h2>{{ notified_members.count }} notifications d'expiration d'adhésion envoyées</h2>

<table style="width: 100%; border: 1px solid black;">
    <thead style="background: #aaaaaa;">
        <tr><td>Nom</td><td>Prénom</td><td>Année</td><td>Filière</td><td>Fin d'adhésion</td><td>Notification</td></tr>
    </thead>
<tbody>
{% for sub in notified_members %}
<tr><td><a href="https://ain7.com/annuaire/{{ sub.member.id }}/">{{ sub.member.last_name }}</a></td><td>{{ sub.member.first_name }}</td><td>{{ sub.member.year }}</td><td>{{ sub.member.track }}</td><td>{% if sub.member.current_subscription_end_date%}{{ sub.member.current_subscription_end_date }}{% else %}{{ sub.member.last_subscription_end_date }}{% endif %}</td><td>{{ sub.created_at }}</td></tr>
{% endfor %}
</tbody>
</table>

<h2>{{ expired_members.count }} adhésions sont arrivées à échéances et n'ont pas été renouvelées</h2>

<table style="width: 100%; border: 1px solid black;">
    <thead style="background: #aaaaaa;">
        <tr><td>Nom</td><td>Prénom</td><td>Année</td><td>Filière</td><td>Fin d'adhésion</td></tr>
    </thead>
<tbody>
{% for sub in expired_members %}
<tr><td><a href="https://ain7.com/annuaire/{{ sub.member.id }}/">{{ sub.member.last_name }}</a></td><td>{{ sub.member.first_name }}</td><td>{{ sub.member.year }}</td><td>{{ sub.member.track }}</td><td>{{ sub.member.last_subscription_end_date }}</td></tr>
{% endfor %}
</tbody>
</table>

<h2>{{ renew_members.count }} adhésions ont été renouvelées</h2>

<table style="width: 100%; border: 1px solid black;">
    <thead style="background: #aaaaaa;">
        <tr><td>Nom</td><td>Prénom</td><td>Année</td><td>Filière</td><td>Fin d'adhésion</td><td>Adhésion</td><td>Date d'adhésion</td></tr>
    </thead>
<tbody>
{% for sub in renew_members %}
<tr><td><a href="https://ain7.com/annuaire/{{ sub.member.id }}/">{{ sub.member.last_name }}</a></td><td>{{ sub.member.first_name }}</td><td>{{ sub.member.year }}</td><td>{{ sub.member.track }}</td><td>{{ sub.end_date }}</td><td>{{ sub.configuration }}</td><td>{{ sub.created_at }}</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
