{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}
<p>Bonjour,</p>

<p>Vous trouverez ci-dessous le résumé de la semaine de l'activité des adhésions.</p>

<h2>{{ notified_members.count }} notifications d'expiration d'adhésion envoyées</h2>

<table style="width: 100%; border: 1px solid black;">
    <thead style="background: #aaaaaa;">
        <tr><td>Nom</td><td>Prénom</td><td>Année</td><td>Filière</td><td>Fin d'adhésion</td><td>Notification</td></tr>
    </thead>
<tbody>
{% for member in notified_members %}
<tr><td><a href="https://ain7.com/annuaire/{{ member.member.person.id }}/">{{ member.person.last_name }}</a></td><td>{{ member.person.first_name }}</td><td>{{ member.person.year }}</td><td>{{ member.person.track }}</td><td>{% if member.person.ain7member.current_subscription_end_date%}{{ member.person.ain7member.current_subscription_end_date }}{% else %}{{ member.person.ain7member.last_subscription_end_date }}{% endif %}</td><td>{{ member.created_at }}</td></tr>
{% endfor %}
</tbody>
</table>

<h2>{{ expired_members.count }} adhésions sont arrivées à échéances et n'ont pas été renouvelées</h2>

<table style="width: 100%; border: 1px solid black;">
    <thead style="background: #aaaaaa;">
        <tr><td>Nom</td><td>Prénom</td><td>Année</td><td>Filière</td><td>Fin d'adhésion</td></tr>
    </thead>
<tbody>
{% for member in expired_members %}
<tr><td><a href="https://ain7.com/annuaire/{{ member.member.person.id }}/">{{ member.member.person.last_name }}</a></td><td>{{ member.member.person.first_name }}</td><td>{{ member.member.person.year }}</td><td>{{ member.member.person.track }}</td><td>{{ member.member.last_subscription_end_date }}</td></tr>
{% endfor %}
</tbody>
</table>

<h2>{{ renew_members.count }} adhésions ont été renouvelées</h2>

<table style="width: 100%; border: 1px solid black;">
    <thead style="background: #aaaaaa;">
        <tr><td>Nom</td><td>Prénom</td><td>Année</td><td>Filière</td><td>Fin d'adhésion</td><td>Adhésion</td><td>Date d'adhésion</td></tr>
    </thead>
<tbody>
{% for member in renew_members %}
<tr><td>><a href="https://ain7.com/annuaire/{{ member.member.person.id }}/">{{ member.member.person.last_name }}</a></td><td>{{ member.member.person.first_name }}</td><td>{{ member.member.person.year }}</td><td>{{ member.member.person.track_text }}</td><td>{{ member.end_date }}</td><td>{{ member.configuration }}</td><td>{{ member.created_at }}</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
