@font-face {
    font-family: 'l-lt';
    src: url('fonts/l-lt.eot');
    src: url('fonts/l-lt.eot?#iefix') format('embedded-opentype'),
         url('fonts/l-lt.woff') format('woff'),
         url('fonts/l-lt.ttf') format('truetype'),
         url('fonts/l-lt.svg#l-lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 50px;
    color: #8B8B8B;
}

span.asteriskField {                                                            
    color: red;                                                                 
    font-size: 15px;                                                            
} 

